[2018-08-27 00:44] EDM-APP commented on #398
@austindrenski

Very sorry but i updated everything to 4.6.1 and  made my webservice work, but i still get the same message when i try to update the package :

Install-Package : Impossible d’installer le package «Npgsql.EntityFrameworkCore.PostgreSQL 2.1.1.1». Vous essayez d’installer ce package dans un projet ciblant «
.NETFramework,Version=v4.6.1», mais le package ne contient aucun fichier de co

[2018-08-27 00:54] austindrenski commented on #398
@EDM-APP Could you please open a new issue with this information?

[2018-08-27 11:55] Luke-1988 opened #618 "Use of ILIKE with System.Linq.Expressions"
I am building a dynamic LINQ based on annotation - [Searchable] or [Orderable] properties in models - and I am trying to find out how to perform ILIKE using Expressions and Lambda.

Simple working code:

[code]
Query is translated into PostgreSQL's ILIKE, so far so good.

However, I query list of [Searchable] properties using Reflextion on class Country then foreach this properties with this code:

[2018-08-27 12:26] Luke-1988 commented on #618
Workaround:

    var _regex = typeof(System.Text.RegularExpressions.Regex).GetMethod("IsMatch",
                                    BindingFlags.Static | BindingFlags.Public | BindingFlags.NonPublic,
                                    null,
                                    new[] {
                                        typeof(string),
                                        typeof(string),

[2018-08-27 13:01] austindrenski commented on #618
@Luke-1988 It looks like you've omitted a parameter, specifically a `null` representing the `DbFunctions` _instance_ on which that extension method is defined.

Try this:

[code]

[2018-08-27 14:41] Luke-1988 commented on #618
Austin, thanks for your effort, but did not help. I am getting this exception:

System.ArgumentNullException: Value cannot be null.
Parameter name: arg0
Stack Trace:
    at System.Linq.Expressions.Expression.Call(MethodInfo method, Expression arg0, Expression arg1, Expression arg2)

However, similar call for Regex (see comment above) works.

[2018-08-27 14:53] austindrenski commented on #618
@Luke-1988 Apologies, that should be:

[code]

[2018-08-28 07:06] Luke-1988 commented on #618
Thank you sir, works like a charm :)

[2018-08-28 10:46] #618 closed

[2018-08-28 11:12] mylifelineio opened #619 "Getting sporadic SocketExceptions/ExtendedSocketExceptions / Connection Refused using Docker"
Getting the below exception every now and then, any suggestions?

Versions:
ASP.Net Core 2.1.3
Npgsql... 2.1.1.1
Docker-compose 3.4
[code]
Exceptions:

First Exception:
[code]
Following Exception:

[code]

[2018-08-28 12:41] austindrenski commented on #619
If you increase your connection timeout (+30 or so), can you still reproduce this?

[2018-08-28 13:14] MeghanaJai commented on #284
I understand, but using Backgroundworker is creating problem is what I understood. I referred the link you have mentioned but I didnt get much help. So I am copying my code snippet of using Backgroundworker. Could you guide me what alternative can be used. Let me know if any other solutions are available, I will refer to that.
Please let me know what can I use in the place of "RunWorkerAsync"

 pr

[2018-08-28 13:33] mylifelineio commented on #619
I am going to try that and will let you know, it happens sporadically so it will take a few days to establish the result. Thanks much.

[2018-08-28 17:34] #567 closed

[2018-08-28 17:47] austindrenski commented on #567
@tom-mulligan We've merged #588 to patch the comparison discrepancies reported here. This should make `character` data easier to work with the release of version `2.2.0` later this year.

If you would like to try it out sooner, have a look at our __unstable__ [MyGet feed](https://www.myget.org/feed/npgsql-unstable/package/nuget/Npgsql.EntityFrameworkCore.PostgreSQL) for the latest build:

[code]

[2018-08-29 12:43] mylifelineio commented on #619
This issue seems to be under control now. Will re-open if it happens again. Thanks

[2018-08-29 12:43] #619 closed

[2018-08-29 15:57] austindrenski opened #620 "Add inference-based overload to ForNpgsqlHasEnum"
## Current
[code]

## Proposed additions
[code]

- `nameTranslator` is used when `name` is `null`
- `nameTranslator` is used when `labels` is `null`.
  - Should default (internally) to match the default in `MapEnum<T>`.

_edit: Removing labels proposal. Too much complexity, not enough upside._

[2018-08-29 20:07] YohDeadfall commented on #620
I thought to request it today, but you beat me (:

[2018-08-30 13:36] akusmin opened #622 "Bigint time zone offset"
I have a view

part of it:

function to_unixtime

I'm reading data from a view in a code using DbDataReader

And in a code I've got 'date_from' value less for a value equals to time zone offset.

Npgsql.EntityFrameworkCore.PostgreSQL version 2.1.1.1
PostgreSQL db 10.0

What is wrong?

[2018-08-30 14:32] austindrenski commented on #622
@akusmin I'm closing this for now, but we can reopen pending some discussion in https://github.com/npgsql/npgsql/issues/2138.

[2018-08-30 14:32] #622 closed

[2018-08-31 06:51] YohDeadfall opened #623 "An enum property isn't mapped to the PostgreSQL enum inside value objects"
The problem occurs only for value objects inside complex objects. The following example maps `PhoneNumberType` to `int`:

[code]

[code]

[2018-08-31 13:36] austindrenski commented on #623
@YohDeadfall Do you mind if I wrap this into #605 which attempts to address some other enum edge cases?

[2018-08-31 19:41] YohDeadfall commented on #623
I think that such changes should be made by separate pull requests. One issue - one request. But let's leave it as is this time.

[2018-09-01 00:41] WarrenFerrell opened #624 "The current CSharpHelper cannot scaffold literals of type 'NodaTime.OffsetTime'. Configure your services to use one that can."
Having issues with time. Like so few other people I assumed `Timestamp with time zone` stored time zone information. Trying to correct my mistake by switching to NodaTime now. I switched all my DateTimeOffset's to Instant, and my DateTime?'s to LocalDate?'s. Creating a migration to make the change wasn't working so I just regex'ed my ModelSnapshot, Migrations and Designer files to use the appropri

[2018-09-01 03:26] WarrenFerrell commented on #624
Also took the time to make the two referenced packages netstandard2.0 . The only two packages being pulled in by ProjectReferences are the two below (one from each)
[code]

[2018-09-01 04:42] WarrenFerrell commented on #624
@austindrenski When I enabled NodaTime via the optionsbuilder and tried to add a migration it had an error about the provider not supporting DateTimeOffset.

I find it difficult to believe that it was something wrong in the changes to those files since I'm able to successfully create a migration without the OffsetTime property.

[2018-09-01 05:15] austindrenski commented on #624
Well, `DateTimeOffset` _shouldn't_ be supported once the NodaTime plugin is enabled, since the plugin effectively steals those mappings from the BCL types.

What I would like to narrow down is which errors occurred before you used the regex. If there are errors that cause you to _need to use_ a regex, then we should try to fix those directly. Issues arising from the regex itself will be more chall

[2018-09-01 10:50] WarrenFerrell commented on #624
Went and consolidated my 8 migrations into 1 and that fixed the problem . And just had to do some fancy footwork with commenting out specific blocks of the migration so I wouldn't lose any data. Luckily, I was able to delete the offending table easily, because I am suspicious it does have something to do with a model snapshot of that take.

I have the branches saved so if I have any time to go fig

[2018-09-01 10:50] #624 closed

[2018-09-01 13:08] austindrenski commented on #624
@WarrenFerrell Glad to hear it worked out. Please do let us know if you end up finding the root cause, happy to reopen at that time.

[2018-09-01 17:27] roji commented on #575
Closing as this is currently an EF Core limitation, follow https://github.com/aspnet/EntityFrameworkCore/issues/8741 for progress.

[2018-09-01 17:27] #575 closed

[2018-09-01 17:27] roji commented on #624
For the root cause here see #575 (which is actually https://github.com/aspnet/EntityFrameworkCore/issues/8741).

[2018-09-01 22:45] #620 closed

[2018-09-01 23:36] austindrenski opened #625 "Check user-defined types for quoting issues"
Following #605 we need to check all other user-defined types for similar schema/quoting issues.

- [ ] Composites
- [ ] Domains
- [x] Enums (#605)
- [x] Ranges (#626)

[2018-09-05 17:29] jcachat opened #627 "ReverseNullOrdering / order by nulls first/last"
I see support for this was added in #50 but the option to enable it is marked internal.  I can't see any way for me to enable it.  My users are complaining about null/empty values being sorted to the bottom of lists so this seems like the right way for me to fix it.

Are there plans to make this public?

[2018-09-06 03:31] austindrenski opened #628 "Translate binary string functions and operators"
PostgreSQL 11 adds some [new hashing functions](https://www.postgresql.org/docs/11/static/functions-binarystring.html).

- Consider translating methods from `System.Security.Cryptography`, but also as provider-specific extension methods of `DbFunctions`.
- Keep in mind the issues when the client is FIPS-restricted but the server is not.
- Implement with compatibility versioning.

[2018-09-06 03:39] austindrenski opened #629 "Translate new functuons for text search"
PostgreSQL 11 [adds](https://www.postgresql.org/docs/11/static/release-11.html#id-1.11.6.5.6) two [new functions](https://www.postgresql.org/docs/11/static/functions-textsearch.html) for text search:
- `websearch_to_tsquery()`
- `json(b)_to_tsvector()`

[2018-09-06 04:42] sarath22 commented on #344
Hi,

I'm also getting the same issue:

My table:

CREATE TABLE public."TestingDetails"
(
  "TestID" integer NOT NULL,
  "TestName" text,
  "TesterName" text,
  "TotalCount" integer,
  "SuccessCount" integer,
  "FailureCount" integer,
  "EndDate" timestamp without time zone,
  "StartDate" timestamp without time zone,
  CONSTRAINT "TestingDetails_pkey" PRIMARY KEY ("TestID"),
  CONSTRAINT "TestingDe

[2018-09-06 05:57] roji commented on #344
@sarath22 you're describing a different issue. This repo is for Entity Framework Core, while you're just using the ADO.NET provider. Please open a new issue in http://github.com/npgsql/npgsql with the exact exception message and stack trace.

[2018-09-06 06:31] sarath22 opened #630 "42804: column is of type timestamp without time zone but expression is of type text"
I'm trying to insert c#'s `System.DataTime` value into table and whose column type is `timestamp time without zone`. Please find my table structure and C# code below:

Table:
[code]
C# code:
[code]

[2018-09-06 06:31] sarath22 commented on #344
https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/630 - please look

[2018-09-06 12:44] austindrenski commented on #630
@sarath22 As mentioned [previously](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/344#issuecomment-418973882), this issue needs to be opened in the repository for the ADO.NET driver: https://github.com/npgsql/npgsql. This repository is strictly concerned with the EF Core provider for Npgsql.

[2018-09-06 12:44] #630 closed

[2018-09-06 20:20] roji commented on #627
@jcachat I implemented #50 only as a means of running the EF Core functional test suite, which asserts on results assuming that nulls are sorted first (like in C# LINQ). So it was meant purely as a testing feature, rather than something actual users would use.

Making this into an actual user-facing feature would involve more work, specifically thinking what to do about indices, which also support

[2018-09-06 21:58] jcachat commented on #627
Some of the columns I'm sorting and displaying have a mix of null and empty values.  That's mostly because it's data imported from another system but also in some cases where there is a difference in a field that has been visited (and left empty) vs. a field that has not been touched at all (left as null).  So it causes the empty values to be at the top of the list and the null values to be at the

[2018-09-07 17:53] roji commented on #627
That sounds more like a UI issue than something that needs to be fixed in the database layer... You can use coalescing (or just some client-side code) to convert nulls into whatever you want them to be shown as...

That's understandable, but unfortunately databases simply aren't that portable, and moving from one to another does imply certain changes. As a matter of principle, EF Core does not att

[2018-09-07 19:06] jcachat commented on #627
In some cases, that may be true.  But my biggest pain point is with paged lists which are done using skip/take.  So those sorts must be done in the database query.

I would just need to do something to get the null int values sorted to the top of the list as the users are expecting.  Telling them "we're using a different database now so it does this differently" doesn't fly with them - they want w

[2018-09-08 16:59] #516 closed

[2018-09-08 17:08] roji commented on #578
@austindrenski just noticed that this is in the wrong repo (should be in http://github.com/npgsql/npgsql/).

I still think there's nothing really for us to do except for throwing a more informative exception (which is definitely a good idea). Note that since https://github.com/npgsql/npgsql/issues/1634, if a `PGTZ` environment variable is defined Npgsql sends it to PostgreSQL in the startup packet

[2018-09-08 17:08] #578 closed

[2018-09-08 21:41] #524 closed

[2018-09-08 23:07] roji commented on #553
The following very similar code runs just fine - types are properly reloaded after the extension is installed. Not sure exactly what's going on above, will try to look after 2.1.2.

[code]

[2018-09-10 23:16] austindrenski commented on #578
@roji That sounds reasonable. I'll put something together for the docs and an exception pointing users to the relevant info.

[2018-09-11 02:06] Phrohdoh opened #633 "Detail message not surfaced in `PostgresException`"
I do not know if this belongs in this repo or `npgsql` proper.

---

When I run `dotnet ef database update` in my project I get the following:

[code]

Which includes the error message and code but does not include the detail message that pg spits out when I execute my raw SQL directly:

[code]

Of course users *could* go to the [error code appendix](https://www.postgresql.org/docs/current/static/

[2018-09-11 03:53] austindrenski commented on #633
@Phrohdoh Do I understand correctly that your issue is with the error message, not that the error is thrown? If so, let's move this over to the Npgsql repo and work from there. (Please be sure to post back here with a reference to the new issue.)

With regard to the exception messages, I agree that it would be nice to see the detailed message. I could imagine this having something to do with a ver

[2018-09-11 04:29] austindrenski commented on #633
Closing in favor of npgsql/npgsql#2151.

[2018-09-11 04:29] #633 closed

[2018-09-11 10:31] Phrohdoh commented on #633
@austindrenski You are correct that this is about the error message itself, not that it is being thrown.
Thank you for moving this!

[2018-09-11 20:53] Splitframe opened #634 "Auto-Increment from existing sequence not working."
Hi,

I am slowly losing my sanity over this.
The issue is described here: https://stackoverflow.com/questions/52256877/get-id-for-new-record-from-existing-sequence-in-ef-core-and-npgsql

In short: I want to use an existing sequence on the int ID property of 'contact' but I always get the 'violates not null' exception.

My workaround is to make a raw sql query with 'select nextval('contact_id_seq')

[2018-09-12 20:23] EliuTimana opened #635 "Incorrect "create sequence" SQL code generated"
I'm trying to do a simple migration with asp.net core 2.1, but when I try to update the database I get this error
[code]

I had never updated that entity but it tries to alter the default value of the id column.
but the DDL code is wrong as you can see in the PostgreSQL [docs](https://www.postgresql.org/docs/9.5/static/sql-createsequence.html)
these are the up and down methods.

[code]

[2018-09-12 20:56] austindrenski commented on #635
@EliuTimana Can you post some version info (npgsql, PostgreSQL, EF Core)?

[2018-09-12 21:10] EliuTimana commented on #635
[code]
I think that was my bad, I didn't notice that the initial migration was over the default sqlite database, I deleted all migrations and now its working fine even with their serial columns, but I think the create sequence command is wrong.
Thanks for your time, I'm sorry about that.

[2018-09-12 21:17] #635 closed

[2018-09-13 08:02] felixlindemann commented on #404
[...]

@roji Thanks for that!
Solved my Problem.

[2018-09-13 09:45] lust4life commented on #441
@roji   seems `dotnet ef dbcontext scaffold` will generate the dbcontext file, what do you mean by set up plugin in a design-time DbContext ?  look through some ef code, when scaffold from database, It will use `NpgsqlTypeMappingSource` to find mapping, and `NpgsqlTypeMappingSource` will add plugins's(e.g. `NetTopologySuite` here) mapping from `INpgsqlOptions.Plugins`,  which came from `IDbContext

[2018-09-13 10:42] lust4life commented on #441
[code]

add this class in the startup project works for me, but don't know if there is a more formal approach

[2018-09-13 18:25] smblee opened #637 "WHERE .. = ANY() Clause with composite objects not working"
I have posted this in npgsql but it could be more relevant here so duplicating the issue here:

https://github.com/npgsql/npgsql/issues/2154

[2018-09-14 20:03] smblee commented on #22
What's the progress on this?

[2018-09-15 06:30] roji commented on #22
This is one of the main features planned for 2.2, but that's a few months away. Note that you can already use composite types when working at the ADO.NET level (not EF Core).

[2018-09-16 08:38] gaponenkodv opened #638 "PostgresException: 42703. Brand new field that is not declared"
PostgresException: 42703: column "UsersId" of relation "Owners" does not exist

"UsersId" that field is nowhere to be found in code. i have "UserId"
Help me to understand

migration:
[code]

context:
[code]

Model:
[code]

 method in controller:
[code]

and post data
[code]

[2018-09-16 20:59] btecu opened #640 "Can't mark entity state as modified"
Using version 2.1.2 I'm not able to attach and update records:
[code]

I tried the following two right after attaching:
- `ctx.Update(model);`
- `ctx.Entry(model).State = EntityState.Modified;`

Both result in an exception being thrown:
[code]

[2018-09-18 01:24] mokeyish opened #641 "Is there a way to add raw sql as GlobalFilter in DbContext?"
[code]
 I want to add `"Permission"::jsonb -> 'roles' ?| array['797da808-c739-4581-b0bf-12670fd4223a','543e7b6b-f68f-4f24-92b0-463828d3de05']` to here as global filter.
[code]

[2018-09-18 17:32] roji commented on #641
As you've noticed, the [global query filter](https://docs.microsoft.com/en-us/ef/core/querying/filters) EF Core feature doesn't currently support raw SQL, and the Npgsql driver doesn't yet support `jsonb` to the extent that it allows you to express the above in LINQ. I suggest you open an issue in https://github.com/aspnet/EntityFrameworkCore/ asking for this feature (raw SQL in global query filte

[2018-09-18 17:32] #641 closed

[2018-09-18 18:36] ferne-br commented on #183
In my case (Npgsql 3.2.2.0), what solved was removing comment (description) from the schema where the table is in...

I've noticed that schemas that has no description was updating the edm with no problem, so I removed the description from the schema to test and "voila"...

I hope it helps someone..

Greetings from Itu/SP/Brasil!! kkkkkkk - wideweb.com.br

Thanks @roji for support...

[2018-09-18 21:14] roji commented on #640
The actual exception message is missing from your stack trace above, can you please post it?

It would also be helpful if you could create a minimal code sample that reproduces the issue (including a minimal model etc.)

[2018-09-18 21:49] roji commented on #638
If your application is generating a query containing column `UsersId`, there's a good chance it's somewhere in your code... You can examine the PostgreSQL log to understand exactly which query is problematic and work back from there.

Otherwise you can try posting a full minimal program that reproduces the issue - that will probably help you narrow down exactly where the issue is coming from.

[2018-09-20 09:35] roji commented on #634
Sorry it took so long to get this, but I can't reproduce for now with the code sample below (also verified with migrations). Please submit a minimal sample which demonstrates the issue.

[code]

[2018-09-21 10:21] maikebing opened #647 "invalid input syntax for type json"
Linq：
`var deviceTwins = from dt in _context.DeviceTwins where Id.Contains(dt.Id) &&  string.IsNullOrEmpty( dt.Reported ) select dt;`

[code]

ERROR:  错误:  invalid input syntax for type json
LINE 3: ...eported" IS NOT NULL AND ((dt."Reported" <> JSONB '') OR dt....
                                                             ^
DETAIL:  输入字符串意外终止.
CONTEXT:  JSON数据, 行 1:

SQL 状态:22P02
字符:683

[2018-09-21 10:36] YohDeadfall commented on #647
An empty string isn't a valid value for the JSON type. So you need to replace `string.IsNullOrEmpty(dt.Reported)` by the not null check.

[2018-09-21 10:36] #647 closed

[2018-09-21 13:25] baurzhan opened #648 "Can't write CLR type NpgsqlTypes.NpgsqlRange`1[System.DateTime] with handler type RangeHandler"
Simple test case throws exception

[code]

stack trace

[code]
package refererences

[code]

[2018-09-21 13:56] baurzhan opened #649 "Range lower bound must be less than or equal to range upper bound error with NpgsqlRange<Instant>"
Simple test case throws exception

[code]

stack trace

[code]
package refererences

[code]

[2018-09-21 17:41] austindrenski commented on #648
By design, the BCL date/time types are not supported when the NodaTime plugin is configured.

I'm going to close this for now, but please feel free to post-back if you have further questions.

[2018-09-21 17:41] #648 closed

[2018-09-21 17:50] austindrenski commented on #649
@baurzhan Thanks for opening this issue. To help us better understand your issue, could you please put together a minimally complete reproduction in the form of a GitHub repo that we can clone and run locally?

For example, a minimally complete version of what you've posted would remove any dependencies that are not needed to trigger the exception (e.g. `*.Design`, `NetTopologySuite`), contain the

[2018-09-21 18:04] baurzhan commented on #649
I added complete reproduction here https://github.com/baurzhan/EfCoreNpgsqlTest
Tested with docker container postgres:10.5-alpine

[2018-09-21 20:30] cheng93 opened #650 "Preview documentation (v2.2) visible on npgsql.org"
Hello

I noticed the documentation on the wiki points to 2.2

Is it possible to have it in sync with the latest **stable** version, which is 2.1.x ?

I noticed this when I tried to use `.ForNpgsqlHasEnum<Enum>()`, which didn't work as I was on 2.1.2

[2018-09-21 22:02] AlenitsynMM opened #651 "Translation skipped for array accessed by relationship"
While operation translations for simple types on owned entities are working well, array operations aren't getting translated into sql query.

[code]

Configuration:

[code]

LINQ:

[code]
Actual sql query:

[code]

Expected sql query:

[code]

Actual for: Npgsql.EntityFrameworkCore.PostgreSQL v2.2.0-preview1

[2018-09-21 22:29] austindrenski commented on #650
@cheng93 Thanks for pointing this out. Those changes were merged with the `dev` branch, and weren't intended to make it onto the documentation site _quite_ yet.

I suspect we may have updated the documentation site for preview users, but if that's the case we'll need to look into some kind of version toggling support (e.g. like that on the https://docs.microsoft.com).

/cc @roji

[2018-09-21 23:10] btecu commented on #640
I think that's the entire stacktrace that I got. I'll check again.

Do you have a simple repository that I can use as a base when creating a reproduction?

[2018-09-22 00:14] PaulDMendoza commented on #204
For future reference, this is how you can use TransactionScope and EntityFramework together and Dapper.

This is with Npgsql.EntityFrameworkCore.Postgresql 2.1.2 and Npgsql 4.0.3

I was actually able to get TransactionScope to work without having to use Enlist.

[code]

This is my DBContext and model. Notice I have this special method to use an existing connection.

[code]

[2018-09-23 03:57] maikebing opened #652 "How to implement JSONB queries and updates by using LINQ statements？"
I'm sorry, I can't stand  LINQ and SQL appear simultaneously！
So, how to implement the following SQL statement using LINQ。

[code]

[2018-09-23 08:28] roji commented on #652
You can't.

First, EF Core doesn't support set updates yet (see https://github.com/aspnet/EntityFrameworkCore/issues/795). Second, Npgsql doesn't support mapping LINQ to PostgreSQL-specific JSON syntax (such as `@>`), see #334.

To do the more complex stuff it's OK to occasionally drop down to SQL...

[2018-09-23 08:28] #652 closed

[2018-09-23 08:54] roji commented on #640
@btecu not really, all that's needed is a simple console application with a minimal model you write and some read/write code which triggers the issue.

[2018-09-23 08:54] roji commented on #640
Regarding the exception you posted, the stack trace is fine but the most important part is missing - the message text...

[2018-09-23 10:58] roji commented on #650
Thanks for raising this, yeah, it's a bit of a mess... We should be publishing documentation from the master branch (it used to be this way) but are doing it from the dev branch instead.

This would mean that any stable documentation fix will need to be committed to dev and then backported to the master branch, which is a bit of a heavy workflow - but I don't see any other choice. I can switch the

[2018-09-23 10:59] roji commented on #650
We can also look at making preview documentation for vNext available on the site, although that frankly seems like very low priority to me...

[2018-09-23 11:12] roji commented on #651
This is actually unrelated to owned entities and can be reproduced with a regular one-to-one relationship as shown below. Seems like when an array property is accessed by traversing a relationship, for some reason we fail to translate to SQL.

@austindrenski I think you worked in these waters before, interested in taking a look? I won't have time to dive into this in the coming weeks...

[code]

[2018-09-23 11:16] roji commented on #648
@austindrenski FYI I completely removed the `invalid` tag... We used to have this in Npgsql too, but it seems to make more sense to just leave invalid issues untagged. So any issue that's closed and untagged implicitly did not mature into a feature/bug/whatever. Is that OK with yu?

[2018-09-23 15:10] austindrenski commented on #648
@roji That totally works for me. I was just trying follow previous patterns, but thinking about it now, marking a well-intentioned question as invalid does seem a bit.... unwelcoming?

So that's OK with me!

[2018-09-23 15:59] #609 closed

[2018-09-23 18:10] austindrenski commented on #650
@roji I actually think sticking to the status quo may be the best move for now. Once we complete the CI migrations, the docs automation might be easier to handle.

Regarding the preview documentation, I was picturing something like the tabbed sections that used to be found in the Kestrel/HTTP.sys docs. (I went to grab a screenshot, but it looks like they've changed the structure to remove the tabb

[2018-09-24 01:10] Splitframe commented on #634
Hi,
thanks for taking the time.
I'll try to replicate it in a thinned sample project with a DB excerpt
and the relevant classes as soon as I am able to and upload it.
Furthermore I'll evaluate your sample on my current structure.

Greetings

[2018-09-24 07:30] vasicvuk commented on #404
The interested thing is that:
` filter: "[NormalizedUserName] IS NOT NULL"`

worked with Entity Framework Core 2.0 with Npgsql.EntityFrameworkCore.PostgreSQL 2.0. This is crashing backwards compatibility.

[2018-09-24 15:57] vasicvuk commented on #404
@roji I don't know if it is possible or not but i have this in my migration for 1 year now and we have like 10 environments that are currently running on Postgres that actually used this Migrations. Today i have updated to Entity Framework Core 2.1.3 and .Net Core 2.1 and also to latest version of Npgsql.EntityFrameworkCore.PostgreSQL and since today migrations are not working.

"filter: "[Normali

[2018-09-24 19:41] btecu commented on #640
I think the problem was that I wasn't setting one of the existing fields value, which was not nullable.
Thanks for your help.

[2018-09-24 19:41] #640 closed

[2018-09-24 20:14] sguryev commented on #404
@vasicvuk please make sure that migration was applied. @roji 100% right. You can open NPGAdmin and try to execute any statement with the square brackets.

[2018-09-24 20:32] roji commented on #404
@vasicvuk, neither Npgsql (the driver) nor PostgreSQL magically ignore parts of your SQL. If you try to apply a migration that contains custom SQL with brackets, it will error. If you don't get an error, then that migration wasn't applied.

I'll be happy to explore further if you provide some sort of repro instructions - a sample project with migrations which, when applied to PostgreSQL, somehow w

[2018-09-24 20:36] roji commented on #404
@vasicvuk after looking at this again, this may be a result of #286 - index filters weren't getting applied at all. So in that sense you were right in saying that the driver was ignoring that part of the migration SQL... This was fixed in 2.0.2, which is probably why the SQL Server-specific SQL starts creating issues for you.

Of course, the previous behavior was a bug. You will have to edit your

[2018-09-24 22:16] roji commented on #650
OK... A few extra thoughts.

As written above, actually have multiple doc versions online (stable, preview) seems like a real overkill to me, and it's likely to not be very trivial with docfx... Given infinite resources I'd do it, but we're not there yet and probably have higher-priority things to do :) People who want to look at preview versions of Npgsql can consult the source to see any API cha

[2018-09-24 22:44] austindrenski commented on #650
Ok, on ~~second~~ third thought, full doc versions may indeed be overkill here.

But it looks like docfx does supports what I had in mind initially as [tabbed content](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html?tabs=tabid-1%2Ctabid-a#tabbed-content). So we could use those to separate pattern/example changes.

We definitely don't want doc maintenance to become a major ordeal,

[2018-09-25 06:13] roji commented on #650
The issue isn't so much with generating tabbed content with docfx, as including content from multiple branches in the same site...

If you look at [the current doc site](https://github.com/npgsql/doc), you'll see that we use git submodules to reference the three Npgsql projects, since we want to generate a single site for all of them. Including preview and stable tabbed content would mean doubling

[2018-09-25 12:53] austindrenski commented on #650
Ahhh. Ok, misunderstood w.r.t. the submodule effort/complexity. Makes sense now.

I'll try to find some time today or tomorrow to diff and patch the docs.

[2018-09-25 13:14] roji commented on #650
Great, thanks for helping out on this annoying task... After this is done we should treat documentation changes like any code change - backporting it or not as appropriate...

[2018-09-26 06:25] YohDeadfall opened #653 "The CoreRT compiler fails with a StackOverflowException"
From dotnet/corert#6372 by @frankzye.

---

I came an error:

So I added the following lines to RD.xml:

[code]

But when I compile, it throw an error "Process is terminating due to StackOverflowException", microsoft.dotnet.ilcompiler\1.0.0-alpha-26919-01\build\Microsoft.NETCore.Native.targets(200,5): error MSB3073 xxx runtime.win-x64.microsoft.dotnet.ilcompiler\1.0.0-alpha-26919-01\tools\ilc" @"o

[2018-09-26 07:10] vasicvuk commented on #404
@roji Thanks for explanation. It seems that Bug was a feature for some of us :).

[2018-09-26 08:41] roji commented on #404
@vasicvuk thanks for understanding, and sorry it took some time to remember this bug...

If you're doing migrations on multiple database systems, in many cases you have no choice but to edit your migrations and add conditions - you can check which provider is being used to apply the migration, and choose the correct SQL accordingly.

[2018-09-27 17:08] baurzhan commented on #648
Can you add notice about this restriction in [NodaTime Type Plugin](https://www.npgsql.org/doc/types/nodatime.html) documentation page?

[2018-09-28 12:19] faryu opened #654 "Plugin problem while using multiple DbContext classes"
Hi,
In a project I use the ef core library with the npgsql driver to access two different databases.
I'm using Npgsql.EFC.PostgreSQL version 2.1.2.

The first uses spatial data, so I use the `.UseNetTopologySuite()` Extension.
The second database doesn't use spatial data, so I ended up using the following:

[code]

I received errors as soon as I added the second database in the code above. Specifi

[2018-09-28 18:20] austindrenski commented on #650
This is actually turning out to be a bit complicated. It looks like we have _current_ docs in both `master` and `dev` that do not appear in the other. (I'm responsible for at least some of this....)

I'm going to submit a PR to get everything right in `dev`. Along the way, I'll try to segregate version-specific changes (e.g. enums) as tabbed content.

Once that's accepted (and we can verify everyt

[2018-09-30 15:59] roji opened #658 "Switch to the new EF Core plugin model"
For 2.1, we developed our own plugin model (#300) to support NodaTime, NetTopologySuite and others. Much of that work has been integrated into EF Core itself for 2.2, so we should drop our own model and reimplement the plugins in the new, standard way.

Note blocking lack of support for specifying evaluatable from plugins (https://github.com/aspnet/EntityFrameworkCore/issues/13454).

[2018-10-01 20:03] YohDeadfall commented on #653
Not yet. Will try to take a look on upcoming weekend.

[2018-10-02 14:28] tylercamp opened #659 "Scaffolded navigation property name no longer meaningful when using composite foreign keys"
When using single-column foreign keys, I would get navigation properties with useful names such as:

        // fk_army_at_home_id: current_village.army_at_home_id -> current_army.army_id
        public CurrentArmy ArmyAtHome { get; set; }
        // fk_army_owned_id: current_village.army_owned_id -> current_army.army_id
        public CurrentArmy ArmyOwned { get; set; }
        // Same formatting

[2018-10-02 15:11] austindrenski commented on #659
Could you give us an example of what the "meaningful" name would be in the composite key scenario?

[2018-10-02 15:15] tylercamp commented on #659
In this case the naming would optimally match the previous naming (aka the names would be unchanged)

This could be pulled from the name of the foreign key, which generally follows the same naming between the two versions (stripping the fk_ and _id parts of the foreign key name)

[2018-10-02 15:21] tylercamp commented on #659
Naming as a combination of the two columns in the composite key would also be acceptable, though for my case I'd prefer naming based on the name of the foreign key

[2018-10-02 15:46] roji commented on #659
This seems to be a general EF Core request/question, not related to Npgsql specifically - so it belongs in http://github.com/aspnet/EntityFrameworkCore/.

[2018-10-02 15:46] #659 closed

[2018-10-03 03:22] TPucke opened #660 "Npgsql exception when querying a local variable"
Sorry in advance for how difficult this seems for me to communicate.  I can't get to a reliable reproduction of this issue.  Hoping for some advice or guidance to investigate further.  Anything you can suggest is appreciated.

Currently using Npgsql.EntityFrameworkCore.PostgreSQL 2.0.1.
The context lives in its own project targeting netstandard2.0
The library in which the described problem is firs

[2018-10-04 05:58] roji commented on #660
The exception you're showing is a timeout - while waiting for database results, it seems that too much time elapsed and the command timeout was exceeded. You can adjust the command timeout via the connection string by specifying `Command Timeout=x`: you can trying disabling it entirely by specifying 0. Note that the default is 30 seconds, so if a query of yours is blocking for 30 seconds that may

[2018-10-07 16:57] YohDeadfall commented on #653
@frankzye Could you post a minimal repro for the issue? Currently I'm getting another error:

@MichalStrehovsky Is there any way to get the method name which is failed to compile?

[2018-10-08 03:21] ArcadeRenegade opened #661 "ST_DWithin Spatial Operation Support?"
Hello,

Are there any plans for the ST_DWithin spatial operation support?

I would use ST_Distance() < x but that is less optimized since it cannot do an index seek and has to scan every row.

I'm using:
* Npgsql.EntityFrameworkCore.PostgreSQL v2.1.2
* Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite v2.1.1

Thanks!

[2018-10-08 13:04] austindrenski commented on #661
@ArcadeRenegade Additional operators are tracked by #457. Would you mind reposting as a comment there?

It also looks like #457 is still up for grabs, in case you're interested in submitting a PR for this operator.

[2018-10-10 02:54] austindrenski commented on #661
@ArcadeRenegade I'm going to close this for now since it's tagged to #457.

But when you have a chance, please do still repost your full request as a comment on #457.

[2018-10-10 02:54] #661 closed

[2018-10-11 02:09] frankzye commented on #653
[Sample.zip](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/files/2467105/Sample.zip)
@YohDeadfall please find the repo, and help to resolve, thanks.

[2018-10-11 10:29] darionato commented on #553
No way to let it works in my case. I follow all the instructions but I got always 'Type 'Point' which is not supported by current database provider'.
I created the new Point column in a existing database. I'm not executing the ctx.Database.EnsureDeleted(); nor ctx.Database.EnsureCreated() but I call EnsureMigrated().
Any other suggestions?

[2018-10-11 15:59] ptrushin opened #663 "Wrong migration script when add comment for column in DbContext.OnModelCreating with ForNpgsqlHasComment or HasAnnotation"
I try to add comment for column in DbContext.OnModelCreating with ForNpgsqlHasComment or HasAnnotation, for example,
builder.Entity<SurveyResult>().Property("Id").ForNpgsqlHasComment("Some comment");
or
builder.Entity<SurveyResult>().Property("Id").HasAnnotation("Npgsql:Comment", "Some comment");

Then I do "dotnet ef migrations add"

In Migration file I see
migrationBuilder.AlterColumn<long>(

[2018-10-14 11:16] roji commented on #634
@Splitframe any update on this?

[2018-10-14 16:59] jholovacs commented on #438
is the fix in the nuget package yet?  I'm running into the same issue.

[2018-10-14 17:29] YohDeadfall commented on #438
Yes, it was fixed in the Npgsql driver a long time ago, in version 4.0.1. Please update your package.

[2018-10-15 01:40] jholovacs commented on #438
I encountered this on 4.0.1, perhaps it was fixed in 4.0.2?

On Sun, Oct 14, 2018 at 1:29 PM Yoh Deadfall <notifications@github.com>
wrote:

[2018-10-15 06:16] YohDeadfall commented on #438
Could you provide the problem value?

[2018-10-15 10:32] jholovacs commented on #438
Unfortunately I already truncated all my numerics in the table to get this
to work, it was blocking dev efforts.

On Mon, Oct 15, 2018 at 2:17 AM Yoh Deadfall <notifications@github.com>
wrote:

[2018-10-15 11:13] YohDeadfall commented on #438
Ah, then it wasn't a bug in your case. This is an intentional behavior change to prevent implicit loss of precision.

[2018-10-15 12:13] jholovacs commented on #438
I don't see how that can be the case, as the table was created by EF
migrations.  Why would the columns be created with a higher degree of
precision than EF could actually read?  That totally sounds like a bug.

On Mon, Oct 15, 2018 at 7:13 AM Yoh Deadfall <notifications@github.com>
wrote:

[2018-10-15 17:15] YohDeadfall commented on #438
I can't say what precision the column had, but the previous versions of the driver used a different way to write and read numerics. Therefore, these values could be inserted via EF if the column type has no limits.

[2018-10-15 18:54] mexahuk61 opened #664 "builder.HasData(...): The current CSharpHelper cannot scaffold literals of type 'NetTopologySuite.Geometries.Point'. Configure your services to use one that can."
Hello. I get an error when try to create a seed migration...

source code:
[code]
context factory:
[code]
`>dotnet ef migrations add SeedData` stack trace:
[code]
Microsoft.EntityFrameworkCore: 2.1.3
Npgsql.EntityFrameworkCore.PostgreSQL: 2.1.2
Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite: 2.1.1

[2018-10-15 19:04] mexahuk61 commented on #664
But it works perfect when I create migrations manually:
[code]

[2018-10-15 20:31] jdvor opened #665 "Saving re-attached entities configured with ForNpgsqlUseXminAsConcurrencyToken() throws DbUpdateConcurrencyException"
Scenario:
When detached entity is attached to new context and set to Modified state in order for `SaveChanges()` to pick-up updates the `DbUpdateConcurrencyException` is thrown if the entity is also configured with `ForNpgsqlUseXminAsConcurrencyToken()`.

[minimal example](https://github.com/jdvor/npgsql-efcore-detached-issue)

[2018-10-17 10:17] alexk8 opened #666 "Zero-trailing issue with domains (Numeric value does not fit in a System.Decimal)"
I have a domain: `CREATE DOMAIN amount_type AS numeric(34,18)`
It's used in model like:   ` [Column(TypeName = "amount_type")] decimal ;`
I have two problems:
1) inserting "0.1" gives back "0.100000000000000000" when reading
2) selecting, lets say, `x=>new {mul = x.a * x.b}` - gives "Numeric value does not fit in a System.Decimal" even if numbers are 0.1 (as an examples) because of number of trail

[2018-10-17 11:15] YohDeadfall commented on #666
Which version are you using?

[2018-10-17 11:50] alexk8 commented on #666
Tested few versions just now - all new -2.1.2,  2.2.0-preview1 and  2.2.0-ci.1057 have the issue.
Last "good" was around 2.0.2; next 2.1.0 was broken in someway (no TypeName declarations possible)
In short - since 2.1.1

[2018-10-17 16:49] YohDeadfall commented on #666
Okay, will take a look.

[2018-10-18 08:04] alexk8 commented on #666
It seems like Postgres itself giving that zeros, so literally this is not npgsql bug, but client-side have to deal with that problem somehow - drop trailing zeros on read, I think.

[2018-10-18 08:13] roji commented on #666
@YohDeadfall I'm guessing this belongs in http://github.com/npgsql/npgsql/ no?

[2018-10-18 08:16] roji commented on #664
This is a duplicate of #575, which is actually a current EF Core limitation (see https://github.com/aspnet/EntityFrameworkCore/issues/12979 and https://github.com/aspnet/EntityFrameworkCore/issues/8741). The good news is that support on the EF Core side seems to have been done for 2.2.0-preview3 - I'll look at making this work for Npgsql's own release of 2.2.0-preview3.

[2018-10-18 08:16] #664 closed

[2018-10-18 08:33] roji opened #667 "Support literal code generation for Npgsql-specific types"
Following https://github.com/aspnet/EntityFrameworkCore/issues/8741, we should support literal code  generation for data seeding for the various PostgreSQL-specific types (e.g. `IPAddress`).

NTS is already taken care of at the EF Core level (once our mapping extends the new RelationalGeometryTypeMapping, see #658), but NodaTime needs to be done.

[2018-10-18 08:34] roji commented on #664
Opened #667, this will be done for preview3.

[2018-10-18 09:06] alexk8 commented on #666
I can assume that truncating zeros all the time may have performance impact, so I'm going to use a workaround for a while: `.Select(x => new { vol = MyContext.Trunc( x.price * x.quantity,18) })` with user-function
`[DbFunction("TRUNC")] public static decimal Trunc(decimal x,int prec)=>  throw new NotImplementedException()`, and Normalizing number on the client, which is a bit annoying...
You guys

[2018-10-18 11:30] YohDeadfall commented on #666
@roji, you're right, but our tests there covers that. Therefore, the problem is caused by some math, I think.

@alexk8, could you provide a minimal repro to run on my machine without any modifications?

[2018-10-18 12:06] alexk8 commented on #666
[code]

[2018-10-18 13:56] bryanjhogan opened #668 "Connection Pool and an Aurora cluster"
I am using npgsql to connect to an Aurora cluster which scales automatically from two read replicas ( A and B) to four read replicas (A, B, C & D).  My application runs in an AWS Fargate cluster with approx 20 running containers. I have npgsql connection pooling turned on with the default settings.

When testing our application I gradually increase the number of concurrent requests on the containe

[2018-10-18 15:36] ajcvickers commented on #667
@roji The support for literal generation is still quite limited--we only handle a very small subset of Expression trees. It might be worth doing this sooner rather than later in case we need to update the core code to support more patterns for NodaTime or your specific types.

[2018-10-18 15:39] jdvor commented on #665
I should probably add that in the example there are no concurrent updates going on. In fact there's single write requested, so it's clearly a bug.

[2018-10-18 15:55] YohDeadfall commented on #668
The nearest issues is npgsql/npgsql#1810. Let's continue there since it's a wrong repository to ask provider specific questions. This repository for EF Core only.

[2018-10-18 15:55] #668 closed

[2018-10-18 16:50] roji commented on #667
@ajcvickers thanks for the note. The idea is to do both really soon and release preview3, so you'll get some feedback if I run into any issues. I think i already have one problematic case, will submit issues.

[2018-10-18 21:30] DylanPaulusSEL opened #669 "lpad and rpad functionality"
Copy from [this stackoverflow question](https://stackoverflow.com/questions/52879780/using-postgres-lpad-in-entitycore/52882359#52882359)

Looking to be able to use the `lpad` and `rpad` Postgres functions in entity core -- currently `string.PadLeft()` will be executed on the C# side instead of through SQL.

[2018-10-18 21:35] roji commented on #669
@austindrenski, interested? We could also consider refactoring some of the string translators into a single class.

[2018-10-18 21:50] austindrenski commented on #669
Sure, I can put something together tonight or tomorrow.

[2018-10-18 22:26] srinivashavanur opened #670 "Postgres Database Scalar funciton mapping not working using EF Core 2.1.4 & Npgsql postgres 2.1.2"
Hi,

I'm trying to use scalar function mapping in EF Core 2.1.4 and it is not giving me desired response from it.
Here is the example of it as shown
I'm calling this static method in DbContext class
[DbFunction("get_product_stock", "public")]
 public static int GetProductStock(int productId)
 {
    return 0;
 }

In Linq query I'm fetching like this

var result = await dbContext.Product.Select ( x

[2018-10-18 22:30] austindrenski commented on #670
@srinivashavanur Could you give us a bit more info? (E.g. what _is_ the desired response, what are you getting now, etc)

[2018-10-18 22:33] #670 closed

[2018-10-21 10:50] lmarszal commented on #334
@roji - I think I have an alternative solution. Instead of supporting casting, use `Value<>` extension:
[code]
With this, you can create a method call translator, that would convert this to string.

I gave it a try and created small proof-of-concept, to see how this would work. You can review it here: https://github.com/lmarszal/NpgsqlJObjectPoC
It's far from being ready but can give us some start

[2018-10-21 11:15] seriouz commented on #334
@roji Nice idea!

[2018-10-21 11:15] seriouz commented on #334
@lmarszal Nice idea!

[2018-10-21 11:43] lmarszal commented on #334
@roji, I got this. For me more natural than casting is using `.Value<>` - but this is only my opinion. And casting should be evaluated exactly the same as `.Value`, as their underlying logic implemented in JObject is *almost* identical. And last but not least both options should be supported (not to, as you said, force users to do something unnatural for them).

My thinking was, that since (1) at

[2018-10-21 12:42] roji commented on #334
Apart from subjective feelings, the point is that casting is the pattern shown in [the basic JSON.NET documentation](https://www.newtonsoft.com/json/help/html/QueryJson.htm). I think that a plugin that fails on the most basic sample is a bit of a non-starter.

I'd rather we at least tried to solve the problem for casting - and as you say, implement translation for `Value<T>()` as well.

[2018-10-21 12:59] lmarszal commented on #334
I did a next quick test and handling casting seems doable with IExpressionFragmentTranslator - sth like this:
[code]

This requires small changes to plugin model though:
 * Extend `NpgsqlCompositeExpressionFragmentTranslator` to iterate through plugins, like `NpgsqlCompositeMethodCallTranslator` does
 * Add virtual method to `NpgsqlEntityFrameworkPlugin` (sth like `AddExpressionFragmentTranslators

[2018-10-21 14:06] roji commented on #334
Great, that's definitely a step in the right direction! In my [original attempt](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/334#issuecomment-388476833) I think I got a bit stuck working on NpgsqlQuerySqlGenerator, where NpgsqlCompositeExpressionFragmentTranslator may be a better extension point for this. I'd still want to evaluate the two approaches to see which is best

[2018-10-21 14:40] lmarszal commented on #334
Good - so I'm waiting for your PR and then then will try to figure out how to make this work with new the plugin model. Please keep me posted if, how and when I can to contribute to this. I'd really love to see this feature fully implemented, so I can spend some time working on this :)

[2018-10-21 15:06] roji commented on #334
Here we go: #672

[2018-10-21 17:01] #669 closed

[2018-10-21 18:04] austindrenski commented on #654
Assigning this to `3.0.0` as this may be impacted by upstream changes to the plugin model for `2.2.0`.

Plan to reevaluate after #672 is merged.

[2018-10-21 19:11] #650 closed

[2018-10-21 21:32] austindrenski commented on #649
I am able to reproduce this issue in our test suite with the following:

[code]

## Diagnosis

The issue is that the value for `Instant.MaxValue` is too large and overflows while being written to the wire. The result is a negative `long` is sent to the database where it's interpreted as being lower than your lower bound.

The workaround is to specify the upper bound as infinite, rather than `Insta

[2018-10-22 06:57] austindrenski commented on #649
Some relevant snippets:

From [TimestampHandler.cs](https://github.com/npgsql/npgsql/blob/660ca2fd366c603b92f4693720ed92b795559e05/src/Npgsql.NodaTime/TimestampHandler.cs#L209-L211):
[code]

From [Duration.cs](https://github.com/nodatime/nodatime/blob/7e64bd3691d5ca4e76aacddb54f3e70053fa9b1c/src/NodaTime/Duration.cs):

[code]

[2018-10-22 07:05] austindrenski commented on #649
Opened npgsql/npgsql#2200 to address the overflow.

[2018-10-22 19:44] EricStG opened #676 "Error when applying migration that creates a GIST index on a CIDR type"
I have an entity with a property of `ValueTuple<IPAddress, int>` type:
[code]

And in the model builder, I create an index using the GIST type on `Network`:
[code]

Generating the migration works, but executing it, I get the following:
[code]

Essentially, I would like to be able to pass `inet_iops` when creating the index in order to generate a statement similar to:
[code]

[2018-10-22 20:30] austindrenski commented on #676
This should be supported by #662, which should be merged for `2.2.0`.

I'm going to close this for now, but please feel free to post here if you have any questions.

[2018-10-22 20:30] #676 closed

[2018-10-23 04:15] baurzhan commented on #649
Why npgsql log output shows correct values for range?

[2018-10-23 04:32] austindrenski commented on #649
The log is showing you the actual value of the `Instant` value. But that value is wrapping around when `TimestampHandler` writes the value to the buffer as a 64-bit integer of the microseconds since 2000-01-01.

[2018-10-24 09:49] frankzye commented on #653
@YohDeadfall How are things going?

[2018-10-24 10:21] westfin opened #678 "Get access to actual connection for migration"
In my case I need add some specific settings in Migration file.
`migrationBuilder.Sql(sqlcode)`

If I correctly understand all operation in migration uses MasterConnection (postgres database).
https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/8e97e4195b197ae3d16763704352acfffa95c73f/src/EFCore.PG/Storage/Internal/NpgsqlDatabaseCreator.cs#L41

But for my settings I need actual co

[2018-10-24 12:05] austindrenski commented on #678
Could you explain what exactly you're trying to do with the master connection?

 Do you want to modify a migration? Or just get access to the connection to run additional commands before/after the migration?

[2018-10-24 12:11] austindrenski commented on #663
@ptrushin Could you put together a minimal repro of this issue in the form of a GitHub repo for us to clone and build locally?

[2018-10-24 12:50] westfin commented on #678
In our project we use customized PostgreSQL with some specific security options.
I need setup this options to my database after it will be created. I do it like that

[code]
I can set this options only from target database connection, thats why when I use Update-Database, I get error "Can't set option to database from another database".

I think it is because NpgsqlDatabaseCreator use MasterConnec

[2018-10-24 18:35] austindrenski commented on #678
That's an interesting use-case, and I don't think that we currently have a facility for handling it.

For the moment, you could consider just grabbing the `INpgsqlRelationalConnection` from the DI container and working at the ADO.NET level, similar to this test:

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/5e8658d40e4957aa822c89b634d67606dfc3ba8d/test/EFCore.PG.FunctionalT

[2018-10-25 11:18] jdvor opened #679 "NpgsqlDatabaseCreator does not take into account PostgreSQL schema"
Methods checking existence of EF model related tables does not take into account possibility of another schema being in the database and thus leading to `context.Database.EnsureCreated` or `EnsureCreatedAync` doing nothing.

Culprit is (I believe):
`NpgsqlDatabaseCreator.CreateHasTablesCommand`
[code]
This is satisfied with tables from other schema than the one `DbContext` should work with.

[2018-10-25 11:48] ozonni opened #680 "42702 order by "Id" is ambiguous"
Version: `Npgsql.EntityFrameworkCore.PostgreSQL: 2.1.2`

Having 1..n relationship and fetching all parent entities along with child entities generates wrong query.

[code]

[2018-10-25 12:20] austindrenski commented on #680
Can you post the code that generated this query?

[2018-10-25 12:22] austindrenski commented on #679
Could you post some code showing what you're trying to do/not working?

[2018-10-25 12:48] roji commented on #679
What do you mean by the schema "the one DbCobtext should work with"? A single DbContext can define tables in several different schemas, which is why HasTables checks if there are any tables, in any schema...

[2018-10-26 00:35] #554 closed

[2018-10-26 00:35] #593 closed

[2018-10-26 11:37] jdvor commented on #679
Does it mean that two distinct DbContexts could not live in one database separated by schema?

[2018-10-26 11:54] ljani commented on #619
If anyone ends up searching for this, check your connection string. I faced a the following exception as well:

[code]

It was because I made a stupid mistake of having SQL Server like connection string `Server={host}:{port}` instead of the correct `Host={host};Port={port}` format.

[2018-10-26 12:04] roji commented on #679
It depends on what exactly you're doing. If you take care to make sure each context defines database objects in different schemas, this may work. Also, you have to make sure each context uses its own migrations table to avoid a conflict.

Am going to close this issue as the provider seems to do the right thing, but we can continue the conversation and reopen if needed.

[2018-10-26 12:04] #679 closed

[2018-10-26 12:39] jdvor commented on #679
Well, it's confusing to say at least that during mapping you can define default schema (ModelBuilder.HasDefaultSchema()), which is respected - all tables are created within that schema. But the concept of schema is ignored in NpgsqlDatabaseCreator checks used during EnsureCreated(). This leads to what I believe is a false positive - thinking that required schema and tables are created since it is

[2018-10-26 12:54] austindrenski commented on #679
Ah, I think I see the disconnect here. What you're describing can indeed be confusing, but it is [documented](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.infrastructure.databasefacade.ensurecreated?view=efcore-2.1):

[2018-10-26 16:44] roji commented on #679
I understand what you're saying, but the fact that your can define the *default* schema tells you that it's also possible to step outside that default. You're free to define, on an entity by entity basis, which table it maps to in the database, including that table's schema. So it's very possible (and sensible) for a single model to define tables that go into different schemas.

This is why HasTab

[2018-10-26 22:47] jdvor commented on #679
see this [example](https://github.com/jdvor/npgsql-efcore-ensurecreated-issue)

If `HasTables()` would have checked the tables as they have been defined - that is **with** the schema, it would have quite likely work.
Only logical conclusion is that it is either a bug in the "ensure" logic or the database is not supposed to host more than one `DbContext` regardless of how well you've isolated them

[2018-10-26 23:09] austindrenski commented on #679
It __is__ a supported scenario to have multiple `DbContext` per database. But the database creation infrastructure is explicitly limited in scope. Again, per the docs:

_emphasis added_

The limitation is in using `EnsureCreated`, not with using more than one `DbContext`.

From the perspective of your first `DbContext`, the only database objects that should exist are those defined within it. Then

[2018-10-27 04:39] eduardocampano opened #681 "Sequence migrations fails after updating from 2.1.0 to 2.1.2"
After upgrading from `2.1.0` to `2.1.2` migrations started failing when deployed to servers using 9.x.

Looking at the logs of migrations I see
[code]

Looks like the code checking version considers `null` as a valid "at least" version always and if not set using the new `SetPostgresVersion` setting it fails with 9.x.

[code]

I was able to fix the issue but wanted to report the bug as it breaks e

[2018-10-27 06:17] austindrenski commented on #681
The design of the compatibility checks is intended to assume the most recent version of PostgreSQL unless otherwise specified, which is why `null` always passes.

It looks like the docs have a note about supporting the new `IDENTITY` columns, but not warning about needing to specify an explicit version to opt out of those changes.

I can update the docs to include a breaking change warning for 2.1

[2018-10-27 07:08] roji commented on #679
@jdvor if you want to continue this conversation, it may be better to do so in https://github.com/aspnet/EntityFrameworkCore. We're only implementing the EF Core provider for PostgreSQL here but the discussion is general.

[2018-10-27 15:30] eduardocampano commented on #681
Thanks @austindrenski, looks good, I guess we will need to be extra careful when updating.

Just out of curiosity, is it not possible to retrieve the server version and set it by default with `SetPostgresVersion`? This would avoid the need of having to pass in the version number from CI/CD.

[2018-10-27 15:57] austindrenski commented on #681
There was some discussion about that [initially](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/478#issuecomment-398924598), but for a couple of reasons, the EF Core team encourages explicit user opt-in/opt-out in situations like this.

[2018-10-27 16:12] roji commented on #457
Note, implemented the following as part of #672: ST_Dimension, ST_EndPoint, ST_Envelope, ST_ExteriorRing, ST_IsRing, ST_NumInteriorRings, ST_PointOnSurface, ST_SRID, ST_StartPoint

[2018-10-27 16:34] roji commented on #681
Closing as the provider is behaving as expected.

[2018-10-27 16:34] #681 closed

[2018-10-27 16:45] roji commented on #678
I'm probably misunderstanding something here, but the master connection is only used to *create* the database. The rest of the migration code - table creation and any additional raw SQL - happens on the regular connection to the database. So any ALTER DATABASE statement you specify in raw SQL should actually work fine. Can you please double-check and provide more detail?

Aside from that, we do su

[2018-10-28 18:03] YohDeadfall commented on #653
I had no time to contribute for the last two weeks, sorry.

@roji @austindrenski Would you like to take a look at it?

[2018-10-28 19:20] roji commented on #653
I definitely won't have any bandwidth for this in the next few weeks... Possible afterwards

[2018-10-28 19:29] austindrenski commented on #653
I'm cleaning up the provided sample now to repost as a repo. I haven't worked with the AOT toolchain before, but I'll see what I can do.

[2018-10-28 21:16] austindrenski commented on #679
@jdvor Please link back here if you do open a discussion upstream so that we can follow along.

[2018-10-29 05:33] austindrenski commented on #653
So it seems like whatever is triggering this is happening within `Database.Migrate()`. But commenting out that line reveals a whole sequence of additional EF Core metadata issues.

Thankfully, it looks like some serious legwork has been done in dotnet/corert#6477 by @rubin55 and @MichalStrehovsky to document these issues. I'm working my way though those now before debugging the issue in the migrat

[2018-10-29 17:07] #658 closed

[2018-10-29 18:29] TPucke opened #683 "Upgraded 2.0.1 to 2.1.2 yields compiler error on .Annotation of int primary key field"
I just upgraded this package in a production application from 2.0.1 to 2.1.2 and have run into a breaking change.  The following is snipped from the generated migration file resulting from a Microsoft Identity schema, which has default key type of int:
In the `Up` method, the original migration from v2.0.1 contains the following table definition:
[code]

This has been trouble free until now.  Afte

[2018-10-29 18:43] austindrenski commented on #683
It sounds like this may be related to the [breaking change notice](http://www.npgsql.org/efcore/release-notes/2.1.html) in the 2.1 release notes. Take a look at your namespace imports and let us know if that solves the problem.

[2018-10-29 19:28] JuanZamudioGBM opened #684 "PgNameAttribute is ignored for enums in non-null SQL literal generation"
I'm using EF Core 2.1.2 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1.1.1

The table is defined like this:
[code]

I have an enum defined like this
[code]

The context like this:
[code]

And finally the class like this:
[code]

The above code works OK when inserting or updating, but when trying to search for an existing one it fails with the above message, for example the query in the code is
[cod

[2018-10-29 19:32] #665 closed

[2018-10-29 20:33] TPucke commented on #683
I read the notice but skipped directly to the bullets.  Sorry for the distraction,

[2018-10-29 20:33] #683 closed

[2018-10-29 20:47] austindrenski commented on #683
No worries, glad that fixed it!

[2018-10-29 21:00] austindrenski commented on #684
@JuanZamudioGBM Could you try updating the provider to `2.1.2` and report back?

Also, to keep package versions aligned, you can reference _just_ the provider, which itself brings in the proper EF Core dependency:
[code]

[2018-10-29 22:30] JuanZamudioGBM commented on #684
@austindrenski done, but i got the same error, anything else I can try?

[2018-10-30 04:31] austindrenski commented on #684
After taking another look, I think this is a bug on our side. Basically, `PgNameAttribute` isn't being picked up in `NpgsqlEnumTypeMapping.GenerateNonNullSqlLiteral`.

This went unnoticed by our test suite because our tests use the same name casing in both the CLR and PostgreSQL enums.

I'm starting on a patch, but in the meantime I think you should be able to work around this by parametrizing the

[2018-10-30 16:23] JuanZamudioGBM commented on #684
Thanks a lot for your time

[2018-10-30 23:08] austindrenski commented on #684
Blocked by #685.

[2018-10-31 11:01] #678 closed

[2018-11-01 11:31] roji commented on #667
Note: NTS literal generation is handled by RelationalGeometryTypeMapping so nothing needs to be done on our side. For NodaTime see https://github.com/nodatime/nodatime/issues/1221.

[2018-11-02 22:56] ofirgeller opened #686 "UseNodaTime does not allow for gradual migration from BCL to NodaTime"
I have nullable and not nullable 'timestamp without timezone' columns that are mapped to Nullable<DateTime> and DataTime Properties.

Once I add the NodaTime plugin and call  'UseNodaTime' on the static npgsql connection Entity Framework loses the ability to map these columns.

`Message: System.InvalidOperationException : An exception occurred while reading a database value for property 'User.Last

[2018-11-03 12:48] austindrenski commented on #686
Unfortunately, as in #568 this is the expected behavior. The plugin "steals" these mappings away from the BCL types.

Going to close as this is the expected behavior, but feel free to continue posting questions or concerns.

[2018-11-03 12:48] #686 closed

[2018-11-03 16:02] ofirgeller commented on #686
I read the code. It can be done but is not a trivial change:

The data structures containing the NpgsqlTypeMapping has to change since the key expresses a single type but needs to express 2 (the source and target type), the source of truth for the type mapping is also synced to a few separate specialized access collections making the change a bit more risky.

After doing that we can stop doing a "

[2018-11-03 20:08] roji commented on #686
@ofirgeller it's certainly possible to support a more complexing mapping model that would allow keeping both BCL and NodaTime mappings at the same time. Note that the issue really is at the ADO.NET level (i.e. in github.com/npgsql/Npgsql) rather than at the EF Core level, where everything should already be in place for this.

However, having both BCL date/time and NodaTime types supported at the s

[2018-11-03 21:36] ofirgeller commented on #686
@roji

That's what I meant when I said

I opened the issue before reading the source and finding the root of the problem, not knowing the level it originated from, maybe you can move the issue to the core npgsql repo.

The solution I outlined will not effect performance in a noticeable way. it's just a lot of code to write and test.

About RealHandler, you should just go ahead and remove it, faste

[2018-11-04 05:06] neeldeep opened #687 "Npgsql.EntityFrameworkCore.PostgreSQL Error when used in Azure Functions and VS 2017"
I am not sure if any one has come across this issue before. I am using EF Core and Npgsql.EntityFrameworkCore.PostgreSQL inside Azure functions to fetch data from a Postgres Database. When I am using the same code in a Console App it works fine, However when used inside Azure functions it throws the following error:

I am using the following DLLs:
Microsoft.EntityFrameworkCore
Npgsql.EntityFramewo

[2018-11-04 11:49] Jefffrey opened #688 "Can't map user-defined range with subtype StoreType when the subtype type is plugin-provided"
I've attempted to use the new custom range type support with `LocalTime` (from `NodaTime`).

So I've set it up with:

[code]

and:

[code]

Then in one of my model classes I've put:

[code]

Then I ran:

[code]

and I get:

[code]

These are the versions I'm using:

[code]

What am I doing wrong?

[2018-11-05 05:04] austindrenski commented on #687
@neeldeep Could you post some version information for the those libraries? Or perhaps a complete `.csproj` file that reproduces this issue?

[2018-11-05 05:10] neeldeep commented on #687
Here is the .csproj file

[code]
Please note when I run the same code inside a Console App it works fine but not when I use it in an Azure function.

[2018-11-05 05:14] austindrenski commented on #688
Not exactly sure, but I suspect it's related to using the preview version of the provider but not the preview version of the plugin (significant changes in this area for 2.2).

Try updating your versions and report back:

[code]

[2018-11-05 05:20] austindrenski commented on #687
Since this works locally but not in Azure, seems like it could be dependency/restore related.

You should be able to drop both of the following dependencies as the first is implicitly included by referencing the PostgreSQL provider and the second is fully deprecated:

[code]

Could you try updating with the above and report back on how it goes?

[2018-11-05 12:39] austindrenski commented on #687
I'm actually not sure. I suspect it was some type of refelction or dependency injection conflict from having the reference to the `*.Design` library included.

Note that you can still scaffold without that library, as recent versions incorporate that code directly. (This was briefly mentioned in [the 2.0 release notes](http://www.npgsql.org/efcore/release-notes/2.0.html#upgrading-from-1x).)

[2018-11-06 01:06] Jefffrey commented on #688
@austindrenski I then get:

Which I'm guessing is due to an ef version mismatch?

[2018-11-06 01:10] Jefffrey commented on #688
Tried with:

[code]

and now I get:

   at Microsoft.EntityFrameworkCore.NpgsqlNodaTimeDbContextOptionsBuilderExtensions.UseNodaTime(NpgsqlDbContextOptionsBuilder optionsBuilder)
   at Server.Startup.<>c.<ConfigureServices>b__4_3(NpgsqlDbContextOptionsBuilder opts) in /Users/shoe/Git/graph/src/Startup.cs:line 38
   at Microsoft.EntityFrameworkCore.NpgsqlDbContextOptionsExtensions.UseNpgsql(DbConte

[2018-11-06 01:11] austindrenski commented on #688
Hmm.... Yeah that looks like some type of mismatch is happening, but I haven't seen that particular one before.

Did you run a clean/restore cycle after updating?

If that doesn't work, we'll probably need to see some more code, or even a minimal repo to speculate further.

[2018-11-06 03:45] austindrenski commented on #688
I can indeed reproduce this locally with https://github.com/austindrenski/EFCore.PG-688.

Taking a look at the design time services now. It also looks like we don't have a preview build of the plugin, just a recent CI build in the unstable feed.

[2018-11-06 05:14] austindrenski commented on #688
It looks like the plugin's `TypeMappingSource` isn't loaded before `MapRange<LocalTime>("timerange")` attempts to resolve the subtype's mapping:

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/e7bea847e458f9aa68ff14c663ba0f9f46359537/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L244-L252

When the subtype is specified explicitly (e.g. `"time"`) the CLR type isn't

[2018-11-06 15:50] hasmyr opened #689 "Inserting/Updating ID -2147482647"
I am running Npgsql.EntityFrameworkCore.PostgreSQL Version="2.0.1" and it is updating records in my database to have -2147482647 as their ID.

This happens randomly but often, I have not been able to reproduce it but it seems to happen on Attach(). Everything I have researched says that there should never be negative IDs inserted into the database but this keeps happening and after it does it thro

[2018-11-06 17:02] austindrenski commented on #689
To troubleshoot this, we'll need to see a minimal reproduction of the issue, preferably in the form of a GitHub repository we can clone locally.

Would you be able to put something like that together and report back?

[2018-11-06 19:20] Jefffrey commented on #688
@austindrenski I get:

[2018-11-06 19:28] Jefffrey commented on #688
@austindrenski I get:

   at Npgsql.EntityFrameworkCore.PostgreSQL.Storage.Internal.NpgsqlTypeMappingSource..ctor(TypeMappingSourceDependencies dependencies, RelationalTypeMappingSourceDependencies relationalDependencies, INpgsqlOptions npgsqlOptions) in C:\projects\npgsql-entityframeworkcore-postgresql\src\EFCore.PG\Storage\Internal\NpgsqlTypeMappingSource.cs:line 246

by having:

[code]

[2018-11-06 19:31] austindrenski commented on #688
@Jefffrey Yes, that's the exception I [referenced above](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/688#issuecomment-436133400).

[2018-11-07 01:00] austindrenski commented on #680
I'm going to close this for inactivity. Feel free to keep posting if you have additional questions or information for us.

With only limited knowledge of Automapper, this looks related to some ambiguity between foreign key conventions in EF Core and Automapper.

[2018-11-07 01:00] #680 closed

[2018-11-07 01:22] #660 closed, assigned to nobody

[2018-11-07 01:29] austindrenski commented on #634
@Splitframe any update on this?

[2018-11-07 01:35] austindrenski commented on #570
@Jefffrey Have you had a chance to check on this?

[2018-11-07 02:12] austindrenski commented on #637
This seems to be tracked by both #22 and npgsql/npgsql#2154. Going to close for now, but we can reopen later if either of those issues require additional changes.

[2018-11-07 02:12] #637 closed

[2018-11-07 14:59] EricStG commented on #457
Are there plans to add the [<->](https://postgis.net/docs/geometry_distance_knn.html) operator to that list? while `Distance` would work, it doesn't use indexes

[2018-11-07 21:11] JwanKhalaf opened #692 "Numeric value does not fit in a System.Decimal error"
I am getting an **OverflowException** with the error:

The code where this happens is a simple select query, here's a screenshot:

![image](https://user-images.githubusercontent.com/42877376/48161080-a0e1e080-e2d1-11e8-950a-55e5e42653e6.png)

[2018-11-07 21:14] YohDeadfall commented on #692
This is expected behavior now. Please read #438 for details.

[2018-11-07 21:14] #692 closed

[2018-11-08 08:30] JwanKhalaf commented on #438
I read the whole thread, but I'm still confused. I am still getting the error, and I don't know how to go about fixing it. I know it has something to do with rounding, but how?

My migrations have columns like this:

`price = table.Column<decimal>(nullable: false),`

How do I round these? My project is still in the development phase, so I can drop/re-create as much as I want.

[2018-11-08 08:55] roji opened #693 "Have plugins generate Use*() calls when scaffolding"
React to https://github.com/aspnet/EntityFrameworkCore/issues/13764

[2018-11-08 19:10] #570 closed

[2018-11-10 09:31] #693 closed

[2018-11-10 23:08] JakenVeina commented on #556
Confirming this is fixed in 2.1.4.

[2018-11-11 03:30] Blackheart8788 commented on #634
Hi,
I made it work by applying the next steps:

1. I created a sequence in my db and added the sequence as the default value to the db column,
ALTER TABLE "table" ALTER COLUMN "column" SET DEFAULT nextval('sequence'::regclass);

2.added the annotation [DatabaseGenerated(DatabaseGeneratedOption.Identity)] to the property model.
3. and finally in my context to the onmodelcreating method added

[2018-11-11 09:54] roji commented on #457
@EricStG am far from a PostGIS expert: does <-> actually work outside `ORDER BY` clauses? I did some playing around, and while the following works:

[code]

The following does not:

[code]

Does this mean that we need to translate to <-> only when it's on an `ORDER BY` clause? Any information on this would be helpful.

[2018-11-11 11:32] roji commented on #667
Mostly done in #690, we should now support most major types and can implement the missing ones based on user request.

Keeping this open to track NodaTime support, which depends on https://github.com/aspnet/EntityFrameworkCore/pull/13911 (and can probably be implemented now).

[2018-11-11 13:45] EricStG commented on #457
@roji I'm far from being an expert as well, but my understanding is that `<->` returns values that gives you relative distances, but doesn't necessarily map to a real distance unit, that's why it only makes sense to use it for ordering.
From [this section](https://postgis.net/docs/using_postgis_dbmanagement.html#idm2351), they mention that only specific functions/operators can make use of indices,

[2018-11-12 19:05] eshangin opened #695 "Translate Guid.NewGuid()"
Hi. Today tried to apply `.OrderBy(item => Guid.NewGuid())` to get items in random order but as I see Npgsql unable to translate it to Postgres query. In case of MsSQL it works and translates to `order by newid()` query.
I think it will be good to have the same kind feature in Npgsql. Maybe it could be in `EF.Functions`, I'm not sure...

[2018-11-12 19:38] roji commented on #695
Can you please post full details on what happens (exception stack trace, etc.)? Npgsql is definitely supposed to translate `Guid.NewGuid()`...

[2018-11-12 19:41] roji commented on #457
@EricStG thanks for the extra info, although I'm still not totally clear on what should happen, and when exactly `<->` should be used instead of `ST_Distance()`.

Can you help out by contacting the PostGIS folks and asking for clarification, possibly proposing that they make their documentation clearer on this point?

[2018-11-12 19:56] austindrenski commented on #695
Some version info would be useful here too (e.g. PostgreSQL, Npgsql provider).

I could see this getting caught up in an evaluatable filter and the ordering being done on the client (i.e. no exception, just log warnings about local eval). But that's just speculation without version info.

[2018-11-12 20:31] EricStG commented on #457
To get the nearest neighbors, you would use `<->`
To search within a distance, you would use `ST_DWithin`. More info here: https://postgis.net/2013/08/26/tip_ST_DWithin/

You would use `ST_Distance` or `ST_Distance_Sphere` when you need to know the actual distance between two points. like the kilometers between two geography points, but because it's calculated for every row, performance would suff

[2018-11-13 04:48] eshangin commented on #695
"PostgreSQL 9.6.10, compiled by Visual C++ build 1800, 64-bit"
We use package https://www.nuget.org/packages/Npgsql.EntityFrameworkCore.PostgreSQL/2.1.2

The code looks like this:
[code]

There is no exception. As I see it just calls query like <code>select * from "TableName"</code>. Then seems it makes order by new guid, skip, take in memory.
But it will be good if random ordering will be done in

[2018-11-13 05:30] austindrenski commented on #695
@eshangin Thanks for supplying the additional information.

@roji It looks like we don't actually have a method translator for `Guid.NewGuid()`, and it doesn't look like there's a default implementation from EF Core (e.g. SqlServer has its own implementation in [SqlServerNewGuidTranslator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.SqlServer/Query/ExpressionTranslato

[2018-11-13 06:55] YohDeadfall commented on #695
The problem here is in the `uuid` type which doesn't have random generators out of the box. Therefore, the user should use one of two extensions. We can't dictate which one must be used. It's a [documented limitation](http://www.npgsql.org/efcore/value-generation.html#guiduuid-generation).

To workaround the issue create an extension you want and a database function. For example:

[code]

[2018-11-13 09:58] vyshka opened #696 "Maximum number of prepared transactions reached"
I'm trying to wrap up 2 NpgsqlCommand into 1 transaction.
[code]
`_tableService.Delete` has defenition of NpgsqlCommand and calling `ExecuteNonQuery()` method. But after `return Ok();` line i get an  `PostgresException: 53200: maximum number of prepared transactions reached`. I know that i can set `max_prepared_transactions ` in postgresql.conf file but what will happend if i even reach that param

[2018-11-13 10:17] roji commented on #696
There's no need to be using prepared transactions - these exist only to support distributed transaction scenarios, where you're trying to cover operations across different databases within a single transaction. It seems like in your scenario you're trying to do a simple transaction on a single database, so you should definitely *not* increase `max_prepared_transactions`. The fact that you enlist a

[2018-11-13 10:17] #696 closed

[2018-11-13 10:42] roji commented on #695
@austindrenski you're right - seems like we're missing a translator for `Guid.NewGuid()`. However, I think we can add this as a regular translator, on by default - the fact that something is a PostgreSQL extension doesn't necessarily mean that on the Npgsql side it needs to be supported as a plugin... A good example is the `hstore` type, which is an extension but is supported out of the box. I thi

[2018-11-13 10:43] roji commented on #695
On an unrelated note, does it make sense to think about translating `Math.Random()` to PostgreSQL `random()` (instead of a custom `EF.Functions.RandomOrder()` as @YohDeadfall proposed)? That could be used for random ordering without any complications...

[2018-11-13 12:41] austindrenski commented on #695
Ah that's right, I forgot that we do something similar with `hstore`. Agreed that a plugin would be overkill for one item here. I can start putting together a PR.

Do you mean `System.Random()`? I think that's currently excluded by an evaluatable filter, but I do think that would be preferred to adding something on `EF.Functions`. (Unless there's a compelling reason to keep it excluded, of course.

[2018-11-13 13:51] austindrenski commented on #695
Ope, you're right. I had that backwards (again). We should be good to translate it.

[2018-11-13 14:17] roji commented on #457
Thanks for your help on this @EricStG, we'll wait to see what comes out.

[2018-11-13 14:43] roji commented on #688
@austindrenski OK, I took a look and your analysis seems correct... The user-defined range mapping setup process involves looking at NpgsqlTypeMappingSource's `ClrTypeMapping` dictionary, but that dictionary only includes the built-in mappings, and not the plugins.

I think the right way would be to move the user-defined range logic out of the constructor and into `FindMapping()`, probably by addi

[2018-11-13 14:50] austindrenski commented on #688
@roji That sounds good to me. It sounds like you have a specific implementation in mind, so no objections here! Happy to review once submitted.

[2018-11-13 16:00] EricStG commented on #457
@roji This is the answer I got: https://lists.osgeo.org/pipermail/postgis-users/2018-November/043009.html

If you are using PostgreSQL 9.5+ with PostGIS 2.2, you can just stick with using  <->, but note that it doesn't always use and index.  <-> only uses and index when it is in the ORDER BY clause and one side is a constant geometry (which you can achieve even when you don't have a constant by us

[2018-11-13 19:19] oguzhantopcu opened #697 "Support `INCLUDE` for indexes (PG11)"
https://paquier.xyz/postgresql-2/postgres-11-covering-indexes/

Is there any way to add covering index via fluent mapping? If there is not, is it possible to implement?

[2018-11-13 21:10] austindrenski commented on #697
I don't believe we've implemented any PG11 features yet, but we are certainly open to adding it.

Could you link to the official docs for the feature you're requesting, as well as provide some snippets (psuedo-code where necessary) of what you're envisioning?

[2018-11-13 21:16] YohDeadfall commented on #697
It's a usual index with `INCLUDE`d columns ([docs](https://www.postgresql.org/docs/current/sql-createindex.html)). The implementation could be taken from aspnet/EntityFrameworkCore#12266 which was for SQL Server.

[2018-11-14 11:56] roji commented on #689
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-11-14 11:56] #689 closed

[2018-11-14 12:01] roji commented on #627
Sorry for disappearing on this issue (got sucked into unrelated work), and thanks for understanding my reluctance to touch this.

As a general rule, it sounds like most of the problems described are better handled either by cleaning up data (i.e. converting empty strings to nulls or vice versa) or at the UI level. That isn't to say that I don't see any value in exposing `NULLS FIRST` in EF Core, b

[2018-11-14 12:02] roji commented on #666
@YohDeadfall a reminder to try to look into this when you have some time...

[2018-11-14 12:08] roji commented on #634
Closing as no repro was provided. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-11-14 12:08] #634 closed

[2018-11-14 12:51] #481 closed

[2018-11-14 14:29] roji commented on #550
@ajcvickers ping

[2018-11-14 17:21] ajcvickers commented on #550
@roji Sorry--totally missed this.
@smitpatel Can you answer Shay's question?

[2018-11-14 17:24] austindrenski commented on #697
@khellang Since you were just working in this area, would you be interested in submitting a PR?

[2018-11-14 17:33] khellang commented on #697
Sure. I'll look into it tonight 👍🏻

[2018-11-14 19:01] smitpatel commented on #550
SqlServer Query in release/2.2 is
[code]
What is the version of package?

[2018-11-14 19:42] roji commented on #653
I'm guessing that many/most of these issues are going to be EF Core-related, rather than specific to Npgsql - it's better to raise these with the EF Core team. I have no idea what the status of EF Core CortRT support is, or whether full CoreRT is a goal of theirs.

[2018-11-14 19:44] roji commented on #623
I'm going to add this to 2.2.0 for now, hoping we can fix it by the time we release.

[2018-11-14 19:45] SamHuo213 opened #700 "Generated schema changes missing semi-colon"
I have some entities like so:

[Table("sensor", Schema = "asset")]
public class Sensor {
	[Key]
	[DatabaseGenerated(DatabaseGeneratedOption.Identity)]
	[Column("id")]
	public Guid Id { get; set; }
}
If I change the table name to anything (i.e. sensor to sensor_test) and run:

dotnet ef migration add

I get the following scaffold code:

        migrationBuilder.RenameTable(
            name: "senso

[2018-11-14 20:05] austindrenski commented on #653
That was my impression after putting in a few hours with it. I would be interested to see a working version, so if anyone makes headway, please keep us in the loop by updating here.

[2018-11-14 20:09] oguzhantopcu commented on #550
@smitpatel I have attached package versions.

[2018-11-14 20:58] austindrenski commented on #700
Could you please clarify if the issue is the missing semicolon, the non-null schema, or both?

[2018-11-14 21:19] SamHuo213 commented on #700
I believe they are both issues.  The non-null schema is probably an issue with EF core and I believe the missing semicolon is Npgsql.EntityFrameworkCore.PostgreSQL but I am unsure of this so I am providing information for exactly what I am seeing.

[2018-11-14 21:36] smitpatel commented on #550
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/12351

[2018-11-14 21:36] smitpatel commented on #550
Please upgrade your `Microsoft.EntityFrameworkCore.*` package versions to latest 2.1.x

[2018-11-14 21:43] MichalStrehovsky commented on #653
@rubin55 got EF core working in dotnet/corert#6477. It's about finding all the places where EF uses reflection.

[2018-11-14 22:44] austindrenski commented on #550
Thanks for taking a look, @smitpatel.

@oguzhantopcu I'm going to close this now, but feel free to keep posting if you have further questions or encounter further issues.

[2018-11-14 22:44] #550 closed

[2018-11-14 23:01] austindrenski commented on #700
Thanks for clarifying. It looks like you're correct on the documentation. I'm looking into the scaffolding code now.

[2018-11-15 02:13] austindrenski commented on #700
## 1. The missing semicolon

@SamHuo213 wrote:

You are correct. We are indeed missing a semicolon at the end of the schema statement.

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/d014f5144602400cb35319053676c821ecc908fc/src/EFCore.PG/Migrations/NpgsqlMigrationsSqlGenerator.cs#L1072-L1078

## 2. The no-op schema change

@SamHuo213 wrote:

It appears that EF Core's [Migrati

[2018-11-15 04:59] austindrenski commented on #464
I know this was initially proposed for backwards compatibility with Npgsql 3.2, but are there still real use cases for it in the world of EF Core 2.2+?

[2018-11-15 15:06] roji commented on #464
I agree, nobody has requested or shown any interest in this... @YohDeadfall are you OK with closing this? If people request this later we can always reopen.

[2018-11-15 16:41] YohDeadfall commented on #464
Let's move forward and close the ticket.

[2018-11-15 16:44] #464 closed

[2018-11-15 16:57] roji commented on #526
Sorry this issue hasn't received any attention recently.

As far as seeding NodaTime values, this is a known issue that was blocked on the EF Core side. The good news is that EF Core 2.2 contains the necessary infrastructure, and "code literal generation" has already been merged to Npgsql for many types. Unfortunately, this hasn't yet been done for NodaTime, which presents a few more complexities

[2018-11-15 16:57] #526 closed

[2018-11-15 17:52] austindrenski commented on #44
Closing per discussion in #701.

[2018-11-15 17:52] #44 closed

[2018-11-15 18:28] khellang opened #704 "Add scaffolding support for new index features"
I punted on scaffolding support for #662 and #699. We should look into adding support for this.

[2018-11-15 19:51] #688 closed

[2018-11-15 20:11] roji commented on #704
@khellang are you interested in doing this in the very near future?

[2018-11-15 20:13] khellang commented on #704
I don't know what I can commit to, as my time is fairly limited in the near future. You guys just happened to ping me at a good time last night 😉

As I mentioned in #662, I tried looking into it, but it was fairly involved to pull the index metadata and I didn't have a database set up to do actual testing.

[2018-11-16 05:58] #697 closed

[2018-11-16 05:58] roji commented on #697
Merged, thanks @khellang!

[2018-11-16 21:05] YohDeadfall commented on #666
@alexk8 Sorry, I completely forgot about the issue.
@roji Thanks for reminding me.

There is no bug, and the numeric handler behaves as expected. The problem hides in the type specified for columns. It's `numeric(34,18)`. What does this mean? This means that PostgreSQL will convert any value to the numeric with 18 digits after the dot. Therefore, you have `0.200000000000000000` in the database ins

[2018-11-16 21:05] #666 closed

[2018-11-17 10:09] ofirgeller opened #707 "Some values of Instant? are updating the DB column to '1707-09-22 00:12:43.145225'."
I have an entity with a property of type Instant?
after getting the entity from the datebase the value of the property is correctly set to
'3000-01-01 00:00:00'

My code then sets the same value to this property as it already has and changes another property to another value.

entity.InstantProp = entity.InstantProp;
entity.IntProp = 1;

Then I mark the entity entry as modified and call save chang

[2018-11-17 14:15] roji commented on #707
Any chance you can send a code sample (preferably a short console app) that reproduces the issue?

[2018-11-17 14:52] roji commented on #704
Taking this, feel like doing some scaffolding hacking :)

[2018-11-17 15:55] #684 closed

[2018-11-17 16:01] roji commented on #651
Moving this to the backlog, @austindrenski you may be interested in this.

[2018-11-17 16:09] austindrenski commented on #651
Yes, still interested... I need to wrap up a few more issues for 2.2 first, then I'll give this a look. It may also be worth waiting for #541 to merge, since that has an effect on how array translations evaluate.

[2018-11-17 16:17] roji commented on #416
This is complete AFAIK, we're building and testing successfully against the pre-RTM 2.2.0.

[2018-11-17 16:17] #416 closed

[2018-11-17 17:11] austindrenski opened #710 "Discussion: Testing against multiple versions of PostgreSQL"
_Moved from https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/pull/709#discussion_r234414687_

@austindrenski wrote:

@roji wrote:

[2018-11-17 18:48] ofirgeller commented on #707
@ralmsdeveloper
Looks like it's not merged yet, if you ping me when you want me to test it and I will.

I'm not sure it is the same issue, in my case it's a silent wraparound of the date and that issue causes an exception. but that difference  might be up to the compiler config, I don't know.

[2018-11-17 19:55] austindrenski commented on #707
I would expect #2200 to solve this too. From the unstable My get feeds try the following packages:

- `Npgsql.4.1.0-ci.1379`
- `Npgsql.NodaTime.4.1.0-ci.1379`

[2018-11-17 22:34] #704 closed

[2018-11-17 23:56] #695 closed

[2018-11-18 15:42] roji commented on #553
Sorry for letting this go for so long.

It's a very silly Npgsql bug... After adding a new extension, we have some special code in NpgsqlDatabaseCreator to detect that and call `NpgsqlConnection.ReloadTypes()` to reload the types. However, unfortunately this code has not been updated in the async version...! Just goes to show what maintaining of two different code paths can bring.

I'll fix this f

[2018-11-18 15:47] #553 closed

[2018-11-18 15:55] roji commented on #553
Backported to 2.1.3 in 429b1fa85a2f4b5db06abbaa3611590286dd302a

[2018-11-18 21:56] roji commented on #457
@EricStG OK, thanks for the info... I don't think I mind assuming PostgreSQL 9.5+ with PostGIS 2.2.

However, if I'm understanding things correctly, we may want to always use <-> for geometry, but use it for geography only under `ORDER BY` (since it's inaccurate compared to `ST_Distance()`).

In any case I'd certainly write back to the PostGIS people to propose adding this important information to

[2018-11-19 10:18] dpsenner opened #712 "Translating linq select of a column in a foreign key table to ARRAY subselect"
Hi,

we attempt to fetch a bunch of rows from one table that references another table via n:m relation table and select one column from the related table too. So far we have found no way to make the query generator generate a select query containing an ARRAY() subselect. Ideally the generated query should look like:

[code]

when writing the following linq query:

[code]

The good thing is that cu

[2018-11-19 11:01] roji commented on #712
@dpsenner, the core parts of EF Core, which generate the general structure of queries, was built for relational databases in general, whereas arrays are pretty much a PostgreSQL-specific thing. Npgsql does support [certain array features](http://www.npgsql.org/efcore/mapping/array.html), we definitely have gone into more advanced things such as what you're proposing.

However, your "ideal" query a

[2018-11-19 11:34] dpsenner commented on #712
For our usecase the query with ARRAY() subselect per-user is more efficient than two selects. Both selects return a large set and we further have to wait for both queries to complete and also for entity framework to have joined the records in memory. This also means that with these two queries it requires us to store all users and their roles in memory while processing the request. This is unfortu

[2018-11-19 12:08] roji commented on #712
cc @ajcvickers @divega on streaming vs. buffering discussion, and also the other perf aspects.

I do get the streaming argument, although be careful not to make your application lighter by pushing complexity to PostgreSQL (by introducing subqueries) - overall performance could suffer. I'm still a little surprised that a subselect doesn't introduce a serious perf degradation in PostgreSQL, but this

[2018-11-19 12:11] roji commented on #625
@austindrenski as we don't have composiate or domain support yet, can this be closed?

[2018-11-19 13:53] austindrenski commented on #625
Yep, that's fine.

[2018-11-19 13:53] #625 closed

[2018-11-19 15:30] alexk8 commented on #666
@YohDeadfall , of course I do not insist on rethinking or anything, but I would rather like to remind the second problem, since first one was just an illustration.
 `numeric(34,18)` is only a constraint and should not impact on behaviour, storing zeros is postgres-spicific issue, no other database does this, EF is top-level abstaction, most EF-users would expect that multiplying 0.1 * 0.1 should g

[2018-11-19 15:41] dpsenner commented on #712
The performance penalty we pay with ARRAY(SELECT) is respectably low. Somewhere we have to do the roundtrips to the database, doing the roundtrip in ARRAY(SELECT) is effectively the fastest.

Note that if we had to transfer more than one column from that dependent entity role, we would have to find another solution to this problem. I have seen in another project that EF6 would in this scenario gen

[2018-11-19 15:46] roji commented on #666
@alexk8 it's worth distinguishing between two issues being conflated here.

First, if you define your database type as `numeric(34,18)`, then you are asking for all those extra zeros. This is simply the way PostgreSQL works:

[code]

EF is not supposed to hide or "fix" this behavior in any way: it is a specific non-goal of EF to hide database-specific details or make all databases look the same. F

[2018-11-19 15:58] roji commented on #712
Just to be terminologically clear, when we say database roundtrips, we're usually referring to *network* roundtrips, where Npgsql sends a query and the database responds. Embedding `ARRAY(SELECT ...)` is definitely not a roundtrip - it's just a subquery embedded in your query. Only one (network) roundtrip occurs. To further make this point clear, it's possible to send two queries in a single round

[2018-11-20 09:58] dpsenner commented on #712
Above my intention behind a database roundtrip was the operation to fetch a record from the underlying store (ignoring caching techniques etc) and returning it to the application. I did not intend this to be related to a network roundtrip. For instance, an application running a SELECT query does a roundtrip to the database over the network. A sub-SELECT within a SELECT semantically does another ro

[2018-11-20 10:15] roji opened #713 "Code literal generation for NodaTime types"
Continues on the work done in #667, but currently blocked on https://github.com/aspnet/EntityFrameworkCore/pull/13911#issuecomment-439844426.

[2018-11-20 10:16] roji commented on #667
NodaTime support is blocked by https://github.com/aspnet/EntityFrameworkCore/pull/13911#issuecomment-439844426, so separating that out to #713.

[2018-11-20 10:16] #667 closed

[2018-11-20 11:27] alrazyreturn opened #714 "Include function not working with pgsql and .net core 2.1"
I try to add countries in my address object like this

[code]

but it just loop and  and give me

[code]

kindly  note if I remove include function and return only `_context.Addresses`  it working fine without any issue ,also  I check  the database and I am sure every foreign key in address has it's primary key in country ,
kindly help

[2018-11-20 13:38] roji commented on #712
Agreed, was just trying to make sure we use the same terminology. I would be careful to assume that a subquery (or "roundtrip" in your words) has some sort of fixed costs.

In general, aside from the advantage of streaming, I still haven't seen any evidence that your approach really is better in terms of PostgreSQL performance. So I coded up a quick many-to-many model (code at the bottom), and com

[2018-11-20 14:54] dpsenner commented on #712
Quickly looking at your sample model I notice a difference. In my queries I did not specify a where operator and luckily the query planner recognized the cost of these two queries to be different. :-)  At this point I finally grasped my not-so-conscious reasoning of why I opened this issue. *laughing* Sorry for stealing your valuable time by pointing to performance issues while the actual issue is

[2018-11-20 16:07] roji commented on #712
OK, so if I understand correctly, you agree that the version with the subquery indeed performs badly (compared to the current EF Core 2-query behavior) and you wouldn't want EF Core to generate it, correct?

FYI I still don't think that a WHERE operator should have any significant impact here - the subquery-based query should perform badly as well.

First, that's a question for [the EF Core team](

[2018-11-20 16:07] #712 closed

[2018-11-20 16:18] roji commented on #714
Can you please reproduce your issue with a quick and simple console application, instead of using ASP.NET? This will allow us to isolate and understand things better.

[2018-11-20 16:43] roji commented on #712
@dpsenner thanks for linking to that... Yeah, https://github.com/aspnet/EntityFrameworkCore/issues/12098#issuecomment-391095895 explains the same thing.

[2018-11-20 16:44] dpsenner commented on #712
I would like to talk a little further about returning related records/columns of related records as ARRAY columns if you don't mind. You just mentioned that ef core would have to generate proper queries. But since ARRAY(select entity from table entity) is something npgsql specific, shouldn't that belong to the entity framework core integration of npgsql?

[2018-11-20 16:56] roji commented on #712
@dpsenner of course - we can definitely continue discussing.

Yeah, anything containing arrays is going to be specific to the Npgsql provider - although since arrays are quite special/advanced we're occasionally blocked by EF Core internals when adding support. However, as we've seen this isn't an efficient way of executing a join, so I wouldn't expect EF Core to actually generate this kind of que

[2018-11-20 16:59] dpsenner commented on #712
I'm giving my unconsciousness a chance to work on this problem. Read you soon.

[2018-11-20 17:09] roji commented on #712
Sure thing.

[2018-11-20 17:12] austindrenski commented on #714
I suspect this won't be reproducible outside of ASP.NET Core. I've seen errors like this before, usually when I've botched the scopes/disposal of services.

Before attempting to reproduce, I suggest that you take a look at your scopes and see if something is disposed before those entities are available to the client app

[2018-11-20 17:31] alrazyreturn commented on #714
could you please see this project
it's so simple I just create new core vue project and
add to it my database using this command
https://github.com/alrazyreturn/core_project

dotnet ef dbcontext scaffold "Host=localhost;Database=mad;Username=postgres;Password=aaaa"
Npgsql.EntityFrameworkCore.PostgreSQL -o Models

I just try to include counteries inside address
and I have this error
as I say if I r

[2018-11-20 18:04] austindrenski commented on #714
@alrazyreturn wrote:

You do not need to add `Npgsql.EntityFrameworkCore.PostgreSQL.Design`. That package is no longer maintained.

@alrazyreturn wrote:

it's so simple I just create new core vue project and
add to it my database using this command
https://github.com/alrazyreturn/core_project

That project is far too involved for us to evaluate. As @roji wrote, we would need a minimal reproduction

[2018-11-20 18:20] alrazyreturn commented on #714
thank you actully I got the error ,
actully if i use include function it return country and each countery return again a collection of addresses and every addrees return it's country and so on in infinite loop,
when I remove

public ICollection<Addresses> Addresses { get; set; }
from Countries Model
and remove relation ship from context file also it solve the issue,

the question is should I have

[2018-11-20 18:35] austindrenski commented on #714
You should adjust your JSON serialization settings to ignore circular references, like so:

[code]

I'm going to close this issue now, as this is not related to EF Core. Please feel free to continue posting if you have additional questions or issues related to EF Core or the Npgsql provider.

[2018-11-20 18:35] #714 closed

[2018-11-20 21:16] Rmartin01 opened #715 "Npgsql.EntityFrameworkCore.PostgreSQL & PostGIS Interface Mapping Error"
hi,

I am currently working on a project that uses Npgsql.EntityFrameworkCore.PostgreSQL and PostGIS.

When I try to update my entity (via Code First) with a new attribute of type "Point", I have the following error:
System.InvalidOperationException: 'The property' Point.Boundary 'is an interface type (' IGeometry '). If it is a navigation property manually sets the relationship for this property

[2018-11-20 23:54] alrazyreturn commented on #714
Many thanks its working fine now

[2018-11-21 16:58] felipenegrelli opened #717 "Support for specifying column SRID"
Hi,

is It possible to specify the column SRID at model creation?  (v2.2.0-preview1)

I'm using the code first approach and the POSTGIS columns created (automatically) have SRID set to 0.
I think this could be done using Migrations, but I was wonderring about annotations or Fluent API.

By the way, congrats for the awesome work!

[2018-11-21 17:38] austindrenski commented on #717
I don't think that we do currently, but it [looks like Sqlite](https://docs.microsoft.com/en-us/ef/core/modeling/spatial#sqlite) has support for this in 2.2.

We could probably do something similar too.

/cc @roji @YohDeadfall

[2018-11-21 17:59] YohDeadfall commented on #717
Makes sense.

[2018-11-21 23:20] austindrenski commented on #717
I'm actually going to take an initial pass at this. I'll open a WIP PR in a little while.

[2018-11-22 10:19] roji opened #719 "Create PostGIS columns with the proper type constraints"
We currently generate PostGIS columns with type `GEOMETRY` and `GEOGRAPHY`, when we should be looking at the NTS CLR type (`Point`, `LineString`) and generating columns such as `GEOMETRY (POINT)`.

See #717 for a similar request to constrain the SRID in the generated column.

Note: we need to think about what this implies in terms of backwards compatibility with 2.1.

Originally raised in https://

[2018-11-23 07:12] roji commented on #717
Doing this cleanly for 2.2 isn't going to be possible because of https://github.com/aspnet/EntityFrameworkCore/issues/14000. While it's possible to hack something up (i.e. pick up the model annotation in the MigrationsSqlGenerator), it should be possible to simply specify the exact store type as described [in the EF Core docs](https://docs.microsoft.com/en-us/ef/core/modeling/relational/data-types

[2018-11-23 11:49] ESandman opened #720 "Npgsql generates invalid migration code while adding new array typed column"
I'm trying to add new column of array type to existing table.
Initital entity:
[code]
Initial Configuration:
[code]
Initial migration:
[code]
After that I want to add new column of `int[]` type, so modified entity:
[code]
Modified Configuration:
[code]
And then I'm adding migration which generate such code:
[code]
Which leads to an error `error CS0826: No best type found for implicitly-typed array

[2018-11-24 14:30] roji commented on #720
This is an EF Core issue - opened https://github.com/aspnet/EntityFrameworkCore/issues/14006.

In the meantime, as a workaround, you can fix the generated code manually.

[2018-11-24 14:30] #720 closed

[2018-11-24 14:48] roji commented on #715
How exactly are you updating your database, are you applying migrations with `dotnet ef`? Any chance you can put together a simple console app reproducing the problem?

[2018-11-24 17:04] Rmartin01 commented on #715
At first, go the error if I try to create the field from code first using the command "dotnet ef add migration".
However, if I decide to create the field from the database and run the application, the same error occurs at runtime after "OnConfiguring" event.

[2018-11-25 19:34] Sally-Xu opened #722 "Getting "Column is Null" error when "Include" child records in Linq query"
I'm getting  "Column is Null" error when I try to use "Include" in Linq query:

var query = dbContext.Accounts.Include(a => a.Contacts).Where(a => a.Name = XXX);

var list = query.ToList();  // this line will throw the following "Column is NULL" error:

Contacts is a Navigation Property of Account:

public virtual ICollection<Contact> Contacts {get;set;}

System.InvalidCastException
  HResult=0x80

[2018-11-25 19:50] roji commented on #722
Can you please post the relevant parts of your model?

[2018-11-25 22:30] Sally-Xu commented on #722
I've figured out the problem. It happens when a field is Tagged with [Required] in the model, but is set Nullable in the database.

Our model was written on an existing DB, so we has some mismatches.  Thanks for your attention. Now you can close this issue.

[2018-11-25 22:56] #722 closed

[2018-11-27 11:54] jornvl90 opened #723 "Linq on DbSet throws missing method"
Using linq operations .single() and .where() seem to fail :
[code]

Version:
Npgsql.EntityFrameworkCore.PostgreSQL Version="2.2.0-preview1"

[code]

csproj
[code]

[2018-11-27 12:59] austindrenski commented on #723
This definitely shouldn't be happening. Can you please provide us with a complete minimal reproduction of this issue, preferably in the form of a GitHub repository that we can clone and test locally?

[2018-11-27 14:56] austindrenski commented on #723
Please remove the reference to EF Core and let us know if that resolves it.

The Npgsql provider implicitly includes the appropriate EF Core reference, and while you can normally mix and match patch releases (e.g. using EF Core 2.1.4 with our 2.1.1), that doesn't work for the preview versions since so much is in flux.

[2018-11-27 18:03] jornvl90 commented on #723
It solves the missing method problem but introduces another problem.

In the following lines:
[code]
The line `contextBlog = db.Set<Blog>().Find(blog.Id); //OK` finds the blog. But the last two lines, with linq, DO NOT find the blog.

If I save the context before querying again, the last two lines DO find the blog:

[code]
I assume the context should be queried first, if not found then open a conn

[2018-11-27 18:36] jornvl90 commented on #723
It seems to be an EF decision indeed (https://stackoverflow.com/questions/699648/entity-framework-re-finding-objects-recently-added-to-context)
But feels weird that .Find(id) does return the unsaved object and the others do not..

[2018-11-27 18:46] austindrenski commented on #723
Great to hear, thanks for linking to that answer.

I'm going to close this since the initial issue is resolved. But feel free to continue posting if you have other questions or issues related to using the PostgreSQL provider.

[2018-11-27 18:46] #723 closed

[2018-11-28 10:46] roji commented on #22
Am punting this for 3.0. This feature is quite big/complex, and we're pretty close to shipping 2.2. There's also an interaction with the possible work to allow mapping composites to value tuples (not yet done at the ADO level, https://github.com/npgsql/npgsql/issues/2097). Finally, some EF Core 3.0 work may impact this support as well.

[2018-11-29 10:54] schmitch opened #727 "Support PostgreSQL-specific aggregate functions (7.0)"
Hello, I'm not sure if it is possible, but it would be great if Npgsql would support more Aggregate Functions, especially when using Group By queries.

Currently only a few of the list at: https://www.postgresql.org/docs/current/functions-aggregate.html are support.
However it would be good if others like `bool_and` or `bool_or` will be supported.

I'm not sure if it is even possible since I didn'

[2018-11-29 17:08] roji commented on #727
We haven't yet looked into supporting PostgreSQL-specific aggregate functions - hopefully the EF Core infrastructure makes that possible. Let's examine this for 3.0.

[2018-11-29 18:30] austindrenski commented on #727
Definitely interested in these along with #532. I believe it's currently feasible, but was nontrivial when I scoped it a few months ago.

[2018-11-30 10:12] #719 closed

[2018-12-01 20:15] Giorgi commented on #436
I am not sure about EF Core but in EF6 there is a way to translate Enumerable.Contains to sql in expression by returning true from `SupportsInExpression`. Check this link for more details: [Native support for Enumerable.Contains](https://docs.microsoft.com/en-us/ef/ef6/fundamentals/providers/provider-model#native-support-for-enumerablecontains)

[2018-12-02 08:00] roji opened #730 "Consider redoing extensions, enums, ranges via ModelDiffer"
Our current support of PostgreSQL-specific database objects (extensions, enums, ranges, soon hopefully composites) is currently done purely via annotations - objects are represented as metadata on the model, which are then flowed into migrations via annotations on AlterDatabaseOperation. This is unlike EF Core's support for sequences, for example, which has metadata annotations (like us) but then

[2018-12-04 12:41] westfin opened #731 "How correctly create Expression for call List<T>.Contains in Where clause"
Example:

[code]

For this I get a warning that this query will be evaluted localy.
What solution for queries like that?
How correctly create Expression for Where clause?

[2018-12-04 13:00] westfin commented on #731
[code]

[2018-12-04 13:51] austindrenski commented on #731
This is in progress with #541. Since EF Core 2.2 is here, #541 will have to wait for 3.0.

There's a chance that a few basic translations for `List<T>` might make it into 2.2. If so, I'll post back here with the details.

[2018-12-04 14:19] westfin commented on #731
Thank you.
And how about string.Contains?

[2018-12-04 15:21] austindrenski commented on #731
`string.Contains` is already supported.

[2018-12-05 12:41] roji commented on #730
Just a thought I had about this... Detecting changes in the ModelDiffer does not necessarily mean that we have to custom migrations for them. One of the previous main objections in https://github.com/aspnet/EntityFrameworkCore/issues/6524 was that custom migration operations would require generating code for them, in C# and potentially other languages, and that would become complicated.

However,

[2018-12-05 13:33] roji commented on #667
Done in 0deb6a23a1eb2c51ed74aa10a8997e1f2885e18e

[2018-12-05 20:32] austindrenski commented on #623
FYI starting to look into this now.

## Notes

- This looks similar to #651. The [triage](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/651#issuecomment-423808808) for that issue notes that it could be reproduced without an owned entity using just a one-to-one relationship.
   - [ ] Test whether or not this can be reproduced with a simple one-to-one relationship.

[2018-12-05 20:56] austindrenski commented on #623
Actually, I can't reproduce this in the test suite. The 2.2 release notes do reference changes to owned type behavior, so it's possible that this was simply resolved upstream.

@YohDeadfall Here's the setup I used to try and reproduce this. Does the configuration look right? Are you still able to reproduce this locally?

[code]

[code]

[code]

_Note that I tested this in a branch following #685,

[2018-12-05 21:49] austindrenski commented on #651
I am unable to reproduce this with the test suite for `dev` (4441b26c54b0aaba0db2557d210212f48a31f3fc). So it looks like this will work as expected in `v2.2`.

Next I'll attempt to reproduce it with the test suite for `hotfix/2.1.3` (cbbd243018f377083032e0111150950e06628498).

@roji Any ideas on what changed here?

[code]

[code]

[code]

[2018-12-05 23:46] austindrenski commented on #651
Debugging in `hotfix/2.1.3` shows that the issue is due to the navigation property being wrapped in a `NullConditionalExpression`, causing `MemberAccessBindingExpressionVisitor.GetPropertyPath(...)` to return no properties (i.e. `properties.Count == 0`).

___

![image](https://user-images.githubusercontent.com/21338699/49550488-cacef880-f8b9-11e8-96be-acfa53942a6f.png)

___

We could simply unwrap

[2018-12-06 08:31] tonykaralis opened #733 "Hiding Connection string when running scaffold"
Hi,

I am developing an asp.net core app that will communicate with a postgres sql database. Am using Ef core.
Will be dockerizing the asp.net app and pushing the docker image to docker hub. We don't want to push that image with the database connection string.

I am aware that a warning is placed where the connection string lies once the context has been scaffold-ed and I am aware that we can just

[2018-12-06 10:06] roji commented on #733
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/10432.

[2018-12-06 10:07] roji commented on #733
Note that this issue has nothing to do with the Npgsql provider specifically - it's a general EF Core question which belongs in https://github.com/aspnet/EntityFrameworkCore/ (although it's true it's sometimes hard for users to know where each component's responsibility ends etc).

[2018-12-06 10:07] #733 closed

[2018-12-06 10:11] roji commented on #651
@austindrenski thanks for deep-diving into this and for the good analysis!

I agree with everything you're seeing... If the bug no longer exists in 2.2 (which is about to be released), I don't see any reason to introduce a risky fix in a 2.1 patch release... Our answer here should probably be to just upgrade to 2.2.

From my side feel free to close this issue, unless you have other thoughts...

[2018-12-06 12:10] austindrenski commented on #651
Sounds good to me, closing for now.

[2018-12-06 12:10] #651 closed

[2018-12-06 17:45] YohDeadfall commented on #623
We have moved out from EF for the current project (: Will check it when I have half an hour to spare.

[2018-12-06 18:10] roji commented on #623
@YohDeadfall hope it's nothing bad with EF :) Do you want to continue being active and reviewing EF stuff or only Npgsql?

[2018-12-06 18:19] YohDeadfall commented on #623
It's very limited for our goals and too slow in comparison with pure Npgsql and SQL, but we will continue to use it for migrations only which are written in plain SQL (: Yes, I want to work on EF too, but currently I'm busy with the presentation I mentioned in person. It covers npgsql/npgsql#2180.

[2018-12-06 18:31] roji commented on #623
OK, great - we can also use your work to write that page on migrating from MSSQL. Good luck with the presentation!

[2018-12-06 21:08] austindrenski opened #736 "Consider modifying enum/range/extension annotation style"
See https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/pull/685#pullrequestreview-182397265

/cc @roji @AndriySvyryd

[2018-12-06 23:33] austindrenski commented on #717
Note consider [dimensionality restrictions](https://postgis.net/docs/using_postgis_dbmanagement.html#Geography_Basics).

[2018-12-07 12:51] roji commented on #717
Similar to #738, on reexamination I'm not sure this really makes sense. Users can explicitly specify the column's store type, including both a type constraint (point vs. linestring) and an SRID. We should consider closing this...

[2018-12-07 13:50] roji commented on #719
Reverted via #738.

[2018-12-07 14:03] austindrenski commented on #717
At this point, I think closing makes sense. If anything changes between now and 3.0, we can always reopen and reconsider at that time.

[2018-12-07 14:40] #717 closed

[2018-12-08 20:03] stefanjm opened #739 "Switching to Npgsql from SQL Server and using ForNpgsqlUseIdentityColumns() does not generate Identities"
Using **.Net Core 2.2.0** and **Npgsql 2.2.0** .
_updated to 2.2_

I started with using the SQL Server for EF Core. Then switched over to Npgsql and noticed that the primary keys are not being assigned as IDENTITY even after adding `ForNpgsqlUseIdentityColumns()`. When doing `Add-Migration` the generated Designer class does show the primary keys being assigned with `ValueGeneratedOnAdd()`. But aft

[2018-12-08 20:10] austindrenski commented on #739
@stefanjm Could you attempt to reproduce this with .NET Core and EF Core 2.2?

[2018-12-08 20:21] stefanjm commented on #739
Okay, I updated everything to 2.2 and the issue still persists. `Script-Migration` generated script does not use Identity.

[2018-12-08 22:03] austindrenski commented on #739
@stefanjm It looks like you're attempting to apply an update that moves from a migration generated for SQL Server to one generated for PostgreSQL.

For example, [this](https://github.com/stefanjm/npgsql-bug-identity-columns/blob/master/NpgsqlBug/Migrations/20181208181245_npgsql%20identity%20onmodelcreating%20override.cs#L9) migration is empty, because nothing in your `DbContext` changed.

So the P

[2018-12-08 22:18] stefanjm commented on #739
Okay, I removed all migrations and started from the ground up with Npgsql, it works like that.
So we **can't** migrate between providers as of now. This isn't a bug then. I thought it was possible but I was wrong :).

Also the designer classes are not used for the migration in any way then? Since the changes are inflicted in there, but not in the migration script itself.

[2018-12-08 22:38] austindrenski commented on #739
It depends. I believe the default for _script generation_ is to create a complete script, though I think you should be able to supply some additional arguments that control the "from" and "to" of the migrations.

Glad to hear it's working for you. I'll go ahead and close this for now, but feel free to continue posting if you have further questions on this matter.

@roji may also have more informat

[2018-12-08 22:38] #739 closed

[2018-12-10 04:44] hsbcomfort opened #741 "Question of database field and table name quotation marks"
Are there any attributes that you can set database fields and table names without quotation marks, and do not need to be case-sensitive?

[2018-12-10 10:38] roji commented on #741
PostgreSQL folds all identifiers (table and column names) to lowercase, so in that sense unquoted identifiers are case-insensitive (so `TableName` and `tablename` are the same).

For field *contents* (e.g. `text`), no - PostgreSQL always performs case-sensitive comparisons. You can use [the `citext` extension](https://www.postgresql.org/docs/current/citext.html) as a replacement for `text` - it wi

[2018-12-10 10:38] #741 closed

[2018-12-10 16:18] austindrenski commented on #730
I'm starting to look into this today. It has some potential overlap with #736, but I think it makes sense to start here since may require upstream refactoring (e.g. changing the namespace on
 `MigrationsModelDiffer`), so probably best to identify those changes sooner rather than later.

[2018-12-10 16:19] roji commented on #730
OK. I'd recommend not going too far into this without showing an approach we can discuss, to make sure we all agree on where we're going etc.

[2018-12-10 16:21] austindrenski commented on #730
Sounds good, I'll open a PR once I have something basic put together.

[2018-12-10 16:30] roji opened #743 "Stop generating useless parentheses with recent PostgreSQL versions"
We have [a hack in our `NpgsqlQuerySqlGenerator`](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/8e97e4195b197ae3d16763704352acfffa95c73f/src/EFCore.PG/Query/Sql/Internal/NpgsqlQuerySqlGenerator.cs#L151), where we generate some extra parentheses due to some problematic operator precedence in pre-9.5 versions of PostgreSQL. Now that we have a backwards compatibility infrastruc

[2018-12-10 17:38] Favorablestream opened #745 "Database first scaffold doesn't generate StringLength attribute for char fields"
Hi there,

I'm generating my EF Core model from a Postgres database and I noticed that varchar fields receive the StringLength attribute but char(...) fields don't. Is there a way to configure this so that they receive the StringLength attribute as well? I'm using the attributes for validation in my REST API so having the attribute generated would be helpful to prevent invalid values throwing an e

[2018-12-10 19:46] Favorablestream commented on #745
I'm using EF Core only, sorry for the confusion.

[2018-12-11 00:58] ajcvickers commented on #745
@roji See https://github.com/aspnet/EntityFrameworkCore/issues/9579 In 2.2, I believe this should be working, so if it's not there may be some mismatch between EF and the provider, or it may not be working completely for other providers.

/cc @smitpatel

[2018-12-11 01:50] smitpatel commented on #745
I would mark this as duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/9580

In the meantime, if Postgre is able to construct the type without requiring ColumnType attribute, (i.e. inferable based on facets), then it should work in 2.2 also.

[2018-12-11 03:24] yes7rose opened #746 "HasDefaultValueSql has no effect after update to .netcore 2.2"
use HasDefaultValueSql("transaction_timestamp()") to add timestamp

[2018-12-11 06:01] lust4life opened #747 "Allow per-connection, non-global plugin usage"
through this https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/568#issuecomment-412329701 and https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/648#issuecomment-423617436 , seems right now, `the BCL date/time types are not supported when the NodaTime plugin is configured.`,  and from this `Long story short, when you set up the ADO NodaTime plugin, it "hija

[2018-12-11 16:31] roji commented on #746
Can you please submit a more complete code sample with a description of what doesn't work as expected?

[2018-12-11 21:14] austindrenski opened #748 "Plugins per-context (meta-issue)"
This is a meta-issue to track a number of challenges related to using plugins on a per-context basis.

## Plugin registration overridden with multiple contexts (#654)

Per https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/654#issuecomment-425555810:

Can we scope plugin registration by type of `DbContext` to avoid interfering with context-specific configurations?

## Can't mix

[2018-12-12 04:12] lust4life commented on #747
@austindrenski   reformat the code snippet and add some comments . the idea here is to avoid register type mapper on global level.

[2018-12-12 05:36] yes7rose commented on #746
The Model:
public abstract class BaseEntity : IBaseEntity
    {
        [Key]
        public Guid Id { get; set; }

        // [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
        // public Guid Uuid { get; set; }

        public Guid CreatorId { get; set; }

        // [Column(TypeName="timestamp with time zone")]
        public DateTime CreationTime { get; set; }

        public Guid Mo

[2018-12-12 05:41] yes7rose commented on #746
I decided generate all the value from the client side, but some default value should be more convenient for adding new entity.

[2018-12-12 07:33] roji commented on #746
See below for a working code sample with version 2.2.0 of the provider. Executing this program creates a database where the `CreationTime` column does have `transaction_timestamp()` as its default in the database. Please post an actual repro of what's not working for you.

[code]

[2018-12-12 07:37] roji commented on #746
See below for a working code sample with version 2.2.0 of the provider. Executing this program creates a database where the `CreationTime` column does have `transaction_timestamp()` as its default in the database. Please post an actual repro of what's not working for you.

[code]

[2018-12-12 08:51] YohDeadfall commented on #623
Looks like I've omitted some part that triggers the problem or most likely had an issue in application... Closing as I can't reproduce it too. Thanks for taking a look!

[2018-12-12 08:51] #623 closed

[2018-12-12 09:34] roji commented on #745
@smitpatel @ajcvickers I checked and this seems a bit more complicated...

The provider currently has two separate mappings for char (fixed-length) and varchar (not fixed-length). Currently there's a bug where char's type mapping does not specify `fixedLength=true` in its RelationalTypeMappingParameters. If I understand everything correctly, this is why the store type is set by the scaffolder (`[C

[2018-12-12 13:23] faryu opened #752 "InvalidOperationException: Collection was modified; enumeration operation may not execute."
Hi,

I'm using Npgsql.EntityFrameworkCore.PostgreSQL version 2.1.2 and noticed an error 3 times so far over the past few weeks. It should be a timing / multithreading issue during the initialization of multiple `DbContext` instances for the same Database / Model at the same time.

I'm unable to reproduce it, but it does occure from time to time during the startup period of my application. Haven't

[2018-12-12 15:34] yes7rose commented on #746
I make the BaseEntity as abstract for inheritance,  but it seems it not working for the fields that having inherited.  I have tried implementing common fields in every model,  it is working.
Do I have not to use the abstract class for inheritance?

[2018-12-12 15:47] yes7rose opened #754 "Can not add [Timestamp] annotation"
[Timestamp]
 // [Column(TypeName="timestamp with time zone")]
  public DateTime ModifiedTime { get; set; }

When dbcontext saving changes, it blames violate the Not Null Value Constrain error

[2018-12-12 15:48] #754 closed

[2018-12-12 16:19] austindrenski commented on #752
@faryu Does your startup procedure involve multiple threads initializing multiple `DbContext` instances at the same time _during app start up_?

It's hard to say exactly what would trigger this stack trace without a sample app though. Would you be able to put together a minimal reproduction in a console app that we could clone and inspect locally?

[2018-12-12 16:21] smitpatel commented on #745
@roji - Since fixed length does not have corresponding data annotation, it is always scaffolded via Fluent API. For above code, scaffolder should output `IsFixedLength` for `chars` property in OnModelCreating. If you are not seeing it then it may be bug (though looking at the code, it should be present)

[2018-12-13 10:49] roji commented on #745
@smitpatel I dove into it a little and I think there's an issue on the EF Core side...

In [ScaffoldingTypeMapper](https://github.com/aspnet/EntityFrameworkCore/blob/8e7402701ea1416b7fe55e1863ae65b3147c02c7/src/EFCore.Design/Scaffolding/Internal/ScaffoldingTypeMapper.cs#L117-L125), there's a section that tries to find out whether fixedLength=true is the default, inferred setting - if it is there's

[2018-12-13 11:06] roji commented on #746
@yes7rose can you please post a complete code sample that shows the issue? Your first code sample above has lots of comments and it is unclear what exactly you're trying to do and what's not working...

[2018-12-13 11:50] roji commented on #747
There have been enough complaints about this kind of thing that we probably need to address this.

It's probably pretty easy to change from doing global type mapping at the ADO level to simply setting up the plugin on each connection. This would involve changing NpgsqlRelationalConnection to be aware of the plugins and applying them at each open.

However, we should make sure the per-connection ty

[2018-12-13 13:46] austindrenski commented on #748
Perhaps I've misunderstood, but in #654 I believe the problem is that configuring a second `DbContext` without a plugin (after the first context does register a plugin) caused the first context's plugin to be unregistered.

The overriding of the configuration delegate sounded like an EF Core configuration issue, but are you saying that this is also related to the ADO.NET layer?

[2018-12-13 14:08] roji commented on #748
Sorry, I may have conflated #654 with #747 (and other similar issues). I'm not sure exactly what's going on in #654.

My mental model of EF Core is that each DbContext *type* has its own service set, and so at the EF Core level nothing is supposed to leak from context to context... Have you been able to reproduce this issue at the pure EF Core level (i.e. not ADO)

[2018-12-13 15:20] NinoFloris commented on #518
Zero change

[code]

[2018-12-13 20:07] ajcvickers commented on #748
@roji It's not quite like that. Typically, an application will have one service provider even for multiple types of context. That is, using a different context type does not in of itself result in a new service provider.

However, each context instance also creates a D.I. scope. This means each context instance (and hence also each context type) has its own set of scoped services. But will use the

[2018-12-13 20:34] AndriySvyryd commented on #518
@NinoFloris As a workaround you could set a value generator:
[code]

[2018-12-13 20:47] austindrenski commented on #748
@roji wrote:

I saw something similar in the wild a few months back, but didn't have time to isolate it. I'll put together an isolated repro in the next few days.

Here's the singleton I had in mind with respect to configuration delegates being overwritten:

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/73a73445f3a481d23f3fe8d0aba46a267a5df0b6/src/EFCore.PG/Infrastructure/In

[2018-12-13 20:48] etiennemtl opened #757 "Can't cast database type timestamp to DateTime"
Using version 2.2.0 of Npgsql.EntityFrameworkCore.PostgreSQL and 2.2.0 of Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime. With the following AspnetCore Startup Services Configuration:
[code]

[2018-12-13 20:53] austindrenski commented on #757
Are you trying to use both NodaTime types and BCL types (e.g. `DateTime`) in the same `DbContext`?

[2018-12-13 20:59] etiennemtl commented on #757
Actually I have three `DbContext`. The `AccountsContext` which uses only NodaTime types and another the other ones are IdentityServerContext using only BCL types. The complete configuration looks like:

[code]

[2018-12-13 21:17] austindrenski commented on #757
This is a known issue that we're trying to solve for `v3.0`. You can follow the meta-issue #748 for updates.

[2018-12-13 21:22] roji commented on #748
@ajcvickers thanks for correcting me on this, seems like my mental model of this want write right... I'll try to investigate and understand more this weekend. @austindrenski any repro here would be great...

[2018-12-13 22:03] ajcvickers commented on #748
@roji The mental model isn't that simple, so no worries. You have a better understanding that most. :-)

[2018-12-14 14:52] Sigvaard opened #759 "HasData seeding causes Add to fail with PostgresException: 23505 on calling SaveChanges"
**Npgsql.EntityFrameworkCore.PostgreSQL version:** 2.2.0-preview1

`HasData` seeding causes `Add` to fail when calling `SaveChangesAsync`.

Example:

[code]

Now when you want to add new `Item`, this code won't work and will cause ` PostgresException: 23505`:

[code]
Note that this code will work fine if we won't use `HasData`.

What you have to do instead, you have to set Id explicitly to 0:

[co

[2018-12-14 15:05] Sigvaard commented on #573
@roji 	so what's the current fix? Always explicitly set Id to 0 or negative value?

[2018-12-14 15:51] roji commented on #573
@Sigvaard that's right - seed with negative values to make sure seeded values don't collide with values later generate from the identity sequence.

[2018-12-14 15:53] roji commented on #759
Duplicate of #367.

[2018-12-14 15:54] roji commented on #759
Always seed with negative values to make sure seeded values don't collide with values later generate from the identity sequence.

[2018-12-14 15:54] #759 closed

[2018-12-14 15:55] roji commented on #759
Duplicate of #367

[2018-12-14 18:21] Sigvaard commented on #573
@roji is this documented somewhere with example?

[2018-12-14 21:49] #743 closed

[2018-12-15 00:04] austindrenski commented on #654
Reproduced in [austindrenski/EFCore.PG-654](https://github.com/austindrenski/EFCore.PG-654).

[code]

/cc @roji

[2018-12-15 00:10] austindrenski commented on #654
I have not been able to reproduce this with EF Core 2.2.

@faryu Could you upgrade your project to EF Core 2.2 and try this _without_ the workaround you mentioned above?

[2018-12-16 13:32] NinoFloris commented on #518
@AndriySvyryd thanks for the suggestion.

Changing your suggestion to match the correct semantics like so:

[code]

actually returns the following error:

[code]

[2018-12-17 01:58] #746 closed

[2018-12-17 05:35] StrangeWill opened #761 "Generated Columns Not Compatible with PSQL 9.x"
Getting an error on generating some Identity Framework tables:

[code]

As far as I can tell, the `GENERATED` keyword isn't valid on Postgres 9.x, that's a thing in 10.x. I'd just upgrade but Google Cloud SQL only supports 9.6....

[2018-12-17 06:03] austindrenski commented on #761
Duplicate of #681.

By default, the provider assumes that the backend is running the latest version of PostgreSQL. To opt out, you must explicitly configure the provider to use a specific version:

[code]

Please give that a try and let us know if that works for you.

[2018-12-17 06:04] #761 closed

[2018-12-17 06:45] StrangeWill commented on #761
Changed my context to say:
[code]

Same error on startup as above.

As far as I can tell here:
https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/cae91f3dad95638ae2078fc35ffdfa793e7210cc/src/EFCore.PG/Migrations/NpgsqlMigrationsSqlGenerator.cs#L365

All instances of `GENERATED` don't seem to be different if the version is <= 10, I only see one spot where sequences are handled a l

[2018-12-17 07:47] roji commented on #761
You seem to be activating the [IDENTITY columns feature](http://www.npgsql.org/efcore/value-generation.html#serial-and-identity-columns), which was only introduced in PostgreSQL 10. Remove `ForNpgsqlUseIdentityColumns()` from your model or upgrade to a newer version of PostgreSQL.

If the problem still persists, please post your model definition (especially you're `OnModelCreating()`).

[2018-12-17 07:49] roji commented on #761
@austindrenski we may want to add validation for usingidentity columns at the same time as `SetPostgresVersion()` with a version lower than 10.0, and throw...

[2018-12-17 07:55] StrangeWill commented on #761
Well this is `TRoleClaim` from `Microsoft.AspNetCore.Identity.EntityFrameworkCore`, as far as I can tell it's just using the default behavior of `b.HasKey(rc => rc.Id);` here: https://github.com/aspnet/Identity/blob/master/src/EF/IdentityDbContext.cs#L144.

Outside of that we haven't touched the model definition (the parts of identity we did touch we moved the primary keys to GUIDs and are generat

[2018-12-17 10:54] roji commented on #761
Hmm, that is strange - all IDENTITY column creation is supposed to be strictly opt-in via special, npgsql-specific directives in `OnModelCreating()`, can you please double check that these don't exist anywhere?

[2018-12-17 12:49] StrangeWill commented on #761
Shoot, you're right -- `ForNpgsqlUseIdentityColumns` is defined on the DbContext, I was expecting that to be a per-entity definition which I was like "I'm not defining anything on the entity, it's the default Identity configuration!"

Removed, all should be fine now.

[2018-12-17 12:57] StrangeWill commented on #761
After dropping that and rebuilding my initial migration (running it with the old migration still caused the same error) it all seems good.

Thanks!

[2018-12-17 15:09] austindrenski commented on #761
@roji wrote:

Oh, I assumed we already had something like that in place. I'll take a look at implementing that now.

@StrangeWill wrote:

It's no trouble, we're glad to hear it's working for you now.

[2018-12-17 17:55] roji commented on #573
@Sigvaard as you correctly noted, this is more of a PostgreSQL question than an Npgsql question - PostgreSQL simply doesn't automatically update sequences when you manually insert into columns managed by them.

I personally think that the negative values workaround is good - there's really no concrete disadvantage unless you consider something wrong esthetically with negative IDs.

In theory, when

[2018-12-17 20:30] AndriySvyryd commented on #518
@NinoFloris I see, sorry that it's still not working. We'll try to fix the underlying issue in 2.2.2

[2018-12-17 23:22] austindrenski commented on #573
I agree, it would be more intuitive if negative values were not required.

Could we use this for initial migrations? The idea being that if we detect that a migration is being generated from something like `context.Database.EnsureCreated()`, we use the transacted version (since we can count the seeded values), otherwise we fallback to the `setval()` version?

[2018-12-18 04:54] YohDeadfall commented on #573
Agreed with @austindrenski. If you display a negative id somewhere, it should be without a minus sign which could be done using some dirty magic.

[2018-12-18 13:24] faryu opened #765 "Breaking change in 2.2: Column is null"
I just upgraded my projects from ASP.NET Core 2.1 to version 2.2, including all other packages, with one being the Npgsql.EntityFrameworkCore.PostgreSQL package.
After I did the upgrade I received an error while running my application.
The error was: InvalidCastException: Column is null.

In order to locate the issue I tried to add a new migration. Since I didn't change the DbContext I expected it

[2018-12-18 15:12] austindrenski commented on #765
@faryu I attempted to reproduce this in [austindrenski/EFCore.PG-765](https://github.com/austindrenski/EFCore.PG-765), but was unable to do so.

Could you please link to a repository that provides a complete (minimal) reproduction of this issue?

[2018-12-19 12:14] faryu commented on #765
So far I didn't manage to reproduce the issue in a sample project.
Since it isn't a big issue we could leave it as it is for now and wait to see if others also face this issue.

[2018-12-19 13:29] #765 closed, assigned to nobody

[2018-12-19 21:01] austindrenski commented on #745
Closing per aspnet/EntityFrameworkCore#14160.

[2018-12-19 21:01] #745 closed

[2018-12-19 21:10] roji commented on #573
Although this is possible, what would be the value of using `ALTER SEQUENCE` only in the case of initial migrations, and `setval()` otherwise? I think it's preferably to choose one technique and stick with it rather than having two, and then we open the door to behavioral changes between an initial migration and a subsequent one...

I also don't really see a difference between an initial migration

[2018-12-19 21:47] austindrenski commented on #573
Perhaps I need to take a closer look at the relevant source... My thought process was this: _if the transactability is desirable, use the version that respects the transaction where possible_.

But that might not actually make much sense in this context. If so, disregard.

[2018-12-19 22:36] roji commented on #573
I think that transactability is indeed desirable for all migrations - initial or subsequent. However, in this very specific case it *may* be OK to not roll back the sequence, since it could only have been *increased*, so no harm was done - at worst there will be a gap in the sequence values.

But we definitely need to think about this some more, and remember that there's a well-working workaround

[2018-12-20 15:05] myshon opened #768 "Mapping arrays for properties (IReadOnlyCollection) with backing fields"
Mapping arrays feature is really cool https://www.npgsql.org/efcore/mapping/array.html
However when I work with DDD I would like to expose collections as readonly using `IEnumerable` or `IReadOnlyCollection`

[code]

and then, when I use LINQ on entity with backing field

```.Where(c => c.Attributes.Contains(id))```

it will generate in memory query instead of SQL query

```WHERE "guid" = ANY("c".

[2018-12-20 16:11] austindrenski commented on #768
This is an interesting idea that is unfortunately unsupported at this time.

The challenge is that the interface does not have an associated mapping handler, which triggers an exception upon model creation.

It _almost_ seems plausible via backing fields, but that will still trigger the exception:

[code]

I'll leave this issue open for now, as @roji may have some insight on workarounds.

[2018-12-20 17:03] YohDeadfall commented on #768
As I know `IEnumerable<T>` support was removed from the driver.

The reason of why there is no handler for interfaces is that not every iterator can be iterated twice. Some of them are immutable and always return the same values, some of them throws an `InvalidOperationException`, etc.

To workaround it you can implement your own type handler for the driver and probably add translator to the EF pr

[2018-12-20 19:01] roji commented on #768
What you're looking for should be possible by mapping a private array field, and then defining a property which exposes it - but with EF Core totally ignoring it. This way EF Core only deals with your field, which is of the correct type, but your application accesses it only via the public property, which casts it to whatever you need. @austindrenski I think that your example doesn't work because

[2018-12-20 19:01] #768 closed

[2018-12-20 19:12] austindrenski commented on #768
I tried a variation of that, but it also triggered the exception. That said, I put that sample together pretty quickly, so it's entirely possible that I just botched the configuration.

@myshon Let us know if you get the backing field version to work. It would be great to have an example in the docs of how to accomplish this.

[2018-12-20 19:53] roji commented on #768
Hmm, EF Core only knows about the private array field, I don't see any reason for any exception to occur... Note that if the property has a public getter/setter pair, you'd need to explicitly tell EF Core to ignore it, otherwise it'll again try to map it and throw.

[2018-12-20 20:01] austindrenski commented on #768
It looked something like this:

[code]
[code]

Perhaps that property reference in the fluent config should have been omitted?

[2018-12-20 20:58] roji commented on #768
Yeah, that's what I meant - check out [the docs on mapping fields without properties](https://docs.microsoft.com/en-us/ef/core/modeling/backing-field#fields-without-a-property). The point is that EF Core doesn't need to map - or even know - the property in question, it's just a user-facing wrapper over the private field, which provides casting.

[2018-12-20 21:48] mexahuk61 commented on #424
Hi @roji! I have the same problem. I recorded a video for you:
https://youtu.be/pgNXU-bsyqs

[2018-12-21 07:32] YohDeadfall commented on #768
Checked that the new ordered dictionary class implements `IList<T>`. So other ordered collections should implement it as well, and there is no reason to support collection interfaces. But `ArrayHandler` lacks support of read only lists.

[2018-12-21 12:15] mexahuk61 opened #769 "Code literal generation exception for NodaTime types on not-initial migration"
I get and error when try to create a new migration with of NodaTime. **But it works perfect while I create Initial migration with NodaTime type.**

[code]

Example code:
[code]

Also I recorded a video for you: https://youtu.be/pgNXU-bsyqs

Package version: 2.2.0
net core: 2.2
Operating system: MacOS 10.13.3

[2018-12-21 17:45] roji commented on #752
Look at the code, this seems to be possible only if a global ADO-level enum mapping is added (`NpgsqlConnection.GlobalTypeMapper.MapEnum<Mood>()`) at the same time as an EF Core NpgsqlTypeMappingSource is initializing, and traversing that list.

This could happen, for example, if you have two different EF context classes, with one mapping an enum, and if your program initializes both at the same t

[2018-12-21 22:54] knyzorg opened #770 "Problems switching from SQL Server"
I assumed that to switch away from SQL server to Postgres, I simply needed to switch from

[code]

to

[code]

Instead, I'm getting the following error:

[code]

which gets thrown on the DbContext super constructor.

[2018-12-22 00:00] austindrenski commented on #770
Can you post your `.csproj`?

[2018-12-24 18:14] knyzorg commented on #770
@austindrenski here:

[code]

[2018-12-25 00:06] roji commented on #770
You're using Microsoft.EntityFramework 3.0.0-preview.18572.1 with Npgsql.EntityFrameworkCore.PostgreSQL 2.2.0 - they are not compatible.

Please make sure all EF Core packages use the same version (2.2.0).

[2018-12-25 00:06] #770 closed

[2018-12-26 11:48] diegomgarcia commented on #681
Hi guys I've upgraded and this stills doesn't work fully as expected, I'm using diferente contexts with different schemas, só as I've noted when generating on a different schema it doesn't put the schema on the OWNED BY part of the SQL giving the follow error when trying to update:

[code]

[2018-12-27 03:31] diegomgarcia opened #772 "Issues when altering a column to serial with non-default schema"
Hi guys I've seen the #681 and this error still occurs when using diferente schemas.

I'm using different contexts with different schemas, só as I've noted when generating on a different schema it doesn't put the schema on the OWNED BY part of the SQL giving the follow error when trying to update:

[code]

[2018-12-27 03:34] austindrenski commented on #772
Can you post some configuration code?

[2018-12-27 03:53] diegomgarcia commented on #772
Sure, here it is:
This is from the startup ConfigureServices:

[code]

And this is from my EntityContext OnModelCreating:

[code]

[2018-12-27 16:11] sstillen opened #773 "InvalidOperationException when there is an array on an entity"
In the database I have a column called "Names" which has a type character varying[].  The entity for this table looks like this:
[code]

Whenever I try to add any entity to the database, I get a System.InvalidOperationException.
[code]

FWIW the OnModelCreating looks like this for the column:
[code]
From my understanding, I should be able to do this according to [the documentation](https://www.npg

[2018-12-27 18:59] #773 closed

[2018-12-27 20:15] sstillen opened #774 "Using InMemoryDb with Npgsql"
I have an application that uses Npgsql to connect to my database. I wanted to write unit tests for my application’s data layer using Microsoft’s InMemory Database Provider. However, I am running into issues because some of the columns in my database are arrays, which EF Core doesn’t support. Is there any way to use Npgsql purely in memory?

[2018-12-28 09:08] ivankarpey opened #775 "postgis Extension applying issue after migrating to 2.2 version"
We have a code that's apply postgis extension to Db (google cloud pg sql instance)

code is the following:

[code]
And there is generated migrations. It's all works fine on 2.1.2 version.

However after migrating to 2.2 version there is an error occurred when trying to apply migrations

[code]

[2018-12-31 11:34] roji commented on #775
You seem to have a badly-scaffolded migration from a previous version of the provider.. Can you please open the relevant migration file and make sure it looks as follows:

[code]

There should be exactly two commas in the second string, no spaces or anything.

[2018-12-31 11:55] roji commented on #772
It seems like your migration alters an existing int column into a PostgreSQL serial column. Unfortunately we don't seem to handle this correctly when schemas are involved... submitted #776 to fix for 2.2.1.

However, I don't really see how this could have worked correctly under 2.1 - can you confirm you were running the exact same migrations and the column properly changed from a regular int colum

[2018-12-31 12:38] roji commented on #654
@austindrenski based on https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/748#issuecomment-447103493 your analysis sounds right... Singleton services are indeed shared across context types (by default), and so the first context that was initialized determines which plugins are present.

However, it seems that since we switched to the regular EF Core plugin model in 2.2 (good m

[2018-12-31 12:48] roji commented on #757
Shouldn't this be closed as a duplicate of #748?

[2018-12-31 14:12] austindrenski commented on #654
I agree. I looked for possible mitigations that stopped short of a complete reimplementation, but it all looked worse than the status quo.

[2018-12-31 14:12] #654 closed

[2018-12-31 14:16] austindrenski commented on #757
I think we discussed this offline (keeping this open vs closing in favor of the meta-issue)... But in any event, I'm okay with either option.

[2018-12-31 18:07] #772 closed

[2018-12-31 18:30] roji commented on #748
#654 is now closed as it automatically fixed in 2.2 by moving to the new EF Core plugin model.

#757 seems like a duplicate of #747 to me - so does it make sense to close both #757 and this issue (#748), and leave only #757 to track per-connection plugin use?

[2018-12-31 18:47] roji commented on #432
Checked this again and it still fails, but for another reason: the generated migration has `defaultValue: new[] {  }`. Will look at this on the EF Core side.

[2018-12-31 18:50] roji commented on #432
OK, seems I had already opened https://github.com/aspnet/EntityFrameworkCore/issues/14006 for this, closing this as no further action is needed on the Npgsql side.

[2018-12-31 18:50] #432 closed

[2018-12-31 18:52] roji commented on #432
As #720 says (origin of https://github.com/aspnet/EntityFrameworkCore/issues/14006), the workaround is currently to simply edit the migration file by hand and fix it by adding the proper array type.

[2018-12-31 19:45] nilmas opened #777 "Support UNLOGGED table"
Support for UNLOGGED table would be very welcome for some performance scenarios where data integrity due to a crash is not vital. Some examples: logs or analytics that benefit from speed rather than durability, session state, temporary calculations, etc.

https://www.postgresql.org/docs/current/sql-createtable.html
"UNLOGGED
If specified, the table is created as an unlogged table. Data written to

[2018-12-31 20:32] diegomgarcia commented on #772
Hi @roji thats not the case, I'm not using serial column or converting to it.
Here is my model:

[code]

[2018-12-31 23:50] roji commented on #772
Can you please post the code of the migration? Also, ideally if you can also post the model class before and after that migration, that would be very helpful.

[2019-01-01 10:02] avigade opened #778 "Migrating to NetCore 2.1 throws error Method Not found exception on scope.ServiceProvider.GetRequiredService"
I've migrated my WebAPI project from 2.0 to 2.1 Core and made updated changes to the nuget versions as well.

The problem occurs when it tries to load the Seed through program.cs.

[code]

The Exception that i get is:

Method not found: 'Microsoft.EntityFrameworkCore.DbContextOptionsBuilder`1<!!0> Microsoft.EntityFrameworkCore.NpgsqlDbContextOptionsExtensions.UseNpgsql(Microsoft.EntityFrameworkCor

[2019-01-01 10:10] roji commented on #778
Can you please post your csproj? There's a good chance you're mixing versions between Npgsql packages and Microsoft.EntityFrameworkCore packages. All EF Core versions must be properly aligned, i.e. you can't mix 2.1 and 2.2.

[2019-01-01 10:19] roji commented on #777
Should be pretty easy to do, just a boolean annotation on the entity. Maybe you're interested in doing this @austindrenski.

[2019-01-01 14:37] diegomgarcia commented on #772
Sure here is the before:

[code]

And here is the after:

[code]

It really seems that it annotates with a serial column changing it from int to serial.

I can send you the generated scripts and the fixed one after manual changed.

[2019-01-01 15:12] nilmas commented on #777
Thanks for considering this @roji. If feasible it would be nice to be able to configure this fluently also.

Example:
[code]

[2019-01-01 18:31] roji commented on #777
@nilmas yes, that would be part of this feature. Otherwise note that you can change a table to unlogged by including raw SQL in your migration:

[code]

This isn't as nice as a fluent model configuration extension, but works just the same.

[2019-01-01 18:34] roji commented on #772
Thanks for the migration, but what I'd need to see is the *model* before and after the migration - what you posted above are two migrations. I suspect the changes somehow modify a column to be a serial.

[2019-01-01 23:22] diegomgarcia commented on #772
Hi @roji the change was just adding the annotation to the Number property.

Basically it was

[code]

And after was changed to:

[code]

[2019-01-01 23:59] roji commented on #772
@diegomgarcia yeah - by doing that you're asking EF Core to turn a regular int into a serial column... so the previous behavior makes sense.

Note that `DatabaseGeneratedOption.Identity` doesn't actually mean the new PostgreSQL identity columns - it just means that you want the column to be database-generated. If you want PostgreSQL identity columns, which really are recommended over the older ser

[2019-01-02 00:06] diegomgarcia commented on #772
@roji I see, but the main problem was on not generating the script with the right schema name ..
even with that I don't think it should change to serial if you are using an int property, but I really doesn't have read that doc to see why it works like that.

[2019-01-02 04:37] avigade commented on #778
@roji  I'm currently working on it. will provide the details soon.

[2019-01-02 04:51] avigade commented on #778
@roji  Below is the csproj Package References :

 <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="wwwroot\" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="AutoMapper" Version="7.0.1" />
    <PackageReference Include="Microsoft.AspNetCore.App" />
    <PackageReference Include="Microsoft.VisualStudio.Web.Cod

[2019-01-02 04:53] avigade commented on #778
My csproj file.

[MyPackages.txt](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/files/2719941/MyPackages.txt)

[2019-01-02 05:17] Silvenga opened #779 "DateTimeOffset Conversion"
According to the docs, DateTimeOffset is converted to UTC before sending it. So for example,

[code]

[code]
Gets converted to:
[code]
When inserted into the database.

This is great. However, when pulling this value out of the database, the following is returned:

[code]

It appears that npgsql is using the local timezone when values are pulled out, even though npgsql inserted a UTC offset'ed val

[2019-01-02 06:58] roji commented on #772
there was indeed a schema-related bug in the Npgsql provider *when* changing a regular int into a serial column - this is what I fixed above. The remaining uncertainty was about this is actually what you intended/did, to make sure the right bug was fixed - after seeing your model versions and the migration in question, that is indeed the case. So everything is clear and the bug has been fixed.

Th

[2019-01-02 10:40] diegomgarcia commented on #772
Nice @roji, thanks for the fix I will test with the new version :)

[2019-01-02 17:01] roji commented on #772
If you'd like to test, you can try version 2.2.0-1409 from [our stable feed](http://www.npgsql.org/doc/index.html#unstable-packages), it would be great to get confirmation from you that everything works.

[2019-01-02 17:12] roji commented on #778
You need to remove the old `Microsoft.EntityFrameworkCore.SqlServer.Design` - that package no longer exists and could cause version mismatches. Try removing the reference, restoring and trying again. If it still doesn't work, please post your `project.assets.json` from your obj directory.

[2019-01-02 17:52] bricelam commented on #730
I'm sad you have to resort to replacing the model differ. I feel like making the core/relational model more extensible (beyond our current annotations) would be a better solution to the problem. Making schemas more first-class might help too.

In other words, I don't think providers should have to change the model differ, but if they add new concepts to the model, they should be able to define how

[2019-01-02 18:12] austindrenski commented on #730
@bricelam Having better schema support throughout the model would be great, and defining configurations without wading into the model differ itself would be nice too.

All things considered, the changes in #744 seem pretty narrow (to me, that is), but I can understand the hesitation to have providers wading into the model differ for every change.

I could imagine implementing the changes in #744 f

[2019-01-02 18:19] nilmas commented on #777
That crossed my mind but I would like to remain on the code only (Npgsql / EF Core) configuration as much as possible. Thanks to your and other contributors' great work this has been the case for most of the time for me.

[2019-01-02 18:22] austindrenski commented on #777
@roji Sure, I'll take a look shortly.

[2019-01-02 18:30] nilmas commented on #334
FYI, in case this has flown under the radar .NET Core team is planning / implementing their version (not Newtonsoft's Json.NET) of JSON support:
https://github.com/dotnet/announcements/issues/90 -> discussion at:
https://github.com/dotnet/corefx/issues/33115

[2019-01-02 18:51] roji commented on #334
Yep, we're waiting to see what comes out of that to see what to support in Npgsql.

[2019-01-02 19:00] bricelam commented on #730
Oh, and I'm certainly not pushing back on having Npgsql override it (the changes we made in EF Core 2.0 make it safe to do). It's just something that providers *shouldn't* ever have to override so when they do, it's a good sign we're missing extensiblity points elsewhere.

[2019-01-02 19:06] roji commented on #777
Sure thing. Note that it's totally fine to manually edit migrations and add raw SQL where necessary - this is encouraged in EF Core in general. The provider will never cover every single imaginable PostgreSQL option with fluent APIs.

[2019-01-03 19:30] #757 closed

[2019-01-03 19:32] #748 closed

[2019-01-03 19:46] austindrenski commented on #779
@Silvenga This issue belongs in [npgsql/npgsql](https://github.com/npgsql/npgsql), since this behavior is unrelated to the EF Core provider.

But before you do that, take another look at the [date and time docs](http://www.npgsql.org/doc/types/datetime.html) (_tables truncated for clarity_):

So reading back from a column of `timestamptz` into a value of `DateTimeOffset` ___ought___ to result in t

[2019-01-03 20:38] Silvenga commented on #779
Thanks @austindrenski

I read "In local timezone offset" as convert to local time zone from UTC (assuming that the values are always stored as UTC). Not, add local timezone offset to stored value.

[2019-01-03 20:45] austindrenski commented on #779
@Silvenga No worries, I assumed that was part of the confusion. Let us know if you have any further questions.

[2019-01-03 22:47] roji commented on #779
@Silvenga @austindrenski am re-opening so I can take another look, to make sure that we're doing the right thing. Will try to look at this soon.

[2019-01-04 01:30] austindrenski commented on #779
@roji Should this be moved to [npgsql/npgsql](https://github.com/npgsql/npgsql)?

[2019-01-04 15:18] otto-gebb commented on #513
Just encountered the same issue. @roji should this adjustment of the migration procedure be mentioned in the documentation?

[2019-01-05 04:00] Silvenga commented on #779
@roji I pulled down the driver to figure out what the issue was, and there wasn't any issues.

A little embarrassing - I tested everything again in linqpad and everything looks good. My only excuse is sleep deprivation. Sorry to waste everyone's time.

[2019-01-05 04:00] #779 closed

[2019-01-05 12:43] roji commented on #779
Thanks for checking again, no problem, these things happen (all the time).

[2019-01-05 17:19] Jefffrey opened #785 "NpgsqlRange improvements"
## The problem

Working with `NpgsqlRange` I've found that the following use cases are a big cumbersome to work with:
 - Modifying an existing range
 - Infinite values
 - Nullable values

#### Modifying an existing range

Often times I've found that you need to reduce or extend an existing range and I've solved it with:

[code]

This copies three values (the actual bound value, whether it's inclus

[2019-01-05 18:04] roji commented on #785
See previous issue #570.

I have some detailed responses below, but I'd like to emphasize that we're discussing what seems to me to be a pretty minor API usability issue - the only proposed improvement is not to force the user to use a 6-parameter constructor, in *some* cases. We haven't heard any complaints about this from other users, and I'm not necessarily inclined to spend too much time (much

[2019-01-05 18:35] austindrenski commented on #785
Yes, the ideas here overlap with some previous exploratory work to improve ranges. I'm very sympathetic to the proposals described above, but at this time, I agree with @roji on the intractability of the current challenges and proposed solutions.

There are ways that we could further improve the current `NpgsqlRange<T>`, but I think our current plan for major usability improvements is to wait and

[2019-01-06 10:10] Jefffrey commented on #785
In all cases. The introduction of `Bound` is semantically equivalent to that of the 6 parameters constructor.

I'm not sure what you've read there but I was just pointing out that if the third parameter (infinity) is `true` then for Postgres the fact that infinity is included or not (second parameter) makes no difference because it will convert it always to excluded. `default(T)` is needed only be

[2019-01-06 10:43] YohDeadfall commented on #785
@Jefffrey I like the idea with bounds. It's really simplifies the interface. The perf can be tuned later in a PR.

@roji as I know the range support is limited as it's designed for indexers only.

[2019-01-06 17:34] Jefffrey commented on #785
@austindrenski

Hmm, interesting. I've read a little about C# 8.0 ranges, but I didn't see anything applicable to `NpgsqlRange` since it seems to only support integral ranges.

What new features are you referring to exactly?

[2019-01-06 18:37] austindrenski commented on #785
Early on there was discussion of various range types (e.g. `Range`, LongRange`, a future `Range<T>`), though recently the LDM notes have only touched on `Range`.

It seems likely that we will only see basic indexer-related integral range support in 8.0, but I would expect the final release notes to give us some indication of possible future extensions (hopefully `Range<T>`).

On the topic of the `

[2019-01-06 21:03] roji commented on #785
That's partially true, but what other option do we have when prioritizing issues to work on? Note also that there are definitely lots of issues where several people participate in the conversation and vote, when something is painful or limiting. We tend to work on those more than on other issues.

Sorry, that was just me misreading your comment above. You're right.

I'm not sure I understand... A

[2019-01-07 17:50] Jefffrey commented on #785
Oh yeah sure, it's nitpicking and I'm sure there are other more important issues out there that are definitely more prioritized.

It's just that this is a fairly trivial change (once an API is decided) and can improve the range interface quite a bit.

I didn't know about upcoming ranges (probably after C# 8.0+) so it might be wise to wait for that and see if we can maybe reuse some standard constr

[2019-01-07 18:22] austindrenski commented on #785
@Jefffrey Thanks for your understanding on this. We certainly appreciate the feedback and discussion on API improvements, especially when it comes to the types found in the `NpgsqlTypes` namespace.

On a personal note, I make heavy use of `NpgsqlRange<T>` in a few professional projects, so its usability and performance are always on my radar. If you would like, I can try to CC you on future API an

[2019-01-07 18:22] #785 closed

[2019-01-07 18:43] Jefffrey commented on #785
@austindrenski I'd appreciate it, thanks. 😄

[2019-01-07 23:07] roji commented on #785
I'm sorry if I came across as overly negative on this... Part of the discussion above was complicated with nullability questions and C# 8.0, struct vs. class, etc.

Again, I don't think C# 8 introduces any changes that affect this (namely, the possibility to have a non-constrained generic type and to use T? within it). Regarding introducing something like Bound<T>, even if I personally don't see a

[2019-01-08 05:19] Andrioden commented on #422
@roji : I think you should [document ](http://www.npgsql.org/efcore/mapping/general.html) this.

It was not obvious to me that I could do `source.Where(x => collection.Any(y => EF.Functions.Like(x.SomeString, y)));`. Beautifully solved, thou I am a bit sad it took me 1-2 hours finding this issue and digging into the pull request to realise how it was possible. : P

[2019-01-08 10:54] ljani opened #787 "Invariant culture is not used for DateTime in GenerateNonNullSqlLiteral"
Consider following migration:

[code]

If I set my computer locale to Finnish, Npgsql will try to execute the following SQL statement, which fails:

[code]

(It's the dots which fail, `'0001-01-01 00:00:00'` does work.)

The `DateTime` is correctly formatted by SQL Server provider:

[code]

In other words, the same migration works with SQL Server.

The only difference I was able to spot is that Sq

[2019-01-08 11:07] ljani commented on #787
That is probably the issue, because [`RelationalTypeMapping` passes `CultureInfo.InvariantCulture`](https://github.com/aspnet/EntityFrameworkCore/blob/779d43731773d59ecd5f899a6330105879263cf3/src/EFCore.Relational/Storage/RelationalTypeMapping.cs#L596-L597) to `GenerateNonNullSqlLiteral` whereas Npgsql does not do that.

[2019-01-08 19:30] austindrenski commented on #787
@ljani Thanks for reporting this to us. It does appear that we need to use invariant culture formatting for date and time types.

Note that this does not impact the NodaTime plugin, because those type mappings use NodaTime-provided formatters which format with the invariant culture by default.

[2019-01-08 22:51] #787 closed

[2019-01-09 02:35] austindrenski commented on #713
https://github.com/aspnet/EntityFrameworkCore/issues/13985 is tagged in the [milestone](https://github.com/aspnet/EntityFrameworkCore/releases/tag/v2.2.1) for the 2.2.1 release.

[2019-01-09 07:04] ljani commented on #787
@austindrenski Great, thanks for the speedy fix!

[2019-01-09 15:26] sandord opened #791 "Multi-column index mapping generates invalid SQL"
Here's my mapping:

    public class MyEntityMapping : IEntityTypeConfiguration<MyEntity>
    {
        public void Configure(EntityTypeBuilder<MyEntity> builder)
        {
            builder
                .ForNpgsqlHasIndex(n => n.Id)
                .ForNpgsqlInclude(n => n.Name);
        }
    }

Generated migration SQL:

    CREATE INDEX "IX_ActivityTypes_Id" ON "ActivityTypes" ("Id") INCLU

[2019-01-09 17:08] roji commented on #791
You seem to be confusing the regular index columns with the new PostgreSQL 11 "covering index" feature, [see the docs for more info](http://www.npgsql.org/efcore/modeling/indexes.html#postgresql-covering-indexes-include). In the example above, the index is over `Id` (allowing you to efficiently search it for values), but also *covers* the `Name` column.

If you want to create a composite index ove

[2019-01-09 17:08] #791 closed

[2019-01-09 17:53] sandord commented on #791
I *am* trying to use the covering index feature but I realize now that my Postgres version is <11.
Thanks anyway.

[2019-01-10 12:37] marlonbidu commented on #765
I have faced this issue too afeter upgrade from version 2.1 to 2.2, but i can't reproduce this in a sample project.
I hope that stack trace could help you to find the problem.

[code]

[2019-01-10 18:52] roji commented on #765
Unfortunately the stack trace doesn't really tell us what's going on here... I hope you (or someone else) manages to reproduce this...

[2019-01-10 20:45] ajcvickers opened #793 "Scaffolding with both --table and --schema doesn't work"
@roji This issue was filed using the Visual Studio Feedback tool. It looks like something that you should take a first look at. Feel free to ask for more information if needed, or to move to EF Core as appropriate. I will link to this issue from VS Feedback and close it there.

----

It is not easy for me to remain calm and objective, but I try.

[code]

Parameter `-Tables` (like in all useless hi

[2019-01-10 21:02] austindrenski commented on #793
One immediate note is that I believe all of the `Design` packages have long been deprecated, but this report seems to list `v1.1.1`.

[2019-01-11 18:23] roji commented on #793
I'll take a look very soon to see it this repros.

[2019-01-11 18:43] roji commented on #793
OK, I got something. The error only occurs when both `--schema` is specified and `--table`. If either `--table` or `--schema` are specified alone they work as expected. Will look into it.

[2019-01-11 18:44] roji commented on #793
BTW I didn't look into any effect related to capitalization, but values given to `--schema` and `--table` obviously have to correspond exactly to the schemas and tables in the database - PostgreSQL is fully case-sensitive.

[2019-01-14 09:06] ivankarpey commented on #775
ok, thanks. For me this was looking like that:
[code]

[2019-01-14 09:06] #775 closed

[2019-01-14 11:02] DevilX5 opened #794 "About the columnnames"
I used this NpgSql, it created this sql like
[code]
but when I run, I get an error
`[Err] ERROR:  column j.Id does not exist`
so, I tried the next four queries.
[code]
only the last one can't run
I'm not use code first, just get the data from the pg, but it dosen't work, how do I deal this?

[2019-01-14 11:12] DevilX5 commented on #794
All my entities,I defined property name like "Customer_Level","Modify_Time" and so on. Because in some tables has a column named "operator", the table's every column name are lowercase, but "operator" in C# is a keyword,so...My English is not very well, hope you can know what I means, thx

[2019-01-14 11:16] DevilX5 commented on #794
By the way, I only have read-only access to the database

[2019-01-14 14:59] austindrenski commented on #794
@DevilX5 Identifiers in PostgreSQL are case insensitive by default, meaning that your first three queries can be simplified to `j.id`, while your fourth query refers to `j."Id"` which ___is not___ the same identifier as the other queries. In short, `j.id != j."Id"`.

Take a look at the standard [EF Core docs on entity naming](https://docs.microsoft.com/ef/core/modeling/relational/tables), and let

[2019-01-14 14:59] #794 closed

[2019-01-14 17:34] floyd-may opened #795 "Migrating tables between schemas generates incorrect SQL"
Given some table `Example` that lives in the default schema of `public`, let's say I want to move that table into a new schema `example`. When I change the table's schema to `example` in the EF model, then generate a migration, it (as expected), creates a migration that contains code that looks something like this:

[code]

When this runs, it translates this into SQL that looks like this:
[code]
T

[2019-01-14 17:46] floyd-may opened #796 "Conflict with __EFMigrationsHistory table in schema other than public"
Given two DbContexts each with their own default schema, Let's say `ContextOne` with the default schema of `public` and `ContextTwo` with an alternate schema of, say, `example`, I cannot use both DBContexts in the same database without overriding the default table name of the migrations history table.

The culprit appears to be this SQL that searches for the migration history table:

[code]
This w

[2019-01-14 18:04] austindrenski commented on #795
This certainly shouldn't be happening in the current version. Would you please post the dependencies from your `.csproj`?

[2019-01-14 18:14] austindrenski commented on #796
Thanks for reporting this. This looks like an issue we've seen reported in the past. If so, this should only be an issue during initial creation (e.g. `context.Database.EnsureCreated()`). So non-initial migrations should be unaffected by the existence check issue.

I'll look into patching for the history table later today.

[2019-01-14 18:16] floyd-may commented on #795
Sure:
[code]

This isn't the whole picture, though - this is a library that is loaded by a containing app. Can you help me understand what dependencies you're looking for so I can get you the information you need?

[2019-01-14 18:19] austindrenski commented on #795
Specifically, this issue should be fixed in version 2.2.

Are you able to upgrade and retest for the issue?

[2019-01-14 18:20] floyd-may commented on #796
Yes, I agree that this is only an issue on initial creation; if both `__EFMigrationsHistory` and `example.__EFMigrationsHistory` are present I think it should Just Work (tm). Thanks for looking into this!

[2019-01-14 18:33] austindrenski commented on #795
No worries if this doesn't turn out to be a duplicate. The related issues dealt with schemas and migrations, but wouldn't necessarily be obvious from what you've shown here.

Yes, it's fine to leave this open. Just let us know when you've had a chance to check.

[2019-01-15 15:02] roji commented on #793
@ajcvickers uh, looking at this again the behavior above actually seems to be the correct one (or at last the SQL Server one). In other words, the `--schema` and the `--table` switches [are in an OR relationship](https://github.com/aspnet/EntityFrameworkCore/blob/1fef013c122da8e18c121f7713337c0449d2baee/src/EFCore.SqlServer/Scaffolding/Internal/SqlServerDatabaseModelFactory.cs#L253), rather than i

[2019-01-15 15:30] roji commented on #796
Unless I'm mistaken, our current behavior is the general EF Core behavior - same as for SQL Server, Sqlite - the context name isn't prepended/appended anywhere ([see also the docs one this](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/history-table)). As such, I don't think we should be doing this, although it's certainly possible to open this discussion on the EF Core repo

[2019-01-15 16:02] floyd-may commented on #796
@roji I appreciate where you're coming from here; however, I think you might be missing the essence of the issue. First off, I'm not using `EnsureCreated()`, I'm using migrations, so I don't think that part is relevant. I have read the docs, and I am using ` x => x.MigrationsHistoryTable(...)`. I had originally configured my two DBContexts as such:

[code]
This scenario does not work. The SQL I pa

[2019-01-15 16:21] roji commented on #796
@floyd-may it does seem like I've misunderstood the issue, sorry about that.

You should definitely be able to define two history tables in the same database, including two with the same name but in different schemas. However, looking at the code I'm not exactly seeing an issue. The SQL you're quoting seems to come [from here](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/8e

[2019-01-15 16:46] roji commented on #796
@floyd-may I understand but could not reproduce the issue: I successfully created two contexts with the same migration history table name - but different schemas - and I can see both in the database. The query I'm seeing is:

[code]

Can you please test on v2.2 to see if the problem goes away, and if not, post exact, detailed step-by-step instructions on how to reproduce the issue?

[2019-01-15 18:34] #777 closed

[2019-01-15 22:52] ajcvickers commented on #793
@roji Agreed--this does seem by-design. Let's close for now and if the customer does get back to us we can always re-open.

[2019-01-15 22:52] #793 closed

[2019-01-16 21:10] nilmas commented on #777
Thank you.

[2019-01-17 15:32] BojidarStanchev commented on #759
"Always seed with negative values to make sure seeded values don't collide with values later generate from the identity sequence."

All due respect, but this is not a solution, but an ugly hack. This issue should not be closed, instead, it should be properly addressed and fixed.

[2019-01-17 16:00] roji commented on #759
@BojidarStanchev this difficulty is related to the way PostgreSQL manages sequences and serial columns. See conversation with possible proposals in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/573#issuecomment-447937123. At the end of the day I'm not sure why negative values is an ugly hack or problematic - why is an id of -1 worse than 1?

[2019-01-17 17:01] roji commented on #759
The point is that you have to manually write an ID in the migrations, in any case - it just can't be positive. This is how EF Core works, and if you don't you actually get an exception telling you to assign a negative value (so it's better to raise this question with EF Core rather than Npgsql).

Just to make sure there's no confusion, the seed data isn't supposed to be written in the migrations,

[2019-01-17 18:19] JuanZamudioGBM opened #797 "Help with enums and PostgreSQL on Amazon RDS with Encryption"
HI

This is not a problem with the library but I wanted to ask because we cant find any documentation and we hope you can point us at the right direction.

We are using Npgsql.EntityFrameworkCore.PostgreSQL Version=2.1.2, we mapped our enumerations correctly and we were working great, but yesterday our security team asked us to enable Encryption on the database, after that we started seeing errors

[2019-01-17 18:31] roji commented on #797
To add to what @austindrenski said, could you please clarify exactly what you mean by encryption? Do you mean turning on SSL/TLS?

[2019-01-17 19:03] JuanZamudioGBM commented on #797
@roji I mean encrypting the [database at rest](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Encryption.html)

@austindrenski I will create a repo later today and give you the link to the repo

Thanks for your time.

[2019-01-18 19:14] JuanZamudioGBM commented on #797
We hit this again without encryption in the database, we are thinking that the static constructor of our context is getting hit before the database is ready and cant map the enums correctly, and because its already in memory every request after is failing.

Currently our context is like this:

[code]
We inject the context in the startup like this:
`services.AddDbContext<CrmContext>(options => opti

[2019-01-18 19:35] austindrenski commented on #797
The static constructor should definitely run first, but that shouldn't be causing the issue you describe.

Is there any chance your app is accessing the database directly (e.g. ADO.NET without EF Core)?

[2019-01-18 19:47] JuanZamudioGBM commented on #797
No, everything runs with EF Core

What happens if the constructor is hit when the database is not ready and the enum is yet not created?

This time the first error we saw in the logs was "The field 'type' has a type currently unknown to Npgsql." and after that we got this "The CLR enum type CountryType must be registered with Npgsql before usage".

We deployed our API again to start a new docker i

[2019-01-18 19:53] austindrenski commented on #797
What exactly does the procedure look like? Is your app _creating_ it's own production database?

[2019-01-18 19:56] JuanZamudioGBM commented on #797
Its a code pipeline in AWS, the pipeline builds our api deploys it and then with flyway runs scripts on the database.

We are in an early stage on the development so the database sometimes is destroyed and regenerated, on those cases is where we are seeing these errors.

[2019-01-18 21:41] austindrenski commented on #797
Just speaking generally, you should ensure that your database is consistent prior to running your app. You _could_ work with the [Migrations API](https://docs.microsoft.com/ef/core/managing-schemas/migrations/) to apply changes at runtime, but that's a more complex solution.

Sure, you could do something like that via the [Migrations API](https://docs.microsoft.com/ef/core/managing-schemas/migrati

[2019-01-22 16:43] JuanZamudioGBM commented on #797
Hi

We found the origin of the problem, we are using flyway to handle the changes in the database, and when we add a new version of the script flyway runs with the following commands:
[code]

And the scripts are numbered like this:
[code]

After that we see the enum error, we are currently investigating if the new version number is what creates the problem or if simple the fact that adding a new s

[2019-01-22 16:53] #797 closed

[2019-01-22 20:17] jdvor opened #799 "Query with AsNoTracking() performance issue"
It seems to me, that read-only queries with `.AsNoTracking()` clause incur significant and **unexpected** performance penalty.

I have written solution to demonstrate the problem [here](https://github.com/jdvor/efcorenotracking), where the simplest possible use case is provided as well as a baseline for the given problem using raw _npgsql_ and _dapper_ to get a sense how bad it is.
The surprise is

[2019-01-22 20:43] austindrenski commented on #799
Thanks for reporting this to us, happy to take a look. A couple of questions:

1. [`AutoDetectChangesEnabled`](https://docs.microsoft.com/dotnet/api/microsoft.entityframeworkcore.changetracking.changetracker.autodetectchangesenabled) affects `DetectChanges`/`SaveChanges`, but your example doesn't seem to depend on those features. Could you clarify what you mean for this to do?

2. There's a lot of

[2019-01-22 20:49] jdvor commented on #799
I've already tried different order of test methods and it does not seems to effect the outcome in any way.

[2019-01-22 21:35] jdvor commented on #799
I've tried to bump up number of test cycles +1 and ignore the first towards the total sum, so it gave every measure method warm-up time in order to negate internal overheads you were taking about. And the "issue" disappeared, so it was indeed fraud benchmark.
I must have overlooked something or have made a mistake when trying different order methods not to spot such an obvious flaw earlier.
Thanks

[2019-01-22 21:35] #799 closed

[2019-01-22 21:44] austindrenski commented on #799
Ah, good to hear!

No worries. Replicating production performance issues in a simplified repro is always a challenge.

Feel free to post back here if/when you are able to reproduce your original perf issue, or if you have any further questions on the EF Core provider.

[2019-01-24 19:37] buddhamangler opened #800 "Exception during Context.Database.Migrate"
I'm attempting to convert our application over to use postgres.  I was able to get the initial migrations generating for our schema and seed data etc working.  Now when I attempt to run the api we have a call to `OurContext.Database.Migrate` during `Configure` method in `Startup.cs`.  This ensures after we deploy and the api comes up for the first time it will make sure the database gets migrated

[2019-01-24 20:03] #800 closed

[2019-01-24 20:04] austindrenski commented on #800
@buddhamangler It's a bit hard to tell from just a stack trace, which is why we generally prefer to see a code snippet that triggers the exception.

But just based on your project description (_emphasis added_):

That makes it sound like you are trying to use EF Core methods while the dependency injection facilities are still being configured. If so, that could lead to all kinds of trouble. You sh

[2019-01-24 20:04] buddhamangler commented on #800
This was actually related to AppInsights, closing...

[2019-01-24 20:04] buddhamangler commented on #800
Thanks for the suggestion, I will look into this

[2019-01-24 20:08] austindrenski commented on #752
Closing as no additional info was provided within the past 30 days. But please feel free to post back here with the relevant information and we can reopen if necessary.

[2019-01-24 20:08] #752 closed

[2019-01-24 20:10] austindrenski commented on #795
@floyd-may Have you had a chance to check this (and #796) with version 2.2?

[2019-01-24 20:12] austindrenski commented on #778
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and we can reopen if necessary.

[2019-01-24 20:12] #778 closed

[2019-01-25 10:27] mrclayman opened #801 "AlterSequence to set minValue fails if startValue is less"
Hi,

I'm kinda new to EF Core and migrations, so please bear with me. I'm trying to establish an initial migration point that creates a new table and, as a part of that process, attempts to alter the primary key's sequence to start at a different value. EF Core MigrationBuilder's `AlterSequence()` method has a `minValue` argument that I wanted to use for that, but the method does not allow setting

[2019-01-25 13:51] mrclayman commented on #801
Thanks for the quick response. Here's a snippet from my project file:

[code]

These should be the latest available versions according to VS Code. As for the actual code, this is the call that creates the sequence's parent table:

[code]

It's generally boilerplate code generated by EF Core. The call that is supposed to alter the sequence follows right after and looks like this:

[code]

After thi

[2019-01-25 13:53] mrclayman commented on #801
Sorry about the ticket state mess. :(

[2019-01-25 14:06] austindrenski commented on #801
Looking at the [docs](https://www.postgresql.org/docs/current/sql-altersequence.html), I don't think you want the `START WITH` syntax, but rather:

[code]

I'll take a look at what the current state of support is from the fluent API, but you should be able to accomplish this in the near term by adding a raw SQL command to restart the sequence in that file.

[2019-01-25 14:10] mrclayman commented on #801
Thank you very much for the hints, @austindrenski .

[2019-01-25 15:49] austindrenski commented on #801
After some further review, I'm not sure there's anything here that the provider should support beyond the standard facilities (i.e. this doesn't appear to be PostgreSQL-specific).

If you're modifying migrations by hand, an alternative to emitting raw SQL commands would be to use [`MigrationsBuilder.RestartSequence(...)`](https://docs.microsoft.com/dotnet/api/microsoft.entityframeworkcore.migratio

[2019-01-27 17:34] pkan20171 opened #803 "HasDefaultValueSql nextval() is ignored in a database first approach resulting in not-null violation"
Hello,

Below code is throwing a not-null violation constraint from a .net core console application, I am using npgsql 2.1.2 framework. I am using nextval() associated to primary key deptno -- please see code in seqtestContext.cs for actual usage. Can someone help with this?

[code]

Below is a sample table structure,

[code]

Below is the code from dotnet ef scaffolding:

[code]

Below is code fr

[2019-01-29 14:52] roji commented on #130
Thanks for finding that out, two years ago I think I wasn't aware of this feature...

Note also https://github.com/aspnet/EntityFrameworkCore/issues/8494, which is about changing the connection of an existing DbContext (not supported at this time).

[2019-01-29 15:04] roji opened #804 "Make identity columns the new default instead of serial"
The default value generation strategy is currently serial. PostgreSQL 10 introduced identity columns, which is a cleaner and better way to manage autoincrement columns, but users must opt into using it.

3.0 is going to be a major version with breaking changes, so we can take this opportunity to make identity columns the default, pushing users into using the modern option.

* This is a bit dangero

[2019-01-29 15:17] roji commented on #803
Some comments on the above...

First, if you specify `.UseNpgsqlIdentityColumn()`, then you should not be defining a sequence and default SQL with `nextval()`. The point of the PostgreSQL identity columns feature is to take care of all of that for you - try removing the `HasSequence()` and `HasDefaultValueSql()` calls. Also, [as mentioned in the docs](http://www.npgsql.org/efcore/value-generation.

[2019-01-29 15:17] #803 closed

[2019-01-29 15:20] roji commented on #801
Have you considered creating your sequence with the appropriate starting value instead of altering it afterwards? This can be done easily as described in [the EF Core docs](https://docs.microsoft.com/en-us/ef/core/modeling/relational/sequences). The only downside is that you must then manually set your column's default value SQL to call `nextval()` from your sequence - the provider won't do it for

[2019-01-29 15:31] roji commented on #801
Regardless of the above, I just did a quick test and Npgsql generates `ALTER SEQUENCE ... RESTART TO xxx` just fine. To do so, generate an initial migration with a sequence, and then change the sequence's `StartsAt()` and generate a second migration. FYI this functionality comes from EF Core itself and isn't specific to the Npgsql provider.

@mrclayman you seem to be editing migration files by han

[2019-01-29 17:25] mrclayman commented on #801
Thank you very much for the input, guys.

Just to clear things up, this was a part of my effort to establish an initial migration state that replicates the data model currently in use that was defined through external SQL scripts earlier on. Apart from defining the data model, I also needed to create a database user that the connecting service will authenticate as, as well as set the appropriate p

[2019-01-30 01:58] roji commented on #801
It's certainly OK to manually change generated migration files, especially to do things which simply aren't covered by EF Core (e.g. user creation). However, for normal management of tables and sequences, that hopefully shouldn't be necessary in most cases....

The only part I'm confused about, is that if this is an *initial* migration, then no altering is supposed to be involved - only the initia

[2019-01-30 01:58] #801 closed

[2019-01-30 02:53] zouwow opened #805 "Scaffold-DbContext generate partition table problem"
when i using Scaffold-DbContext generate partition table,
e.g. master table "log"
       partition table "log_2019"
       then using Scaffold-DbContext command, generate class Log and Log2019, but in class Context only generate DbSet<Log2019> Log2019, missing DbSet<Log> Log. hoping fix this problem, and hoping each field in class add summary with database comment

[2019-01-30 03:20] roji commented on #805
Can you please submit the exact database schema that you're trying to scaffold? You can use `pg_dump --schema-only` to get it. I'm not sure exactly how table partitions are exposed by PostgreSQL - it's possible that some special handling is required etc.

[2019-01-30 04:55] zouwow commented on #805
postgresql 10

-- ----------------------------
-- Table structure for operate_log_2019
-- ----------------------------
CREATE TABLE "public"."operate_log_2019" (
  "id" int4 NOT NULL,
  "module_name" varchar(256) COLLATE "pg_catalog"."default",
  "module_code" varchar(256) COLLATE "pg_catalog"."default",
  "name" varchar(256) COLLATE "pg_catalog"."default",
  "code" varchar(256) COLLATE "pg_catalo

[2019-01-30 10:31] KexyBiscuit opened #806 "System.TypeLoadException when configuring DbContext"
### Exception details

[code]

### Environment

[code]

[2019-01-30 15:48] austindrenski commented on #806
@KexyBiscuit Thanks for taking the time to test our preview and report this back to us!

Could you please post the contents of your `.csproj`?

[2019-01-30 20:51] pkan20171 commented on #803
Original code that we have is being migrated from oracle to postgres. This schema/DB is not being developed from scratch, I was trying to reproduce similar error that i was facing using a much simpler application. We can't update the DB to use serial/identity columns or to associate sequence values to the primary key directly for some tables. In any case this could be related to entity framework i

[2019-01-31 02:09] KexyBiscuit commented on #806
@austindrenski Here they are.

`Directory.Build.props`

[code]

`....csproj`

[code]

`..\...\....csproj`

[code]

[2019-01-31 02:31] KexyBiscuit commented on #806
`3.0.0-preview.18620.3` works perfectly.

[2019-01-31 02:40] austindrenski commented on #806
Awesome, that means it's just a dependency conflict. Keep an eye out for our next preview release, that'll have an updated EF Core dependency.

[2019-01-31 02:40] #806 closed

[2019-01-31 16:47] floyd-may commented on #796
Will report back when we can upgrade and test. Thanks!

[2019-02-01 04:43] osalas891123 opened #807 "(QUESTION) Can i query for column of type Jsonb using postgres operators right now?"

[2019-02-01 06:05] roji commented on #807
You can't do that with the Entity Framework Core provider - we don't yet have any way to specify JSON operations in C# (i.e. LINQ) that would translate to PostgreSQL operators - the issue currently tracking that is https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/334. However, you can easily do so by writing raw SQL.

Note that .NET Core 3.0.0 will also introduce a new high-p

[2019-02-01 06:05] #807 closed

[2019-02-03 01:38] daniel-white opened #808 "SQL for clean database doesn't include `CITEXT`"
I'm trying to migrate to a new empty postgres instance. I'm using the `citext` extension. The `CREATE DATABASE` call succeeds and creating the `__EFMigrationHistory` table. However the SQL generated is trying to look in a place that doesn't have CITEXT enabled.

[code]

I'm not sure if this matters but I am using a custom type mapping source

[code]

[2019-02-03 01:41] daniel-white commented on #808
If I comment out my custom type mapping source, the migration seems to move on and the `SELECT EXISTS` isn't trying any casting.

[2019-02-04 17:03] ilyazolotarov opened #809 "NpgsqlFullTextSearchDbFunctionsExtensions bug"
When using NpgsqlFullTextSearchDbFunctionsExtensions methods overloads with **string config** parameter (PlainToTsQuery/PhraseToTsQuery/ToTsQuery/ToTsVector) and the argument not a constant expression but variable closure then **Npgsql.PostgresException: '42883: function some_function_name(text, text) does not exist'** is thrown.

[code]

**Npgsql.EntityFrameworkCore.PostgreSQL version**: 2.2.0
**

[2019-02-05 10:09] roji commented on #809
@rwasef1830 interested in taking a look?

[2019-02-06 09:40] nikolajosipovic opened #810 "Persisting array of ushort fails with exception"
Hi,

Having a field of type `ushort[]` translates very well to the DB schema creating an `integer[]` column.

**Problem:** Trying to persist data throws an exception `The CLR array type System.UInt16[] isn't supported by Npgsql`.

**Workaround:** Using a type of `int[]` worked fine without having to alter the DB schema.

Anyone else experiencing this issue?

[2019-02-06 20:21] BobKosko opened #811 "Postgresql Rule"
I apologize if this is the incorrect forum to address my question.
But we are using npgsql core and need to know if PostgreSql View Rules are supported.

I tried a simple select query to a view that has rules and get the following error
"<name>" is a composite type.

Do I have to map these types of views?
I tried to no success

var map = NpgsqlConnection.GlobalTypeMapper.MapComposite(Patient)("ww_