[2020-11-11 12:31] #1571 closed

[2020-11-12 12:54] AndiRudi opened #1573 "Exception using EventCounters"
I am currently implementing EventCounters and while doing so noticed an Exception related to EventCounters

[code]

I think the cause could be related to this comment https://github.com/microsoft/service-fabric-issues/issues/72#issuecomment-253859810

I am using Npgsql.EntityFrameworkCore.PostgreSQ:5.0.0-rc2

Not sure if this is the correct place to post this, if not let me know...

[2020-11-12 17:51] mnifakram opened #1574 "Json array mapping"
I want to save an json array, coming from database view and I have tried to set the type of that column to `JsonDocument` and `List<JsonDocument>` but none of them worked. What should be the type in order to have the correct mapping?

[code]
Thanks.

[2020-11-12 17:52] jackowild commented on #842
@rabindangol just wondering if you managed to solve this using keepalive as suggested above? I am also seeing the same problem with an Amazon Aurora db.

[2020-11-13 11:37] freerider7777 commented on #1035
12.5, 13.1 release of postgres,
RETURNING xmin
still not working for partitioned tables...
any suggestions how to work around?

[2020-11-13 16:45] przemekbroda opened #1575 "Can't do db migration in .NET 5"
Hi. In .NET 5, .NET Entity framework tools 5.0 installed globaly and EFCore 5.0 I can't make a migration with command **dotnet ef migraions add Initial**. I have installed Npgsql.EntityFrameworkCore.PostgreSQL v3.1.4. It ends up with a stacktrace:

   at Microsoft.Extensions.DependencyInjection.NpgsqlServiceCollectionExtensions.AddEntityFrameworkNpgsql(IServiceCollection serviceCollection)
   at N

[2020-11-13 18:20] YohDeadfall commented on #1575
Closing as duplicate of #1569.

[2020-11-13 18:20] #1575 closed

[2020-11-14 13:05] AlexGoris-KasparSolutions opened #1576 "Exception thrown: BIO routines:BIO_new_file:no such file"
Possibly related to https://github.com/npgsql/npgsql/issues/3246?
I've been converting some of our projects to .NET 5, using Npgsql.EntityFrameworkCore 5 packages, and ran into the following issue with the latest (`5.0.0-rc2`) package as well as the latest unstable package (`5.0.0-rc2-ci.20201111T144547+sha.7d629c39d`).

When the library attempts to establish a connection to the DB (it's an Azure

[2020-11-14 18:54] devhl-labs opened #1577 "UInt64 and Npgsql"
When using BulkInsertAsync, I'm seeing this error:

`System.InvalidCastException: 'Can't write CLR type System.UInt64 with handler type NumericHandler'`

When using BulkCopyAsync I get an index of of range exception. I'm guessing these errors have the same source. I am using Npgsql. EF Core 5.0 is creating rows for my ulong of type Numeric with precision 20, scale 0, and dimensions 0.

[2020-11-14 19:01] devhl-labs commented on #1577
Oops, posted in the wrong tab, please ignore 😂

[2020-11-14 19:01] #1577 closed

[2020-11-15 12:21] YohDeadfall commented on #1576
That's strange, could you tell us what environment variables are in the container? Probably, `PGSSLCERT` is specified while there's no file.

[2020-11-15 14:12] AlexGoris-KasparSolutions commented on #1576
Doesn't seem to be the case:
[code]
These are all environment variables that the container is aware about.
I could set up a minimal test repo that reproduces the error, if that would help?

[2020-11-15 14:13] YohDeadfall commented on #1576
I would appreciate that (:

[2020-11-15 15:20] AlexGoris-KasparSolutions commented on #1576
Here you go: https://github.com/AlexGoris-KasparSolutions/Npgsql.efcore.pg.issue1576repro
Reproducing it should be as simple as opening the repo in VSCode, and pressing F5 (make sure your debugger is set to automatically break on exceptions).

Short explanation of what's happening:
1. custom Postgres image is built based on the official `postgres:12` image, this build is defined in `PostgresSSL.do

[2020-11-16 00:00] akilin opened #1578 "Exception: 'Pooling must be on to use multiplexing', even though Pooling is explicitly on."
### Steps to reproduce

https://github.com/akilin/demos/tree/master/pg-multiplexing-pooling

run commands:
[code]

### The issue
Hi, I wanted to try out Multiplexing that was released as part of 5.0.
Once I've added `Multiplexing = true` to my ConnectionStringBuilder - app started erroring when trying to Delete/Migrate a database.
Error message says that Pooling must be `on` to use multiplexing..

[2020-11-16 00:03] akilin commented on #1578
I would like to take a stab at the issue.. I assume the fix will be addition of `Multiplexing = false` inside `Exists` method.

[2020-11-16 09:17] #1578 closed

[2020-11-16 09:21] roji commented on #1578
Thanks for this fix @akilin!

It's nice to see people using multiplexing - I should really get around to properly documenting the feature. I'd be very interested in hearing your experience with it.

[2020-11-16 10:40] roji commented on #1571
Duplicate of #1569

[2020-11-16 19:59] YohDeadfall commented on #1576
Thank you, will take a look.

[2020-11-17 09:31] aznarepse opened #1580 "NpgsqlRangeExtensions in version 5?"
Trying to uplift from 4.1 to version 5. Could someone confirm if NpgsqlRangeExtensions has been renamed to NpgsqlRangeDbFunctionsExtensions?
I have been reading through the release notes but cannot find a reference to it or other name changes.

Many thanks in advance. Great project guys!

[2020-11-17 11:06] YohDeadfall commented on #1576
There was npgsql/npgsql#3246 in the driver which is fixed for the final version, but not for RC2. Since the final release is available, you can update to it and safely continue development.

[2020-11-17 11:06] #1576 closed

[2020-11-17 11:11] roji commented on #1576
Duplicate of https://github.com/npgsql/npgsql/issues/3246

[2020-11-17 11:18] roji commented on #1580
Yes, there was a cleanup of the various extension classes, and that rename occurred. Though you should typically not need to explicitly refer to the class holding the extension methods.

[2020-11-17 11:18] #1580 closed

[2020-11-17 11:36] aznarepse commented on #1580
Thank you very much indeed.
It appears to affect also to NpgsqlDbContextOptionsExtensions -> NpgsqlDbContextOptionsBuilderExtensions

[2020-11-17 18:37] Drago95 opened #1581 "standard_conforming_strings must be on"
I am upgrading an existing .NET Core 3.1 project to .NET 5.  After upgrading everything (including Npgsql.EntityFrameworkCore.PostgreSQL to v5.0.0), whenever I try to access PostgreSQL I get the following error:
System.NotSupportedException: standard_conforming_strings must be on
   at Npgsql.NpgsqlConnector.ReadParameterStatus(ReadOnlySpan`1 incomingName, ReadOnlySpan`1 incomingValue)
   at Npgsq

[2020-11-17 18:39] YohDeadfall commented on #1581
Closing as duplicate of npgsql/npgsql#3352.

[2020-11-17 18:39] #1581 closed

[2020-11-17 18:46] Drago95 commented on #1581
I don't see the resolution in the linked ticket.  My database encoding is UTF-8.

[2020-11-17 18:50] YohDeadfall commented on #1581
Closing as duplicate doesn't mean that there's a resolution, but allows us to manage the same problem at the single place and allow users to observe the original problem. In your case we even have no idea what is the connection string, but likely it contains `Encoding` which isn't `UTF8`.

In any case please provide a minimal code to reproduce the error in your case including an example of the act

[2020-11-17 19:04] Drago95 commented on #1581
Startup.cs (in public void ConfigureServices(IServiceCollection services)):
		services.ConfigureOfficelinkSqlContext(Configuration);
		services.ConfigureOfficelinkContext();
		services.ConfigureOfficelinkRepositoryManager();

In my ServiceExtensions class:

        public static void ConfigureOfficelinkSqlContext(this IServiceCollection services, IConfiguration configuration) =>
            servic

[2020-11-17 19:12] YohDeadfall commented on #1581
Sorry, sorry, sorry, was in hurry and closed the issue marked as duplicate to a wrong target messed it with another problem.

So the problem probably in pgbouncer, are you using it? If not then the database has turned this option off, but it should be on. This can be specified as a connection string parameter as described by https://github.com/npgsql/npgsql/issues/3333#issuecomment-727274187.

[2020-11-17 19:28] Drago95 commented on #1581
Not using pgbouncer.  Connection string trick did the job.  Thank you.

[2020-11-17 21:37] Sin333 commented on #1035
It's actual now, are you going to add PartitionBy for ef core provider?
Sorry english is it not my native language.

[2020-11-17 21:39] Sin333 commented on #1035
It's important I can help you for this, I have custom realisation for 'FOR UPDATE' 'FOR SHARE', but I can't realisation 'Partition By' without change ef core provider for PostgreSQL

[2020-11-18 06:42] roji commented on #1035
@Sin333 the intention is indeed to support this in the provider - there just hasn't been enough time (or user requests) up to now, and this isn't as trivial as some other features.

Some quick thoughts:

* We'd basically exposed APIs to define declarative partitioning as shown [in these PG docs](https://www.postgresql.org/docs/current/ddl-partitioning.html).
* We'd add metadata which allows migrat

[2020-11-18 06:46] roji commented on #1581
@Drago95 can you please provide us with a bit more details? I'd like to understand if 5.0 made any change around standard_conforming_strings which affect users - what did you do in the end to get around this?

[2020-11-18 07:21] freerider7777 commented on #1035
@Sin333 I think you're talking about **creation** of tables, but there is a problem with **using** partitioned tables, when you use xmin as concurrency token (it does not work):
[Timestamp]
[DatabaseGenerated(DatabaseGeneratedOption.Computed)]
[Column("xmin", TypeName = "xid")]
public uint Rowversion { get; set; }

[2020-11-18 07:54] roji commented on #1035
@freerider7777 even if there's a PostgreSQL limitation around the use of xmin with partitioned tables, that doesn't invalidate using partitioned tables in general (users don't necessarily always need xmin). I suggest we keep this issue about creation of partitioned tables.

[2020-11-18 08:00] freerider7777 commented on #1035
@roji  Ok, just warning :)

[2020-11-18 08:14] Sin333 commented on #1035
@freerider7777 For use Partition By (timestamp) in PostgreSQL with ef core you can use pg extensions timescaledb, pg_pathman, pg_partman, it's good and simple way.

But it's not working for my case I need use Partition By for 'Enum', 'Guid' column

[2020-11-18 14:31] Drago95 commented on #1581
I just added "Options='-c standard_conforming_strings=on'" to the end of my connection string.

[2020-11-18 15:57] erichiller commented on #1565
a request: could you add this to the [docs](https://www.npgsql.org/doc/types/nodatime.html)

[2020-11-18 23:16] roji commented on #1581
@Drago95 am still trying to understand exactly what's going on (it's important)... standard_conforming_strings=on has been the PostgreSQL default since PostgreSQL 9.1 (released in 2011!), so you should not need to be sending this. Are you using such an old database or something?

[2020-11-19 00:15] roji commented on #1565
@erichiller thanks for pointing that out - just pushed https://github.com/npgsql/doc/commit/e1ed8933e261018b34ce702419d5ba9f9225eda0

[2020-11-19 08:52] freerider7777 commented on #1035
@Sin333 I wrote you details by email yesterday

[2020-11-19 15:28] mrgtt commented on #1581
@roji In my case, the database version is 11+ but standard_conforming_strings is set to off due to legacy applications accessing the database that need it.

I am using pgbouncer in transaction pooling mode so i cannot set standard_conforming_strings=on because pgbouncer will reset every session-level setting whe switching connections between clients.

The problem here is clearly our legacy applica

[2020-11-19 15:30] Drago95 commented on #1581
Sorry for the late response.  Our database was recently upgraded to PostgreSQL 11.6 and standard_conforming_strings is turned off.

[2020-11-20 16:23] roji opened #1582 "Pass null as spatial value converter in NpgsqlGeometryTypeMapping"
Instead of NullValueConverter.

As part of the EF Core nullability work, RelationalGeometryTypeMapping should now work fine with a null converter

[2020-11-21 06:48] fireflamemm commented on #747
Ok, I may be posting this in the wrong thread but I seem to be running into problems caused by using NodaTime and Hangfire together. This appears to be related to the way that types are mapped but maybe I'm on the wrong path. If this is still related to my problem, is there a workaround?

[code]

This is currently the way that I'm using Hangfire
[code]

and this is the way I'm activating NodaTime

[2020-11-21 07:46] YohDeadfall commented on #747
Was fixed by npgsql/npgsql#3124 and available since Npgsql 4.1.5.

[2020-11-21 07:48] #747 closed

[2020-11-21 07:49] davidroth commented on #747
@fireflamemm

Yes there is a workaround 😊
Let me first explain why you are seeing the exception, although the NodaTime plugin [now supports BCL types](https://github.com/npgsql/efcore.pg/issues/747#issuecomment-688782609).

Dapper maps properties by using the [non-generic IDataRecord indexer](https://referencesource.microsoft.com/#system.data/system/data/IDataRecord.cs,18). You can check that if y

[2020-11-21 07:52] davidroth commented on #747
@YohDeadfall

Unfortunately, not in the case of dapper. See my [previous explanation](https://github.com/npgsql/efcore.pg/issues/747#issuecomment-731524614). The generic apis now work all nicely and without workarounds. But as soon as a library uses the non-generic object based IDataReader methods, and implicitly assumes BCL types being returned, a workaround is necessary.

[2020-11-21 08:09] fireflamemm commented on #747
@davidroth
Thank you so much for the quick response! That seems to have cleared everything right up. Now on to the next bug! Good luck with all of this!

[2020-11-21 08:47] YohDeadfall commented on #747
Am aware of it, but this repository for EF Core (:

[2020-11-23 13:52] deereeed opened #1584 "Invalid migration operations order"
### Describe the bug
When I trying to generate migration for new column with check constraint, I expect two operations in order:
[code]

It works correct in version 5.0.0.
But in version 3.1.4 actual order is invalid:
[code]

### Repo to reproduce
[code]
Here is migration `AddColumnWithConstraint2` with invalid operations order.

### Tech:
 Windows 10
ef core 3.1.8
Npgsql.EntityFrameworkCore.Postg

[2020-11-23 14:25] roji commented on #1584
Duplicate of https://github.com/dotnet/efcore/issues/21037

[2020-11-23 14:26] roji commented on #1584
This is an EF Core-side issue which was fixed in 5.0.0, as you saw. If it's important for you to get a patch for 3.1.x, you can try opening this issue again on the EF Core repo (referencing dotnet/efcore#21037), though given that 5.0.0 is out the chances of patching isn't going to be very high.

[2020-11-23 14:26] #1584 closed

[2020-11-23 14:57] deereeed commented on #1584
Thanks, here is issue https://github.com/dotnet/efcore/issues/23443 in EF Core repo.

[2020-11-23 15:31] roji opened #1585 "Make ParameterBasedSqlProcessor thread safe"
Do https://github.com/dotnet/efcore/issues/21666 for EFCore.PG.

Originally raised in https://github.com/dotnet/efcore/issues/23442

[2020-11-23 16:13] mortenab opened #1587 "Migrations: Side-effects when adding reference to Npgsql.EntityFrameworkCore.PostgreSQL"
Hi,

We are using EF migrations with a code-first approach. Our application targets multiple database providers, including Postgres and SQL Server.
We generate the migrations as described in the Microsoft docs here: https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers?tabs=dotnet-core-cli#using-multiple-context-types
This has worked fine until we upgraded to .NET 5.

Now

[2020-11-24 05:37] #1585 closed

[2020-11-24 06:54] roji commented on #1587
Thanks @mortenab, I've filed this as https://github.com/dotnet/efcore/issues/23456 to discuss with the EF team - it's clear why this is happening, and it's also possible to work around this by explicitly specifying the provider's extension class (though that's admittedly pretty bad).

A better strategy is probably to have two fully-separate separate migration projects, each only referencing one pr

[2020-11-24 07:19] mortenab commented on #1587
Hi @roji - thanks for the quick reply 👍
I think we will go with the "separate migration projects" workaround.

[2020-11-24 11:27] JohnDitno commented on #1554
As an example SQL statement in Postgres I'm able to achieve the required partial (LIKE) search on an array type column using unnest() in a subquery:

SELECT *
FROM   myTable
WHERE  EXISTS (
    SELECT -- can be empty
    FROM   unnest(myStringArrayColumn) elem
    WHERE  elem LIKE '%someInput%'
  );

I don't imagine this would be supported in efcore.pg though?

The only other workaround I can see

[2020-11-24 16:48] roji commented on #1554
@JohnDitno this is what I was referring to in https://github.com/npgsql/efcore.pg/issues/1554#issuecomment-720689026.

It should be possible to implement this in EFCore.PG - though not trivial. However, the main point is that as I wrote above, I don't think this can use indexes and would therefore have poor performance.

Note that you can easily wrap something like this in a PG function and execut

[2020-11-24 18:10] JohnDitno commented on #1554
@roji from further reading online I don't believe unnest can use indexes so your right performance is likely to be poor.

I did find an extension called parray_gin (https://github.com/theirix/parray_gin/) which seems to provide GIN index and operator support for arrays with partial match this is likely to fall outside of EFCore.PG support.

I think to best option to support this use case would be

[2020-11-24 18:35] roji commented on #1554
Thanks for looking into this further.

FWIW I'm open to any translation that makes sense - including those which are complicated and/or require extensions (although exotic extensions are maybe a bit too much). What I'm wary of, is implementing translations which definitely yield bad performance in most/all cases where they're used, and where this isn't very obvious to the person writing the LINQ q

[2020-11-24 19:15] rcollette opened #1588 "HasData does not work with EntityTypeBuilder"
.NET 5.0.0
.NET Command-line Tools 5.0.0

I can generate seed data in migrations using DbContext's `ModelBuilder.HasData` but when I use `EntityBuilder.HasData`, no seed data is generated.

[2020-11-24 23:23] roji commented on #1588
Yeah, you're going to have to submit some code which shows what you're doing...

[2020-11-25 02:26] rcollette commented on #1588
This works

[code]

Doing HasData in an entity specific configuration like:

[code]
Doesn't generate any seeding information the migration.  Other configuration is applied when using EntityTypeBuilder, such as OwnsMany, so I know the `Configure` method of `IEntityTypeConfiguration<T>` is being called.   Originally I had all the seeding data configured in the IEntityTypeConfiguration classes but ha

[2020-11-25 05:39] roji commented on #1588
The code sample below seems to work fine for me, I can see the blog being seeded in SQL logging. Can you please check again, and if you're still seeing an issue, submit a full, runnable code sample (similar to the below) showing what's wrong?

[code]

[2020-11-25 06:31] roji opened #1589 "Translate Contains over list"
Leftover work from 5.0

[2020-11-25 06:33] roji opened #1590 "Translate Contains over array/list of nullable value types"
Leftover work from 5.0

[2020-11-25 06:40] roji commented on #1587
Am going to close this as covered by dotnet/efcore#23456

[2020-11-25 06:40] #1587 closed

[2020-11-25 19:53] roji opened #1592 "Support ltree"
We added support for [ltree](https://www.postgresql.org/docs/current/ltree.html) for Npgsql 5.0 in https://github.com/npgsql/npgsql/issues/699, this would add support at the EF Core level.

This includes both basic serialization and translation of operators and functions.

Docs PR: https://github.com/npgsql/doc/pull/76

[2020-11-26 03:31] weitzhandler commented on #1107
Is there already a way to have the EF Core provider resolve the `JsonSerializerOptions` from the DI container?

[2020-11-26 03:33] weitzhandler commented on #1107
IMHO `GlobalTypeMapper` should be deprecated and replaced with the [options pattern](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options).

[2020-11-26 08:40] roji commented on #1107
@weitzhandler not all applications are ASP.NET applications, or even DI applications, so requiring the options pattern wouldn't really do. There are also internal performance considerations which favor a global/static approach (such as GlobalTypeMapper) over something that would use DI.

What actual issues do you see with calling a GlobalTypeMapper on application startup?

[2020-11-26 15:49] weitzhandler commented on #1107
Thanks for your explanation, convinced me.

[2020-11-27 15:24] huseyingoztok opened #1593 "Npgsql 5.0.0.0 transaction completed and it is no longer available"
I update in the foreach loop and commit after the loop is over. The previous version did not have this error. Can you give information about the reason? Thanks for help.

[2020-11-27 15:26] YohDeadfall commented on #1593
Could you provide a sample code?

[2020-11-27 17:21] ronnyek commented on #1592
I feel like just getting ltree support into npgsql was a good step... if we had the capabilities to intelligently query and have that translated to appropriate sql, that would be incredible. Can't wait to see this supported =)

[2020-11-27 17:49] huseyingoztok commented on #1593
I have code similar to this example

https://stackoverflow.com/questions/65029805/npgsql-5-0-0-0-transaction-completed-and-it-is-no-longer-available

[2020-11-27 17:54] huseyingoztok commented on #1593
There is an update process to two different tables in the code. Indent has been bad. Sorry.

`foreach (var item in items)
            {
                try
                {
                    var fooList = Db.GetDefaultRepo<FooEntity>().GetMany(a => !a.IsDeleted && a.PropId == item.PropId).FetchAll(trackChanges: true);

                    if (item.UpdatePeriodId != null)
                    {

[2020-11-28 12:12] martinzima commented on #1529
We have run into this issue as well, basically when implementing something like EAVs. Our requirement was to be able to search the values in the dictionary with Web API OData using its open types which map the dynamic values to an IDictionary<string, object>.

Generating new classes with IL didn't seem like an option for my use case, so I took a different approach and **implemented a custom expres

[2020-11-29 02:21] andrewslavin opened #1594 "Please provide non-generic methods for creating and mapping enums."
Currently suggested ways to create and map enums are:

`ModelBuilder.HasPostgresEnum<TEnum>()   //to create enum from DbContext.OnModelCreating()`
`NpgsqlConnection.GlobalTypeMapper.MapEnum<TEnum>()   //to map enum`

Can you please provide non-generic versions:

`ModelBuilder.HasPostgresEnum(Type enumType)`
`NpgsqlConnection.GlobalTypeMapper.MapEnum(Type enumType)`

This would allow to loop throug

[2020-11-29 05:31] roji commented on #1594
Makes sense - we have non-generic mapping methods for composite, but not for enum. It should be pretty easy to do if you want to submit a PR.

[2020-11-29 09:56] #1589 closed

[2020-11-29 09:56] #1590 closed

[2020-11-29 14:57] roji commented on #1593
The issue seems to be that we throw when NpgsqlTransaction.Connection is accessed on a completed transaction:

[code]

<details>
<summary>Minimal EF6 repro</summary>

[code]

@vonzshik are you interested in taking a look at this?

</details>

[2020-11-30 19:54] mhosman opened #1595 "Seed data with POCO mapping"
I'm trying to use a POCO mapping (to use a jsonb column with a list of a defined object). When I try to scaffold I get an error:

Cannot scaffold C# literals of type 'System.Collections.Generic.List`1[Api.Models.UserType]'. The provider should implement CoreTypeMapping.GenerateCodeLiteral to support using it at design time.

[2020-12-01 16:01] xrkolovos commented on #1334
Hello,

This issue is worst in .net5.

There is code using IncludeProperties in autogenerated code in the *Designer.cs file.

You must change the name of this method.

[2020-12-01 16:03] tdolgyras commented on #1334
How can we reopen this?

[2020-12-01 16:09] xrkolovos commented on #1334
Before it used
`.HasAnnotation("SqlServer:Include",..`

[2020-12-02 04:07] sawich opened #1596 "ArgumentOutOfRangeException when trying to use identity with a value converter"
[code]

[code]

[code]

[code]

[2020-12-02 07:05] roji commented on #1596
Duplicate of https://github.com/dotnet/efcore/issues/11970

[2020-12-02 07:07] roji commented on #1596
@sawich the problem is that your Id property is a uint, which isn't supported as a native type in PostgreSQL (or any other standard relational database). EF Core does support uint by automatically setting up a [value converter](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions), but that isn't compatible with making it an identity column (https://github.com/dotnet/efcore/issues/1

[2020-12-02 09:35] #1596 closed

[2020-12-02 16:08] oshawa-connection opened #1598 "Full text search .Matches could not be translated to SQL"
Hello,

I'm having an issue using the full text search for this package, version 3.1.1.1.

My class looks something like this:

[code]

I add the index like this in OnModelCreating (doubt it is the cause of the error)

[code]

and my LINQ looks like this:

[code]

workingQuery works fine, but obviously isn't ideal because I already create and auto-update the tsVector column (SomeModel.search) in t

[2020-12-02 18:50] mhosman commented on #1595
Hey @roji there's a way to solve this? Thank you!

[2020-12-03 07:49] roji commented on #1595
Can you confirm that you're hitting this when trying to add a migration which seeds JSONB List values?

[2020-12-03 13:22] mhosman commented on #1595
@roji Not necessarily. In the code I attached there is exactly the same example from the documentation (it doesn't use a list, it uses the Customer object).

[2020-12-03 18:52] rlightner commented on #1542
This is still occuring with the full release of 5.0. Anyone else experiencing this?

[2020-12-04 07:52] kosalanuwan commented on #1588
Based on the docs [found here](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew#required-11-dependents). I tried this but the `HasData` keeps failing probably the model been generated is not what I intended to?

The error is  something like  this:
[code]
Here's the example code somewhat closer to what's in the private repo:

[code]

[2020-12-05 15:13] roji commented on #1588
Closing as no response was provided.

[2020-12-05 15:13] #1588 closed

[2020-12-06 15:48] asadcr opened #1599 "5.0.0: Npgsql.NpgsqlException (0x80004005): Exception while reading from stream"
Hello,
after upgrading to 5.0.0 version, this is the error i get for long queries. Long queries get timeout. Happens only on 5.0.0.
The same queries / codebase works fine with V3.1.2 or when connected with any local sql client to the same database.

The following is the exception
[code]

[2020-12-06 17:35] roji commented on #1599
There have been many changes around the timeout logic in Npgsql 5.0.0, so it's possible that some sort of bug slipped in. But it's going to be very difficult for us to do any investigation without some sort of runnable code sample - can you please try to put something together?

[2020-12-06 18:06] vonzshik commented on #1599
@roji did 3.1.2 supported an async timeout?

[2020-12-06 18:30] vonzshik commented on #1599
Also, might be npgsql/npgsql#3379

[2020-12-07 05:33] danielbecroft opened #1600 "Migration not applying after upgrading to .NET 5"
We have an application that was started under .NET Core 3.0, and has had a number of migrations generated and applied.

For some of our models, we added "shadow properties" like the below, that we added for automatic tracking of auditing and the like. One of the example fields is the `CreatedOn` field:

[code]

After adding this field, we changed this from `DateTime` to `DateTimeOffset`, and the m

[2020-12-07 05:47] roji commented on #1599
Good catch @vonzshik. @asadcr consider that you may be encountering a genuine case of timeout which was simply not flagged before, because async timeouts weren't implemented.

[2020-12-07 16:29] asadcr commented on #1599
@roji Setting a `Command Timeout=0` still does not fix the issue. I will try to compile a runnable sample hopefully. if there is something else you would like me to try, that would be helpful.

[2020-12-07 16:33] vonzshik commented on #1599
I recommend to test with a 5.0.1 CI version. Pretty sure there was a tutorial somewhere around here. @roji ?

[2020-12-08 12:30] Arsync opened #1601 "[NET 5] Can't map range with LocalDate of NodaTime"
My config of DbContext is following:
[code]
When I'm trying to create migration, there is exception like
`The property 'MyEntity.Period' is of type 'NpgsqlRange<LocalDate>' which is not supported by the current database provider.`

What's wrong with it? Has nothing more in [manual](https://www.npgsql.org/efcore/mapping/range.html) of Npgsql for EF Core.

[2020-12-08 14:01] Arsync commented on #1601
Nevermind. Found issue in my code, where NpgsqlRange was mapped direct to tsrange (regardless of type).

[2020-12-08 14:01] #1601 closed

[2020-12-09 12:28] egorovas opened #1602 "Issue with inserting entities"
**I use:**
1. PostgreSQL 13.0, compiled by Visual C++ build 1914, 64-bit;
2. Npgsql.EntityFrameworkCore.PostgreSQL, Version=3.1.4.0

**Models:**

[code]

**Model configuration:**

[code]

**After adding migration and updatig database, I have next table:**

[code]

**When I execute next code:**

[code]
I have exception: PostgresException: 23505: Duplicate key value violates unique constraint "pk_us

[2020-12-09 13:45] roji commented on #1602
I can't see anything obviously wrong with the above, can you please submit a runnable code sample where the error happens?

[2020-12-09 14:17] egorovas commented on #1602
Hello, roji. How can i do this?
I also want to note that this issue raised on newly created database after migrations (update-database command).

[2020-12-09 15:11] roji commented on #1602
You can share the link to a github repo with a runnable project, or post a ZIP here. The important thing is for me to be able to run the project as-is.

[2020-12-10 11:59] suadev opened #1603 "NpgsqlMigrationsSqlGenerator issue after upgrading to EF Core 5.0.1"
I've just upgraded to 5.0.1 and my custom migration SQL generator failed.

I replace it like below

[code]

All tables and constraints are created successfully but, while starting to seeding the cities table for a specific schema, I got the exception;

"There is no entity type mapped to the table 'sample_tenant.cities' used in a data operation. Either add the corresponding entity type to the model

[2020-12-10 12:27] roji commented on #1603
@suadev what were you using before upgrading to 5.0.1, 5.0.0 or 3.1.x?

Regardless, I'm going to need a full, runnable code sample in order to investigate...

[2020-12-10 12:32] suadev commented on #1603
@roji I know you need a runnable sample to reproduce it but it looks kinda tough. I'll try to do my best.

Previous versions;

"Npgsql.EntityFrameworkCore.PostgreSQL" Version="3.1.4"
"Microsoft.EntityFrameworkCore" Version="3.1.7"

[2020-12-10 12:57] efrainsteinbach opened #1604 "Having MS-SQL Context in parallel causes MS-SQL migrations to always add `Annotation("SqlServer:Identity", "1, 1")`"
### Issue description:
It seems like adding the nuget dependency `Npgsql.EntityFrameworkCore.PostgreSQL` to an existing project that is using `Microsoft.EntityFrameworkCore.SqlServer` as alternative database provider will cause the `add migration` command for MSSQL to misbehave: With every migration, it will generate `migrationBuilder.AltercColumn<int>(...).Annotation("SqlServer:Identity", "1, 1")

[2020-12-10 13:35] egorovas commented on #1602
Hello, roji! This is test project with issue: https://drive.google.com/file/d/1hkfVKH7IC_lpHDiYEPIJ18OKz4sSHYyy/view?usp=sharing . **Note**: this issue raised on newly created database after migrations (update-database command).

[2020-12-10 13:37] egorovas commented on #1602
I think the reason is that the sequence of identities is not incremented after adding data during the migration.

[2020-12-11 07:53] suadev commented on #1603
Hi @roji, I checked out dotnet/efcore repo. According to the state trace below,  the root cause is GetPropertyMapping method.

I found this commit:  https://github.com/dotnet/efcore/commit/ae1767554fd861a0ed1f1fb2004490abfafa2c34

Maybe you or  @AndriySvyryd have an idea? ( I am working on the sample to give you for reproducing)

Another useful info;   The schema in 'model' is null, so I guess my

[2020-12-11 08:53] egorovas commented on #1602
This issue duplicated #367

[2020-12-11 08:53] #1602 closed

[2020-12-11 10:28] roji commented on #1603
@suadev you seem to be doing some pretty serious customizations of the migration process to implement multi-tenant support, I'm not sure that's going to be fully supported...

The schema is usually configured on your model by calling ToTable in your model's OnModelCreating. Since you're changing the schema in various ways in the MigrationsSqlGenerator, you're going to have to make sure that that G

[2020-12-11 10:50] roji commented on #1604
Duplicate of https://github.com/dotnet/efcore/issues/23456

[2020-12-11 10:52] roji commented on #1604
Please upvote dotnet/efcore#23456 so we know you ran into it... For now, the recommended workaround is to have separate migration projects for each provider ([as detailed in the docs](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers?tabs=dotnet-core-cli)).

[2020-12-11 10:52] #1604 closed

[2020-12-11 13:26] suadev commented on #1603
@roji  thank you. Yes, this is for the 'schema per tenant' approach.

By the way, we set default schema like below in OnModelCreating.  But it seems this doesn't enough to catch schema value in the 'model' of the Generate method.

[code]

I also tried this but doesn't works;

[code]

I can't modify the RelationalModel because it's null in OnModelCreating method.

I'm working on a runnable sample.

[2020-12-11 14:26] suadev commented on #1603
I wonder why 'operation.Schema'  is used in CreteTableOperation like below.

But for InsertDataOperation , operation.Schema is not enough, also check model.GetRelationalModel().FindTable().

So, I can create a table, it's ok but I can not insert any data into it. I'm really confused.

I would like to know why this changed after 3.1.x.

cc:/ @smitpatel @ajcvickers

[code]

[2020-12-11 20:40] smitpatel commented on #1603
The issue is mismatch between the model and the migration operations.
Each migration file has a Designer.cs file associated with it which provides the model against which the migration was created for. This model is used when using the update pipeline to insert data through seeding.
In your code above you are changing schema for your Migration operation but you are not updating the associated mode

[2020-12-11 22:07] suadev commented on #1603
@smitpatel thank you. But, since this is a multi-tenant DB that separates tenants by schema, I can't set a schema value in the designer.

For instance,  creating and seeding the city table in the designer like below.  I can not define the schema name here..

No problem with creating the city table as I mentioned above. I set schema in the migration SQL generator.

But, how I am supposed to do the

[2020-12-11 22:23] smitpatel commented on #1603
As @roji wrote above

Couple of options I can think of,
- Intercept the generated SQL after it is generated and then replace the placeholder schema with actual schema. So SQL will be generated correctly from dummy schema without causing mismatch between model and migration operations
- If you want to intercept migration operations like above then you need to figure out how to intercept the model b

[2020-12-12 00:13] timbze commented on #1599
I have this same issue using Dapper with Npgsql, so I think it's not related to efcore. For me it happens when the data set gets too big. I will try to get some logs

[2020-12-12 01:14] AndriySvyryd commented on #1603
@suadev As the exception message states "Either add the corresponding entity type to the model or specify the column types in the data operation."
So if you can't alter the model appropriately then specify the column types in the InsertDataOperation. Though there's currently an issue when it doesn't actually flow through, so be sure to vote for it to be fixed soon: https://github.com/dotnet/efcore

[2020-12-14 07:23] suadev commented on #1603
@AndriySvyryd i see.  So, I will need to add column types' manually?

I mean, there are many entities like this and new ones are coming. Will I need to add 'columnTypes' manually for each new migration file?

[2020-12-14 07:48] AndriySvyryd commented on #1603
@suadev Since you are already overriding other methods you can override `Generate` for *DataOperations, find the column types from the model (see `GenerateModificationCommands`) and then pass the updated operation to base.

[2020-12-14 08:00] roji commented on #1603
Am closing this as there's nothing actionable on the Npgsql - but @suadev don't hesitate to continue posting if needed.

[2020-12-14 08:00] #1603 closed

[2020-12-14 09:46] yyjdelete opened #1605 "Index included properties not working with `dotnet ef dbcontext scaffold`"
Tested with `Npgsql.EntityFrameworkCore.PostgreSQL`: 3.1.4(efcore3.1.10)/5.0.1
Related to #1201

### Steps
1. Create database with the code in #1201
2. Run `dotnet ef dbcontext scaffold ... Npgsql.EntityFrameworkCore.PostgreSQL`
[code]
3. Change code to use the new output dbcontext, run and see

[2020-12-14 19:24] suadev commented on #1603
@AndriySvyryd hi, I am not sure this is the best way but it works.

Overridde insert/update data operations, set ColumnTypes and KeyColumnTypes.  That's it.

One last thing that is not clear for me; When you fix dotnet/efcore#23503, am I gonna need to refactor here again?

Any feedback will be appreciated ! Thank you.

[code]

[2020-12-14 19:58] AndriySvyryd commented on #1603
@suadev You should handle `DeleteDataOperation` as well

No, just don't set them if `ColumnTypes` or `KeyColumnTypes` are already not `null`

[2020-12-14 20:00] AndriySvyryd commented on #1603
I think you meant `op.KeyColumnTypes = table.PrimaryKey.Columns.Select(s => s.StoreType).ToArray();`

[2020-12-14 20:47] suadev commented on #1603
Thank you Andriy, you really helped a lot.

[2020-12-14 23:10] Cyberboss commented on #572
Note, this is definitely something should be aware of when using `MigrationBuilder.Sql`. All the other functions quote your SQL for you, so I was a bit confused when my hand-written SQL had `relation does not exist` errors.

https://github.com/tgstation/tgstation-server/pull/1164/commits/6747196acf86cbaf2dbaf77e3155f7004843f84a

[2020-12-15 10:33] suadev opened #1606 "Support value converters with generic Lists"
After upgrading to 5.0.1, some query service tests got failed. I put 2 sample below.

Exception: "Couldn't find array or element type mapping in ArrayAnyAllExpression"

I guess the root cause is 'Contains' but not sure about it.

[code]

[code]

Previous versions;

"Npgsql.EntityFrameworkCore.PostgreSQL" Version="3.1.4"
"Microsoft.EntityFrameworkCore" Version="3.1.7"

Stack Trace:

"{\r\n  \"error

[2020-12-15 12:02] suadev commented on #1606
Maybe duplication of https://github.com/npgsql/efcore.pg/issues/1559

As @roji said, should be fixed in 5.0.1, so there must be something else.

[2020-12-15 14:58] roji commented on #1606
@suadev can you please post a minimal, runnable code sample? It's really difficult to investigate from partial fragments such as the above - I need to see the types of the properties being accessed in the query, etc.

[2020-12-15 15:24] suadev commented on #1606
I was afraid of that :)  But, guess what happened? I downgraded to 5.0.0-rc2 and it worked.

So maybe you can figure it out by comparing the versions?

Sorry, since this is a large scale app, it's too hard to create a minimal sample.

But if you can't find the root, I am here ready to help.

[2020-12-15 15:29] Arsync opened #1607 "Can't get value from tstzrange to NpgsqlRange<OffsetDateTime>"
I'm using NodaTime by `Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime` (v5.0.1) and have model:
[code]
When `tstzrange` value `[2020-12-09T14:34:02.675750+03:00,)` is coming from database, it throws following exception:
[code]

[2020-12-15 21:07] jrhodnik opened #1608 "Model List<T> Additions Leaking To Other List<T>s"
I'm running into an issue where when a model includes multiple `List<T>`s, such a `List<string>` or a `List<int>`, and I add a new item to the `List<T>`, that same new item is added to all `List<T>`s with the same `T`.

For example, if you have a model such as this:

[code]

and you add an item to `PropFour`, both `PropThree` and `PropTwo` get the same item added. Note that `PropOne` will be unaff

[2020-12-15 21:15] roji commented on #1606
@suadev I can't really compare anything to 5.0.0-rc2, because I don't have actual code to compare :)

Can you at least try extracting specifically the queries you mentioned above, creating the minimal model around them, and see if that reproduces the issue? I'd have to do the same on my side, except I don't even have your model...

[2020-12-16 02:20] Quinntyne commented on #1261
@roji I'm running into the same issue today. I created a sample repo of some code that shouldn't work based on what you are saying about Multiple Active Record Sets, but it does work. I have a similar pattern implemented in a project that doesn't work. I'm bit confused as to what is going on. https://github.com/QuinntyneBrown/EFFunkiness

[2020-12-16 02:21] Quinntyne commented on #1261
@roji This works?
![image](https://user-images.githubusercontent.com/70151814/102296532-8603e080-3f1b-11eb-959a-dc54c049b13c.png)

[2020-12-16 06:44] Arsync commented on #1607
Seems, it happens not only with `NpgsqlRange`, but with any properties of type `OffsetDateTime`.

[2020-12-16 08:33] heggi opened #1609 "Incorrect translation for function ContainsOrEqual in 5.0.0"
Code

[code]

Translated to
[code]

Got `u.ip@__ipv4_2` instead `(u.ip >>= @__ipv4_2)`

I could not find any error in my code :(

[code]

[2020-12-16 09:09] heggi commented on #1609
Library Zack.EFCore.Batch breaks query translation.

[2020-12-16 09:18] Kampfmoehre commented on #1606
I have the same problem with a query that worked in 5.0.1:
[code]

In my case the list to compare only included one item with Guid `cdaac8b3-57ff-471d-a75e-c262e9d2d89f` (just test data from my development db). This is the stacktrace:

The Model code is:
[code]

[2020-12-16 09:39] roji commented on #1609
@heggi I couldn't reproduce the problem with the code below. Did you mean that Zack.EFCore.Batch is the source of the issue? If so, this should be flagged with the author of that library.

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2020-12-16 09:41] heggi commented on #1609
If you add `.UseBatchEF();` to optionsBuilder, you will got error.
I'm create issue https://github.com/yangzhongke/Zack.EFCore.Batch/issues/2

[2020-12-16 09:42] #1609 closed

[2020-12-16 09:42] roji commented on #1606
@Kampfmoehre as above, I need a runnable code sample - the fragments aren't enough to investigate. I tried with the below code and everything seems to be working fine.

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2020-12-16 09:48] Kampfmoehre commented on #1606
@roji I have created a quick repo which shows the error when run against my Database. Unfortunately I cannot expose my DB for you to test but I am working on adding seed data so you can test against a local DB. Until then can you try it against your own DB?

https://github.com/droidsolutions/npgsql_test

[2020-12-16 09:52] roji commented on #1261
You code throws for me, as expected (please don't post screenshots, but rather actual code as text...).

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2020-12-16 09:59] roji commented on #1606
@Kampfmoehre thanks for the repro, I can see the error happening. The reason is that you're mapping the OrganisationId property (which is a Guid) to a database `character varying`. If you map to a `uuid` instead, the code works.

I'll investigate why this is happening.

[2020-12-16 10:00] roji commented on #1606
@suadev can you please confirm whether you're also using a value converter?

[2020-12-16 10:06] suadev commented on #1606
Yes, There is an enum-to-string conversion for both cases.

[code]

[2020-12-16 10:20] Kampfmoehre commented on #1606
@roji Thanks for the quick response. The column is indeed character varying but the content is always a UUID, I tried to set an explicit conversion via

[code]
but i still get the error. Is there anything else I can do to make that work? Unfortunately I cannot change the type of the column (the database is originally created and used by a NodeJS application).

[2020-12-16 16:03] Quinntyne commented on #1261
@roji Sorry, I later realized I used "EnableRetryOnFailure" on the context.

[2020-12-16 16:23] roji commented on #1606
This started failing in 5.0.1 because of #1589, which improved support for generic List, but left out full support for value conversions. I've just submitted #1610 to fix this.

You can switch to using an array instead of a List for the meantime, or go back to 5.0.0 (for EFCore.PG only - EF Core can stay at 5.0.1) until 5.0.2 is released with the fix.

[2020-12-16 17:58] roji commented on #1607
@Arsync can you please post a runnable code sample (not just a fragment) which shows the issue? If it reproduces without NpgsqlRange, that's even better.

[2020-12-16 21:10] Arsync commented on #1607
Can't figure out what's going on: I've created [small project](https://github.com/Arsync/npgsql-range-offsetdatetime-error) to reproduce this issue from scratch.
But error message is different of my heavy solution:

Linq request in this small sample project:
[code]
Linq request in my heavy solution:
[code]
Both DbContext configuration the same:
[code]
Version of `Npgsql.EntityFrameworkCore.Postgre

[2020-12-17 00:04] etiennecl opened #1611 "List.Contains not translated in array overlap scenario"
Using `Npgsql.EntityFrameworkCore.PostgreSQL` with version `5.0.0` i've setup an entity with a `List<string>` property. The mapping is working properly although when executing a linq query of the following:

[code]

it throws an error stating that the expression could not be translated to SQL.

[2020-12-17 08:36] Arsync commented on #1607
Found why it throws different exceptions and updated sample project with another one `Hosted` app. It reproduces hosted runtime to add `EFCoreSecondLevelCacheInterceptor`, which changes exception message in [following lines](https://github.com/Arsync/npgsql-range-offsetdatetime-error/blob/e8f8e07bb6be0d118ef94e2b1ef4451620df8404/InstantIssueApp.Hosted/Startup.cs#L59-L60):
[code]
Test code has move

[2020-12-17 14:38] Arsync commented on #1607
I've thinked about possible workarounds when found [this article](https://ml-software.ch/posts/using-nodatime-to-replace-c-datetime):

In my case properties `VersionPeriod` and `CreationTime` are system-generated values and both can be of `Instant` type:
[code]
Is it safe to map `Instant` to `timestamp with time zone`?
Goal: performing sql queries by hands will show zoned time and C# code gets UTC

[2020-12-17 14:45] roji opened #1612 "Tests are flaky because of NpgsqlTypeMappingSource.SetupEnumMappings"
We're enumerating on one thread, and modifying on another...

Example: https://github.com/npgsql/efcore.pg/pull/1610/checks?check_run_id=1570885602

[2020-12-17 14:45] #1606 closed

[2020-12-17 15:51] ajruckman opened #1613 "Missing metadata namespace when scaffolding"
Hi, one of our databases has a timestamp index, and when I scaffold this database, the generated DbContext has a line like this:

[code]

However this doesn't compile:
[code]

These are all of the imported namespaces:
[code]

For this to compile the class also needs this:
[code]

I am using
- Microsoft.EntityFrameworkCore 5.0.1
- Microsoft.EntityFrameworkCore.Design 5.0.1
- Microsoft.EntityFramewo

[2020-12-17 16:23] roji opened #1614 "Allow INSERT ... RETURNING to be used in FromSql"
Originally opened by @xiaoxin01 as https://github.com/dotnet/efcore/issues/23710.

PG doesn't allow putting INSERT in a subquery, but allows it as a resultset-returning top-level statement.

[2020-12-17 16:53] roji commented on #1611
Thanks, I can repro this and am investigating.

Is array1 your `List<string>` property, and array2 a parameter? If so, you should be able to work around this by making array2 a `string[]` rather than a `List<string>`.

[2020-12-18 02:29] DashNY opened #1616 "JsonContains and sub-properties"
Is there a support for querying by a sub-property of an object within a collection?
For example, I have the following classes defined

[code]

How do I find all the MyEntity rows that have at least one Tag with TagId = 10 ?
Here's what I've tried so far:

[code]

[2020-12-18 10:43] #1611 closed

[2020-12-18 11:50] roji commented on #1608
@jrhodnik I can see the odd behavior - thanks for reporting this! I've opened https://github.com/dotnet/efcore/issues/23726 as this is reproducible on EF Core regardless of PostgreSQL.

[2020-12-18 11:50] #1608 closed

[2020-12-18 12:06] roji commented on #1616
Seems to have been cross-posted on SO: https://stackoverflow.com/questions/65347699/search-for-matching-sub-property-value-in-json-array

[2020-12-18 12:59] roji commented on #1616
This isn't supported at the moment. It would probably be doable via jsonpath (see #1045).

[2020-12-18 13:44] suadev opened #1617 "[Question] - PostgreSql Constraint Triggers"
My app is working on ef core 5.0 and efcore.pg 5.0.

I've just realized that we have about 1000 constraint triggers in our DB.  ( We didn't create it manually )

If I disable these, constraints also become ineffective.

Q1: These were created because of using an ORM?

Q2: May these triggers cause any performance issues ?  ( locks or something else? )

Thank you.

![image](https://user-images.githu

[2020-12-18 14:42] YohDeadfall commented on #1617
If `tgconstraint` points to a constraint, then that trigger was made as a part of the constraint by the server to support that constraint. So answers to your questions are:

No.

Yes as in any other database. For example, SQL Server doesn't create triggers, but uses internal structures to do the same thing.

[2020-12-18 14:42] #1617 closed

[2020-12-19 22:39] AmadeoDecay commented on #1600
I don't know if its same issue, or something else. After updating, there is pending changes in every migrations…
`protected override void Up(MigrationBuilder migrationBuilder)
        {
            migrationBuilder.AlterColumn<int>(
                name: "Id",
                table: "AspNetUserClaims",
                type: "int",
                nullable: false,
                oldClrType: typeof

[2020-12-20 05:57] mrspirytus opened #1618 "Issue inserting bulk GPS point to PostgreSQL 13 / GIS"
Hello,

I have issue inserting streamed GPS points to DB **(bulk copy)**

Here is my column definition in DB

I am using dotnet v5 on Windows 10 connecting to PostgreSQL 13 with GIS installed.
I installed efcore package v5.0.1 and its dependent packages. One of them is Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite

Both **Longitude** and **Latitude** are double type
[code]
When I step ove

[2020-12-20 06:08] YohDeadfall commented on #1618
Could you provide a full runnable sample and the schema?

[2020-12-21 01:26] bitcoinbrisbane opened #1619 "Could not load type 'Microsoft.EntityFrameworkCore.NpgsqlDbContextOptionsExtensions' from assembly 'Npgsql.EntityFrameworkCore.PostgreSQL, Version=5.0.1.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7'."
Getting the error "Could not load type 'Microsoft.EntityFrameworkCore.NpgsqlDbContextOptionsExtensions' from assembly 'Npgsql.EntityFrameworkCore.PostgreSQL, Version=5.0.1.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7'." when calling Postgres via EF from an ASP.Net core web api project.

If I do as "unit test", in a class lib, it works.

[2020-12-21 06:15] YohDeadfall commented on #1619
Are you mixing different versions of the provider?

[2020-12-21 06:34] roji commented on #1600
@AmadeoDecay are you referencing the PostgreSQL provider (or another provider) in addition to SQL Server? If so, this could be a dup of https://github.com/dotnet/efcore/issues/23456.

Otherwise, can you please open a new issue (as this doesn't seem to be related to the original issue), and include a repro project?

[2020-12-21 07:16] bitcoinbrisbane commented on #1619
Could be, I’ll double check.

[2020-12-21 15:17] tdolgyras opened #1620 "IncludeProperties is ambiguous between the Microsoft.EntityFrameworkCore.SqlServerIndexBuilderExtensions.IncludeProperties and the Microsoft.EntityFrameworkCore.NpgsqlIndexBuilderExtensions.IncludeProperties"
Hello,
we had an issue described here #1334.

As described there in .NET Core 3.1 we used .HasAnnotation("SqlServer:Include",..) and solved the error described but when we updated the project το .NET 5 the problem appeared again and the code using IncludeProperties in autogenerated code in the *Designer.cs file.

As a result of this, everytime we add a migration to the project we had to change the

[2020-12-21 17:55] roji commented on #1620
Duplicate of #23456

[2020-12-21 17:56] #1620 closed

[2020-12-21 17:57] roji commented on #1620
Yeah, this is a known issue in EF Core 5.0 - see #23456. For now you'll have to continue doing the manual replacing in the Designer file - but we'll discuss this soon in EF.

[2020-12-21 23:29] heggi opened #1621 "Computed columns migration error"
In EFCore 3.1 I did:
[code]

In EFCore 5.0 this code got error `System.NotSupportedException: Generated columns currently must be stored, specify IsStoredComputedColumn in your context's OnModelCreating`

I added to DbContext
[code]
But got the same error

If I remove `computedColumnSql: "..."` from migration code, I get general column.

My Entity:
[code]

Where is the error?

[2020-12-22 07:04] forik opened #1622 "Connection is not open"
Hello,

I see many exceptions in logs saying: "Connection is not open" when trying to call SaveChangesAsync on a db context.
Stack:
[code]

**Connection string**: "Host=server;Port=5432;Database=database;User Id=user;Password=password;Timeout=30;Multiplexing=True;"
**TFM**: netcoreapp3.1
**Packages**:
Microsoft.EntityFrameworkCore, Version="5.0.1"
Npgsql.EntityFrameworkCore.PostgreSQL, Version="5.

[2020-12-22 10:41] roji commented on #1622
Can you submit a runnable code sample which shows this happening?

[2020-12-22 13:20] forik commented on #1622
I knew one is going to ask me for a code :) The thing is the error is happening in a timer-triggered job and there can be several such jobs running in parallel. According to the logs there are around 80 failures out of 500 successful runs in 4 hours, so it can be hard to reproduce.
Can you please advise if there are any other steps I can take to nail down the issue?

[2020-12-22 13:35] heggi commented on #1621
I found the solution.
EFCore 5.0 required define `stored` param (true or false)
[code]

Error's message doesn't make clear how to fix this problem.

[2020-12-22 17:35] LotfiAghel opened #1623 "List<object> --> jsonb[] not jsonb"
hi
I  want use jsob[] for some Enumrable of object .
for sample:

[code]

if i use jsonb instead of json evry things ok but i wont use jsob[] beacuse is true

[2020-12-23 01:27] AmadeoDecay commented on #1600
@roji Thank you. I've read thread you posted and I think that is it.
I have installed packages and tried to use Postgres, but failed, so I let packages there and continued to use SQL Server. And with changes described there should be it. But it generates interesting issue.
Using Sql server, when I create custom identity (Guid Ids for most tables in identity) and install npg package. It creates thi

[2020-12-24 02:43] devhl-labs commented on #1585
When will this fix be available?

[2020-12-24 05:04] robinNode opened #1624 "The CommandTimeout does not work"
Steps:

Connection string:
Host=localhost;Port=5432;Username=postgres;Database=test;Timeout=30;Command Timeout=5

Usage:
var command = Database.GetDbConnection().CreateCommand();
command.CommandType = CommandType.StoredProcedure;
command.CommandText = "SQL-Statement"    // The SQL statement will take more than 5 sec to complemte execution.
command.ExecuteReader()
or
Database.ExecuteSqlRaw("SQL-Sta

[2020-12-24 06:36] YohDeadfall commented on #1624
Which version are you using? The problem should not exist in `5.*` because @vonzshik improved command cancellation handling.

[2020-12-24 06:50] robinNode commented on #1624
ef core: 3.1.7
Npgsql: 4.1.3.1
Npgsql.EntityFrameworkCore.PostgreSQL: 3.1.4

[2020-12-24 07:06] YohDeadfall commented on #1624
This version has issues with cancellation, so what you need is to update the driver to the latest major.

[2020-12-24 07:06] #1624 closed

[2020-12-24 21:45] mrspirytus commented on #1618
The issue was in my code. Closing this ticket. I think it would be still good to have working example in this project for others :)

[2020-12-24 21:45] #1618 closed

[2020-12-26 13:52] yehuda-alon commented on #1190
I have come across the very same issue. The easy workaround I ended up using was very simple:
Cast the values to string within the query. I suppose your code will look like:
SELECT e.id, e.status
FROM entity AS e
WHERE e.status**.ToString()** IN ('One', 'Three')

[2020-12-28 08:18] isc30 opened #1625 "SQL tree does not have type mapping assigned when using DateTime.Date"
Hi, when using `DateTime.Date` inside an `Expression`, I get the following error:

[code]

[2020-12-28 21:40] kobruleht opened #1626 "Non-nullable bool domain is scaffolded to nullable property"
Steps to reproduce:

1. Create non-nullable bool in postgres:

CREATE DOMAIN ebool AS bool DEFAULT false NOT NULL;

2. Create column with this type

CREATE TABLE test ( testbool ebool );

3. Generate  classes from database using

dotnet ef dbcontext scaffold "Host=my_host;Database=my_db;Username=my_user;Password=my_pw" Npgsql.EntityFrameworkCore.PostgreSQL

Observed:

Property is bool? type:

[2020-12-29 20:38] DAmrGharieb opened #1627 "42601: syntax error at or near "NOT""
hi guys
i am using EFcore 3.1.1 with corresponding PostgreSQL version but when i run update database this what happened ... for your information every thing is going ok when use sql server and my sql and couldn't figure out the problem

` public class ProductConfiguration : IEntityTypeConfiguration<Product>
    {
        public void Configure(EntityTypeBuilder<Product> builder)
        {

[2020-12-29 21:03] DAmrGharieb commented on #1627
i found the problem was that at the migration i write rule
builder.Property(p => p.Price).HasColumnType("decimal(18,2");
 it was has lack of parenthesis to the right

[2020-12-30 12:26] ngocketit commented on #1592
Is there any documentation about this? For example, mentioning needed PostgreSQL version and possibly an example of EF core code.

[2020-12-30 12:30] #1627 closed

[2020-12-30 12:32] YohDeadfall commented on #1592
It's not implemented for the EF provider v5.0 yet. Therefore, no docs.

[2020-12-30 13:52] ngocketit commented on #1592
@YohDeadfall Thanks for the info! Any ideas about the ETA or where I can track it further?

[2020-12-31 13:28] YohDeadfall commented on #1592
It's know only by @roji since he is only one who works on the EF provider.

[2020-12-31 20:26] kobruleht opened #1628 "Scaffolding changes table name"
To reproduce:

1. Create table meedia in postgres server:

	create table meedia (
	id	serial primary key;
	);

2. Create class files using scaffold.

Observed:

table name is changed to Meedium in generated code:

    public partial class Meedium
    {
        public int Id { get; set; }
    }

[2020-12-31 23:40] kobruleht opened #1629 "Cannot run SELECT WITH containing data-modifying clause"
It is not possible to create query which returns row and if row does not exist, insert it.

Steps to reproduce:

1. create table

`create table parameet ( workplace char(10) )
`
2. Run select/insert query:

[code]
Observed:

error

 '0A000: WITH clause containing a data-modifying statement must be at the top level'

[2020-12-31 23:45] kobruleht opened #1630 "CHAR columns returned contain trailing spaces"
Step to reproduce:

1. Create column in database as `CHAR(n)` type, like:

[code]

2. Read this column:

`    string nimi = ctx.Prpalks.Single().Sfirmanimi;
`

Observed:

returned string contains trailing spaces.

[2021-01-01 06:05] YohDeadfall commented on #1630
It's a normal behaviour for `char` type in SQL. Please read documentation at least for PostgreSQL at least.

This issue has nothing about the EF provider.

[2021-01-01 06:05] #1630 closed

[2021-01-01 06:23] YohDeadfall commented on #1629
As I know EF wraps your query into another, so `WITH` is nested. This isn't allowed if it contains a modifying statement.

Not sure what you are trying to achieve, but it looks like it's for querying and inserting a row which doesn't exist yet. In that case about rewriting the query or code to achieve that. Since you`re using plain SQL instead of LINQ think about Dapper, a micro ORM supporting pro

[2021-01-01 06:24] #1629 closed

[2021-01-02 12:51] parc1vaL opened #1631 "SELECT instead of PERFORM in idempotent script when seeding data"
Minimal example: [here](https://github.com/parc1vaL/Npgsql-perform)

When generating an idempotent migration script for a table that contains seed data (via `HasData` in `OnModelCreating`), the code generator returns an invalid script.

Steps to reproduce:
- clone repo above
- `dotnet ef migrations script -i` in project directory

The generated script contains the following:

[code]

This generate

[2021-01-04 11:30] supapo commented on #1595
Hi, I have this problem too, any fix or workaround?

[2021-01-04 16:45] roji commented on #1457
Waiting for 6.0.0-preview1

[2021-01-05 10:18] roji commented on #1631
@parc1vaL thanks for flagging this and looking into the code, you were very close to spotting the issue - Options gets reset back to default by the superclass implementation, so the code needs to look at the `options` parameter instead. I've submitted #1632 to fix this for 5.0.2.

[2021-01-05 10:22] roji commented on #1592
@ngocketit it's nice to see interest in this feature - I'm tentatively adding it to the 6.0.0 milestone.

It shouldn't be too hard to add support for this, if anyone wants to take a stab at it. If so, please post here to make sure we don't do double work, and also that implementation goes in the right direction.

[2021-01-05 10:46] roji commented on #1621
@heggi this is an unfortunate consequence of the changes made to properly support stored vs. non-stored columns in EF Core - see [the breaking change note on this](http://www.npgsql.org/efcore/release-notes/5.0.html#computed-columns-must-now-explicitly-be-configured-as-stored-1336httpsgithubcomnpgsqlefcorepgissues1336). I'm adding another sentence there about the need to fix up existing migration

[2021-01-05 10:47] #1621 closed

[2021-01-05 11:29] roji commented on #1614
After a second, there is actually nothing to be done here. See https://github.com/dotnet/efcore/issues/23710#issuecomment-754579552.

[2021-01-05 11:29] #1614 closed

[2021-01-05 11:33] roji commented on #1629
This looks like a duplicate of https://github.com/dotnet/efcore/issues/23710.

Your code above doesn't show how you actually execute the query - what comes after the FromSqlRaw - but the error suggests you're trying to compose another LINQ operator on top of it, which is the source of the issue. If you execute the FromSqlRaw without composing (e.g. via AsEnumerable, ToList or a foreach), your SQL

[2021-01-05 11:33] roji commented on #1629
Duplicate of dotnet/efcore#23710

[2021-01-05 12:07] roji opened #1635 "Use the new PG 13 DROP DATABASE FORCE"
https://www.postgresql.org/docs/current/sql-dropdatabase.html

[2021-01-05 13:07] roji commented on #1628
[This is a change in EF Core 5.0](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/breaking-changes#a-pluralizer-is-now-included-for-scaffolding-reverse-engineered-models), which now automatically does singularization when scaffolding. See the link for instructions how to turn this off.

[2021-01-05 13:07] #1628 closed

[2021-01-05 13:08] roji commented on #1585
@devhl-labs yeah, as the milestone shows, this is fixed in 5.0.1. Please let me know if you run into any issues.

[2021-01-05 13:11] roji commented on #1625
Can you please post a code sample that generates the error? The below works fine.

<details>
<summary>Attempted repro</summary>

[code]

[2021-01-05 13:24] roji commented on #1623
Can you please post a full code sample, including the error which you're getting?

[2021-01-05 15:13] roji commented on #1563
@ExerciseBook sorry for not having taken a closer look earlier - I can confirm there's an issue in the provider. I'll prepare a fix for the 5.0.2 release.

[2021-01-05 23:27] roji opened #1637 "Translate ArrayAccess/First over byte[]"
As in https://github.com/dotnet/efcore/pull/23210

[2021-01-06 00:01] tiborfsk opened #1638 "Spatial IsWithinDistance(geom2,d) - add support for use_spheroid flag"
I would like to query nearest locations in geodetic coordinates but using **sphere** measurements (because it is faster than using **spheroid** measurements and still sufficiently exact for my use case).

It could be done by adding optional UseSpheroid flag into IsWithinDistance method (same as in relevant PostGIS function https://postgis.net/docs/ST_DWithin.html). Maybe another alternative is add

[2021-01-06 00:08] roji commented on #1638
Are you interested in submitting a PR for this?

[2021-01-06 12:39] roji commented on #1595
This is currently unsupported; if you use JSON POCO mapping, you'll have to [take care of seeding yourself](https://docs.microsoft.com/en-us/ef/core/modeling/data-seeding#custom-initialization-logic).

The type mapping could use reflection to discover public properties which are readable and writable, and generate the proper C# code based on that. This will probably require some additions to code

[2021-01-06 20:13] HadiSDev opened #1640 "Foreign Key Duplicated with One-To-One relation"
I have these two entity types:
[code]

and

[code]

When I create the migration the following related part is created:

[code]

Notice that the **TenantInfos** table is created with two foreign keys UserId and UserId1 (???????)

Any ideas on what I am doing wrong. This seems like a bug

[2021-01-06 21:12] HadiSDev commented on #1640
I Configured the Fluent API wrong. Sorry to bother you :(

[2021-01-06 21:12] #1640 closed

[2021-01-07 10:34] netcorefan opened #1641 "array_position is not present in postgresql < 9.5"
Hi,

Last Npgsql.EntityFrameworkCore.PostgreSQL (5.0.1) generate sql code using array_position, but this funtion is not present in postgresq < 9.5

Is it posible to avoid this function for postgresql < 9.5?

tia!

[2021-01-07 10:51] roji commented on #1641
Yeah, 5.0 started using array_position to do correct null semantics - the pre-5.0 was actually buggy. It may be possible to find a workaround to produce the correct null semantics behavior without it, but at this point PostgreSQL 9.4 itself is out of support...

Please consider upgrading to a newer version of PG. Otherwise, you may be able to get around this by writing your query in a different wa

[2021-01-07 10:52] #1641 closed

[2021-01-07 11:54] roji opened #1642 "Pending minor changes for 6.0"
This issue is for tracking minor changes blocking on an upstream EF Core change.

### Pending

* [x] After https://github.com/dotnet/efcore/pull/25572, remove overrides for Where_collection_navigation_ToList_Contains, Where_collection_navigation_ToArray_Contains, Where_collection_navigation_AsEnumerable_Contains, SelectMany_with_client_eval_with_constructor (see 4a3c035fad2e7c60fb7d3648bf633984941

[2021-01-07 12:22] #1631 closed

[2021-01-07 12:23] #1626 closed

[2021-01-07 12:50] roji commented on #1598
Apologies for taking so long to respond to this. I couldn't repro the issue - there's likely something you're doing that isn't in the above fragments. Can you please take a look at my attempted repro below, and modify it so it fails like in your application?

<details>
<summary>Attempted repro</summary>

[code]
</details>

[2021-01-07 12:56] #1635 closed

[2021-01-07 12:58] roji opened #1645 "Switch to PG14 compatibility mode by default"
Since PG13 is still new, the provider currently assumes PG12 compatibility by default. We can consider bumping that to PG13 for the 6.0 version (which comes out in November 2021).

[2021-01-07 13:13] netcorefan commented on #1641
hi @roji
One possible workaround could it be this: https://gist.github.com/nathansgreen/f9b527de5d5691de0249c9c4dc61ec10
What do you think?

[2021-01-07 13:33] roji commented on #1641
Yep, that looks like a promising solution! I haven't looked in detail to make sure that the behavior is identical to the newer built-in one, but I'd definitely give it a go.

[2021-01-07 16:19] etiennecl commented on #1599
I'm currently getting this behaviour inside my integration testing setup using xUnit. I'm using a CustomwebapplicationFactory where I initialize a test database without any data:

[code]

I've then created a test class that uses the CustomWebApplicationFactoryFixture as a collection and a ClassFixture to initialize all the test cases with some initial data:

[code]

[2021-01-07 16:35] timbze commented on #1599
@etiennecl There is a similar issue here (https://github.com/npgsql/npgsql/issues/3403) that has been fixed in branch, but it's not released as stable yet. You can get it in 5.0.2-ci version [here](https://www.myget.org/feed/npgsql/package/nuget/Npgsql)

[2021-01-07 17:20] etiennecl commented on #1599
The new version from myget did'nt resolve the issue.

[2021-01-07 17:28] vonzshik commented on #1599
@etiennecl
1) Could you please provide the exact exception with a stacktrace?
2) Does it fail immediately or it takes some time to fail?
3) Does raising the `CommandTimeout` property in the connection string helps?

[2021-01-07 17:44] etiennecl commented on #1599
1. Here is the stack trace:
[code]

2. It take some time to fail
3. Changes nothing

[2021-01-07 19:16] #1638 closed

[2021-01-07 19:17] roji commented on #1638
Thanks for your contribution @tiborfsk!

[2021-01-08 20:38] PatrikBak commented on #1599
I've been having the same problem. Any query that transfers a larger amount of data fails at random and quite often. The only thing that helped me was a downgrade to 3.1.4.

[2021-01-08 21:28] saltatory opened #1646 "InvalidCastException: Can't cast database type xid to Int64"
In my project, I am trying to use `xmin` as a ConcurrencyToken. I'm also returning the `xmin` column to the client (via the API). When trying to read the `xmin` column, I'm getting the error `System.InvalidCastException: Can't cast database type xid to Int64`.

The example below is essentially identical to the program code plus unit test that I ran to test the above exception:

## Example Entity

[2021-01-08 22:39] etiennecl commented on #1599
This is unfortunate as we rely on the new many-many capabilities of ef core 5.0

[2021-01-08 23:54] kobruleht commented on #1626
It looks like this commit does not add support for not-nullable boolean. It adds only not-nullable string and integer type support.

[2021-01-09 00:39] roji commented on #1626
@kobruleht what makes you say that? The tests check int/string, but the change itself is valid for any PostgreSQL domain, isn't it?

[2021-01-09 15:33] PMExtra opened #1647 "FR: Support ILIKE with InvariantCultureIgnoreCase of string contains / equals ."
Ref: https://github.com/dotnet/efcore/issues/1222

Some of ef core provider such as Pomelo.EntityFrameworkCore.MySql has already do it.

So shall we consider to support it?

[2021-01-09 16:34] roji commented on #1647
See answer in https://github.com/dotnet/efcore/issues/1222#issuecomment-757331693.

[2021-01-09 16:49] roji commented on #1646
@saltatory your code sample above is missing various details (e.g. the model configuration) - it's always better to submit a fully runnable code sample.

I've done this below, and can successfully fetch the xmin value.

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2021-01-10 08:41] PMExtra commented on #1647
See https://github.com/dotnet/efcore/issues/1222#issuecomment-757439401

And those are all for equals comparison, what about contains ?

[2021-01-10 14:57] roji commented on #1647
Let's keep the conversation on the other issue. The point is less about whether to do TOLOWER or ILIKE, it's whether the overloads with StringComparison should be translated at all.

[2021-01-10 14:57] #1647 closed

[2021-01-10 15:24] #1457 closed

[2021-01-10 15:24] #1637 closed

[2021-01-10 17:17] #1563 closed

[2021-01-11 13:23] roji opened #1648 "Ability to configure identity options at the model level"
We have this at the property level, but not at the model level.

[2021-01-12 14:40] aswanevelder commented on #553
I was missing this from @roji ... .Net 5

`protected override void OnConfiguring(DbContextOptionsBuilder builder)
    {
        builder.UseNpgsql(ConnectionString, o => o.UseNetTopologySuite());
    }`

[2021-01-12 19:14] NatanaelLemos opened #1649 "EF.Functions.ILike does not support InMemoryDatabase tests"
In version 5.0.1 of Npgsql.EntityFrameworkCore.PostgreSQL, I cannot unit test methods that contain the ILike function due to it no longer supporting client-evaluation.

I have tests that rely on that functionality and that were working fine with version 3.1.4. But since I updated to the latest version, those tests no longer work. I assume it's related to the current changes on how it handles clien

[2021-01-12 19:35] roji commented on #1649
@NatanaelLemos EF Core 5.0 in general made the change to remove the client .NET implementation for Like and all other functions, and EFCore.PG followed suit for ILike. The point of these functions is only to serve for translation to SQL for server-side evaluation - client evaluation is generally not possible or practical for most cases anyway (e.g. full-text).

More generally, use of InMemory for

[2021-01-12 19:35] #1649 closed

[2021-01-12 20:11] NatanaelLemos commented on #1649
Thank you for the explanation @roji

So, the solution would be more an integration test, in which I would connect to a real database, rather than using InMemoryDb, is that correct?

[2021-01-12 21:07] roji commented on #1649
@NatanaelLemos in principle, yes. If you really want to perform tests that don't involve the database, it's usually recommended to implement a repository pattern (i.e. layer above EF Core's DbContext) which you can then easily mock in tests, returning whatever you want.

[2021-01-13 23:25] dawnthefawn commented on #1605
I have the same issue. Any indexes with include properties generate that line, and none of the include properties work.

[2021-01-14 13:15] djd1man opened #1650 "EF may throw unwrapped PostgresException when working with serializable transactions"
Entity Framework often wraps the platform-specific exceptions, so `PostgresException` is often encountered as the inner exception. Sometimes serialization failures are reported as a stand-alone "unwrapped" `PostgresException` which I find strange.
Please, find attached the project that may show the issue (testing with PostgreSQL version 13.0).

[IsolationTest.zip](https://github.com/npgsql/efcore.

[2021-01-14 14:10] GorgeousPuree opened #1651 "42601: syntax error at or near ")" when trying to make SaveAll()"
Greetings. I've got an entity Product:
[code]

And I'm trying to execute this code:
var copyHelper = new PostgreSQLCopyHelper<Product>("Products");

[code]
And I'm getting this:
![image](https://user-images.githubusercontent.com/46875481/104600130-47c82100-5681-11eb-8da8-219bbed0b54d.png)

[code]
I'm using EF Core to generate migrations. Database exists, table "Products" exists. I don't quite unde

[2021-01-14 14:27] YohDeadfall commented on #1651
As I can see the project doesn't use Entity Core to save data, so you chose a wrong repo. The second thing is that the driver doesn't generate SQL, but it does the helper to which maintainers you should contact.

[2021-01-14 14:27] #1651 closed

[2021-01-14 14:32] GorgeousPuree commented on #1651
Oh, yes sorry. I wanted to post this question to another repo, but messed up since I've got it opened in next tab. Thanks for your time.

[2021-01-14 16:27] roji commented on #1650
Is the problem that the PostgresException isn't wrapped with DbUpdateException? If so, this seems like it belongs in the EF Core repo, no?

[2021-01-14 18:47] lesley29 opened #1652 "Missing parentheses in query translation (NpgsqlTsVector Matches)"
Hi!

After migrating to .NET5 I upgraded Npgsql.EntityFrameworkCore.PostgreSQL to 5.0.1 and Npgsql to 5.0.1.1 and ran into the issue with full-text search query translation.

Could you please take a look at the following toy example:
[code]

The previous query translates into the following SQL:
[code]
and I get an error like:
[code]

However, in the previous version (Npgsql 4.1.7 & Npgsql.EntityFr

[2021-01-14 22:01] quixoticaxis commented on #1650
@roji are you certain it's on efcore side? It looks like at least some wrapping is done in this repository.

[2021-01-15 07:24] #1650 closed

[2021-01-15 09:59] roji commented on #1652
Thanks, I can indeed see this happening - will investigate.

[2021-01-15 11:12] #1652 closed

[2021-01-15 13:03] moredatapls opened #1654 "Npgsql interferes with SQL Server context"
We're running two databases, one SQL Server and one PostgreSQL instance. We're already connecting to the SQL Server through EF Core. Now, we would like to add a second context that connects to the PostgreSQL server.

However, as soon as we add the Npgsql dependency to our project, strange exceptions happen when writing to the SQL Server through EF Core. The only change is the dependency, no other

[2021-01-15 14:30] roji commented on #1654
You are likely specifying UseIdentityColumn in your model configuration - that extension method exists in both SqlServer and Npgsql, and the wrong version is getting resolved. Use that method with full qualification (e.g. `NpgsqlPropertyBuilderExtensions.UseIdentityColumn(...)` if you intend to apply to Npgsql) to disambiguate.

For more help, can you please post your model config?

[2021-01-15 15:08] moredatapls commented on #1654
Wow that was it indeed, seems to work now. The curse of extension methods! Are you aware of other possible conflicts or are there any resources on this?

[2021-01-15 16:17] roji commented on #1654
I've just now merged a patch to fix a very similar problem in migrations - see https://github.com/dotnet/efcore/issues/23456. Aside from UseIdentityColumn, IncludeProperties on indexes is also a culprit.

[2021-01-15 16:17] #1654 closed

[2021-01-16 14:30] oshawa-connection commented on #1598
Hi Roji, thanks for your reply. I just tried this is a tiny test project and couldn't reproduce the issue. I agree that there is something wrong with my code rather than a bug with this library, so I'll close this issue.
Thanks and tchüss Ü

[2021-01-16 14:30] #1598 closed

[2021-01-18 06:07] taspeotis commented on #1420
I have seen this recently and the application was missing a call to `UseTrigrams` on the `NpgsqlDbContextOptionsBuilder`.

As best I can tell the documentation does not explain how to use the `EF.Functions.Trigrams*` functions. `UseTrigrams` is documented as *Enable pg_trgm module methods and operators* but you need to know `UseTrigrams` exists first.

[2021-01-18 12:16] roji commented on #1420
Thanks @taspeotis, I've added [a new documentation section for Trigrams](http://www.npgsql.org/efcore/mapping/translations.html#trigram-functions), hopefully that's sufficient.

[2021-01-18 20:28] taspeotis commented on #1420
Looks great @roji - thanks for the quick response.

[2021-01-18 22:44] shaunburns opened #1656 "5.0.2"
Hi,

We are waiting for a fix that is in 5.0.2 and I was curious as to when a tentative date range we can expect the release?

I have seen the milestone for 5.0.2 however there is no due date. I had also pondered whether it would be released when the dotnet runtime/sdk 5.0.2 was released, which was last week.

Hoping you can help us out, which will allow us to plan when to re-attack our dotnet 5 u

[2021-01-19 12:44] roji commented on #1656
@shaunburns no issues, I understand you're looking forward to the release. I'm pretty sure we'll release within the coming week, or the next one at the very latest.

[2021-01-19 12:44] #1656 closed

[2021-01-19 15:16] etiennecl commented on #1599
@vonzshik I've managed to debug this a bit further and it appears the real exception is happening inside the `BatchExecutor` claiming that there is not enough space left on the buffer when using JsonHandler.

[code]

[2021-01-19 16:14] mhosman commented on #1595
Hey @roji thank you very much for you response. Is there any idea if this will be implemented in the future? Thank you

[2021-01-19 16:38] roji commented on #1595
As this may go well together with the general push for JSON support in EF Core, I've put this in the 6.0 milestone - but I wouldn't say this is the highest-priority item...

[2021-01-19 18:57] vonzshik commented on #1599
@etiennecl are you using Npgsql.Json.NET plugin?

[2021-01-19 21:48] etiennecl commented on #1599
yes!

[2021-01-19 21:54] vonzshik commented on #1599
In this case, good news: I've been able to repeat this error.

[code]

Right now, @YohDeadfall is taking a look.

[2021-01-20 01:35] erichiller opened #1657 "Enum with explicitly defined schema the same as the default schema will have its schema removed in ModelSnapshot"
Using EF Core 5 and Npgsql 5, I have several enums defined, and all work as expected, except for enums explicitly set to the `public` schema (which is the default in this case).

Defined as:
Within my `DbContext` I setup the enum using

[code]
I also tried setting `HasDefaultSchema('public");` but that didn't help.

before running a migration, `XxDBContextModelSnapshot.cs` will have:

[code]

upon

[2021-01-20 13:29] mg90707 commented on #1107
For our application it would be useful to provide options, too. It would especially be nice if we could somehow query case insensitive for jsonb properties, but I don't know how feasible this is.

[2021-01-20 18:45] sandrohanea opened #1658 "The type initializer for 'Npgsql.TypeMapping.GlobalTypeMapper' threw an exception"
Hi!

I'm using EFCore 5 and .NET 5 and currently upgraded Npgsql.EntityFrameworkCore.PostgreSQL package from 5.0.0-rc1  to version 5.0.2.

After upgrading this error was throwing with the following stack trace: https://github.com/sandrohanea/NpgSqlErrorApi/blob/main/error-stacktrace.txt

I reproduced the error in a test project which can be found here:
https://github.com/sandrohanea/NpgSqlErrorApi

[2021-01-20 19:24] sandrohanea commented on #1658
The issue was that I had a preview docker container of dotnet SDK cached by the docker. I removed the image so docker build will get a new one and the issue is not reproducing anymore.

[2021-01-20 19:24] #1658 closed

[2021-01-20 21:26] lukaepti opened #1659 "Trigram function(s) handle string-concatenating expressions incorrectly"
**Affected version**
Npgsql.EntityFrameworkCore.PostgreSQL.Trigrams version 3.1.4 (we've chosen not to migrate the project to .NET 5.0)

**Problem**
The following code generates an SQL query that is incorrectly typed:

[code]

**Expected result**
A correct query selecting rows whose concatenations of textual fields are similar to the string "query"

**Actual result**
A datatype mismatch, due to th

[2021-01-21 09:13] lukaepti commented on #1659
I tried the latest version (5.0.2) and it doesn't have the same problem:

[code]

This version depends on EF Core 5.x, however. EF Core 5.x can be used in .NET Core 3.1 projects but similarly as with .NET 5.x, it is not a LTS version.

[2021-01-21 10:49] roji commented on #1659
Duplicate of #1652

[2021-01-21 10:49] roji commented on #1659
Thanks for filing - as you've noticed this bug has already been fixed in 5.0.2. I'll backport the fix to the next patch release of 3.1.x.

[2021-01-21 10:49] #1659 closed

[2021-01-22 13:10] Asim-A commented on #971
Thank you. 💯

[2021-01-22 20:03] roji commented on #1599
@YohDeadfall this should be closed as a duplicate of https://github.com/npgsql/npgsql/issues/3464 right?

[2021-01-22 21:19] YohDeadfall commented on #1599
@etiennecl's problem was moved to the new issue, but it's hard to say what was here. Let's wait a week for @asadcr and close the issue in case of no response. Otherwise, we can close it right now and reopen later.

[2021-01-22 21:22] #1599 closed

[2021-01-23 07:11] sar opened #1660 "Update keys inside JSONB columns with migrations apply"
By default, changes to `class` properties do not affect the data inside `[ColumnType(TypeName = "jsonb"])` entities resulting in a loose structure in the database and requiring manually invasive PgSQL queries to correct.

For example,
[code]
[code]

Updated with new properties...
[code]

Results in a migration with changes that do not modify the keys inside `jsonb` columns **(i.e. keys `baz` and `

[2021-01-23 11:22] roji commented on #1660
@sar given that JSON itself isn't strongly typed and has no schema, what does it mean exactly to "modify schema inside jsonb"? What exact operation would you expect EF Core to send for you?

[2021-01-23 11:53] NinoFloris commented on #1660
I read it as them wanting the virtual schema (in this case the CLR type) of ef core json columns to be strongly consistent with the actual shape of all the data in the database.

As there is no DDL for json in postgres, the expectation is full data transformation DML statements in the migration to keep the data shape consistent with their code. (These migrations would be very write heavy, rewritin

[2021-01-23 17:40] roji commented on #1660
What would that actually mean, except maybe removing JSON elements when the corresponding CLR property is removed? Would there be any value in adding empty JSON elements when a property is added, given that when loading the JSON, an empty or non-existing element give the same result?

Yeah, in general I don't think this is very realistic (or even that valuable...)

[2021-01-23 17:57] NinoFloris commented on #1660
Well ideally it'd be more than just removal of course, but also change of type/shape from array to object and such things, again to actually be able to specify this in a model is already a ton of work :)

[2021-01-23 19:19] roji commented on #1660
I know it's an academic discussion, but still :) What kind of DML would change existing JSON array values to object? I mean, even PostgreSQL doesn't allow to change arbitrary column types - you have to specify a transformation yourself. In the same way, I can't see what *automatic* transformations we'd be able to do... though of course users can always add a quick JSON update in their migrations v

[2021-01-23 19:36] roji commented on #1660
Continued discussion offline with @NinoFloris, we don't think there's something of value (or practical) for us to do here. Will keep this open for a bit more to see if @sar has anything else to say.

[2021-01-23 20:36] sar commented on #1660
Great discussion as the performance implications and complexity of covering all possible use cases of transformations makes sense.

Think it'll be easier for users to implement specific `sql` operations in the `csharp` project to validate consistency, apply transforms on `jsonb data` to align with type changes, relative to the code-first properties.

Thanks @roji and @NinoFloris for the explanatio

[2021-01-23 20:36] #1660 closed

[2021-01-24 16:01] rabidkitten opened #1661 "Collations and Case Sensitivity Causes Error "nondeterministic collations are not supported for LIKE""
Following the section under Database Collation in the following document:

http://www.npgsql.org/efcore/misc/collations-and-case-sensitivity.html?tabs=data-annotations

When EF Core attempts to locate data using LIKE, it produces the error "nondeterministic collations are not supported for LIKE".

- The version of PostgreSql is PostgreSQL 13.1 (Debian 13.1-1.pgdg100+1) on x86_64-pc-linux-gnu, comp

[2021-01-24 16:19] YohDeadfall commented on #1661
Well, the documentation for our EF Core provider points to PostgreSQL which backends the driver and you service, so it makes sense to take a look at its docs and check what kind of exception you get first. If it's a `PostgresException` then you should see its docs first or search the internet since the question is [already answered on Stack Overflow](https://dba.stackexchange.com/questions/266097/

[2021-01-24 16:19] #1661 closed

[2021-01-24 16:41] roji commented on #1661
Note that this limitation is explicitly mentioned [in our docs](http://www.npgsql.org/efcore/misc/collations-and-case-sensitivity.html#postgresql-collations), along with some other alternative solutions for doing case-insensitive pattern matching (e.g. ILIKE).

[2021-01-24 16:42] rabidkitten commented on #1661
@YohDeadfall I read the docs and I saw the question that you say is "already answered on Stack Overflow". But what would be better (instead of you just simply closing my question), would be update to your documentation so that people don't waste their time trying to achieve what your documentation implies. If you had stated that LIKE wasn't supported, then I wouldn't have wasted my time implementi

[2021-01-24 16:53] YohDeadfall commented on #1661
@rabidkitten, we are not responsible for PostgreSQL which limitation you faced. At some point they maybe support that and will mention it their own release notes and docs. Therefore, I see no reason why we should just repeat it and take additional burden by maintaining it too in additional to personal documentation, it would be too much for a free open source project maintained by a few people (EF

[2021-01-24 17:09] rabidkitten commented on #1661
@YohDeadfall And you don't even think just a second that many of us are also spending our time on free open source projects and that our time is also valuable.

[2021-01-24 22:09] #874 closed

[2021-01-24 22:09] #1520 closed

[2021-01-24 23:57] #1582 closed

[2021-01-25 01:25] roji commented on #1657
Thanks for reporting, there are definitely some bugs around schema-scoped enums in general.

I'll take a look at this together with #930 and #1315.

[2021-01-25 02:18] roji commented on #1592
FYI I'll probably be working on this soon - am posting so that no double work is done.

[2021-01-25 04:36] erwan-joly opened #1663 "Migration behavior changed between dotnet core 3.1 and dotnet 5"
Hi, I'm unsure if this is a breaking change or just a bug / also unsure if it's related to Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime
Npgsql.EntityFrameworkCore
or
Microsoft.EntityFrameworkCore

Repo with an example
https://github.com/erwan-joly/EF5Bug

Before dotnet 3.1 the ef tools was not adding type and oldtype to altercolumn generated code.
https://github.com/erwan-joly/EF5Bug/blob/master

[2021-01-25 12:54] #1220 closed

[2021-01-25 14:30] roji opened #1664 "Merge Trigrams and FuzzyStringMatch plugins into the main project"
Our policy for when something belongs in a plugin isn't very consistent at the moment... FuzzyStringMatch and Trigrams are external plugins - because they correspond to (bundled) PostgreSQL extensions - but hstore is supported out of the box.

I think our criterion for external plugins should simply be if an external nuget package is needed. So NTS and NodaTime do belong in external plugins - and

[2021-01-26 10:10] ilya-chumakov opened #1666 ""Object must implement IConvertible" when filtering by enum value using OData and Npgsql.EntityFrameworkCore.PostgreSQL 3.1"
I don't know OData or Npgsql causes this exception, but any feedback is welcome. Here is the same issue on OData side where the assumtion about Npgsql involvement was made: https://github.com/OData/WebApi/issues/2180

**The problem**

this works:

    $filter=status eq 'NEW'

this throws an "Object must implement IConvertible" exception:

    $filter=status in ('NEW')

**Additional detail**
Stack

[2021-01-26 12:13] roji opened #1667 "Tests are flaky because of enum-related concurrency issues"
[We load all enums in NpgsqlTypeMappingSource](https://github.com/npgsql/efcore.pg/blob/main/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L288), but various tests add/remove mappings as that happens, producing a `Collection was modified; enumeration operation may not execute.` (e.g. [this build](https://github.com/npgsql/efcore.pg/actions/runs/463430574)).

We could look at this as an

[2021-01-26 12:13] roji opened #1668 "Cache the Windows EnterpriseDB PostgreSQL distribution"
The EnterpriseDB site is somewhat flaky and downloads of the Windows PG installation occasionally fail. We can cache these with Github Actions and only download when the version changes.

[2021-01-26 14:03] roji commented on #1378
Am closing this for age, and as we don't think we have a bug here. @gmarokov if you still think there's an issue on the Npgsql side - after updating to the latest version - please post back and we'll reopen if necessary.

[2021-01-26 14:03] #1378 closed

[2021-01-26 14:04] roji commented on #1414
Duplicate of #473

[2021-01-26 14:04] roji commented on #1414
We don't currently translate members on DateTimeOffset.

[2021-01-26 14:04] #1414 closed

[2021-01-26 14:04] roji commented on #1418
Closing as no answer was provided.

[2021-01-26 14:04] #1418 closed

[2021-01-26 14:05] roji commented on #1421
Closing as no further details were provided.

[2021-01-26 14:05] #1421 closed

[2021-01-26 14:05] roji commented on #1429
Closing as no further details were provided.

[2021-01-26 14:05] #1429 closed

[2021-01-26 14:06] #1430 closed

[2021-01-26 14:06] roji commented on #1442
Closing as no further details were provided.

[2021-01-26 14:06] #1442 closed

[2021-01-26 14:07] roji commented on #1448
Closing as no answer was provided.

[2021-01-26 14:07] #1448 closed

[2021-01-26 14:08] #1473 closed

[2021-01-26 14:08] roji commented on #1497
Closing as no answer was provided.

[2021-01-26 14:08] #1497 closed

[2021-01-26 14:14] roji commented on #1509
Duplicate of #2439

[2021-01-26 14:14] roji commented on #1509
Upgrading to a newer version of Npgsql should make this go away.

[2021-01-26 14:14] #1509 closed

[2021-01-26 14:16] roji commented on #1515
@jessicah sorry for not answering this earlier, this issue slipped through the cracks.

I'm going to need a bit more info to understand exactly what's going on - ideally the database schema being reverse-engineered, and the code model and context that were scaffolded from it.

[2021-01-26 14:18] roji commented on #1519
@deokershesh sorry for not answering this, it slipped through the cracks... Is this still relevant?

[2021-01-26 14:18] roji commented on #1538
Closing as no answer was provided.

[2021-01-26 14:18] #1538 closed

[2021-01-26 14:20] roji commented on #1542
@rlightner sorry for not answering this sooner - it slipped through the cracks.

Can you please try again with the latest versions (5.0.2) and report if you're still encountering this? Are you using the EFCore.NamingConventions plugin to apply snake_case naming? If so, can you please try without it and report whether the problem persists?

[2021-01-26 14:21] roji commented on #1543
@ajcvickers ping

[2021-01-26 14:23] roji commented on #1548
@siegfried01 sorry for not commenting here earlier, this issue slipped through the cracks.

You're going to have to post a code sample to show exactly what it is you're attempting to do. As a lot of time has passed, I'm going to assume you worked through the problem and will close the issue. If you're still running into problems, please post back and I'll reopen if necessary.

[2021-01-26 14:23] #1548 closed

[2021-01-26 14:24] #1550 closed

[2021-01-26 14:25] roji commented on #1551
@arpikusz sorry for not answering sooner, this issue slipped through the cracks.

Can you post the full exception and stack trace? It's unlikely that any database ownership/rights issue could cause an exception to be thrown in ConfigureServices, as that method isn't supposed to contact the database.

[2021-01-26 14:26] roji commented on #1562
Closing as no answer was provided.

[2021-01-26 14:26] #1562 closed

[2021-01-26 14:29] roji commented on #1574
@mnifakram sorry for not answering sooner, this issue slipped through the cracks.

We generally need an actual code sample to understand what you're doing wrong - a simple exception isn't enough. In general, mapping jsonb with EF Core should be covered [in the docs](http://www.npgsql.org/efcore/mapping/json.html?tabs=data-annotations%2Cpoco). As this issue is a bit old, I'm going to go ahead and c

[2021-01-26 14:29] #1574 closed

[2021-01-26 14:49] roji commented on #1605
@dawnthefawn AFAIK included properties aren't scaffolded by the SQL Server provider at all - can you provide more details about exactly what's going? Opening a separate issue would probably be better.

[2021-01-26 15:01] roji commented on #1605
@yyjdelete sorry for not looking at this earlier - I can confirm it's indeed a bug. The only way to fix this currently is to override EF Core's RelationalScaffoldingModelFactory (an internal service...), and to apply transformations on the include properties annotation.

I've opened https://github.com/dotnet/efcore/issues/23980 on the EF Core side to provide better support for this.

[2021-01-26 15:03] roji commented on #1613
Thanks, we should move this public-facing enum (and others) to Microsoft.EntityFrameworkCore.Metadata.

[2021-01-26 15:05] roji commented on #1619
Closing as no answer was provided.

[2021-01-26 15:05] #1619 closed

[2021-01-26 15:07] roji commented on #1622
@forik sorry for not providing an answer sooner.

The usual way of doing a code sample for a non-deterministic issue like this, is to loop over the suspect code in parallel (multiple threads/tasks) - if there's an issue, that usually manages to trigger it.

As some time has passed, let me know if you're still encountering this problem.

[2021-01-26 15:07] roji commented on #1623
Closing as no answer was provided.

[2021-01-26 15:07] roji commented on #1625
Closing as no answer was provided.

[2021-01-26 15:07] #1625 closed

[2021-01-26 15:07] roji commented on #1646
Closing as no answer was provided.

[2021-01-26 15:07] #1646 closed

[2021-01-26 15:08] roji commented on #1666
@maumar does this look like it belongs on the EF Core repo?

[2021-01-26 20:56] #1664 closed

[2021-01-26 21:03] roji commented on #1664
Ideally we should put an version upper limit on the next patch versions of the Trigrams and FuzzyString packages, so that nuget complains if someone tries to use older Trigrams with newer (>= 6.0) versions of EFCore.PG. But seems like <ProjectReference> [doesn't support version ranges](https://github.com/NuGet/Home/issues/5556)...

[2021-01-27 05:35] deokershesh commented on #1519
Thanks for following up, it has been resolved or no more issue. Please feel
free to close the ticket.

On Tue, Jan 26, 2021, 7:48 PM Shay Rojansky <notifications@github.com>
wrote:

[2021-01-27 08:54] #1519 closed

[2021-01-27 12:10] forik commented on #1622
@roji Thanks for the tip. There are no more such issues, it might have been related to the fact that we've lost indexes and pks after doing a data restore. Closing

[2021-01-27 12:10] #1622 closed

[2021-01-27 16:30] LotfiAghel commented on #1623
hi
Thank you very much for your response.
thats is my code
file://models.cs:
public class ShapeContainer
    {
        [Key]
        public int id { get; set; }
        [Column(TypeName = "jsonb[]")] //IMPORTANT side of code i want user ARRAY of JSONB not JSONB
        public Shape[] shapes { get; set; } // if i user List<Shape> i got error in inserting data but if i use Shape[] this code insert W

[2021-01-28 01:53] jessicah commented on #1515
That is the schema above, not sure what else needs to be provided. The error is trying to scaffold the types, and fails, so I don't have any generated code to show.

[2021-01-28 10:23] arontsang commented on #1607
Shouldn't the conanical type to map to for EFcore.pg.Noda for this datebase type be [NodaTime.Interval](https://nodatime.org/3.0.x/api/NodaTime.Interval.html) rather than NpgsqlRange<Instant>?

[2021-01-28 10:25] roji commented on #1515
@jessicah understood. EF Core currently requires foreign and principal keys to have exactly the same type - I've opened https://github.com/dotnet/efcore/issues/24007 to track improving this.

In the meantime, while scaffolding won't work, you should be able to define your code model with `integer` on both sides, and even if the database type is actually `bigint` everything should work.

Am closing

[2021-01-28 10:25] #1515 closed

[2021-01-28 10:29] roji commented on #1607
@arontsang although there's semantic similarity between an interval and a range of timestamps, from a typing perspective NpgsqlRange corresponds to PostgreSQL ranges`, which are a specific class of types with their own operations etc. You can already map NodaTime Interval (and Period) to PG `interval`.

[2021-01-28 10:48] roji opened #1671 "Support mapping NodaTime's Interval to PG tsrange/tstzrange"
NodaTime's [Interval](https://nodatime.org/3.0.x/api/NodaTime.Interval.html) type closely corresponds to PostgreSQL tsrange/tstzrange: both holds a start and end timestamp.

The interesting question is if this should be the default mapping, or whether we should retain `NpgsqlRange<DateTime>` as the default.

Originally suggested by @arontsang in https://github.com/npgsql/efcore.pg/issues/1607#issu

[2021-01-28 10:48] roji commented on #1607
Thinking about this some more, mapping NodaTime Interval to PG tsrange/tstzrange is something we could support - they do correspond very closely. The question in my mind is whether this should become the default mapping (minor breaking) or just an option.

[2021-01-28 11:22] Arsync commented on #1607
Still have LocalDate period:
[code]
which now exists with Interval type:
[code]
Maybe it less elegant to use different types from two libraries to handle date ranges?

[2021-01-28 11:42] roji commented on #1607
@Arsync I don't think we'd remove support for mapping `NpgsqlRange<Instant>` to tsrange. Mapping Interval would simply be another option for users who prefer the native NodaTime type, rather than the Npgsql type.

However, given that NodaTime's Interval does correspond very well to PG tsrange, using Interval seems like a nice API improvement.

[2021-01-28 12:06] roji commented on #1623
@LotfiAghel who is creating the `$type` here? This doesn't happen by default, unless you've set up some sort of custom processing... If you did, I really need to see a full code sample, rather than fragments. See the below code sample which successfully inserts shapes into a `jsonb[]` column, without any string conversion or backslashes.

However, I can see the exception when a List is used, will

[2021-01-28 12:30] roji opened #1672 "List<T> properties are improperly mapped when the store type is specified"
When a column store type is specified on a `List<T>` property, we improperly set up the type mapping (selecting NpgsqlArrayArrayTypeMapping instead of NpgsqlArrayListTypeMapping).

Originally raised by @LotfiAghel in #1623

[2021-01-28 12:30] roji commented on #1623
Note: have identified the bug with List<T>, opened #1672 to track the fix.

[2021-01-28 13:31] arontsang commented on #1607
As an aside, I am currently putting together a PR for a ClassMapper for mapping NodaTime.DateInterval into daterange.

I've also implemented .Start, .End .Contains etc...

Unfortunately, I'm having some trouble with running the Unit Tests.

[2021-01-28 13:48] VendelCzinder opened #1674 "Jsonb column property null check result in wrong SQL condition"
Hi,

I have a problem where newer versions of Npgsql for EF creates wrong SQL query conditions. See the example below.

Minimal working example:

### .NET:

[code]

### SQL:

[code]

### Resulting SQL query using Npgsql.EntityFrameworkCore.PostgreSQL version 3.1.11:

[code]

### Resulting SQL query using Npgsql.EntityFrameworkCore.PostgreSQL version 5.0.X:

[code]

Please note the "WHERE FALSE" co

[2021-01-28 13:55] roji commented on #1607
@arontsang I like what you're doing, but as I wrote in the PR I think we should build the mapping support at the ADO layer, so that non-EF users can benefit from it too. Let me know if you're up for doing that too - and also if you need any help, tests or otherwise.

[2021-01-28 14:01] arontsang commented on #1607
The issue with building the mapping at the ADO layer is that it would be a
breaking change. Currently the ADO layer would map daterange to
NpgsqlRange<LocalDate>.

On Thu, 28 Jan 2021, 21:55 Shay Rojansky, <notifications@github.com> wrote:

[2021-01-28 14:13] roji commented on #1674
@VendelCzinder thanks, found the issue and submitted a fix for 5.0.3. The issue is perfect, contains all the info :)

[2021-01-28 14:19] roji commented on #1607
@arontsang I think it should be possible to add support there by registering a DateIntervalHandler that extends RangeHandler<LocalDate>, but also implements `INpgsqlSimpleTypeHandler<DateInterval>`. That would allow both type mappings to exist, while keeping the range mapping as the default; you would still be able to set a parameter's value to a DateInterval, and read back a daterange as DateInte

[2021-01-29 08:04] michalsznajder opened #1676 "Value objects with converters as identity fields"
Full code in https://gist.github.com/michalsznajder/10457b29538fc03da99ae7a4298917f4

I have a model where primary keys are implemented as value objects with C#9 record types:
[code]
As you see I also want to use identity to generate values for primary key. When trying to migrate such model I get following error:

[code]

Error message is obvious but I wonder if there is a way to work around it so

[2021-01-29 08:56] roji commented on #1676
Duplicate of #11597

[2021-01-29 08:58] roji commented on #1676
Duplicate of #1439

[2021-01-29 08:58] roji commented on #1676
(also see https://github.com/dotnet/efcore/issues/11597)

[2021-01-29 08:58] #1676 closed

[2021-01-31 03:00] felinepc opened #1678 "HasForeignKey() with composite key in Fluent API results in mismatched principalColumns in migration and generated query"
**Edit: My bad.** **I didn't add ```.HasPrincipalKey``` after ```.HasForeignKey``` to give it the correct columns to map to.**

I customized an ASP.NET Core Identity model (backed by EF Core context with PostgreSQL) by:

1. Adding a composite unique constraint on ```IdentityUserLogin``` (```AspNetUserLogins``` table, with my inherited class ```ApplicationUerLogin```) via Fluent API:
[code]
2. Adde

[2021-01-31 10:55] roji opened #1679 "NewArray type mapping logic is broken"
https://github.com/npgsql/efcore.pg/blob/main/src/EFCore.PG/Query/NpgsqlSqlExpressionFactory.cs#L521

[2021-01-31 11:05] #1679 closed

[2021-01-31 11:48] ElmirSecerbegovic opened #1682 "OnModelCreating (.net 5, ARM64)"
we have migrated to .NET 5 (5.0.102) CENTOS 8 ARM64 infrastructure. However we are experiencing random issue "Object reference not set to an instance of an object". When we restart the service (console app) it runs fine for couple of hours and then raise the same issue.

We are using latest Npgsql.EntityFrameworkCore.PostgreSQL 5.0.2.

Full error stack

[code]

[2021-01-31 15:34] #1672 closed

[2021-01-31 17:39] #1678 closed

[2021-01-31 17:41] felinepc commented on #1678
Sorry my bad. Found the cause:  I needed to add ```.HasPrincipalKey``` after ```.HasForeignKey``` to give it the correct columns to map to, because the defined constraint was not a primary key in the principal table.

[2021-01-31 20:10] roji opened #1683 "Correct the nullability processing for ArrayIndex"
We currently consider ArrayIndex nullable only if the array or index expressions are nullable - but an array can have null elements as well. We should look at the nullability of the array's CLR property and take the element nullability into account as well.

[2021-02-01 12:44] ShvetsovAU opened #1684 "The property 'X' is of type 'Y' which is not supported by the current database provider. Either change the property CLR type, or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'."
Hello.

We are migrate from EntityFramework 6 to EF.Core.

We have two model as:

[code]

configuration in model creating:

[code]

We are use Microsoft.EntityFrameworkCore.SqlServer (5.0.2) provider and Microsoft.EntityFrameworkCore (5.0.2)
Then db context is created and i try use Context.Set<TEntity>(), i get error:

"System.InvalidOperationException: 'The property 'P3DBModel.User' is of type 'U

[2021-02-01 13:31] ShvetsovAU commented on #1684
Try set "User" setting

entity.Property(e => e.ObjectId).HasColumnType("SMALLINT");

not did not help

[2021-02-01 13:43] roji commented on #1684
This repo is for the PostgreSQL provider. For SQL Server issues, please post in the EF Core repo at https://github.com/dotnet/efcore.

[2021-02-01 13:43] #1684 closed

[2021-02-02 13:25] #1592 closed

[2021-02-02 13:27] roji commented on #1592
This has been completed will be released in 6.0.0-preview1.

[2021-02-03 12:40] #1683 closed

[2021-02-03 12:43] roji commented on #1682
@ElmirSecerbegovic can you please post the code in your OnModelCreating method? This seems like a bug there.

[2021-02-03 14:04] ElmirSecerbegovic commented on #1682
We are attaching code cause it is pretty large. Also, as we said everythings works fine after restart for the some time period. Se, exceptions happens randomly during the running state

[onModelCreating.txt](https://github.com/npgsql/efcore.pg/files/5918922/onModelCreating.txt)

[2021-02-03 14:14] buehler opened #1688 "Question: where do you add your support for array expressions?"
This is a question about your (amazing) work.

Since ef core does not naturally support array types and postgres (and therefore your lib) does. We ran into troubles when testing our application with the ef core in-memory database.

Now I know that the ef core team is working on supporting array types in the more or less near future.

But, to remove the need for `Database.IsNpgsql()` checks with ki

[2021-02-03 15:36] roji commented on #1682
@ElmirSecerbegovic can you please reopen this issue in the general EF Core repo (https://github.com/dotnet/efcore), as it doesn't appear to be related to Npgsql specifically?

I can't really see anything that would explain an NRE inside EntityTypeBuilder<T>.Property. But one thing is odd... You say that you get this exception after the program is already running for a while, but your stack trace s

[2021-02-03 15:49] roji commented on #1688
Move from https://github.com/npgsql/npgsql (the ADO driver) to https://github.com/npgsql/efcore.pg (the EF provider).

The translation of complex array patterns such as Any/Contains happens in [NpgsqlSqlTranslatingExpressionVisitor.VisitMethodCall](https://github.com/npgsql/efcore.pg/blob/main/src/EFCore.PG/Query/Internal/NpgsqlSqlTranslatingExpressionVisitor.cs#L155) - this is the hook where any

[2021-02-03 15:49] #1688 closed

[2021-02-03 16:06] roji commented on #1682
Duplicate of https://github.com/dotnet/efcore/issues/24056

[2021-02-03 16:06] #1682 closed

[2021-02-03 16:55] buehler commented on #1688
Alright, perfect, thank you for the answer!

[2021-02-04 10:24] roji commented on #1553
@dstj sorry for not looking at this earlier - this issue slipped under my radar.

The problem you seem to be flagging is that `$type` isn't the first key in the JSON document when serializing to jsonb, and therefore Newtonsoft.Json doesn't deserialize the correct type when reading back from the database.

PostgreSQL `jsonb` does not maintain key order, by design - it's not a text dump of your JSON

[2021-02-04 10:24] #1553 closed

[2021-02-04 11:14] roji commented on #1551
Closing for now as no further details were provided, can reopen.

[2021-02-04 11:14] #1551 closed

[2021-02-04 11:14] roji commented on #1542
Closing as no answer was provided, but can reopen if further details are posted.

[2021-02-04 11:14] #1542 closed

[2021-02-04 11:47] roji commented on #1564
@fabienDaou sorry for not answering this earlier - this issue slipped under my radar.

I have executed your repro as-is - just changing the connection string - and did not get any error... Would it be possible to give this another look and provide a functioning repro?

Note https://github.com/npgsql/npgsql/pull/3465 which was recently fixed for Npgsql 5.0.3 and produces the same error, but that is

[2021-02-04 12:20] rlightner commented on #1542
Sorry, thought I had responded. We rewrote this area of code so was not able to repro. We were not using the `EFCore.NamingConventions` plugin. Thanks again.

[2021-02-05 16:00] atrauzzi opened #1690 "ValueComparer for non-primitive property not tracking automatically"
I recently posted [this ticket over at the EF Core repo](https://github.com/dotnet/efcore/issues/24067) and part of me is wondering if it might be happening due to something in npgsql's EF Core layer.

It's a pretty detailed ticket, so if it's okay, you can refer to it for the details.  But briefly summarized, I have created a `ValueComparer` and configured it.  Everything seems to work if I follo

[2021-02-06 00:10] Jmorjsm commented on #248
I'm interested in picking this up.
@roji what would your thoughts be on generic naming for annotations in this? I ask as I've been looking for a similar solution for greenplum but this is obviously a feature in multiple distributed postgresql DBs.

[2021-02-06 00:32] roji commented on #248
@Jmorjsm great. I'm not familiar with this feature (or postgres-xsl/greenplum), are you saying multiple distributed PostgreSQL DBs have the exact same command syntax, as a sort of standard? I'd be wary of assuming cross-database compatibility here - even if there's similarity between the different DBs, I'm guessing there are syntax differences as well. A comparison with some links to the different

[2021-02-06 08:03] TahaDgn commented on #1186
@roji  what about more than one enums ? there is no problem for a enum type,
[code]
I have two more enum types that have already created on db then I have to implement them manually, According to doc, I can map a enum type through lamda exp. But I could not find any doc for multiple operations.

[2021-02-06 16:25] Emill commented on #712
Ok so I've done some initial performance testing regarding PostgreSQL's query plans.

There are basically two strategies, executing a subquery and join + group by + aggregate.

Subquery:

[code]

Join + group by + aggregate:

[code]

The first strategy includes a subquery which will be executed once per row. This means O(n*m) if there is no foreign key index, due to it will perform a full sequenti

[2021-02-06 16:36] roji commented on #712
@Emill thanks for putting the time into this... I agree this looks very promising and have had thoughts about it in the past as well.

Can you please open a new issue with the above, and we can continue the conversation there? This issue already contains quite a bit of not quite relevant discussion, would be good to start afresh.

[2021-02-06 16:57] Emill opened #1691 "Translate queries where a row includes a collection to use arrays instead of being implemented through joins"
Following discussion in https://github.com/npgsql/efcore.pg/issues/712.

Consider queries like

[code]

or something like

[code]

This might either lead to "cartesian explosion" if implemented through joins, or result in multiple duplicated work at the server if split-query strategy is used (https://docs.microsoft.com/en-us/ef/core/querying/single-split-queries).

PostgreSQL is capable of returni

[2021-02-06 23:00] ranolfi commented on #1077
@roji, shouldn't something like this work?
[code]

My understanding is that the two methods of enumerating the DbSet, `Load()` and `ToList()`, should behave the same as enumerating it and assigning to a separate variable. In fact, from a bit of Googling it appears these methods work for other providers, just not Npgsql.

If you confirm I can open a new issue for this.

[2021-02-06 23:33] mgj opened #1692 "ArgumentOutOfRangeException for query on CockroachDB?"
I have an asp.net project with a simple INSERT query, which is confirmed to work with Postgres. Replacing Postgres with CockroachDB breaks it, however:

[code]

There is an issue thats related to this i think, on the Cockroach repo: https://github.com/cockroachdb/cockroach/issues/48050

In that issue its mentioned that "The above can be worked around in the driver, i.e. by disabling the specific f

[2021-02-07 07:39] nixxholas opened #1693 "SSL Handshake issue on macOS Big Sur"
Simply running this line of code that uses a DbContext with a SSL connection would result in this error.
[code]

[code]

https://gist.github.com/nixxholas/80b16f82fe8f0e04676d2ffcfe7a7a25

Running these on localhost would work fine tho. But when the local server (mac) connects to a GCP SQL server that has SSL, it fails.

[2021-02-07 09:55] roji commented on #1692
Cross-posted on stackoverflow: https://stackoverflow.com/questions/66082962/entity-framework-argumentoutofrangeexception-for-query-on-cockroachdb

[2021-02-07 10:01] roji commented on #1693
@nixxholas thanks for flagging this - but it's very likely to be some compatibility/setup issue between .NET SslStream, the mac SSL implementation, and possibly GCP. Npgsql doesn't do any of its own SSL - it simply delegates that task to the standard .NET SslStream.

First, does the same error occur with Linux/Windows as the client? That would help focus attention on the right area.

Second, I'd p

[2021-02-07 10:04] roji commented on #1692
/cc @rafiss

@mgj please post a runnable, minimal console program which reproduces - an exception isn't sufficient to properly investigate what's going on.

[2021-02-07 10:09] roji commented on #1077
In your code above, users is a DbSet (an IQueryable). Calling ToList on it doesn't "fill it up" with the data - it causes the query to be sent, but then the results are discarded since you're not assigning them to any variable. The next time you access the DbSet (e.g. by enumerating over it with foreach), a query is again sent, which is why calling Load inside the foreach will throw. In other word

[2021-02-07 12:01] mgj commented on #1692
@roji Thanks for your reply

I have created a minimal console application that reproduces the issue here: https://github.com/RandomStuffAndCode/Cockroachdb_postgres_issue

It uses different DbContext implementations to switch between a local Postgres installation and a local CockroachDB installation. Using `DataMainDbContextPostgres` works, `DataMainDbContextCockroach` does not.

I included some g

[2021-02-07 13:11] roji commented on #1691
Thanks for putting this together @Emill, I agree it's a very promising direction for the PG provider.

EF Core automatically creates indexes for foreign keys, so I don't think this should be too much of a concern. Also, if there's no index, won't regular JOINs be equally bad?

Sure. In any case, this will very likely be an opt-in strategy - just like split query is an opt-in in EF Core - so users

[2021-02-07 13:42] Emill commented on #1691
Not necessarily. It can use a sequential scan on both tables (once) and then use a hash join to combine them. A subquery executing a full sequential scan with a filter is basically the same as a nested loop join strategy.

I'm currently reading through EFCore.Relational.Query to get a grasp of how EF Core actually works internally, and how much big of a work this would be.

[2021-02-07 16:26] Emill commented on #1691
This seems also a perfect fit for implementing the currently non-supported `GroupJoin` LINQ method.

[2021-02-07 19:01] kobruleht opened #1694 "NpgsqlValueGenerationStrategy undefined in dynamic scaffold code"
Steps to reproduce:

1. Create table with serial column:

[code]
2. Run code below

Observed:

Exception

Generated code contains

[code]

Code to reproduce:

[code]

[2021-02-07 20:11] roji commented on #1691
That's possible, but note that in many cases GroupJoin is rewritable to other LINQ constructs, see https://github.com/dotnet/efcore/issues/19930.

[2021-02-07 21:17] ranolfi commented on #1077
I did some testing and it indeed appears you are correct. There was certainly a misunderstanding from my part, then. Thank you for clarifying!

[2021-02-08 01:53] nixxholas commented on #1693
@roji Thank you for responding even on a sunday! Hope all is well for you.

I can confirm this cannot be reproduced in Windows 10.

Actually, any SSL connection attempt (even migrating the DbContext) would fail on macOS apparently...

[2021-02-08 12:25] isc30 opened #1695 "[BUG] Cannot concatenate strings"
I have the following Expression:

[code]

which errors

[code]

but it works when doing this, which shows that the issue is the string concatenation

[code]

I couldn't find any workaround for this.

Things I tried:
- `"%" + keyword + "%"`
- `$"%{keyword}%"`
- `string.Concat("%", keyword, "%")`
- `string.Join("", new string[] {"%", keyword, "%"})`

[2021-02-08 13:59] roji commented on #1695
This pattern cannot be translated to PostgreSQL SQL - at least not efficiently.

Without the concatenation, the provider translates to the following:

[code]

There's no place to do the concatenation in there - at least not without significantly compromising the perf aspect. If you have any specific idea for the SQL you'd like to see, let me know.

However, you should be able able do the concatena

[2021-02-08 14:22] roji commented on #1693
Does this repro with a local PG, or this with GCP PG only?

[2021-02-08 14:40] roji commented on #1694
@kobruleht this looks like it could be because NpgsqlValueGenerationStrategy is in the Npgsql.EntityFrameworkCore.PostgreSQL.Metadata namespace - it should be under Microsoft.EntityFrameworkCore.Metadata. I'll do this change for 5.0.

[2021-02-08 14:50] roji commented on #1613
Am going to do this for 6.0 without patching to 5.0 because of the breakage potential (existing scaffolded migrations/model snapshots).

[2021-02-08 14:50] roji commented on #1694
Duplicate of #1613

[2021-02-08 14:51] roji commented on #1694
Note: as of now I'm not going to patch this for 5.0, since there's some breakage potential...

[2021-02-08 14:51] #1694 closed

[2021-02-08 14:53] isc30 commented on #1695
Hi, I was expecting the `string concatenation expression` to output something like the following (it works):
[code]

## Just tested this SQL example and it seems to work.
- Keywords: ['donos', 'ostia']
- Possible generated SQL:

[code]

[2021-02-08 15:06] roji commented on #1695
@isc30 it seems you want the EF provider to expand your parameter into constants inside the query. That means that every time you run the query - with a different keywords array - a different SQL will be generated, defeating EF's internal caching and Npgsql's prepared statement cache, and generally slowing everything down (that is the perf aspect I hinted at before).

The way things are currently

[2021-02-08 15:06] #1695 closed

[2021-02-08 15:07] nixxholas commented on #1693
Local PG works fine (Homebrew Postgres), AWS Postgres same issue as well!

[2021-02-08 15:07] isc30 commented on #1695
Okay, I understand the reasoning now, thanks

[2021-02-08 15:12] roji commented on #1694
Cross-posted on SO: https://stackoverflow.com/questions/66092065/npgsqlvaluegenerationstrategy-undefined-in-npgsql-ef-provider-dynamic-scaffold

[2021-02-08 15:15] roji commented on #1693
Yeah, very likely. Another thing I'd try, would be to connect from macOS to GCP PG outside of Npgsql (e.g. just with libpq or the Java driver); the issue may be in macOS's SSL implementation, or in GCP's, or possibly in .NET's wrapping for macOS... But not in Npgsql...

[2021-02-08 17:36] rafiss commented on #1692
Thanks! From what I can see the error message is not coming from within CockroachDB, so I'm not familiar with it. But if it turns out that the issue is CockroachDB supplying unexpected data/metadata, I will track this down further.

[2021-02-09 08:27] mgj commented on #1692
@rafiss Thanks for your input. Its odd that postgres works, but cockroachdb doesnt, but you guys probably know how to locate the issue better than i do

If there is anything i can do, any more information i can provide, please let me know

[2021-02-09 10:16] fabienDaou commented on #1564
Hello,
thank you for having a look.

I tried again and could consistently reproduce. I am testing against this version of Postgres "PostgreSQL 12.4, compiled by Visual C++ build 1914, 64-bit".

By the way, I upgraded the dependencies to these versions:
[code]
and the test now passes. So it looks like something was fixed between Npgsql 4.1.5 and 5.0.3.

Fabien

[2021-02-09 11:05] roji commented on #1564
Npgsql 5.0.3 *should* be compatible with Npgsql.EntityFrameworkCore.PostgreSQL 3.1.4 - though this isn't a fully-tested scenario. If this solves the issue for you, I'd suggest trying to run this way - you can report any issues you hit.

Otherwise we'd have to understand why your repro doesn't produce an error on my machine...

[2021-02-09 11:19] vonzshik commented on #1564
@roji can confirm, the repro does produce an error on my machine. And I'm pretty sure it's due to npgsql/npgsql#3465

[2021-02-09 12:02] roji commented on #1564
@vonzshik thanks! In that case, the fix was backported for 4.1.9 - but that version hasn't be released yet.

@fabienDaou you can try adding our [patch nuget feed](https://www.myget.org/feed/npgsql/package/nuget/Npgsql) and try using Npgsql 4.1.9-ci.20210206T112541 which contains the fix. If that works, you can continue using that until 4.1.9 is released.

[2021-02-09 14:29] ilya-chumakov commented on #1666
@roji @maumar could you tell if you have any ideas, please?

[2021-02-09 15:50] fabienDaou commented on #1564
@roji I just tried it and it is working fine!

Thank you
Fabien

[2021-02-09 16:10] roji commented on #1564
Thanks for confirming (and thanks @vonzshik for looking at this).

[2021-02-09 16:10] #1564 closed

[2021-02-09 16:10] roji commented on #1564
Duplicate of #3464

[2021-02-09 17:14] JulioPablo commented on #1569
Any updates on this?

[2021-02-09 19:22] vonzshik commented on #1569
@JulioPablo EntityFrameworkCore.Postgresql 5.0 has been released on 15 of November.

[2021-02-11 19:26] atrauzzi commented on #1690
See: https://github.com/dotnet/efcore/issues/24067#issuecomment-777731697

[2021-02-11 19:26] #1690 closed

[2021-02-12 04:52] mhosman opened #1696 "How to use Contains with Expression.Call to look for a value inside an array in Postgre?"
I have an array column in Postgre. The way to search for a value in SQL is something like:

`SELECT * FROM table WHERE 1 = any(group_of_ids)`

Based on NPGSQL docs:

`array1.Contains(element))` in .NET is traduced to SQL > `element = ANY(array)`

I need to use an expression for a dynamic filter I'm working with but I don't know exactly how to generate it. I tried something like this but that "Cont

[2021-02-12 11:15] roji commented on #1696
Any reason for using the Contains on NpgsqlRangeDbFunctionsExtensions? From your description it doesn't sound like any ranges are involved. Try using Enumerable.Contains.

[2021-02-12 15:01] mhosman commented on #1696
Sorry @roji how it should be? Can you post a simple example? Thank you so much!

[2021-02-12 15:32] roji commented on #1696
Can you explain exactly what you're trying to do, and why you're doing dynamic LINQ? It's usually possible (and a very good idea) to avoid constructing expression tree nodes manually as you're doing.

Note that constructing an Expression.Constant with different values will defeat EF Core's caching (as well as Npgsql's), [see this page in the docs](https://docs.microsoft.com/en-us/ef/core/performan

[2021-02-12 17:09] mhosman commented on #1696
@roji thanks for your response. I'm trying to build dynamic filters coming from a URL. Something like **v2/users?filter=id eq 1 and name lk 'John'**

All of that is working using something similar to this answer example:

https://stackoverflow.com/questions/46306955/how-to-construct-a-dynamic-where-filter-in-ef-core-to-handle-equals-like-gt-l

Now I need a way to search for example if a number is

[2021-02-12 17:44] roji commented on #1696
Something like this should work:

[code]

Then, when you see a `cn` filter, you can add it to your queryable like this:

[code]

Am closing this as there's this is a help issue, but feel free to continue asking if anything is unclear.

[2021-02-12 17:44] #1696 closed

[2021-02-12 18:42] mhosman commented on #1696
Thank you very much @roji . Anyway I'm trying to build a since I'm trying to Concatenate OR's using a PredicateBuilder.New<T>();

[2021-02-13 13:58] Jmorjsm commented on #248
Turns out postgres-xl has a few more distribution options than Greenplum, with distribution styles and more distribution strategies.
From the [postgres-xl documentation](https://www.postgres-xl.org/documentation/sql-createtable.html):
[code]
I have implemented all of the above in #1697.
There is some overlap in the syntax supported by both postgres-xl and greenplum, namely when using `DISTRIBUTED

[2021-02-13 15:38] mhosman commented on #1696
@roji I was able to use this, returning a predicate:

`return predicate.Or(e => EF.Property<TElement[]>(e, propertyName).Contains(element));

It's working! Thank you so much!!! Just one more question. If I want to look inside a string array with ILIKE, it should be something like this:

`return predicate.Or(e => EF.Property<TElement[]>(e, propertyName).Any(x => EF.Functions.ILike(element.ToString(

[2021-02-13 15:42] roji commented on #1696
Glad to hear it worked out for you.

Regarding the second question, you can indeed use Any and ILike, but you cannot concatenate - this precise question was asked recently in #1695.

[2021-02-13 15:44] mhosman commented on #1696
Thanks @roji !! Yes, I'm using ANY and ILIKE but I'm getting an error. I attached the error to my previous comment.

[2021-02-13 23:44] kobruleht opened #1698 "Scoped service throws exception "A command is already in progress""
Using Npgsql EF data provider as scoped service throws exception "A command is already in progress"

To reproduce:

1. Configure ASP.NET 5 MVC Core application to use NpgSql EF provider as scoped service in StartUp.cs :

[code]
3. Use following method to get dynamic data as described in

https://github.com/dotnet/efcore/issues/1862#issuecomment-451671168

and in

https://stackoverflow.com/question

[2021-02-14 01:09] felinepc opened #1699 "What's the recommended way to store NodaTime's ZonedDataTime via Npgsql for EF Core?"
The library documentation [here](https://www.npgsql.org/efcore/mapping/nodatime.html) does not mention `ZonedDateTime` as a supported mapping.

Furthermore, PostgreSQL itself does not have a single date type that can store  date+time+time zone.

Given this, what is the best practice way to store a full `ZonedDateTime`, using its original data (no assumptions), into PostgreSql via this library? I a

[2021-02-14 11:25] #1698 closed

[2021-02-14 11:39] roji commented on #1699
The NodaTime plugin does allow mapping ZonedDateTime to PG timestamptz, but as you've noted, the latter doesn't actually store the timezone; the plugin converts the ZonedDateTime to UTC before sending it out.

As you wrote, the only way to store a full ZonedDateTime - including the timezone - is to split it into two PG database columns. EF Core doesn't currently allow mapping a single property to

[2021-02-14 11:39] #1699 closed

[2021-02-14 16:45] kobruleht opened #1700 "jit cannot turned off for single query"
To reproduce, run

`await ctx.Students.FromSqlRaw("set jit to off;select * from student; set jit to on").ToListAsync();
`

This causes syntax error  since query is wrapped to subselect.
As discussed in pgsql-general mailing list, jit causes some queries to run very slowly.  It should be possible to jit off for specific query.

[2021-02-14 17:53] roji commented on #1700
Which version are you using? The above works just fine in 5.0.

[2021-02-14 18:00] kobruleht commented on #1700
I'm using .NET 5 with latest packages (5.0.3)

[2021-02-14 19:29] roji commented on #1700
Here's my code where it works:

[code]

[2021-02-14 19:29] richardthombs opened #1701 "Calculating distance between two points gives very different answers compared to SQL Server"
I can't believe that something like this is really a bug, more likely it is my inadequate understanding of Postgres / PostGIS and NetTopologySuite.

TDLR:
I am puzzled why this example code gives the correct distances when using `.UseSqlServer` but very different values when the `DbContext` is created using `.UseNpgSql` instead.

Repo with a repro: [richardthombs/spatial-test](https://github.com/r

[2021-02-14 19:32] roji commented on #1701
@richardthombs I haven't looked at your repro yet, but do you maybe need to use `geography` on PostGIS? Take a look at the PostGIS docs to understand the difference between geometry and geography.

[2021-02-14 19:36] richardthombs commented on #1701
@roji Thanks for the fast reply. Do you happen to know how I can coerce EF Core into using the Geography type with Npgsql?

[2021-02-14 19:46] richardthombs commented on #1701
Ah, think I see it: https://www.npgsql.org/efcore/mapping/nts.html#geography-geodetic-support

So basically I have to add this in `OnModelCreating`:

[code]

It would be very helpful if there was a global configuration option to switch the type translation to do this by default.

I guess I will close this and open a feature request instead :)

Thanks for your help @roji

[2021-02-14 19:46] #1701 closed

[2021-02-14 20:15] kobruleht commented on #1700
Context contains class Toode and subclass TooteInfo without additions:

[code]
DbContext contains:

[code]
Command which causes exception:

`            var tooteinfo = await ctx.Tooteinfos.FromSqlRaw("set jit to off;select * from toode;set jit to on").ToListAsync();
`
It generates SQL

[code]
Postgres error:

[2021-02-15 11:03] roji commented on #1700
This is specifically happening because you're querying a non-root type in the hierarchy. If it's acceptable to query the hierarchy root, that will work.

Opened https://github.com/dotnet/efcore/issues/24157 to track on the EF side.

[2021-02-15 11:03] #1700 closed

[2021-02-15 11:03] roji commented on #1700
Duplicate of https://github.com/dotnet/efcore/issues/24157

[2021-02-15 11:04] roji commented on #1700
Another option is to send set the JIT option outside of the raw query, though that would add roundtrips. Finally, you can just wrap the whole thing in a PG function.

[2021-02-15 13:52] Qvijaypatil opened #1702 "Relational Virtual properties are getting saved as null in v 3.1.2. upon downgrading it to 2.2.4 it works"

[2021-02-15 16:12] roji commented on #1702
@Qvijaypatil you're going to have to provide a runnable code sample in order for us to understand better what you mean. Also, this sounds like it isn't specific to the PostgreSQL provider, so probably belongs in https://github.com/dotnet/efcore.

[2021-02-16 01:37] Reznik070 opened #1703 "Npgsql nextval C#"
Hi,

I'm new to npgsql. I'm trying to insert in the id column using an already created sequence in PG. What do I assign below for parameter:

id parameter --->                    cmd.Parameters[0].Value = "";

Thanks.

[2021-02-16 03:47] zabidin901 commented on #284
This is still happening and this solution is not valid (even with pooling turned off and materializing the request). I'm on version 5.0.2

[2021-02-16 06:03] Bouke opened #1704 "Using NodaTime in EF Core yield InvalidCastException in EF6"
I'm writing an application that's in the process of migrating to .NET 5 / Core / EF Core. However as most of the projects are targeting .NET Framework, this change will take some time. In the interim, we're writing new projects in EF Core 3.1, while the existing projects continue to work on EF6.

NodaTime isn't being used for the entities in the EF6 project (just DateTimeOffset / DateTime). Howeve

[2021-02-16 08:18] roji commented on #1704
Which version of Npgsql are you using (the ADO, not EF Core provider)? This sounds like https://github.com/npgsql/npgsql/issues/2439 which was fixed in Npgsql 4.1.5

[2021-02-16 08:21] roji commented on #284
@zabidin901 please open a new issue with a runnable code sample.

[2021-02-16 08:23] roji commented on #1703
If your ID column has been configured to default to values from the sequence, then you don't need to insert a value into it from .NET at all. Not inserting the value will make PostgreSQL default to taking the value from the sequence.

BTW for usage questions, it's recommended to post a question on stackoverflow (tag with npgsql), issues are more for when you suspect a bug in Npgsql or wish to requ

[2021-02-16 08:23] #1703 closed

[2021-02-16 10:03] Reznik070 commented on #1703
I apologize, and big thanks for Npgsql.

[2021-02-16 10:47] Bouke commented on #1704
According to my lock file and file explorer, I'm on version 4.1.8.

[2021-02-16 11:23] roji commented on #1704
Can you please submit a minimal code sample, i.e. a small project with both EF Core and EF6 in use, which reproduces this problem?

[2021-02-16 16:06] zabidin901 opened #1705 ""Connection already open" When too many calls happen at the same time."
I am on version 5.0.2 running .NET 5

The error:
[code]

The Stack Trace:
[code]

I have also listed out the context Id and added console logs to make sure I'm not reusing the same DBContext. Turned pooling off and even made sure I have materialized the query. Still happens. I have tried changing the scopes to being transient still nothing. By listing out the context Ids I have verified that the D

[2021-02-17 11:37] Dresel commented on #1606
Hi @roji,

we are using a custom ValueConverterSelector to apply conversion of a specific base type (typed ids, taken from [here](https://andrewlock.net/strongly-typed-ids-in-ef-core-using-strongly-typed-entity-ids-to-avoid-primitive-obsession-part-4/)). This does also trigger the `Couldn't find array or element type mapping in ArrayAnyAllExpression` exception for a queries with `Contains`.

If we

[2021-02-17 13:22] kejdajar opened #1713 "Permission denied when deleting entity"
Hello,

we are facing an issue in our application when deleting a User record from our production database. Apart from the Users table, there are other tables such as BillingInformation, Addresses and Activities related to the User. We are trying to delete a single User record from the database, and we are sure that the User has no Activities assigned. Every Activity record has a _ProviderId_ prop

[2021-02-17 13:35] vonzshik commented on #1713
Hello, I'm pretty sure that's the cascade delete you're facing. You can find more info [here](https://docs.microsoft.com/en-us/ef/core/saving/cascade-delete#configuring-cascading-behaviors).

[2021-02-17 15:58] kejdajar commented on #1713
@vonzshik Yes, this problem can be related to CascadeDelete. But on the other hand, when the deletion happens (reproduced with DB user with full privileges and within our testing copy of the production DB) - no _Activities_ are actually deleted. Strangely, the _testing_user_ needs to have privileges to DELETE FROM _Activities_, even though no _Activities_ are deleted. We don't want the _testing_us

[2021-02-17 17:34] vonzshik commented on #1713
And I see no contradictions here. While you do know there are no rows which reference the deleted entity, efcore doesn't know that. So, every time an entity is deleted, efcore also attempts to delete every referencing row from the table.

[2021-02-17 17:42] pikausp commented on #1713
Hi, as @kejdajar stated earlier this issue does not occur on a different database which also restricts deletion from the `Activities` table.

`revoke delete on "Activities" from test_user;` the user had the rights revoked, but the transaction completes successfully (on databases we created by using backup & restore).

[2021-02-17 19:11] vonzshik commented on #1713
Made this repro:

[code]

And it always throws due to a lack of permissions to delete from table Posts. I can only assume the other database lacks the restrictions. Can you confirm they're actually there?

[2021-02-17 21:18] roji commented on #1713
You may want to change your EF configuration around cascading deletes, [see these docs](https://docs.microsoft.com/en-us/ef/core/saving/cascade-delete#configuring-cascading-behaviors).

[2021-02-18 05:43] surenyonjan opened #1714 "Unable to connect database using SSL Mode"
I packaged my dotnet core app, ran in my Kubernetes cluster and tried to connect database with SSL Mode set to Require but got following error:

`Getting 28000 no pg_hba.conf entry for host "[]", user "[]", database "[]", SSL off`

But I do not get any error when I connect to same database using Psql client from Pod running in same Kubernetes Cluster.

`PGPASSWORD=xxxxxxxxxxx psql -h some-host.ond

[2021-02-18 06:58] roji commented on #1714
@surenyonjan at first glance, your Npgsql connection string seems to correspond to your psql settings, and SSL indeed seems to be on - so I'm not sure what's going on. Double-check that you actually are using that connection string, and make sure you're connecting from the same machine/container from both Npgsql and psql, to exclude some machine-related environmental issue.

[2021-02-18 07:31] roji commented on #1606
Without diving into the code, if you've managed to make this work manually by specifying HasConversion, then it's very likely that your custom ValueConverterSelector has a bug in it somewhere... It isn't really supposed to do anything beyond automating what you can manually do with HasConversion.

Note that EF Core doesn't currently support value converters on generated properties (e.g. identity I

[2021-02-18 07:47] Dresel commented on #1606
Thank you very much for your fast reply.

That was my first thought, but it works for all none range queries, eg `context.MyEntitiesA.Where(x => x.EntityB == entity)` and for some but not all range queries:

[code]

I know, we will possible stick to client generated guids.

[2021-02-18 08:11] roji commented on #1606
@Dresel in that case, can you please open a new issue with the full code sample for the range issue? There are indeed some last points where lists aren't supported as well as arrays, I'm trying to get the support to parity.

[2021-02-18 08:13] Dresel commented on #1606
Sure, give me some time.

[2021-02-18 08:33] surenyonjan commented on #1714
@roji

The connection string is from console which I printed from the container. I received it from log and only blinded there values to show it here.

I am sure that I am connecting from same machine/container is because I rebuilt the container image with Psql client installed, tagged with same name and push it from local machine. Then I deleted the Pod from Kubernetes dashboard so that it will r

[2021-02-18 14:23] Dresel opened #1716 "Improved support for value-converted arrays and lists"
As discussed [here](https://github.com/npgsql/efcore.pg/issues/1606#issuecomment-780497850), some query combinations including `Contains` do not work if `ValueConverters` are used (throwing `Couldn't find array or element type mapping in ArrayAnyAllExpression`). If configured via `HasConversion`, everything works as expected.

[code]

[2021-02-18 14:35] kejdajar commented on #1713
@vonzshik @roji

Hello, thanks for your replies.
Both our production and testing databases have the same access rights for the test_user (= no DELETE).

This is the query that was run on both of our databases:

[code]

The result is the same for both databases:

[code]

We have also made sure that the test_user within our testing database really can’t perform any DELETE FROM queries on the Activit

[2021-02-18 14:38] vonzshik commented on #1713
@kejdajar and if you ran the repro on your testing database, does it still throw?

Note, that we're not talking about postgres delete cascade, but ef core one, which does it by default.

[2021-02-18 16:23] roji commented on #1716
Running your simple errors at model building time with "The entity type 'EntityA' requires a primary key to be defined.". I'm using EF Core 5.0, which version are using?

[2021-02-18 17:00] Dresel commented on #1716
[code]

What if you uncomment the HasKey statements?

[2021-02-18 17:37] roji commented on #1716
Now I get "The property 'EntityA.Id' is of type 'EntityAId' which is not supported by the current database provider.".

Please, help me out by submitting a runnable code sample (or point to a github repo) which actually works on your end...

[2021-02-18 17:50] kejdajar commented on #1713
@vonzshik - it does not throw.

It appears I have finally managed to reproduce the issue using the provided repro from @vonzshik.
I basically embedded the repro inside our application and run that against our testing database and the exception was not thrown. I also made sure the database user running the repro code really can’t delete from Posts. On my local database, the exception was correctly

[2021-02-18 19:17] Dresel commented on #1716
Sorry, I didn't mean to steal your time, but the code above works for me as described. I sounds like the `TypedIdValueConverterSelector` is missing? Anyway I have copied everything and pasted it into a repository. I have also asked a colleague to double check.

The following

[code]

leads to the `Couldn't find array or element type mapping in ArrayAnyAllExpression`.

![image](https://user-images.

[2021-02-18 19:53] roji commented on #1716
Thanks, I can see the exception now - will take a look.

[2021-02-18 20:56] roji commented on #1716
This is quite winding/complex, but here are my findings :smile:

First, there's a problem with the value converter; it adds supports for value-converting Entity1AId and Entity1BId, but not their corresponding array and List types (`Entity1AId[]`, `List<Entity1AId>` etc.). If you look at [NpgsqlValueConverterSelector](https://github.com/npgsql/efcore.pg/blob/main/src/EFCore.PG/Storage/ValueConversi

[2021-02-19 03:09] nixxholas commented on #1693
@roji Apologies for the delay, I've tested this with java and it works just fine. Should we close this since it is not pertinent to Npgsql?

[2021-02-19 06:51] Dresel commented on #1716
Thanks for the insight, this makes sense. Wish I had more time to deep dive into frameworks like this 😄

I will try the modified / copied NpgsqlValueConverterSelector workaround later, but I'm sure it will work out 👍

[2021-02-19 11:43] roji opened #1717 "Array containment not translated on List<T>"
For example:

[code]

Better testing will be introduced for 6.0 as part of #1716

[2021-02-19 11:53] roji commented on #1716
Note (mainly to myself).

For array properties with value converters, in some scenarios we require to have the element converter. For example, when doing `.Where(b => b.SomeArrayPropertyWithValueConverter.Contains(someParam)`, the parameter has no type mapping, so we need to infer it from the array - including an *element* value converter to do the conversion. Up to now, such array properties had

[2021-02-19 11:55] #1717 closed

[2021-02-19 12:20] #1716 closed

[2021-02-19 12:30] roji commented on #1693
I think so... I'm sorry there's nothing further I can do to help here. The ideal thing to do would be to repro a bare-bones connection failing using SslStream directly; that could be taken to the relevant people.

[2021-02-19 12:30] #1693 closed

[2021-02-22 07:32] Dresel commented on #1716
Just read and tried to understand your explanation. Did I understand it correctly that with this fix I would still have to copy / paste your selector code (which - just to point out - is not an problem for me) to make sure array converters are created for my custom type converters?

[2021-02-22 08:16] Dresel commented on #1716
By the way the modified version of the `NpgsqlValueConverterSelector` works flawlessly - I just hardcoded the inner selector because I wasn't able to find a good way to register decorations within the DbContext configuration (ReplaceService is limited and I don't know how to deal with InternalServiceProvider / ApplicationServiceProvider) 😬

[2021-02-22 09:12] roji commented on #1716
Yeah, #1719 only fixes the last problem detailed above, and doesn't refactor NpgsqlValueConverterSelector (which is a less severe thing and can be worked around as you saw). If you feel this is important, please open another issue to track it - hopefully at some point I can take a look.

[2021-02-22 11:59] roji commented on #1714
@surenyonjan I'm not sure how else I can help - PG is clearly saying you're trying to connect with SSL off on the Npgsql side.

Are you able to connect to some other (e.g. local) PostgreSQL that's configured only for SSL? That would help isolate things further.

[2021-02-22 12:03] roji commented on #1705
@zabidin901 as in #284, what we need is a full, **runnable** code sample that shows the error happening - the above fragments aren't enough for me to reproduce the error on my machine. Try to gradually isolate only the code paths which are needed to reproduce this; you may actually pinpoint a bug  in your application while doing this, or if not, you'll end up with a runnable code sample which you

[2021-02-22 12:04] roji commented on #1702
Duplicate of #24162

[2021-02-22 12:05] #1702 closed

[2021-02-22 12:06] roji commented on #1692
Unfortunately I don't really have time (or knowledge) for setting up CockroachDB and diving into this... If someone can give a hand that would be great.

[2021-02-22 12:07] roji commented on #1666
@maumar ping

[2021-02-22 12:32] roji commented on #1663
@erwan-joly sorry for not answering sooner.

I read through, and I don't really understand from the repro and explanation what the problem is exactly... What steps do I need to do to get an exception?

[2021-02-22 12:34] roji commented on #1623
@LotfiAghel I still need answers to the following which I asked above:

[2021-02-22 13:17] Bouke opened #1724 "Missing operations on ts_query?"
I'd like to be able to write the following SQL: `@@ ((websearch_to_tsquery('[user input here]')::text || ':*')::tsquery)`. Using `EF.Functions.WebSearchToTsQuery(q)` I can generate the first part, but now I'd like to append `:*` to that query to perform a prefix search.

[2021-02-22 13:23] roji commented on #1663
Possible dup of #1600

[2021-02-22 13:38] roji commented on #1600
@danielbecroft sorry for not commenting on this sooner...

I've tried generating migrations with EF Core 5.0, 3.1 and 3.0:

<details>
<summary>EF Core 3.0</summary>

[code]

</details>

<details>
<summary>EF Core 3.1</summary>

[code]

</details>

<details>
<summary>EF Core 5.0</summary>

[code]

</details>

I can consistently see `oldType` in the Up migrations, but it's indeed missing in the Down

[2021-02-22 13:50] iPilot opened #1725 "IQueryable Select with index overload support"
### Before submit

Actually it is not an issue, but more a question or a feature request. Sorry if duplicate but can't find outside stackoverflow any mentions of this... problem.

### Steps to reproduce

Try to use IQueryable.Select((source, index) => ...)) overload

### The issue

Despite this query very simply can be translate into sql using `row_number() over ()`, that overload does not support

[2021-02-22 13:50] #1725 closed

[2021-02-22 13:50] roji commented on #1725
Moved to https://github.com/dotnet/efcore/issues/24218

[2021-02-22 13:56] roji commented on #1724
Any chance you can post the full query code please, plus the minimal model?

[2021-02-22 13:57] roji commented on #1543
@ajcvickers ping again

[2021-02-22 13:59] roji commented on #1543
PS need to rename INpgsqlOptions -> INpgsqlSingletonOptions

[2021-02-22 14:18] roji commented on #1493
@oktayari sorry for not commenting for so long.

I am guessing that for some reason PG can execute your searches much more quickly when the config is a constant - possibly because an index is being used in the fast case, but not in the slow one.

If you'd like to pursue this further, [please enable logging](https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/simple-logging) and che

[2021-02-22 14:20] Bouke commented on #1724
My model is something like this:

[code]

And the query I'd like to do is to combine user input (e.g. `"rojan"`) and put a prefix match operator (`:*`) after that, so that the query becomes `'rojan':*`:
[code]

This fails with the error above:
[code]

[2021-02-22 14:26] roji commented on #1724
Your code above doesn't compile... I've tried to fix something up based on your error message above (code below), but got a different exception message (which I'll also look into).

But in the meantime... Can you please help me out and send something that builds and produces your exception?

<details>
<summary>Repro for another exception</summary>

[code]

</details>

[2021-02-22 14:56] Bouke commented on #1724
Sorry I have omitted to note my version. As we're running on .NET Framework, we're on version 3.1.11 of the driver. The repro mentioned above gives the following exception with that version:

[code]

[2021-02-22 15:21] rafiss commented on #1692
I can try giving it a shot later, but I don't have a .NET environment easily available. Hahah, if only we could merge our dev environments together.. :)

FYI, CockroachDB is easy to start locally as a simple binary without any config setup. It's available as a Docker image or executable for common platforms here: https://www.cockroachlabs.com/docs/releases/ then the command `cockroach start-single

[2021-02-22 16:28] roji commented on #1724
@Bouke please, spend a few minutes time to put together a simple, runnable console program which produces the exception you're seeing. I simply don't have enough time in my life to reconstruct working code from bits and piece.

[2021-02-22 16:37] leonkosak opened #1753 "Fluent API for creating Indexes on jsonb"
My use case:
Jsonb column stores json documents, which are:
- properties only on 1st level
- only decimals (and some integers), few booleans and very rare strings (up to 7 characters)

There are no nested objects.
When document is inserted in jsonb, there is little chance that properties are updated. The main operation is reading.

There has to be index on every property (because of real-time over

[2021-02-22 19:46] erwan-joly commented on #1663
To be able to reproduce you need to create a migration with an instant column in dotnet core 2, then upgrading to dotnet core 3 still works but when upgrading to dotnet 5 you'll get an invalid type if you recreate database. Definitely seems like a dupe of #1600 with an additional info as this only happens for migration generated before dotnet core 3 (dotnet core 2 doesn't add the type explicitly a

[2021-02-22 23:30] roji commented on #1663
@erwan-joly OK, thanks for the added information. If this is about migrations generated with EF Core 2 not working well, I doubt we'll be able to do much about it - though I can look into it

Are you saying that a fresh new project started with EF Core 5.0 has an problem? If so, can you please open a new issue with a code sample?

[2021-02-23 00:37] maumar commented on #1666
this is the query expression OData issues to EF:

[code]

Here is a standalone repro that should produce the same expression tree. OData is using Enumerable.Contains rather than List<T> version. Probably inconsequential but just in case made sure to create the same expression in the repro.

[code]

[2021-02-23 00:42] NinoFloris commented on #1663
Wait, isn't the expectation that migrations are (mostly always) forward compatible? Or is this 2.0 issue a 'mostly always' case?

[2021-02-23 05:38] erwan-joly commented on #1663
A fresh new project dotnet 5 or dotnet 3.1 won't have the issue
A Project moved from dotnet 2.1 to dotnet 3.1 and then to dotnet 5 will eventually face the issue if it has to reapply all migration.

two possible fix for that in PROD
1) modify existing migrations to add the explicit type
2) remove all migration regenerate a unique migration from the current model and update the migration id on the

[2021-02-23 08:09] Bouke commented on #1724
@roji Sure, thank you for your time. Attached is the repro.

[Npgsql1724.zip](https://github.com/npgsql/efcore.pg/files/6027459/Npgsql1724.zip)

[2021-02-23 08:41] roji commented on #1663
Yes, and we do our best to always make it that way, but there are some occasion problems which it's not always possible to fix without manual intervention. Having said that we definitely need to understand if this is something known.

@bricelam does any of this ring a bell? Probably better to start looking at #1600 (probable dup) which contains a bit more info. Have we seen issues with specifying

[2021-02-23 09:25] roji commented on #1724
@Bouke thanks.

The problem is that you're converting a string parameter ("rojan") to a TsQuery (with WebSearchToTsQuery), only to try to convert it back to a string for concatenation purposes - that's the unsupported part. What's also odd is that you then re-convert it back to a TsQuery with PhraseToTsQuery - can you explain your reason for these?

In other words, the following works fine, doing

[2021-02-23 09:25] Bouke commented on #1704
@roji Sure! [Npgsql1704.zip](https://github.com/npgsql/efcore.pg/files/6027904/Npgsql1704.zip)

[2021-02-23 10:20] Bouke commented on #1724
That doesn't generate the same query, which can be compared like so:

[code]

desired|suggestion
-|-
`'rojan':*`|`'rojan'`

So what I'm trying to do is parse the user's input as a web query using [`websearch_to_tsquery`][1]. Then I want to append the "prefix operator" (`:*`) so the last entered word by the user only needs to match on the prefix. I cannot append `:*` to the user's input and pass _t

[2021-02-23 11:01] roji commented on #1724
@Bouke thanks for explaining - I see the issue now. I'll follow up on it.

[2021-02-23 11:15] roji commented on #1666
@maumar thanks. Unfortunately that works just fine for me :/ See below for a console program with your same repro passing against PG.

What's the best way forward for reproing this? You setting up PG or me setting up odata :)

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2021-02-23 16:12] rajmondburgaj opened #1727 "HasCheckConstraint does not work with columns starting with uppercase"
I am trying to run a migration where I use `HasCheckConstraint` method on one entity. For some reason it complains like the column is not there, but the column is present in the entity. I think somehow the column name is changed to lowercase and maybe is not able to find it the table, therefore throwing.

[code]

![image](https://user-images.githubusercontent.com/7545874/108872123-23ede880-75fa-11

[2021-02-23 16:40] roji commented on #1727
You need to quote the column name `Version` in the check constraint SQL - PostgreSQL folds unquoted identifiers to lower-case, which is why it's complaining about lower-case `version` not being found:

[code]

[2021-02-23 16:40] #1727 closed

[2021-02-23 17:02] roji commented on #1724
Here's an ugly workaround for you - instead of ToString, you can cast to `(string)(object)`.

[code]
 - we're thinking about what the exact behavior of ToString should be here:

[2021-02-23 17:24] afshinr1 opened #1728 "Migration from 3.1 to 5.0. Exception thrown: 'System.InvalidOperationException' in Npgsql.EntityFrameworkCore.PostgreSQL.dll"
When transitioning from .Net 3.1 to .Net 5.0, I encounter this error in my debug console which I would not when running 3.1. Specifically these errors:

Exception thrown: 'System.InvalidOperationException' in System.Private.CoreLib.dll
Exception thrown: 'System.InvalidOperationException' in Npgsql.EntityFrameworkCore.PostgreSQL.dll
5
Exception thrown: 'System.InvalidOperationException' in System.P

[2021-02-23 23:33] danielbecroft commented on #1600
Hi @roji ,
These migrations were created under EF Core 3 (I can't recall if they were 3.0 or 3.1).

[2021-02-24 11:31] Bouke commented on #1724
Thanks! However to be equivalent it needs to be `EF.Functions.ToTsQuery` instead of `EF.Functions.PhraseToTsQuery`. Or even more ugly by doing an additional set of casts:
[code]
Yields:
[code]

[2021-02-24 21:54] roji commented on #1724
Any reason to not just use `EF.Functions.ToTsQuery` instead of the complicated cast?

The issue here is specifically with the non-translation of ToString, which can be worked around with `(string)(object)`.

[2021-02-25 00:10] dstj opened #1734 "EnableRetryOnFailure() and Serializable concurrent transactions causes invalid data"
Hi there,
(Reproduction: [EFCoreTest8.zip](https://github.com/npgsql/efcore.pg/files/6039954/EFCoreTest8.zip))

I have one serializable transaction that does `Count = Count - 1` on an entity. I force-run it with another concurrent update (as it may happen on a real web app).

When `EnableRetryOnFailure()` is enabled, the final count is `-2` (not `-1` as expected) and no exception is thrown.

When

[2021-02-25 00:31] mqudsi opened #1735 "Use substring to implement StartsWith when using non-deterministic collation"
I'm not sure if this out-of-scope for an ORM driver, but (with no `citext` involved) pgsql doesn't currently support any sort of pattern matching for columns with non-deterministic collations (and determinism of collations is something that EF Core is cognizant of and can be explicitly specified in ModelBuilder).

This means given a definition like the following:

[code]

Attempting the following

[2021-02-25 06:23] kreditkenny opened #1736 "postgres and AWS (lightsail)"
hi there,
i'm trying to connect to a rds instance (postgres) with aws. This RDS instance is publicly accessible and i'm able to connect and write to it.

I get with following error with EF core while trying to deploy to aws with lightsail. any hints for me?

Entity Framework Core 5.0.2 initialized 'MemberDbContext' using provider 'Npgsql.EntityFrameworkCore.PostgreSQL' with options: SensitiveDataL

[2021-02-25 08:05] roji commented on #1736
If your connection might be idle for long, try turning on [keepalives](http://www.npgsql.org/doc/keepalive.html). Otherwise, you may really have a query which takes too long (e.g. because of lack of indexes).

[2021-02-25 08:14] roji commented on #1735
First, although it seems that way, the EF provider isn't really (always) aware of whether a non-deterministic collation is being used or not. It's true that when creating collations in PG (with HasCollation) one specifies whether the collation is deterministic or not, but that's only for the purpose of generating the right CREATE COLLATION DDL. It's perfectly fine for someone to use EF with an exi

[2021-02-25 08:41] roji commented on #1734
Not sure which test to look at exactly in your repro... So I'm concentrating on TestWithTwoSerializableTransactions.

Basically, the problem seems to be that in RunConcurrentSerializableDecrementValueBy1AndSetValueAsync, the context is created outside the code to be retried; that means the same context instance is reused. Because of this, when the retry code is executed the second time, the entity

[2021-02-25 12:16] roji commented on #1736
Thanks @vonzshik for pointing out offline that this exception is on open, not execute. In that case I'd double check the connection string, and make sure that I connect with a non-Npgsql client from the exact same machine to the exact same server address. My guess would be that there's some firewall/security policy in the middle that interferes with the connection.

[2021-02-25 13:53] dstj commented on #1734
Thanks @roji! Always much appreciated!
(Yes `TestWithTwoSerializableTransactions` was a good starting point. I should have mentioned that, sorry.)

Ah! That makes sense that the state is dirty after that first error. I had that flash a bit *after* having completed the issue post. I had wrongfully assumed that `EnabledRetryOnFailure()` was more than just a for loop and "reset" it somehow or that th

[2021-02-25 15:49] roji commented on #1734
Note that you don't always need to use an explicit retry block as you're doing above. The more standard way to use retrying strategies is to define a concurrency token on your entity (rowversion in SQL Server). At that point, when trying to update the entity, if the concurrency token isn't the same as what it was when it was loaded, EF throws a DbUpdateConcurrencyException ([here are the docs](htt

[2021-02-25 15:56] mqudsi commented on #1735
Fair enough! (Feel free to close.)

[2021-02-25 16:01] #1735 closed

[2021-02-25 17:56] kreditkenny commented on #1736
thanks @roji. I had to open up the RDS's security group's traffic to that postgres port.

[2021-02-25 17:56] #1736 closed

[2021-02-26 11:10] Radtour commented on #225
Thank you saved the whole project

[2021-02-26 21:33] dstj commented on #1734
Thanks a lot for your help. I had tried that [concurrency token](http://www.npgsql.org/efcore/modeling/concurrency.html) in the past and had had some problems with it, but that was with EF Core 2.1 and don't remember what exactly. I think. I'll give it another go.

[2021-02-26 21:33] #1734 closed

[2021-02-27 23:06] donhuvy opened #1738 "Npgsql.PostgresException (0x80004005): 42703: column "normalizedname" does not exist"
File attachment: [acc.zip](https://github.com/npgsql/npgsql/files/6055845/acc.zip)

Environment:
[code]

I am using Blazor 5.0.3, .NET 5, Entity Framework Core 5.0.3

These code no error
[code]

Use Package-Manage Console, I run command
[code]
Error happen

[code]

![image](https://user-images.githubusercontent.com/1328316/109402907-40887880-798c-11eb-829f-c32b36d33cff.png)

If I uncomment at thes

[2021-02-28 00:22] donhuvy opened #1737 "is of type 'Nullable<Instant>' which is not supported by the current database provider."
[code]

[code]

Related
https://github.com/npgsql/efcore.pg/issues/514
https://github.com/npgsql/efcore.pg/issues/523
https://github.com/nodatime/nodatime/issues/1096

[2021-02-28 07:20] vonzshik commented on #1737
Hello, did you add `UseNodaTime()` to the `UseNpgsql()` as it's described [here](http://www.npgsql.org/efcore/mapping/nodatime.html#setup)?

[2021-02-28 07:29] vonzshik commented on #1738
Hello, could you try to modify the filter query to look like this:
[code]

[2021-02-28 13:46] roji commented on #1738
@vonzshik is probably correct - PostgreSQL folds unquoted identifiers to lower-case.

However, in general you shouldn't need to edit the migrations - the problem is with your model configuration instead. Look in OnModelCreating where you're setting up the filter, and add quotes there.

[2021-02-28 14:40] Emill commented on #1560
`OUTER APPLY table` can be replaced by `LEFT JOIN table ON TRUE`.
`CROSS APPLY table` can be replaced by `CROSS JOIN table`.

[2021-02-28 15:12] donhuvy commented on #1738
Thank you for your comment.

IdentityServer4 integration code done by

[code]
I cannot revise it `OnModelCreating`

![image](https://user-images.githubusercontent.com/1328316/109423406-cf8ba400-7a11-11eb-9c6b-5ec242b1abf8.png)

![image](https://user-images.githubusercontent.com/1328316/109423416-df0aed00-7a11-11eb-949f-be017f828d28.png)

[2021-02-28 15:20] donhuvy commented on #1738
Uploading 2021-02-28_22-19-11.mp4…

[2021-02-28 15:28] donhuvy commented on #1737
I also read http://www.npgsql.org/efcore/mapping/nodatime.html#setup but I am not sure I conduct it correctly 100% . Feel free to close this ticket. I don't use NodeTime plugin now, I will re-open if I use standard data type has problem. Thank @vonzshik very much. Your comment is helpful information.

[2021-02-28 15:28] #1737 closed

[2021-02-28 15:29] #1738 closed

[2021-02-28 16:13] Emill commented on #1691
Ok so I've now implemented a proof-of-concept for this for the case of collections and include collections.
Right now it doesn't require any changes in Npgsql, and therefore uses `reader.GetFieldValue<object[][]>(index)` ro retrieve a `record[]`, which works fine in most cases, but not when fetching customized data types or literal strings (unknown type).

My work starts in the query pipeline at `

[2021-02-28 16:14] Emill commented on #1691
Link: https://github.com/Emill/efcore/commit/c283075ed66634a3b29d0c64412357eefe3f853f.

[2021-03-01 17:33] gojanpaolo commented on #1159
Is it possible to replace all our unit tests that uses EF Core's `InMemory` db to target PostgreSQL instead? We just got into an issue testing some functions that involves calling postgres `ilike`. I'm going to explore how to do unit tests using postgres, but if you could share some online resources, that would be really helpful!. Thank you!

[2021-03-01 18:36] jspaey opened #1743 "Unexpected connection pooling behaviour"
Hi,

We're new to using Postgres as a DB provider and we've been experiencing issues where our Postgres server on our DEV environment would eventually hit the default 100 max connections limit and our application would become unresponsive. This connection limit would be reached after only a day of several users testing our application. This is for Npgsql 5.03. using the Npgsql.EntityFrameworkCore.

[2021-03-01 20:11] jspaey commented on #1743
Apologies, posted in wrong section.

[2021-03-01 20:11] jspaey commented on #1743
Apologies, posted in wrong section

[2021-03-01 20:11] #1743 closed

[2021-03-01 21:31] roji commented on #1159
@gojanpaolo this is a question which we repeatedly get, I'd start out with the [EF Docs on testing](https://docs.microsoft.com/en-us/ef/core/testing) for the different possible approaches in testing applications which use EF Core. tl;dr InMemory is neither here no there; if you don't want to test against a real database, then you have to add a repository layer above your DbContext, and mock operat

[2021-03-01 21:53] gojanpaolo commented on #1159
@roji Thank you for the response. I just looked further into the docs and found this: https://docs.microsoft.com/en-us/ef/core/testing/sharing-databases#maintaining-database-state. I think using that technique will help us migrate all our tests to use postgres considering that our tests that uses in-memory were written in such a way that each test has their own set of data and should not affect ea

[2021-03-01 21:59] roji commented on #1691
/cc @smitpatel you may want to have a look at this

[2021-03-02 00:36] gojanpaolo commented on #1159
I just tried the pattern described in https://docs.microsoft.com/en-us/ef/core/testing/sharing-databases#maintaining-database-state. But running multiple tests in the same class seems to fail on some of the tests.. But those failing tests are passing if I run them one by one.

[2021-03-02 09:24] roji commented on #1159
@gojanpaolo if you're using xunit, then by default tests within the same class aren't parallelized. That would indicate a test isolation issue, where some test modifies database state without restoring it, affecting how later tests execute. You'll have to track down the problematic test, and make sure that all database state is probably reset between tests.

[2021-03-03 20:59] lukaepti commented on #1659
Seems to be fixed in 3.1.11

[2021-03-03 23:32] roji commented on #1659
@lukaepti thanks for confirming.

[2021-03-04 02:53] felinepc opened #1744 "List<enum> maps to integer[], but retrieving from database results in InvalidCastException"
Per documentation at https://www.npgsql.org/efcore/, `enum` by default maps to `int`, and array types such as `List<string>` maps to PostgreSQL's native array column type.

So I have such a property in my entity class:
[code]
Here `CarType` is an enum. During EF migration, I see that the provider mapped this to `integer[]` as expected:

[code]
However, when reading data back from database, when th

[2021-03-04 08:55] roji commented on #1744
Duplicate of #1716

[2021-03-04 08:56] roji commented on #1744
This is a problem specifically when using List - switching to an array instead of a List should make this work. 6.0.0-preview2 should contain the fix to make List work too.

[2021-03-04 08:56] #1744 closed

[2021-03-05 09:02] GeeWee opened #1746 "Memory management when using JsonDocument"
If you use the JSON mapping via a JSONDocument (as stated [here](https://www.npgsql.org/efcore/mapping/json.html?tabs=data-annotations%2Cpoco)) you run into an issue which I think many people probably have without knowing.

The issue is as follows:
JSONDocument uses shared memory pool and [must be disposed of](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument?view=net-5.0).

[2021-03-05 10:33] roji commented on #1746
You're right that JsonDocument ideally should be disposed - though not doing so isn't a bug or a leak, but rather adds more GC pressure and so can only negatively affects performance.

Using JsonElement doesn't solve this issue - JsonElement is just a [very light struct](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L14) ref

[2021-03-05 10:39] roji commented on #1746
Doc update: https://github.com/npgsql/doc/commit/80d59db46cc8f23d311cae6b8ee01fb3c85cf1fb

[2021-03-05 12:33] GeeWee commented on #1746
No I think you're absolutely right on both accounts. Reading the documentation [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#jsondocument-is-idisposable) just gave me a different impression in regards to JsonElement.

I haven't been able to find the concrete documentation in regards to how JsonDocuments are handled if not disp

[2021-03-05 12:38] roji commented on #1746
[The docs on JsonDocument](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument?view=net-5.0) say the following:

So it really seems to be about using pooling to reduce memory pressure. After all, it would be strange if JsonDocument actually held (e.g. native) resources which truly needed to get disposed...

Am going to close this now as the docs have been updated - but of cou

[2021-03-05 12:38] #1746 closed

[2021-03-05 12:48] GeeWee commented on #1746
Totally understand closing the issue, and thanks for engaging!

I read those docs as well but it seems sufficiently vague. Looking at the `Dispose` method of JsonDocument it seems like it returns memory from the [shared ArrayPool](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs#L57), but it has no destructor. To me this would suggest

[2021-03-05 13:36] roji commented on #1746
I'm 99% sure that it's OK to not return a buffer to ArrayPool, in the sense that the only effect of that would be increased GC pressure - there's no leak involved. At some point the GC will reclaim the memory just like it does any other memory.

[2021-03-05 14:30] GeeWee commented on #1746
I've been unable to find out definitely, but I hope you're right.. I've opened up https://github.com/dotnet/runtime/issues/49207 for them to clarify what exactly the behaviour is.

Thanks for your time!

[2021-03-05 17:05] NinoFloris commented on #1746
There is also https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonelement.clone?view=net-5.0 if really needed

[2021-03-07 04:59] devhl-labs opened #1747 "CancellationToken Thread Safety"
I'm seeing an issue with timeouts occurring where they shouldn't. It seems like there may be another thread safety issue like [this one](https://github.com/npgsql/efcore.pg/issues/1585).  I'm seeing timeouts occur after only some seconds and it's reporting the command errored after 300 seconds.  Here is the original issue I posted in npgsql repo.

https://github.com/npgsql/npgsql/issues/3579

[2021-03-07 06:51] vonzshik commented on #1747
I do not understand, why do you think there is a problem with the `CancellationToken`? Whenever the query is cancelled through it, it throws a different exception. Also, that would be a problem on the npgsql side.

[2021-03-07 10:55] alexnur opened #1748 "Array Parameter in stored function"
Hi!

[code]

Exec from psql: SELECT * FROM public.f_test_varchar('{"Documents","Other"}'::varchar[]);
return 'Ok'

i use: Net Core 5.0, Npgsql.EntityFrameworkCore.PostgreSQL 5.0.2

MyDbContext:
[code]
Code:
[code]

FormatException: Input string was not in a correct format.

I tried different combinations, always a mistake.
If I specify another simple type (int, varchar, no array) as an input param

[2021-03-07 11:56] alexnur commented on #1748
I solved it as follows:
[code]
Why can't it be done through typecasting? Earlier, in .Net Framework 4.8 (EF6) it was convenient
`SELECT * FROM public.f_test_varchar('{"Documents","Other"}'::varchar[])`

[2021-03-07 19:06] #1728 closed

[2021-03-08 06:02] LaurianoElmiroDuarte commented on #761
@StrangeWill  I was having this same problem, when I read @roji's explanation it was my salvation.
Thank you very much @roji  !!!
Solution: I updated my PostgreSQL from version 9.5 to 13

[2021-03-08 19:23] roji commented on #1748
FromSqlRaw supports parameterization ([see the docs](https://docs.microsoft.com/en-us/ef/core/querying/raw-sql#passing-parameters)), so the `{` and `}` characters have a special meaning and must be escaped. Duplicating these brace characters should make things work:

[code]

Am closing this as by-design, but if things still aren't clear, please feel free to write back.

[2021-03-08 19:23] #1748 closed

[2021-03-09 08:40] akaman-code commented on #1001
Hi,
I am trying to scaffold my postgressql DB (9.0).. I am getting below error.. I am not getting what to do

PM> Scaffold-DbContext "Host=localhost;Database=skylla;Username=postgres;Password=Password1@!3" Npgsql.EntityFrameworkCore.PostgreSQL -o Models
Build started...
Build succeeded.
To protect potentially sensitive information in your connection string, you should move it out of source code. Y

[2021-03-09 08:50] roji commented on #1001
PostgreSQL 9.0 has been out of support for several years - the EF Core provider isn't guaranteed to work with it, and depends on some scaffolding catalog data that doesn't exist yet that far back. You'll have to upgrade to a newer version of PostgreSQL in order to scaffold.

However, you may still be able to use the provider without scaffolding.

[2021-03-09 09:27] roji commented on #1714
Closing as no further information has been provided (but can reopen upon request).

[2021-03-09 09:27] #1714 closed

[2021-03-09 09:28] roji commented on #1705
Closing as no repro was provided.

[2021-03-09 09:28] #1705 closed

[2021-03-09 10:03] roji commented on #1704
OK, I can see the problem now - EF6 uses a special legacy mechanism to read values from NpgsqlDataReader. Instead of using generic `reader.GetFieldValue<DateTime>`, it calls the non-generic `GetValue()` but uses ObjectResultTypes to inform the reader in advance of the types it will want to read back. This mechanism doesn't work for this date/time case, since the NodaTime plugin has already ready a

[2021-03-09 10:03] roji commented on #1666
@maumar ping

[2021-03-09 10:04] roji commented on #1663
@bricelam ping

[2021-03-09 10:04] #1623 closed

[2021-03-09 11:53] akaman-code commented on #1001
Thanks @roji It worked for postgresSQL 13.2 ...Thanks for your quick support

[2021-03-09 13:26] roji commented on #1691
@Emill thanks again for looking at this complicated and very promising direction. It's really, really nice to see this loading strategy starting to work with EF Core.

I am not an expert in some of the areas you touched, and @smitpatel will likely have to help us out here quite a bit - I've already had a first brief discussion with him. However, since arrays are a PostgreSQL-specific functionality

[2021-03-09 17:17] #1753 closed

[2021-03-09 17:19] bricelam commented on #1663
We might be able to add some logic to [SnapshotModelProcessor](https://github.com/dotnet/efcore/blob/main/src/EFCore.Design/Migrations/Internal/SnapshotModelProcessor.cs) to handle this, but if correct type simply isn't available then there's not much we can do and users will need to manually update their old migrations.

[2021-03-09 22:58] d1820 opened #1754 "Specified argument was out of the range of valid values. (Parameter 'millisecondsDelay')"
This is an outstanding issues in Npgsql but they have sinced fixed it in version 5.0.3. Need to update this Nuget to support the latest  Npgsql release

Related Issues:
https://github.com/npgsql/npgsql/issues/1600
https://github.com/npgsql/npgsql/issues/607

Error Details
[code]

[2021-03-09 23:27] Emill commented on #1691
My proof-of-concept implementation is very similar to the InMemory variant. I admit the pending collections thing could be bypassed - I just did it this way to minimize code change compared to the join strategy. But now when I see the InMemory implementation I guess the code change would possibly be similar if it was simply bypassed. The rest of the code is conceptually very similar to the InMemor

[2021-03-10 11:31] roji commented on #1691
@Emil it all sounds good/right to me. I'd again be happiest if we could move forward on the EF side and leave the Npgsql interface for a bit later and resolve as much as possible on the EF Core side. But if this is starting to interfere, i.e. if the work to implement things today with `object[][]` is too difficult (and would possibly be thrown away), we can pause and discuss that other side too.

[2021-03-10 11:34] roji commented on #1663
@bricelam I guess you're right, what's missing is missing.

I'm going to go ahead and close this and #1600 for now, unless some new information comes along. For now, users are going to have to manually patch up their migrations.

[2021-03-10 11:34] #1663 closed

[2021-03-10 11:35] #1600 closed

[2021-03-10 11:52] roji commented on #1754
@d1820 EFCore.PG 5.0.3 will depend on Npgsql 5.0.3 when it's released (that change has already been made). In the meantime you can simply take an explicit dependency on Npgsql 5.0.3 in your csproj to use that with EFCore.PG 5.0.2.

[2021-03-10 11:52] #1754 closed

[2021-03-10 12:35] roji commented on #1754
@d1820 note https://github.com/npgsql/npgsql/issues/3588 found by @vonzshik which may be the actual source of the exception you're seeing.

[2021-03-10 16:11] Emill commented on #1691
Yep, I feel I'd like to avoid working with `object[][]`. I guess it's up to you in the EF Core team to decide how to open up and make it possible to put the relevant code inside efcore.pg instead of efcore. If you want, I can try to evaluate different strategies and come up with some options.

[2021-03-10 18:49] smitpatel commented on #1691
The only place where interaction would become complicated when "GetValue<T>" doesn't have T as a mapped database type. i.e. DbDataReader. At that point, not only the GetValue injection part which is reading value from server needs to change, you would also need to add another level of processing to materialize from that DbDataReader. Is there any specific value in getting DbDataReader back from se

[2021-03-10 19:29] roji commented on #1691
@smitpatel I think the main reason for wanting to avoid `object[][]` is because that would box for all value type column values.

[2021-03-10 19:39] Emill commented on #1691
If we just ask Npgsql for an object[][] for a specific column (`reader.GetFieldValue<object[][]>(index)`), Npgsql won't know what data types we want in the inner values. It currently uses the default type mapper for whatever data type being returned from the server, and casts it to an `object`. If Npgsql returns a `DbDataReader` for a column, we can (recursively) use the GetFieldValue API to read

[2021-03-11 07:41] hongsonpham commented on #376
I has the same issue at 5.0.4 version when I run add-migration of IdentityDbContext, so I create the fake enum and namespace as following, It's resolve immediately
`namespace Npgsql.EntityFrameworkCore.PostgreSQL.Metadata
{
    public enum NpgsqlValueGenerationStrategy
    {
        IdentityByDefaultColumn = 0
    }
}`
I hope the real error is resovle at next version.

[2021-03-11 07:42] hongsonpham commented on #376
I has the same issue at 5.0.4 version when I run add-migration of IdentityDbContext, so I create the fake enum and namespace as following, It's resolve immediately
namespace Npgsql.EntityFrameworkCore.PostgreSQL.Metadata { public enum NpgsqlValueGenerationStrategy { IdentityByDefaultColumn = 0 } }
I hope the real error is resovle at next version.

[2021-03-11 08:08] roji commented on #376
Yes, this is a result of https://github.com/dotnet/efcore/issues/23456, which was patched in EF Core 5.0.3. A proper fix will be introduced for 6.0.0, but in the meantime it's probably a better idea to add Npgsql.EntityFrameworkCore.PostgreSQL.Metadata rather than to declare your own NpgsqlValueGenerationStrategy enum.

In EFCore.PG 6.0.0-preview2 (should be out in a few days), NpgsqlValueGenerati

[2021-03-11 08:58] roji commented on #1691
Apologies in advantage for the long comment.

Right, that part is even more important than the boxing allocations with `object[][]`. It's similar to the difference between calling generic `DbDataReader.GetFieldValue<T>()` and non-generic `DbDataReader.GetValue()`: the latter is problematic when the database type doesn't by default map back to the expected EF Core (supplied as T in the former).

Th

[2021-03-11 09:44] Emill commented on #1691
With option 3, speaking for the Npgsql provider now, can't the RecordReaders just store a reference to the backing array that the original NpgsqlDataReader, including the range for this sub-part? That way we avoid copying for every level. When Read() is then called on the outer reader, NpgsqlDataReader remembers that a RecordReader is having a reference to the array, so instead of recycling the ar

[2021-03-11 09:52] roji commented on #1691
@Emill that's pretty much what I was proposing above - RecordReader would be a thin view over a portion of the internal NpgsqlReadBuffer (conceptually similar to a `Memory<byte>`). Either NpgsqlDataReader causes a new array to be created on Read (when undisposed RecordReaders still exist), or the RecordReaders are informed and copy their relevant portions out; the latter may be more efficient sinc

[2021-03-11 13:12] roji commented on #1691
That's a good optimization, i.e. detect the "buffering" usage pattern early and switch to a different mode. However, I'm a bit scared of the complexity all this stuff is going to add to NpgsqlDataReader (which after all would only be useful to support this). But we can give it a try and see where it leads.

BTW rather than RecordReader it should probably be called RowReader, as it would also be us

[2021-03-11 18:36] dtkturpal commented on #540
I had the same problem, doing the following in my EntityConfiguration worked for me:
[code]

[2021-03-12 16:23] roji opened #1756 "Properly use RelationalConnection in NpgsqlDatabaseCreator.Exists for interception"
See https://github.com/dotnet/efcore/issues/24346

[2021-03-12 16:31] felinepc commented on #1756
@roji Would the fix on this make the `Microsoft.EntityFrameworkCore.Tools` command line migrations work with the interceptor as well?

Thanks!

[2021-03-12 16:35] roji commented on #1756
Yeah, it should.

[2021-03-12 17:34] #1756 closed

[2021-03-13 11:42] Morhpeuss opened #1758 "Null values if a property not change value, Default value and Scaffold-DBContext"
Hi,

I have a table with two integer columns Opens and UniqueOpens. They have a default value set to 0. I scaffold DB with Scaffold-DBContext. I don't know why, but the default value is not set on these columns.

I create a new empty DB, applied migrations, tables were created (without default values on these columns).

I want to insert a data:

[code]

Nothing special. As you can see I set values

[2021-03-13 12:43] pikausp commented on #1713
Is this issue related to the connector or database engine? I do believe this is a bug. Should we submit this in a different repo? If it ends up being "by design", then fair enough, but the current behaviour seems very strange and it's easy to run into issues.

[2021-03-13 12:56] vonzshik commented on #1713
I agree that this behavior seems very strange, but there is no issue with the connector (or efcore), as the problem is with how cascade delete on the side of the database engine works.

[2021-03-14 14:59] narder21 commented on #971
@ZekeLu

Thanks so much for this, ive spent the last 2 days trying to find what the issue was, I might have to buy you another beer

[2021-03-16 00:06] Emill commented on #1691
I'm leaning towards making the NpgsqlRecordDbDataReader only valid as long as the current outermost row is valid, i.e. until `Read()` is called. Then it can just refer to a span of the current read buffer (in case of non-sequential mode). The NpgsqlReadBuffer is not at all designed to use a plain array as backing buffer without socket or connector, which is kind of needed if it should still be val

[2021-03-16 13:48] #1552 closed

[2021-03-16 13:58] roji opened #1765 "Apply ConfigureAwait(false) everywhere"
EF Core applied ConfigureAwait(false) everywhere in https://github.com/dotnet/efcore/issues/10164, but EFCore.PG has several places which weren't done.

[2021-03-16 13:58] roji opened #1766 "Use ordinal string operations everywhere"

[2021-03-16 14:07] #1765 closed

[2021-03-16 14:07] #1766 closed

[2021-03-16 15:20] roji commented on #1691
That would involve some additional customization on the EF provider side, which it may be better to avoid. It's true that currently NpgsqlReadBuffer expects to have a socket and a connector, but I'm not sure how much work it would be to make it behave correctly as a pure memory buffer wrapper. But it's really up to you.

We can also defer the question and ignore BufferedDataReader for now - arrivi

[2021-03-16 20:17] jjxtra opened #1768 "Blob issue with entity framework 5"
I am getting this exception upon initial entity framework migration of my postgres db:

[code]

Here is my create script:

[code]

Is there nothing that changes blob to bytea?

Changing the "BLOB" entries to "bytea" does not fix the issue.

Using latest version of the nuget as os 2021-03-16.

[2021-03-16 20:54] roji commented on #1768
BLOB does not exist as a column type in PostgreSQL - bytea is the probably type you're looking for. I'm guessing you have tried to apply migrations which were generating for a different database - you may want to look at the docs on [migrations and multiple providers](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers?tabs=dotnet-core-cli).

You may want to remove the e

[2021-03-16 22:19] jjxtra commented on #1768
It would be ideal to replace blob with bytea, I generate a generic entity framework and support sqlite, sql server, my sql and postgres, but with this library being unable to replace blob, it makes it impossible to use generically.

This file could be changed to replace blob with bytea perhaps : https://github.com/npgsql/efcore.pg/blob/b9e6be05d3862b78922e3e204e1771f762243234/src/EFCore.PG/Migrati

[2021-03-17 08:18] aminebizid opened #1769 "Add a secondary host in connectionstring"
Hello,
We are using 2 database instances Primary RW and Secondary RO.
Is is possible to add both hosts to the connectionstring.
This feature is possible with psycopg2

[code]

[2021-03-17 09:17] Morhpeuss commented on #1758
@roji could you please check this issue? thank you.

[2021-03-17 10:58] christopheblin opened #1770 "CREATE SCHEMA IF NOT EXISTS errors if user has no database CREATE privileges"
Hello,

we have a customer which has a policy to provide us 2 users : one with DDL for the migrations and one without for the app

Both provided users are restricted to one schema and they do not have the rights to create new schemas. That seems reasonable in terms of security

The problem when we launch the migrations is that a command is issued to create a schema if it does not exist, and this c

[2021-03-17 11:07] roji commented on #1770
Does the `myschema` exist before running this migration? If not, the migration would fail without the `CREATE SCHEMA`. If it already exists (because creating externally), are you saying that PostgreSQL errors on CREATE SCHEMA IF NOT EXISTS even if the schema already exists?

If that's the case, you always have the option of editing your SQL scripts before applying them to your databases. Other tha

[2021-03-17 11:09] roji commented on #1769
Duplicate of #732

[2021-03-17 11:10] roji commented on #1769
This is likely to be a major feature in Npgsql 6.0.

[2021-03-17 11:10] #1769 closed

[2021-03-17 11:21] roji commented on #1768
@jjxtra data types simply aren't the same across database; it's not just a question of blob vs. bytea - SQL Server has `nvarchar` whereas PostgreSQL has `text`. It doesn't make any sense to make the PostgreSQL migrations provider recognize all data types of all other database...

Note also that there are various other differences between databases - not just data type names - which also affect mig

[2021-03-17 11:21] #1768 closed

[2021-03-17 12:55] christopheblin commented on #1770
@roji yes the schema already exists, and we are NOT using the SQL scripts (we are directly using context.Database.Migrate() inside our own "db program")

Here is an image that demonstrate that "PostgreSQL errors on CREATE SCHEMA IF NOT EXISTS even if the schema already exists"

![image](https://user-images.githubusercontent.com/11044877/111469176-ab74d600-8726-11eb-9544-8ee41916c6e1.png)

As you c

[2021-03-17 13:05] christopheblin commented on #1770
There is migrationBuilder.EnsureSchema operation which I think should be used by anyone who wants to create a schema if it does not exist

so, to me, NpgsqlMigrationSqlGenerator should NEVER create a schema by itself (the programmer can decide by calling the EnsureSchema in his first migration if this is what he wants, for example)

[2021-03-17 13:30] roji commented on #1770
This is something that is explicitly discouraged in EF Core, [see the docs](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/applying?tabs=dotnet-core-cli).

And that's exactly how it works... If you look at your migration's C# code, you'll see that an EnsureSchema operation was scaffolded there; if you remove it, CREATE SCHEMA will no longer be generated in SQL. This is also a

[2021-03-17 15:29] christopheblin commented on #1770
@roji tahnk you for your time, I got your point except when you say : "And that's exactly how it works... If you look at your migration's C# code, you'll see that an EnsureSchema operation was scaffolded there"

Here is what is done in https://github.com/danzel/Npgsql/blob/468df53fd49785bb11b42811851a85c85a8adc98/Npgsql.EntityFramework/NpgsqlMigrationSqlGenerator.cs#L169

        private void Conv

[2021-03-17 17:58] roji commented on #1770
Uhh... that looks like a commit from 2014? :) I'm also not seeing that commit in the project history - are you running some sort of fork? I'd suggest trying a modern version - preferably 5.0 or at least 3.1.

Migrations do not check what's in the database, and then run SQL on it; if they did, we'd just do `CREATE SCHEMA` (without the `IF NOT EXISTS` part). This is simply not how things work, and i

[2021-03-17 18:18] YTN0 opened #1772 "MissingMethodException after upgrading from 6.0.0 preview1 to preview2"
I upgraded my nuget from 6.0.0-preview1 to preview-2 and am now getting the following exception:

[code]

Any ideas on what the issue might be? All the other packages are upgraded to the latest.

Thanks.

[2021-03-17 21:17] qwertie commented on #553
I appear to be having the same problem in Npgsql assembly version 5.0.3.0. In my case, my app will auto-migrate the DB on startup, which may create the database. The workaround of calling ReloadTypes() is working:

[code]

[2021-03-18 12:35] nookiepl commented on #457
Quick question. Operator "<->" hasnt' been implemented yet, has it? In my case the difference is huge. Order by "<->" takes around 4 ms, ST_Distance with spheroid set to true = 250 ms, set to false = 120 ms.

[2021-03-18 13:14] roji commented on #457
Isn't this simply because `<->` always returns the 2D distance (so very fast), whereas ST_Distance returns geodesic distance for geography? In other words, the results are completely different - are you sure 2D is what you want?

[2021-03-18 13:15] roji commented on #457
BTW not saying it should be supported - there are definitely situations where 2D distance is useful for geography, just asking.

[2021-03-18 14:01] nookiepl commented on #457
Interestingly the operator returns the same result as ST_Distance with spheroid set to false. Does anyone know why then there is such a performance gap? As for my use case - precision isn't that important.

BTW. the difference (between operator/spheroid=false and spheroid=true) isn't big though. ~10km for distance around 4500 km.

[2021-03-18 14:34] EricStG commented on #457
In short, ST_DIstance can't use an index: https://postgis.net/workshops/postgis-intro/knn.html

[2021-03-18 22:52] jjxtra commented on #1768
This package was compatible with sqlite except for some recent change - blob used to work and be mapped to bytea, now it is not.

Adding to line 151 in `Storage\Internal\NpgsqlTypeMappingSource.cs`:

`{ "blob",                        new[] { _bytea                        } },`

Fixes the problem.

[2021-03-18 23:35] roji commented on #1768
`blob` is not a valid type for PostgreSQL, so it doesn't make sense to add it to the PostgreSQL provider... I don't really know what to say beyond what I've already written above. I also don't know exactly what you're doing because you haven't provided more details.

[2021-03-19 00:13] jjxtra commented on #1768
No worries, I modified the code myself and am referencing my binary which has the blob change in it. Thanks for the great library!

[2021-03-19 08:17] roji commented on #1768
@jjxtra if you are making the PostgreSQL provider recognize column type blog - which is *not* a PostgreSQL type - you are most probably around something wrong.

[2021-03-19 14:47] christopheblin commented on #1770
Yes, we manually write c# code using migrationBuilder

The advantage is to support multi database with a single migration.

Wrintig manually is the only way we found to have something consistent between multiple databases.

Here is how our code is looking :

    [DbContext(typeof(FacturationContext))]
    [Migration("Migration01_00")]
    public class Migration01_00 : AbstractMigration
    {