[2018-06-10 11:58] #401 closed

[2018-06-10 12:01] roji commented on #414
Closing in favor of #416

[2018-06-10 12:01] #414 closed

[2018-06-10 12:21] roji commented on #428
Sorry for not responding for a while, times are busy.

I understand the issue now: your problem is that your your 8-byte parameter (*not* the column) is being sent as `macaddr`, and so gets rejected by PostgreSQL. This is a more general issue that can happen for other types: EF Core needs to have a mechanism to allows explicitly specifying the store type of a value in an expression. I opened https

[2018-06-10 12:41] jholovacs commented on #344
A lot of changes happened with 2.1.0 recently, so I have to write a bunch
of new code.  I had originally written code to change PascalCase naming in
c# to snake_case naming in postgres, but all the classes for doing so
appear to have changed completely (completely broke my implementation) so I
have a lot of rework to do before I can try 2.1.0.

On Sun, Jun 10, 2018 at 7:34 AM Shay Rojansky <notifi

[2018-06-10 15:11] roji commented on #344
I'm sorry to hear it (although I'm not aware of any such breaking changes in the EF Core provider - unlike at the ADO level where there indeed are quite a few breaking changes).

The provider has several tests where DateTimeOffset is written and read, and to make extra sure I've just successfully roundtripped some DateTimeOffsets in a test program. My guess is that there's something going on in th

[2018-06-10 15:11] #344 closed

[2018-06-10 15:35] roji commented on #438
I've added a big warning in the 4.0 release notes with links back to the appropriate comments here. Unless I'm mistaken there's nothing more for us to do on this, so I'm closing the issue.

[2018-06-10 15:35] #438 closed

[2018-06-10 15:56] #439 closed

[2018-06-10 16:12] roji commented on #439
Pushed a fix to always include the array's type for literal arrays. Aside from the case of empty arrays, this could also cause issues where `new short[] { 3, 4 }` was rendered as `ARRAY[3,4]`, which PostgreSQL evaluates as an int array.

[2018-06-10 16:22] roji commented on #450
The `ascii(substr())` translation you mention as "current" isn't implemented in the provider, right? I mean, it's something you're working with in your branch as opposed to current EF Core behavior? Just asking because I don't recall ever implementing it.

Interesting about the expression generated for string character indexing, I'm also surprised by it. although your `get_byte()` proposal above d

[2018-06-10 18:01] #440 closed

[2018-06-10 18:03] roji commented on #440
This is because of #396...

Type names are like other identifiers - if unquoted they are folded to lowercase by PostgreSQL. The problem is that there are people out there specifying the column types as uppercase `TEXT`, and adding quotes would break their code.

The fix is to only ever quote only user-defined type names (enums, composites in the future), continuing to allow other types to be speci

[2018-06-10 18:17] roji commented on #461
I've just reconfirmed in a test program (see below) that `Dictionary<string,string>` is properly mapped to PostgreSQL `hstore`, and I can generate migrations for it just fine. Are you sure you're not using another provider when working on your migrations?

[code]

[2018-06-10 22:47] gary-holland commented on #378
@roji, just checked, and the issue is gone now.

Cheers,
Gary

[2018-06-10 22:47] #378 closed

[2018-06-11 01:44] summershrimp commented on #338
@roji sample below: https://github.com/PMExtra/NpgsqlConstructorBugDemo

[2018-06-11 06:05] tontm1981 commented on #189
What I am trying to say, it's useless write a function to generate value (uuid or not), because NPGSQL simply ignores it and override my work, executing any other thing, and it's an unexpected behavior. I wrote a function to generate values and defined, in table creation, that I will use this function as default value in a column (and here, it does not matter if it is a UUID or not), and what anyo

[2018-06-11 07:38] quan01994 commented on #440
@roji  but on [http://www.npgsql.org/efcore/mapping/enum.html](http://www.npgsql.org/efcore/mapping/enum.html)
Still using uppercase,

[2018-06-11 08:44] roji commented on #189
@tontm1981 Npgsql and EF Core definitely do not ignore default value generation... (and this doesn't seem to be what your issue above is about). When defining your model, you can use `HasDefaultValue()` and `HasDefaultValueSql()` just like [the EF Core docs describe](https://docs.microsoft.com/en-us/ef/core/modeling/relational/default-values), and this will create database columns with the appropr

[2018-06-11 08:46] roji commented on #440
@quan01994 I don't understand your comment...

I pushed a fix that will allow you to use uppercase enum type names - this will be released in 4.0.1. Until that comes out you have to use lowercase names. I don't see any reason to change the docs since the uppercase issue is fixed...

[2018-06-11 17:12] roji opened #464 "Plugin for LegacyPostgis"
Mainly for backwards compatibility with 3.2, which properly mapped the Npgsql types.

Note that literal/constant generation is going to be tricky because the legacy Npgsql PostGIS types don't have any sort of sort for WKT.

[2018-06-12 06:16] roji commented on #440
You can use lowercase-only enum names in 4.0.0, but using any uppercase letters will cause a failure. This is fixed in 4.0.1, where you'll be able to use any name you want, uppercase or lowercase.

[2018-06-12 07:02] FireAndIce68 commented on #169
This bug seems to have its way back

System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.Collections.Generic.List`1.get_Item(Int32 index)
   at Npgsql.EntityFrameworkCore.PostgreSQL.Scaffolding.Internal.NpgsqlDatabaseModelFactory.GetConstraints(NpgsqlConnection connection, IReadOnlyList`1 tabl

[2018-06-12 07:04] FireAndIce68 opened #465 "Scaffold-DbContext give the following error - cannot determine cause"
System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.Collections.Generic.List`1.get_Item(Int32 index)
   at Npgsql.EntityFrameworkCore.PostgreSQL.Scaffolding.Internal.NpgsqlDatabaseModelFactory.GetConstraints(NpgsqlConnection connection, IReadOnlyList`1 tables, String tableFilter, List`1& const

[2018-06-12 07:54] quan01994 commented on #440
thanks  👍 : )

[2018-06-12 13:21] roji commented on #169
@FireAndIce68 and others, as far as I've know, this bug was fixed long ago. If you're encountering it with a new version of the Npgsql provider, then I need more info on how to reproduce it...

[2018-06-12 23:02] roji commented on #465
A simple exception trace isn't enough for anyone to find and fix a bug... Please provide the exact steps to create a database that, when scaffolded, will trigger the above...

[2018-06-13 15:52] novikov-alexander commented on #401
@roji Thank you for your answer!
I've used mappings and it began to work.
Is there any way to make migration builder create corresponding postgresql enum automatically?

[2018-06-13 17:42] roji commented on #401
@novikov-alexander, see [the section on creating your enum](http://www.npgsql.org/efcore/mapping/enum.html#creating-your-database-enum) - it's just a call to `ForNpgsqlHasEnum()` in your model's `OnModelCreating()`.

[2018-06-13 18:34] novikov-alexander commented on #401
@roji I meant something like "Add-Migration Initial-Migration" in console and everything works :-)
I probably want too much :-)

[2018-06-13 19:15] iflight opened #467 "Nullable<NpgsqlDate> not supported by current database provider."
After update to net core 2.1 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1, EF throw exception:

And same problem with Nullable\<NpgsqlDateTime\>.

part of Model:

[code]
modelBuilder:

[code]
Connection:
[code]

Npgsql version: 4.0
Npgsql.EntityFrameworkCore.PostgreSQL 2.1
net core 2.1
PostgreSQL version: 9.6.6
Operating system: Win10

[2018-06-13 19:27] roji commented on #401
That actually is how it works, but you have to declare the enum's existence in your model like I described above. Then creating a migration will include the enum in that migration.

[2018-06-13 19:45] iflight commented on #467
Why I use NpgsqlDate\NpgsqlDateTime instead of DateTime? We use (+-)Infinity values of timestamp in postgres base (Default values for some data in db). DateTime doesn't support it (maybe infinity must be mapped to DateTime.Max/.Min values, now i convert it in code).
Migrate to NodaTime not easy when you has a lot of code with manipulating DateTime.
p.s. Sorry for my English :(

[2018-06-13 19:49] roji commented on #467
You can specify `Convert Infinity DateTime=true` to access infinity values as `DateTime.{Max,Min}Value`, this allows you to avoid using the Npgsql-interactive specific types which are frankly not that great.

[2018-06-13 20:20] novikov-alexander commented on #401
@roji thank you for the explanation

[2018-06-13 20:49] havotto commented on #460
I don't this that expression based in indexes can make a difference here.
I am thinking about supporting these operators in a different, and more direct way.
Is it possible to translate custom static functions (like EF.Functions.Like) to SQL in EF Core?
If it is, then static such static functions could be defined for these operators (@>, &&, and others).
What do think about this?

[2018-06-14 05:20] roji commented on #460
Why not? Do you have anything to back this up? The whole point of expression-based indexes is, well, that you can use them for any expression...

Of course it's possible to translate custom static functions to SQL - this is exactly what happens with `EF.Functions.Like`. But how would that help here? The question isn't how the C# code looks like - is it `if (arr.Contains(x))` or is it `if (EF.Funct

[2018-06-14 06:24] roji opened #468 "Consider deprecating/removing the provider-specific date/time types"
Npgsql provides NpgsqlDate, NpgsqlDateTime and NpgsqlTimeSpan for reading and writing date/time values that cannot be represented with the standard BCL DateTime/TimeSpan (which are more limited in range). However, now that we support NodaTime, it may be a good idea to obsolete these provider-specific types.

These types are probably pretty inefficient and may contain bugs (they're seldom-used and

[2018-06-14 20:07] havotto commented on #460
Expression-based indexes can only be used if that exact same expression is present in the SQL. For example 'lower(name)'. But here we have    value = ANY(array_column). There is no expression here that can be used in an index expression.

As for the static functions, these would be mapped directly to these special PostgreSQL operators, so the user would not confuse Array.Contains(x) with these. @>

[2018-06-15 20:35] dietrichha opened #469 "Cannot Sum Double?"
Hi,

with the new ef core 2.1 I get errors when I try to sum a nullable doube (double?). E.g.:

            var allArrivedTransports = await _context.Transport.Select(t => new
            {
                TotalChargeableWeightPerTransport =
                       t.TransportItems.Sum(ti => ti.ChargeableWeight))
            })
                .ToListAsync();

ChargeableWeight is a nullable doube.

[2018-06-15 21:17] dietrichha commented on #209
Thanks.

Based on this ideas
https://stackoverflow.com/questions/4396863/how-to-make-streams-from-blobs-available-in-plain-old-c-sharp-objects-when-using
and
https://docs.microsoft.com/de-de/dotnet/framework/data/adonet/sqlclient-streaming-support

I adopted this class... It wraps the database connection into a Stream so you can use it to stream it the browser/client.

 /// <summary>
    /// There

[2018-06-17 08:11] roji opened #470 "Allowing mapping string to character(1)"
2.1 added the possibility to map a CLR `char` to a PostgreSQL `character(1)`, but inadvertently removed the possibility to map a CLR `string` to `character(1).

[2018-06-17 08:15] #470 closed

[2018-06-17 13:43] alexzaytsev-newsroomly commented on #230
What was the solution for this?

[2018-06-17 15:12] roji commented on #455
@rwasef1830, I can create an `lo` column just fine, see code below. Can you please test with the latest 2.1.1 CI package from stable feed?

[code]

[2018-06-17 15:17] roji commented on #469
This almost certainly an issue in EF Core rather than the Npgsql provider, can you please move this issue to http://github.com/aspnet/EntityFrameworkCore? In the unlikely case this turns out to be related to Npgsql we'll reopen.

[2018-06-17 15:17] #469 closed

[2018-06-17 15:18] roji commented on #461
Closing as no additional info was provided, but feel free to post back here and I'll reopen if necessary.

[2018-06-17 15:18] #461 closed

[2018-06-17 17:03] roji commented on #445
This is done.

[2018-06-17 17:03] #445 closed

[2018-06-17 17:04] roji commented on #428
@austindrenski any comment on the above?

[2018-06-17 17:05] roji commented on #349
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-06-17 17:05] #349 closed

[2018-06-17 17:05] roji commented on #277
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-06-17 17:05] #277 closed

[2018-06-17 17:22] roji commented on #80
Sorry for now addressing this for so long, it somehow slipped through the cracks...

I've tested this (2.1.0) and it works fine now. At some point this bug must have been fixed on the EF Core side:

[code]

[2018-06-17 17:22] #80 closed

[2018-06-17 18:11] austindrenski commented on #450
@roji Apologies for letting this sit for a week—was tied up on another project.

Oops, I should have worded that better. Yes, I meant "currently implemented in my working tree".

TBH, after a few days away, I agree. The readability would still be lackluster.

Might just be better to see what can be done on the C# expression tree side (e.g. find `char -> byte` cases and cast back to `char` as appro

[2018-06-17 18:12] #450 closed

[2018-06-17 18:56] austindrenski commented on #428
@roji Thanks for those issue references, interesting to see the related work!

That works for me.

That's my fault, I wasn't very clear. I was thinking about [the length checks](https://github.com/npgsql/npgsql/blob/f3e2a1909a564b69135648001f4af894e1867e5c/src/Npgsql/TypeHandlers/NetworkHandlers/MacaddrHandler.cs#L57-L63) in `MacaddrHandler`:

[code]

If this code didn't check the length, would th

[2018-06-17 20:11] austindrenski commented on #460
I have some work in progress on general translation support for array operators in #431.

Currently (in #431), things like this:
[code]

are translated as:

[code]

This would presumably work with an inline array like:
[code]

[2018-06-17 20:41] roji commented on #428
Oh I understand, yeah, that's a legitimate point.

The `ValidateAndGetLength()` in general is more about getting the length (which needs to be sent up-front in the PostgreSQL protocol) and less about validation. In fact, in #1727 I investigated "one-pass" writing, which attempts to write parameter data in one pass, rather than the current two-pass system, which first calculates all lengths and doe

[2018-06-17 20:50] rwasef1830 commented on #455
@roji Can create but cannot query. On querying I get this exception:

[code]

[2018-06-17 20:50] roji commented on #460
@austindrenski thanks, I forgot about your ongoing work, which I'll try to review ASAP :) Do you plan to  provide translations for [all of the array operations](https://www.postgresql.org/docs/current/static/functions-array.html#ARRAY-OPERATORS-TABLE)?

[2018-06-17 21:02] roji commented on #455
Got it, I'll take a closer look.

[2018-06-17 22:01] havotto commented on #460
@austindrenski Yes, this looks great. But I think that with array input syntax SQL parameters cannot be supported, like this:
[code]
There is an alternative syntax for arrays, but I am not sure if it supports SQL parameters for elements:
[code]

[2018-06-17 22:10] austindrenski commented on #428
Ah. I think _that's_ what I've been missing.

I've been thinking about this as a mashup of the simple and extended protocols, where everything is sent as plain text and inferred. But parameters in the extended protocol may be sent with an OID...

After looking at [extended query protocol](https://www.postgresql.org/docs/10/static/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY) and the [protocol messag

[2018-06-17 22:10] #428 closed

[2018-06-17 22:29] austindrenski commented on #460
@roji The big goal is to provide translations for the major ones by `2.2.0`. But if there's time, I would like to add support for all of them.

@havotto You are correct that we translate arrays with the [constructor syntax](https://www.postgresql.org/docs/10/static/sql-expressions.html#SQL-SYNTAX-ARRAY-CONSTRUCTORS), rather than the [literal syntax](https://www.postgresql.org/docs/10/static/arrays

[2018-06-17 22:33] austindrenski commented on #460
@roji The big goal is to provide translations for the major ones by `2.2.0`. But if there's time, I would like to add support for all of them.

I would recommend reviewing with #444 before #431, as it splits out some of the generalized components that could be used by related features.

@havotto You are correct that we translate arrays with the [constructor syntax](https://www.postgresql.org/docs/

[2018-06-18 00:30] concubicycle opened #471 "Microsoft.EntityFrameworkCore.Tools.DotNet is obsolete"
The docs should mention that in the latest version of .net core,

`<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.0" />`

is no longer needed, and the build will give a warning if it is present in the csproj.

[2018-06-18 02:30] austindrenski commented on #471
This is covered by [the framework docs](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1#update-the-project-file-to-use-21-versions) and release announcements.

Is this type of information being reproduced in the transition docs of other EF Core providers?

[2018-06-18 03:52] concubicycle commented on #471
Oh, I mostly just meant changing this page:
http://www.npgsql.org/efcore/

[2018-06-18 04:58] austindrenski commented on #471
Ah, yes, that page should be updated. Good catch.

[2018-06-18 07:03] roji commented on #460
@austindrenski and @havotto, note the specific behavior around NULL which the PostgreSQL array operators have (e.g. `@>`): `SELECT ARRAY[1,NULL] @> ARRAY[1,NULL];` will return false although its C# counterpart will return true. We need to decide whether this discrepancy is enough to not translate C# native constructs (whether it's `array.Contains(value)` or `array1.All(x => array2.Contains(x))` an

[2018-06-18 07:15] roji commented on #428
I understand... Npgsql 2.x actually used to partially work this way - for unprepared queries Npgsql would generate a literal string representation of the data and put it inside the SQL itself, in effect doing client-side parameter binding. Prepared statements obviously had to use server-side parameter binding, which itself was a weird behavior discrepancy with lots of unexpected effects. Npgsql 3.

[2018-06-18 09:56] havotto commented on #460
I would prefer the dedicated function approach. It's meaning is more straightforward for the user.

[2018-06-18 10:45] roji commented on #455
This is a problem that's quite specific to domains on uint.

The issue is that uint itself isn't supported as a "default" datatype by the Npgsql provider - although there are several uint datatypes in PostgreSQL (e.g `oid`, `tid`) these are internal/system types that aren't meant to be used by applications.

Now, the issue is that when you specify some domain type such as `lo`, there's no built-in

[2018-06-18 11:06] roji commented on #455
Note to self: also check the situation with xid which is used as the concurrency token...

[2018-06-18 11:08] roji commented on #455
And a final note: as `lo` is a "standard" extension we can also add explicit support for it in the type mapper.

[2018-06-18 12:59] roji commented on #455
After writing all that text, I took a 2nd look and decided to simply add `lo` as a mapping in the type mapper, just like `oid`, `xid`, etc. This means that other domains over uint types aren't supported for the moment, but let's wait for complaints to arrive before making an exception in the type mapper.

[2018-06-18 13:00] #455 closed

[2018-06-18 13:34] SamHuo213 opened #473 "Translate DateTimeOffset members"
Hi,

I am using EF Core 2.1 and PostgreSQL.  I have some entities that have a column in DateTimeOffset.  Whenever I use these columns in a query the execution is happening on Client side.  I would like to be able to do diffs on two DateTimeOffset on client side; I have also looked into DbFunctions but there seems to be no support for that either.

The following code is what I am trying to accompli

[2018-06-18 13:58] roji commented on #473
`DateDiffSeconds` is defined in SqlServerDbFunctionsExtensions, which means it's an SqlServer-specific method - there's no reason to expect it to work server-side on PostgreSQL.

The Npgsql provider does translate operations on `DateTime`, so you should be able to write `.Where(x => x.ExpirationTime - DateTime.UtcNow > y)`. However, `DateTimeOffset` members aren't translated yet - will keep this i

[2018-06-18 14:04] roji commented on #473
Actually, thinking about this again, you should be able to subtract one DateTimeOffset from another, yielding a TimeSpan (just like you can subtract one DateTime from another). Give that a try.

[2018-06-18 15:49] NinoFloris opened #474 "As an addition to #334 have convenience methods for EF json(b) value conversions"
We're currently using something like this in our codebase, it won't allow you to query into it but we always pull in the full entity on other criteria anyway.

[code]

Related: #334

Also until 2.1.3 is out people will have issues like this https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/412 (if they map to JObject or friends)
The temporary fix (and same issue) is noted here

[2018-06-18 16:17] igabesz opened #475 "Foreign keys lost when creating DB-first import"
I got the following Postgres connection string in a .NET project. When I generate a DB-first Dataset using this connection string (Add new Data Source > Database > Dataset) the foreign key constraints are not imported to the model. I was adding only the relevant tables.

Is there any way to import existing Postgres foreign keys to the Dataset?

[code]

[2018-06-18 16:42] SamHuo213 commented on #473
Thank you for the quick response.  I followed your recommendation and tried doing the following which did not work the query is still being executed on client side:

.Where(x => (x.ExpirationTime - DateTimeOffset.UtcNow) <= TimeSpan.Zero)
.ToList();

However, I did do this and it seems to be working on server side now:

context.Entity
.Where(x => x => x.ExpirationTime <= now)
.ToList();

[2018-06-18 18:45] roji commented on #475
You're using EF6 but this repo is for EF Core. Please move this issue to http://github.com/Npgsql/EntityFramework6.Npgsql

[2018-06-18 18:45] #475 closed

[2018-06-19 11:23] radenkozec opened #476 "FromSql raw query .NET Core 2.1 seams is not supported"
When I try to execute simple query using FromSql I am getting this error:

Not sure what is going on?

[2018-06-19 16:59] austindrenski commented on #476
@radenkozec Can you provide a minimal and reproducible example of this behavior?

[2018-06-19 17:20] austindrenski commented on #471
@roji This can be closed via #472.

[2018-06-19 18:38] #471 closed

[2018-06-19 23:08] dougbu commented on #367
@roji suggest reopening this issue.

The bug is actually specific to the PostgreSQL provider. Other providers I tested (MySql (the Pomelo provider), Sqlite, and SqlServer) handle the combination of `HasData(...)` and auto-increment columns just fine. And, the problem happens when using EF migrations or `DbContext.EnsureCreated()` but, again, only with the PostgreSQL provider.

For my scenario (inv

[2018-06-19 23:13] dougbu commented on #367
FYI @ajcvickers @bricelam @divega

[2018-06-19 23:22] roji commented on #367
In the coming week I'll probably be very busy and unable to look at this.

The fact that an error occurs only on PostgreSQL is interesting, but doesn't in itself demonstrate an Npgsql provider issue - databases differ between one another and what works in one doesn't necessarily work on another.

Looking at this again, it seems very reasonable for this unique constraint violation to occur: you're

[2018-06-20 02:40] bricelam commented on #367
Hard problem. Is there a way to specify the start value for the underlying sequence? Maybe apps should partition their key space into seed data keys and app data keys. (e.g. start the sequence at 100 and use 1-99 for seed data.)

@AndriySvyryd any thoughts? If there's a way to know an entity was inserted, maybe the sequence could be restarted with the max value as part of seeding.

[2018-06-20 11:01] roji commented on #465
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-06-20 11:01] #465 closed

[2018-06-20 11:07] roji commented on #474
It's a nice idea. But do you really think belongs in the Npgsql provider, as opposed to the user's codebase? Reasons not to may be:

1. There's very little extra value here (users can easily define this themselves)
2. This has nothing to do with Npgsql and can work just as well on any other provider (so you may actually consider proposing this to EF Core)

[2018-06-20 11:13] NinoFloris commented on #474
True, without being able to query on it such a thing could indeed work for other databases. I can't wait for npgsql support for Json.Net as I've copied this file into quite a few projects already ;)

[2018-06-20 11:33] roji commented on #474
Trust me, I really tried to have a proper JSON.NET plugin (#334) with querying for 2.1, but the expression translating turned out to have some serious complications (documented there). I really hope we find a good way around the issues and have a plugin ready for 2.2.

Am going to close this for now - as I wrote above I actually think it could be a nice addition to EF Core, consider sending them a

[2018-06-20 11:33] #474 closed

[2018-06-20 12:03] roji commented on #367
@bricelam "classical" PostgreSQL autoincrement columns are called `serial`, which is just a short-hand for creating a default sequence and setting the column's default value expression to take values from it (see [these docs for more info](https://www.postgresql.org/docs/current/static/datatype-numeric.html#DATATYPE-SERIAL)).

Since PostgreSQL 10 there's also the SQL standard identity feature whic

[2018-06-20 12:08] roji commented on #473
@SamHuo213 great, your working solution is actually the best one.

Regarding the one that isn't working, I'll try to dig deeper but it will probably take me some time to get around to it. Will keep this issue to track that.

[2018-06-20 15:57] bricelam commented on #367
On SQL Server, we use `SET IDENTITY_INSERT TheTable ON` which basically puts a lock on the table and ensures the internal sequence is updated before releasing.

SQLite just lazily computes the next `rowed` based on the current highest value. (with some extra bookkeeping to ensure keys aren't reused when using `AUTOINCREMENT`)

[2018-06-20 16:05] bricelam commented on #367
I think an API like this would make sense.

[code]

This would just put an annotation on the `IProperty` that could flow down into the AddColumn Migrations operation.

[2018-06-20 16:08] dougbu commented on #367
@bricelam I'm curious: Would it be EF or the provider that figures out `100` is enough for the `HasData(...)` additions?

FYI given the similarity between the "apply migrations" SQL scripts I generated, I'd say MySql behaves similarly to SQLite.

[2018-06-20 16:59] bricelam commented on #367
It's up to the application. If you specify 100, ensure all the keys in `HasData()` are below that.

[2018-06-20 17:30] neyromant opened #478 "Npgsql.EntityFrameworkCore.PostgreSQL generates unsupported sql for old postgresql server"
Hi
I'm using PostgreSQL 9.3.5 on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-4), 64-bit "

After switching to the version of Npgsql.EntityFrameworkCore.PostgreSQL 2.1.0, I got errors on some queries. "Npgsql.PostgresException" "42703: column \" mins \ "does not exist".

I did a little investigation:
For the following code
[code]
Npgsql.EntityFrameworkCore.PostgreS

[2018-06-20 19:44] AndriySvyryd commented on #367
Since the key is a signed int I wonder if the user could just use negative values for seed data

[2018-06-20 20:36] dougbu commented on #367
@AndriySvyryd would we make that recommendation for EF providers and supposedly-provider-independent `HasData(...)` calls in general? That is, would it likely work for InMemory, SQLite, MySql, et cetera?

[2018-06-20 20:38] AndriySvyryd commented on #367
@dougbu I think so, I'll add it to the PR updating data seeding docs https://github.com/aspnet/EntityFramework.Docs/pull/759/files#r194592252

[2018-06-20 20:45] dougbu commented on #367
Awesp,e @AndriySvyryd

@roji if I update my app _today_ to use negative indices for identity columns in seed data, will this work with PostgreSQL i.e. the 2.1.0 version of the Npgsql.EntityFrameworkCore.PostgreSQL package?

[2018-06-20 20:47] roji commented on #367
That's clever :)

I don't see why not... The default sequence created for serial (and new-style identity) columns starts at one and increments, so negative values should never conflict.

[2018-06-20 20:54] roji commented on #478
Oh, that's unfortunate... This is actually a feature added to 2.1.0, where we translate certain DateTime arithmetic (#173) to SQL. That's a positive thing - it allows the operation to be evaluated in PostgreSQL, potentially saving you from downloading a large dataset just to perform the operation client-side.

One easy workaround is to force evaluating the DateTime arithmetic client side by callin

[2018-06-20 20:54] #478 closed

[2018-06-20 22:17] austindrenski commented on #478
@neyromant This is an interesting issue, thanks for sharing it.

@roji I'm thinking about how this relates to the various operator translations being added.

For example, I'm imagining the situation where I'm unable to take advantage of the latest provider version because the release has new translation support for _pre-existing_ Postgres features, __as well as__ support for _new_ Postgres feature

[2018-06-20 23:03] roji commented on #478
We don't and can definitely improve on this. There's [a note in the compatibility section](http://www.npgsql.org/doc/compatibility.html#postgresql) of the docs saying we aim to be compatible with supported PostgreSQL versions (5 major versions back), but that's not enough.

In practice, though, I've actually received relatively little complaints about usage of new PostgreSQL feature which aren't a

[2018-06-21 04:35] austindrenski commented on #478
Reading through the issues, I can see why this makes sense. As an EF Core user, I certainly appreciate the current approach.

I can understand the "wait and see" perspective. That said, this sounds like it could be a good investment if implemented in an unobtrusive way.

Ideally, we could quietly introduce this and only use it to fence off issues as they arise, while avoiding any big overhauls to

[2018-06-21 13:47] austindrenski opened #480 "Support for compatibility versioning"
Opening to track discussions about compatibility versioning.

## TODO
  - Update [the docs](http://www.npgsql.org/doc/compatibility.html#postgresql) to better describe how we support different versions.
    - Topics to include:
      - Migrations
      - SQL generation
      - Type mapping

  - Add [configurable](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/478#issuecomme

[2018-06-21 18:59] orobert91 opened #481 "Index operators support"
https://www.postgresql.org/docs/current/static/indexes-opclass.html

Pull request #257 seems to have been abandoned by its creator.

[2018-06-21 22:08] dougbu commented on #367
Negative values for auto-increment columns in seeding data clears this problem for me when using the Pomelo.EntityFrameworkCore.MySql provider. It also does not break anything with the other providers I've been testing (Pomelo MySql, SQLite and SqlServer).

[2018-06-22 04:32] austindrenski commented on #460
@roji Thanks for pointing out the `NULL` discrepancy. I've spent a few days thinking through the different options and I'm on board with adding extensions on `EF.Functions`. At a minimum, it'll provide an option for users who want to explicitly influence the SQL generation.

But, in general, I do prefer to see translations of standard LINQ patterns, rather than provider specific extensions. This i

[2018-06-22 06:43] roji commented on #367
Great, I think we can consider the matter closed, apart maybe for a mention in the EF Core docs...

[2018-06-22 08:27] roji commented on #460
You should thank @havotto instead :)

Of course we always prefer to translate standard .NET expressions rather than introducing new and specific functions. The guiding principle is simply to translate when the server-side behavior corresponds exactly to the client behavior, and not to do it otherwise.

I think that portability here is a somewhat complex idea. In my opinion, whether an expression i

[2018-06-22 11:39] roji commented on #468
This is an Npgsql issue, not an EF Core issue, moved to https://github.com/npgsql/npgsql/issues/2009.

[2018-06-22 11:39] #468 closed

[2018-06-22 19:12] dougbu opened #482 "Unexpected `PostgresException` when using low "Max Auto Prepare" setting"
### Repro steps
1. Clone repo at https://github.com/dougbu/PostgreSQL
2. Follow Readme instructions to execute the program using default setup

### Expected
Successful execution

### Actual
[code]

Note the error says nothing about the "Max Auto Prepare" option used in the connection string. It seems like PostgreSQL has corrupted some internal state.

### Suggest
Add a new error about a "Max Auto

[2018-06-22 19:15] dougbu commented on #482
FYI @ajcvickers @AndriySvyryd @bricelam @divega

[2018-06-22 19:19] dougbu commented on #482
@roji sorry if I implied working around #367 actually fixed my test program. That workaround allowed me to hit this issue.

Not sure why the connection string I copied had this low a setting but, &hellip

[2018-06-22 19:54] SperoSophia commented on #404
Quick fix, is to remove the Migration folder and run "Add-Migration Init" in the package manager console before running "Update-Database", to flush the SQL Server predefined context.

[2018-06-24 02:35] austindrenski commented on #7
This has been around for a while. I'm going to take a run at for `2.2.0`.

[2018-06-26 14:58] JNBarnes opened #484 "Type for Arrays of Enums not set during migration"
With an enum type mapped like so:
`protected override void OnModelCreating(ModelBuilder builder) {
    builder.ForNpgsqlHasEnum("Mood", new[] { "happy", "sad" });
}`

`static MyDbContext()
{
    NpgsqlConnection.GlobalTypeMapper.MapEnum<Mood>("Mood");
}`

And an array defined like so:

`public List<Mood> Moods{ get; set; }`

Throws :
`42704: type "Mood[]" does not exist`

I think the issue is the

[2018-06-26 15:17] JNBarnes commented on #484
Issue was caused by the casing of the enum.

When mapping used `mood` instead of `Mood` the migration went smoothly.

I'll update the docs to point out this caveat.

[2018-06-26 16:17] austindrenski commented on #484
This looks like a duplicate of #440.

Can you post some version information?

[2018-06-26 16:32] austindrenski commented on #484
That configuration is correct for the PostgreSQL quoted identifier:
[code]

[2018-06-26 18:14] tematim commented on #457
Hello,

I'll need these one too :
Point
ST_Equals
ST_Buffer

LineString
ST_Centroid
ST_StartPoint
ST_Equals
ST_Buffer

Polygon
ST_Centroid
ST_Multi
ST_Buffer
ST_Dump

[2018-06-26 22:07] roji commented on #484
Yep, agree with @austindrenski that this is a dup of #440 - I intend to release 2.1.1 this weekend so this should be gone. @JNBarnes can you please test the latest nupkg from [the stable feed](http://www.npgsql.org/doc/index.html#unstable-packages) and report if it resolves the issue for you?

[2018-06-27 08:03] JNBarnes commented on #440
Also worth noting that an enum with a value of
`public Enum Mood{
    "Happy",
    "NotHappy"
}
`
must be mapped...

`modelBuilder.ForNpgsqlHasEnum("mood", new[] { "happy", "not_happy" });`

Is this the expected behavior?

[2018-06-27 09:50] onimoger opened #489 "Where queries with casted enum value throw Can't write CLR type"
After upgrading to version 2.1 started getting errors with such queries:
`var t = VehicleTypes.Truck;`
`context.Vehicles.Where(x => x.TypeId == (int)t)`
throwing exception:

If code is changed to:
`int t = (int)VehicleTypes.Truck;`
`context.Vehicles.Where(x => x.TypeId == t)`
it works.

I guess it's because of new strict parameter type handling, but is this really the place for it trigger error? T

[2018-06-27 12:21] roji commented on #489
This should definitely work, I'll try to take a look in the coming days.

[2018-06-27 13:02] onimoger commented on #489
My hasty example was wrong. Error only occurs when enum in Where condition comes from a variable.

I have created a console app with exact reproduction of this problem:
https://github.com/onimoger/npgsql4repro

Hopefully this helps

[2018-06-27 14:42] austindrenski commented on #489
@onimoger Thanks for providing that repro, I was able to replicate this issue in our test suite.

@roji I opened #490 to add this to the test suite (currently fails). If you want to tackle this one, I can set the test to skip for the merge. Otherwise, I can take a look this evening.

[2018-06-27 17:01] AuthorProxy commented on #159
@roji, can you confirm a bug?

await cities
  .OrderByDescending(city => EF.Functions.**ILike**(city.Name, $"{term}%"))
  .ThenByDescending(city => EF.Functions.**ILike**(city.Name, $"%{term}%"));
  .Take(max).ToListAsync()

don't work, but in this cases everything is fine
--------------- 1 ---------------
.OrderByDescending(**Like**)
.ThenByDescending(**ILike**);
--------------- 2 ---------------

[2018-06-27 17:18] roji commented on #489
Nope, go ahead and take this if you want! The idea is to release 2.1.1 (and Npgsql 4.0.1) this weekend (probably Sunday). If you get stuck feel free to ping me.

[2018-06-27 17:32] roji commented on #440
@JNBarnes you're referring to the fact that the .NET enum has `Happy` and `NotHappy`, while the PostgreSQL enum needs to have `happy` and `not_happy`? If so, you need to read about [name translation](http://www.npgsql.org/doc/types/enums_and_composites.html#name-translation) in the docs.

[2018-06-27 18:48] srinivashavanur opened #491 "Issue with Npgsql.LegacyPostgis"
Hi,

I'm trying to use PostgisGeometry type to read spatial data from database table. It's throwing
"The entity type 'PostgisGeometry' requires a primary key to be defined". Is there any additional configuration steps required to do before using it.

Thanks,
Sri

[2018-06-27 19:28] austindrenski commented on #491
@srinivashavanur Could you post some version information (i.e. provider, framework) along with a minimal reproduction of what you're seeing?

[2018-06-27 19:38] srinivashavanur commented on #491
@austindrenski : I'm using Npgsql.EntityFrameworkCore.PostgreSQL 2.1.0 version and I just installed the latest version of legacypostgis. Earlier I was using PostgisGeometry type which belong to NpgSQLTypes but after updating to 2.1 NpgSQLTypes no longer supports PostgisGeometry. I tried using NetTopologySuite but it doesn't support spatial data type PostgisGeometry. Any help would be appreciated.

[2018-06-27 21:07] roji commented on #491
Npgsql.LegacyPostgis supports the legacy PostGIS types at the Npgsql ADO.NET level, but the plugin to add support for EF Core doesn't exist yet. #464 tracks adding that plugin, hopefully soon.

Consider checking out [the new spatial support based on NetTopologySuite](http://www.npgsql.org/efcore/mapping/nts.html), which is much better than LegacyPostgis.

[2018-06-27 21:07] #491 closed

[2018-06-28 05:36] austindrenski commented on #489
I took a look and it gets interesting:

The type cast is recorded in the expression tree as expected, so it does go through the normal visitor process. But since PostgreSQL doesn't support casting enums to numeric values, the normal type cast handling generates SQL that PostgreSQL will reject.

I'm not sure if there is a good option from the EF Core side. I can't seem to find access to parameter v

[2018-06-28 06:19] roji commented on #159
@AuthorProxy I can see the exception, can you please open a separate issue for this?

[2018-06-28 08:29] roji commented on #489
@austindrenski can you please confirm that this error only occurs when the enum is mapped to a PostgreSQL enum? In other words, that `NpgsqlConnection.GlobalTypeMapper.MapEnum()` is being called? Unmapped enums are automatically mapped by EF Core to database int columns, and in this case the above code should be working correctly - it would be good if you could confirm.

If this is the situation,

[2018-06-28 09:18] AuthorProxy opened #492 "EF.Functions.ILike don't work twice at Linq expressions"
ef.core 2.1 and npgsql stable 4+

await cities
  .OrderByDescending(city => EF.Functions.**ILike**(city.Name, $"{term}%"))
  .ThenByDescending(city => EF.Functions.**ILike**(city.Name, $"%{term}%"));
  .ThenBy(city => city.Name);
  .Take(max).ToListAsync()

don't work, but in this cases everything is fine
--------------- 1 ---------------
.OrderByDescending(**Like**)
.ThenByDescending(**ILike**);

[2018-06-28 09:19] AuthorProxy commented on #492
#159

[2018-06-28 14:23] smblee opened #493 "NpgsqlRange<DateTime>.Contains not working when filtering"
Hello,

I have the following scenario and error:

[code]

[code]

I am following the example shown here:

http://www.npgsql.org/efcore/mapping/range.html

Anyone else having this problem?

EntityFrameworkCore 2.1.1
EntityFrameworkCore.Design 2.1.1
Npgsql.EntityFrameworkCore.PostgresSQL 2.1.0

[2018-06-28 16:03] austindrenski commented on #493
@smblee Thanks for opening this issue. It looks like this is related to the default type mappings and how the range operators are currently translated.

Currently, `NpgsqlRange<DateTime>` is mapped to `daterange` and `DateTime.Now` is translated to `timestamp` not `date` which is the element type of `daterange`.

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/c752898ec356f457

[2018-06-28 18:41] CodingGorilla opened #494 "NullReferenceException in NpgsqlCompositeMethodCallTranslator.cs @ line 66"
After upgrading my project to .NET Core 2.1 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1.0 I'm getting an NRE at startup in the NpgsqlCompositeMethodCallTranslator.cs at line 66.  This appears to be because the `INpgsqlOptions` passed into the constructor has a null `Plugins` member, and the constructor is attempting to iterate the plugins.

Did something change in the set up of the context, beca

[2018-06-28 18:56] austindrenski commented on #494
It shouldn't be possible to initialize `INpgsqlOptions` with a null `Plugins` member.

The current version will allow you to pass in null `NpgsqlEntityFrameworkPlugin` instances. (This should change with #483 for version `2.2`.)

Do you add any plugins during startup? Could you post a snippet showing your configuration for Npgsql?

[2018-06-28 19:03] CodingGorilla commented on #494
My configuration is pretty simple:

[code]

[2018-06-28 20:13] austindrenski commented on #494
Could you post the stack trace?

[2018-06-29 05:34] austindrenski commented on #489
@austindrenski wrote:

#490 now passes both the previous enum tests and the repro for this issue. It does still need some additional tests to make sure the translation is strictly limited to _unmapped enums cast to their exact underlying system type and used in an equality comparison_ and nothing else.

@roji wrote:

I've tried to keep this in mind while working on #490, keeping the translation as

[2018-06-29 05:58] roji opened #495 "Map date/time ranges in NodaTime plugin"
The NodaTime plugin should map the three date/time range types (`daterange`, `tsrange`, `tstzrange`).

[2018-06-29 06:00] roji commented on #493
This doesn't seem right... [In NpgsqlTypeMappingSource](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/90ee95dd9984fa6adc9f19e49278471200d95f02/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L251), `NpgsqlRange<DateTime>` is by default mapped to `tsrange`, not `daterange`... It would indeed be very inconsistent to map an element to one PostgreSQL type and its range

[2018-06-29 06:00] #493 closed

[2018-06-29 06:19] #495 closed

[2018-06-29 06:20] roji commented on #493
FYI pushed a fix to #495 which maps the built-in ranges in the NodaTime plugin, and confirmed that `NpgsqlRange<LocalDate>.Contains(x)` translates correctly.

[2018-06-29 09:14] roji commented on #489
Apologies, I was under the impression the issues where with mapped enums. It's definitely more serious/interesting if this happens to unmapped enums, which EF Core maps to int columns. I agree we need to make sure that binary comparison of unmapped ints works.

But before going into fragment translation, I have a much simpler question - how is this working on other providers (e.g. SQL Server)? Aft

[2018-06-29 10:39] onimoger commented on #489
Because it's CLR enum, and in DB it's an int column referencing another table. Granted, this practice comes from using EF with Sql Server. Postgres enums are not used because of decision to keep with generic sql as much as possible, in case we need to change DB. If this would not have worked from the start, i would say ok, we can work around it, but it works fine with Npgsql 3.2.7

We have a syste

[2018-06-29 11:34] roji commented on #489
I think there may be some confusion...

I completely agree that Npgsql needs to fully support unmapped enums, i.e. mapping CLR enums to database integer columns. This is the default mode in EF Core (since PostgreSQL is the only DB AFAIK that supports database enums), and we need to resolve this issue which is preventing comparison.

My comment above was that if an enum *is* mapped to a PostgreSQL

[2018-06-29 11:40] roji commented on #489
One last note regarding cross-database portability... It should be totally fine to map CLR enum to PostgreSQL enums on PostgreSQL, but to integers on other database (e.g. SQL Server); EF Core was built with this idea in mind. You can have the same model map in one way on one database, and in another way on another database. The same LINQ query should work just fine on PostgreSQL and on SQL Server.

[2018-06-29 12:57] austindrenski commented on #489
Sure, I can take a look at this today.

[2018-06-29 14:31] austindrenski commented on #489
@roji wrote:

I think that's very sensible, and a great deal simpler than supporting both at once!

@roji wrote:

_(emphasis added)_

I think this just clicked for me, and I think you've been right that this is all expected behavior. I'll test with SQL Server to confirm and report back.

EF Core lifts enums out of the cast expressions _on purpose_. Since the default behavior is to send unmapped en

[2018-06-29 15:03] CodingGorilla commented on #494
This happens immediately at start up:

[code]

In this case, Lamar is the IoC container.

[2018-06-29 15:14] austindrenski commented on #494
I'm not familiar with Lamar or Jasper, but I do work with the common ASP.NET Core stack.

Can you provide a minimal reproduction repo?  Ideally, without Lamar and Jasper, but if that's too much work, that's okay too.

[2018-06-29 16:02] CodingGorilla commented on #494
I will see if I can reproduce it without Lamar (I'm not using Jasper in this particular project).  But I would also point out that this code _does work with Lamar_ and ASP/EF Core 2.0 and Npgsql.EntityFrameworkCore.PostgreSQL 2.02.  It only breaks when upgrading to 2.1 of the aforementioned packages.

[2018-06-29 16:44] austindrenski commented on #494
Hmm... okay. This is in the stack trace, but not necessarily important.
[code]

Well-noted—the goal is just to triage the source, and its easier to help triage if I'm familiar with the stack.

[2018-06-29 17:16] roji commented on #489
I'm actually not 100% sure yet, but yeah, I think your description is more or less correct. I'm still curious to see what will happen on SQL Server. If it works there, that means we've done something special in Npgsql to make it fail and probably want to fix it. Otherwise if it fails there as well it may be worth raising to the EF Core team, but I do think it's reasonable for this not to work.

Mo

[2018-06-29 17:33] CodingGorilla commented on #494
Understood, can you point me at where and how the IoC registration for the `INpgsqlOptions` should be generated?

[2018-06-29 18:54] smblee commented on #493
I do use Database First EntityFrameworkCore with fluent definition like below

[code]

I explicitly map to `daterange` as it is saved as `daterange` in the database.

Would using NodaTime solve this problem? Or... I can just make 2 columns and not use the range feature.

[2018-06-29 19:09] roji commented on #493
Thanks for confirming. If you wait for 2.1.1 (to be released in a couple of days) you should be able to use the NodaTime plugin for this.

[2018-06-30 08:11] DariusLLL opened #497 "Cannot Scaffold with -Tables option."
I have issue scaffolding tables in Visual Studio 2017. Core version 2.1. Steps to reproduce.
Create new ASP.NET core 2.1 MVC project with user authentication. After migration add few tables (3 tables in my case). Then with command Scaffold-DbContext I get error. See output below. Have tried many options. If I remove -Tables options - everything is ok but Identity tables are scaffolded too.

[code]

[2018-06-30 09:59] hzawawi12 opened #498 "Automatic database creation if doesn't exist"
When running `dotnet ef database update` command to run some migrations against a non-existing database, EF is creating one automatically even if the option is not enabled?
Is that an expected behaviour?

[2018-06-30 18:17] austindrenski commented on #498
Could you post some version info (.NET Core SDK, EF Core, Npgsql)?

[2018-06-30 18:42] roji commented on #498
Yes, it is expected behavior for `dotnet ef database update` to create the database if it doesn't exist, this is also how it works with other providers (tested on sqlite).

[2018-06-30 18:42] #498 closed

[2018-06-30 18:49] austindrenski commented on #494
@CodingGorilla The relevant files are located [here](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Infrastructure) and [here](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/tree/dev/src/EFCore.PG/Extensions). I'm going to close this issue for now since it looks like this is IoC related. But please post back here if  https://github.com/Jaspe

[2018-06-30 18:49] #494 closed

[2018-06-30 18:53] #497 closed

[2018-06-30 18:56] roji commented on #497
Thanks for reporting this. This was the result of a sequence owned by a table that is excluded from the selection set, mostly like driving a `serial` ID column. Fixed to skip sequences owned by skipped tables.

[2018-06-30 18:58] roji commented on #467
Moving to backlog as there's not much request for this, and we're considering deprecating the provider-specific date/time types altogether (https://github.com/npgsql/npgsql/issues/2009).

[2018-06-30 19:44] austindrenski commented on #489
@onimoger Changing the model property from `int` to `enum` is just CLR modeling, there shouldn't be any effect on the database. It sounds like you may be using convention-based foreign keys, and may have other model properties that need to be updated to `enum` as well.

Can you post a snippet showing the configuration of your `DbContext`?

[2018-06-30 19:48] roji commented on #489
@onimoger it does make sense that if you change a column's type from int to enum, and that column participates in a foreign key relationship, then you need to change the column type at the other end as well... Can you confirm that doing that fixes the issue?

[2018-06-30 20:10] onimoger commented on #489
@austindrenski Yes, it's convention based foreign keys.

@roji Yes, it fixes the issue.

So it's either changing to enums everywhere in the model or removing enums from queries.

I understand that this works as intended, but personally I can't think of a reason when passing this cast operation to Postgres would make sense. Also, casting the enum directly (without variable):
`(int)VehicleTypes.Suv`

[2018-07-01 04:38] austindrenski commented on #489
I tested SQLite and LocalDB and I was unable to reproduce the issue...

[2018-07-01 07:36] #492 closed

[2018-07-01 07:38] roji commented on #492
Thanks for reporting, fixed for 2.1.1 and 2.0.3.

[2018-07-01 08:11] roji commented on #489
I looked into this, and the Microsoft.Data.Sqlite ADO.NET provider accepts CLR enums and unwraps them into ints (I assume the SQL Server provider does the same). So this has nothing to do with EF Core, which simply hands off the enum to the underlying ADO.NET provider; Npgsql just happens not to support this. Unless I'm mistaken that means the cast to int is actually sent to the server (haven't in

[2018-07-01 08:11] #489 closed

[2018-07-01 08:20] roji commented on #498
Not as far as I know, but this is a general EF Core question that has nothing to do with Npgsql, so you may want to ask on http://github.com/aspnet/EntityFrameworkCore/.

It's pretty trivial to programmatically check whether the database exists, and apply all pending migrations to it only if it does - but this would work inside your application rather than change the behavior of `dotnet ef databas

[2018-07-01 16:47] austindrenski commented on #489
@roji wrote:

I'm still up in the air on this. I have a strong preference for the existing strict, strongly-typed behavior. (Even if I tend to propose otherwise while brainstorming...)

If there's a change to make, I lean towards encapsulating it in the provider (EF Core). It doesn't sound like users of the driver (ADO.NET) have asked for a change, and that any such change could impact them.

@roj

[2018-07-02 06:07] BlackCentipede opened #499 "Migration Failed on 2.1.1 - On Inserting __EFMigrationsHistory"
When I attempt to create a new database migration via the following command:

`dotnet ef migrations add Initial`

It works just fine and successfully too, but after running `dotnet ef database update`, I get this error:

[code]

I am assuming that the insert command either wasn't parameterized or someone forget to add double quotation marks around the values?

When I rolled it back from version 2.

[2018-07-02 14:45] austindrenski opened #500 "Null operand passed to ArrayAnyAllExpression"
[code]

[code]

[2018-07-02 17:29] roji commented on #500
@austindrenski I understand you're working on this, but it would be good to have a full repro (i.e. model + full query) to understand what's going on.

[2018-07-02 21:33] austindrenski commented on #500
@roji Sorry about that, I had to deal with domain issues first, but didn't want the stack trace to get lost in the shuffle.

I was able to reproduce this in the test suite with #501. It looks like calling `Visit` on the column expression returns null, which is then passed onto the constructor of `ArrayAnyAllExpression`.

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/f293450a

[2018-07-02 22:22] austindrenski commented on #500
It looks like I had the `matchExpression` and `pattern` arguments flipped. It was the visit to the query source reference expression (i.e. `y`) that returned null.

I'll update #501 so that the visitor returns on null, rather than trying to move onto the constructor.

___

Thinking about how easy it is to flip those arguments, perhaps we should we consider a translation for it?

We currently trans

[2018-07-02 23:57] CodingGorilla commented on #494
This was indeed an issue with the IoC container, I can't really explain what it was other than it appeared to be an order of construction issue, but the latest version of the package resolved the problem.

[2018-07-03 00:21] austindrenski commented on #494
Thanks for letting us know, glad to hear it's working!

[2018-07-03 02:05] roji commented on #494
Great, thanks to everyone for investigating...

[2018-07-03 03:18] roji opened #502 "Translate NodaTime's SystemClock.Instance.GetCurrentInstant()"
To get the current time.

Note that like `DateTime.Now` this must not be evaluatable (i.e. always evaluated at the server), but the current plugin model doesn't allow adding stuff to NpgsqlEvaluatableExpressionFilter.

[2018-07-03 08:22] ficnar opened #503 "NpgsqlTid not supported in .NET Core 2.1"
After update to net core 2.1 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1, EF throw exception:

InvalidOperationException: The property 'MyEntity.Ctid' could not be mapped, because it is of type 'NpgsqlTid' which is not a supported primitive type or a valid entity type. Either explicitly map this property, or ignore it using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'O

[2018-07-03 09:50] faserg1 opened #504 "Enum types with uppercase letters: cannot alter table"
The previous columnt type of "ElementType" was interger. Now I want to migrate from integer to enum real enum type in PostgreSQL. The migration code was printed to console during error:
[code]
The problem is the same as in #440. But the case now is alter in table.
`Npgsql.PostgresException (0x80004005): 42704: type "hierarchyelementtype" does not exist`
Using NuGet packege version: 2.1.1.

[2018-07-03 20:13] #503 closed

[2018-07-03 20:31] #504 closed

[2018-07-03 20:34] roji commented on #504
Fixes the quoting issue.

However, note that PostgreSQL does not allow you to change integer columns into enums - PostgreSQL enums are not simply a wrapper over int (even if at the storage level enums are stored as ints). You will likely have to provide your own casting operation via `... ALTER COLUMN ... USING ...`.

[2018-07-04 06:04] roji commented on #455
@nishantkagrawal  first of all, [these docs](http://www.npgsql.org/doc/types/basic.html) don't say there's a default mapping between `oid` and `uint`. True, when reading an `oid` from database, the default value returned is `uint`. However, in the bottom inference table you can see that `uint` does not get *send* as `oid` - you have to explicitly tell Npgsql you want to send an `oid` by specifying

[2018-07-04 13:13] sguryev commented on #303
Hi guys, thank you for such long and detailed conversation.

I have another question which I was not able to resolve.
I have enabled the warning (`RelationalEventId.QueryClientEvaluationWarning`) in the EF to raise the exception in case of local evaluation. You can read more about it here: https://docs.microsoft.com/en-us/ef/core/querying/client-eval.
I'm running latest .netcore 2.1 with `Npgsql.E

[2018-07-04 14:06] roji commented on #303
@sguryev right now DateTimeOffset's members are translated, so evaluation happens on the client. This is unlike DateTime which does translate. #473 tracks translating DateTimeOffset's members.

[2018-07-04 18:35] sguryev commented on #473
@SamHuo213 thank you for your post. So the trick is to save the static property value to the local variable?

[2018-07-04 20:30] roji commented on #473
Looking at this again, any query which has a DateTimeOffset member (such as `UtcNow`) will be evaluated client-side because the Npgsql provider currently doesn't translate any DateTimeOffset members. This issue tracks that, and once it's done you should be able to have expressions such as `x.ExpirationTime - DateTimeOffset.UtcNow` in your query and have that evaluated by PostgreSQL.

The workaroun

[2018-07-04 23:13] SamHuo213 commented on #473
@sguryev , that is correct.  Avoiding DateTimeOffset members is my work around.  DateTime members such as Now & UtcNow are working.  Looks like it is being explicitly translated here: https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Query/ExpressionTranslators/Internal/NpgsqlDateTimeMemberTranslator.cs.

@roji , thanks for your reply.  Yes I know that DateTime

[2018-07-04 23:38] jholovacs opened #505 "How to change casing of tables and columns?"
I want my db tables and columns to be `snake_cased` in my postgres db as opposed to the C# standard of `PascalCased` for entity classes.  Capitalization in postgres is a real pain, because you have to wrap everything in quotes for any manual or specialized queries, and we do a lot of that.

In the previous version of Npgsql.EntityFrameworkCore, I was able to do this by replacing the default versio

[2018-07-05 03:47] austindrenski commented on #505
I believe that #259 is the most recent discussion about convention-based naming patterns.

It wasn't merged, but fa4865e424eaf0b99dcdf6db3c72db8257fce74c provides an implementation that should still work in 2.1.

[2018-07-05 06:10] roji commented on #505
This question is best treated at a general EF Core level, rather than as an Npgsql provider question. It has been asked several times, and frankly the easiest way seems to be simply writing some code in your model's `OnModelCreating()` which goes over all your entities and properties and sets their their name to whatever you want. This is easy, portable and is much less brittle than replacer servi

[2018-07-05 06:10] #505 closed

[2018-07-05 08:59] dejancg opened #506 "Sequences for primary keys of type integer not created by Update-Database when AlterColumn is used in the migration"
Hello everyone,

today I decided to try PostgreSQL for a project I'm working on (first time ever pgsql user here).
The project had already been set up and used SQL Server.

After adding the reference to Npgsql.EntityFrameworkCore.PostgreSQL (version 2.1.0) I executed an `Add-Migration` command which created all those statements with AlterColumn which specify `.Annotation("Npgsql:ValueGenerationStr

[2018-07-05 09:48] roji commented on #506
Thanks for raising this, will take a look.

On a somewhat unrelated note, if you're working on a new application (new on PostgreSQL), it's recommended you use the newer IDENTITY columns rather than the traditional serial ones - [see the docs](http://www.npgsql.org/efcore/value-generation.html#serial-and-identity-columns). This basically implies adding `builder.ForNpgsqlUseIdentityColumns();` into

[2018-07-05 10:06] dejancg commented on #506
Thanks for the suggestion. I have added `builder.ForNpgsqlUseIdentityAlwaysColumns()` into `OnModelCreating()`, added the migration and updated the database. Tried inserting a value manually through pgAdmin and there doesn't seem to be any problems. If any, I will raise the issue here.

[2018-07-05 10:34] roji commented on #506
Good to hear - please report any identity-related problem in a different issue.

It would also be great if you could check and confirm that your db now actually has identity columns and not serial (`\d my_table` should reveal this in psql).

[2018-07-05 11:38] dejancg commented on #506
Sure, it says "generated always as identity" for both `integer` and `bigint` columns.

[2018-07-05 11:39] roji commented on #506
Great, so that's working perfectly. I'll investigate the serial issue.

[2018-07-05 11:46] dejancg commented on #506
When you try to reproduce the issue, I'd also try adding `builder.ForNpgsqlUseIdentityColumns();` to your `OnModelCreating()` to check if that method is affected too when migrating from another provider. Thanks for the quick response!

[2018-07-05 12:35] #506 closed

[2018-07-05 13:07] marcosgerene opened #507 "The type initializer for 'Npgsql.PoolManager' threw an exception"
Only in one application...

[code]

[2018-07-05 13:16] marcosgerene commented on #507
I add nuget for **System.ValueTuple** for my app and it's ok!

[2018-07-05 13:16] #507 closed

[2018-07-05 13:17] roji commented on #507
Can you please post your csproj?

[2018-07-05 13:28] marcosgerene commented on #507
@roji
[code]

[2018-07-06 00:18] teejay-87 opened #508 "DB-first generation leads to incorrect DeleteBehavior mapping"
All my relations have ON DELETE set to RESTRICT.

When generating code with a DB-first approach using:

`dotnet ef dbcontext scaffold "<connstring>" Npgsql.EntityFrameworkCore.PostgreSQL`

in Context.cs I get:

`entity.HasOne(d => d.ContactPerson)
                    .WithMany(p => p.Registrations)
                    .HasForeignKey(d => d.ContactPersonId)
                    .OnDelete(DeleteBehav

[2018-07-06 08:14] nishantkagrawal commented on #455
I saw the default mapping as oid to uint.

![image](https://user-images.githubusercontent.com/8187427/42367643-83cc59b4-8122-11e8-8438-3022d2c22ad3.png)

As I mentioned, TypeName="oid" works, so I was just confirming if that broke from 2.0 to 2.1.

Thanks

[2018-07-06 10:15] roji commented on #508
Which version of Npgsql.EntityFrameworkCore.PostgreSQL are you using?

[2018-07-06 10:22] roji commented on #455
@nishantkagrawal the table in your screenshot is [the "Read mappings" section in the docs of the ADO.NET driver](http://www.npgsql.org/doc/types/basic.html#read-mappings), that's not the same as EF Core mappings. You can also see that in the ["Write mappings" section](http://www.npgsql.org/doc/types/basic.html#write-mappings), the OID type is *not* auto-inferred from .NET uint.

[2018-07-06 11:51] teejay-87 commented on #508
Latest from NuGet

[2018-07-06 17:54] hjb417 opened #509 "Owned entity types causes "Npgsql:ValueGenerationStrategy" to not get generated for primary key"
Hi,
The code below generates

[code]
instead of

[code]

in the migration for the id column when I uncomment the code that adds the owned type. (I'm running
`dotnet ef migrations add InitialCreate`)

[code]

[2018-07-10 12:09] MontyGvMC opened #510 "timestamp with time zone scaffolding/usage broken?"
I use .NET Core 2.1 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1.1 in a web api.

I am facing some unexpected behaviour and would like to ask if this is a bug or actually expected.

We are using the database first approach scaffolding an existing PostGreSql DB to generate the Data models.

I have on multiple columns the type `timestamp with time zone` which gets scaffolded into C# `DateTime`.
Am

[2018-07-10 12:14] smartcodinghub opened #511 "MigrationsHistoryTable set schema not working"
I want the historytable in a schema other than public and MigrationsHistoryTable is not working. I'm using the following code:

[code]

My Context:

[code]

And the error:

[code]

This is a pretty weird mistake since I found that NpgsqlHistoryRepository didn't have code about the table and HistoryRepository uses it correctly. HistoryRepository Code:

[code]

The Extension method that is used is n

[2018-07-10 12:45] smartcodinghub commented on #511
I finally found the problem. I was using a Context in other assembly and a DesignTimeDbContextFactory. Changing my factory to use the method and not only the Startup and it works.

This can be closed.

[2018-07-10 12:45] #511 closed

[2018-07-10 16:30] tracstarr commented on #417
I just installed 2.1.1 with npgsql 4.0.2 and am getting this same issue. the npgsql passes fine, but the core assembly fails

[2018-07-10 17:40] roji commented on #417
Yeah, I'll have to release 2.1.2 to fix that (same issue as with 4.0.1), will try to do that soon

[2018-07-11 04:22] phristov opened #512 ".IsFixedLength() creates/alters varchar instead of char"
Version 2.1.1

The following:
`builder.Property(x => x.Password);`
`builder.Property(x => x.Salt).IsFixedLength();`

will create a migration:

`password = table.Column<string>(maxLength: 64, nullable: false),`
`salt = table.Column<string>(fixedLength: true, maxLength: 64, nullable: false),`

The migration will create a table with:

`password varchar(64) NOT NULL,`
`salt varchar(64) NOT NULL,` <- T

[2018-07-11 12:16] Systemdir opened #513 "MapEnum in Context fails with Migrations"
I have the issue that when calling MapEnum
(`NpgsqlConnection.GlobalTypeMapper.MapEnum<T>(typeof(T).Name.ToLower())`)
in the Context before migrating (`context.Database.Migrate();`), the enum type on successive requests is not found. This happens even when MapEnum is called again after the migration.

    2018-07-11 13:26:42.2283 | ERROR | Update | An exception occurred in the database while savin

[2018-07-11 13:16] jbrezina commented on #489
I use Npgsql 4.0.2 and Entity Framework Extensions and I still get the error while trying to write to DB any data containing enums mapped to DB as ints (C# classes use enums in model classes and DB use INTEGER)
`Can't write CLR type ReportServerORM.Model.TransactionCodeState with handler type Int32Handler`

this is the command generated by EFE while inserting two objects to DB:

[code]

Should the

[2018-07-11 14:30] austindrenski commented on #489
@jbrezina Can you provide us with a minimal reproduction (in the form of a repo we can clone) showing your configuration and the code that produces the problematic command?

[2018-07-11 15:37] jbrezina commented on #489
https://github.com/purple-technology/EFE-issue

- update the connection string in TestingORM/DAL/TestingContext.cs
- generate DB using the following command in Package Manager Console in VS
`EntityFramework\update-database -ProjectName TestingORM -StartUpProjectName TestingORM -Verbose`
- run - exception is thrown

[2018-07-11 16:04] austindrenski commented on #489
It looks like your project is using EF6, not EF Core.

[code]

Would you mind opening this issue with the repo for the [Npgsql EF6 provider](https://github.com/npgsql/EntityFramework6.Npgsql)?

[2018-07-11 16:16] austindrenski commented on #436
It turns out that ([as advertised](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/422#issuecomment-391427132)) this is a bit of a pain for anything other than constant expressions.

Setting aside wildcard escaping (`%`, `_`), just appending a wildcard is complicated.

I've been looking at this form of translation:

[code]
[code]
In practice, I have queries for which the `it

[2018-07-11 17:10] khaledelmahdi opened #514 "Type 'Nullable<DateTime>' is not supported by current database provider"
Hi,

I have this model:

[code]

On the `ApplicationDbContext` under `OnModelCreating` I have the following code:

[code]

When I try `dotnet ef migrations add initial_migration` I get the following error:

`The property 'Advertisement.AvailableDate' is of type 'Nullable<DateTime>' which is not supported by current database provider. Either change the property CLR type or ignore the property using

[2018-07-11 17:14] austindrenski commented on #514
@khaledelmahdi Could you post some version info?

[2018-07-11 17:18] khaledelmahdi commented on #514
PostgreSQL 10

.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
OS Name:     Mac OS X
OS Version:  10.13
OS Platform: Darwin

Host (useful for support):
Version: 2.1.2
Commit:  811c3ce6c0

on my `app.scproj` I have:
[code]

[2018-07-11 17:36] YohDeadfall commented on #514
Related npgsql/npgsql#1965. Will fix it in the upcoming weekend.

[2018-07-11 19:39] austindrenski commented on #509
This looks [familiar](http://www.npgsql.org/efcore/release-notes/1.1.html#upgrading-from-10x), but its difficult to tell without more information.

@hjb417 Could you post some version information (PostgreSQL, Npgsql, EF Core)?

[2018-07-11 20:31] austindrenski commented on #499
I took a quick look around, but the [default type mapper](https://github.com/aspnet/EntityFrameworkCore/blob/1a568f4dee7807b06eaab3b1cb5d9c220423d9d5/src/EFCore.Relational/Storage/StringTypeMapping.cs#L75) and [our override of it](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Storage/Internal/Mapping/NpgsqlStringTypeMapping.cs) look normal.

@BlackCentipede

[2018-07-11 20:41] austindrenski commented on #510
@MontyGvMC Could you provide us with a minimal reproduction (preferably in the form of a repo we can clone) that demonstrates this issue?

[2018-07-11 20:43] austindrenski commented on #513
@Systemdir Could you provide a minimal reproduction (preferably in the form of a repo we can clone) that demonstrates this issue?

[2018-07-12 01:00] CodingGorilla opened #515 "How to use COALESCE in FTS LINQ queries"
I have a full text index as follows:

[code]

I'm trying to use the new FTS LINQ support to do these FTS queries, but I'm not entirely sure how to build the `Where()` clause.  If I simply do something like:

[code]

Wouldn't it stop considering the other fields after the first null field (which is most likely to be `p.AddressLine2`?

[2018-07-12 19:06] IvanJosipovic opened #516 "Add mapping for regconfig data type"
I am trying to utilize the tsvector_update_trigger_column trigger. This trigger requires a column of type regconfig which holds the language.

Is this column type supported?

I tried the following:
[code]

Trigger example:
[code]

When i try to update the item the following error is show:
ERROR:  column "Language" is of type regconfig but expression is of type text at character 183
HINT:  You will

[2018-07-12 19:19] austindrenski commented on #516
@IvanJosipovic Could you post some version information?

[2018-07-12 20:09] IvanJosipovic commented on #516
Updated with more details.

[2018-07-12 20:48] #512 closed

[2018-07-12 20:58] roji commented on #512
Thanks for raising, fixed for 2.1.2.

[2018-07-12 21:12] roji commented on #499
Note: there was an issue a bit back where we had missing quotes, which was a result of mixing dependencies. I don't have time to search for it at the moment, but it was a result of mixing dependencies (e.g. Microsoft.EntityFramework from one minor version, Npgsql.EntityFrameworkCore.PostgreSQL from another). Please make sure your csproj references correspond and do `dotnet restore`. If the issue p

[2018-07-13 04:54] IvanJosipovic commented on #516
Repro is available at, https://github.com/IvanJosipovic/RegConfigColumnIssu

Repo Steps:

1. update connection string in appsettings.json or run the docker-compose.yml file

1. run "dotnet ef database update"

1. Execute the program and the following exception will occur

[code]

[2018-07-13 05:25] gohckok11 opened #517 "IsRequired(false) created same field name with additional 1"
[code]

PostgresException: 42703: column t.Table1Id1 does not exist

The above code generated additional field that is invalid. Removing false in IsRequired() will operate normally. I am currently using Npgsql.EntityFrameworkCore.PostgreSQL v2.1.1.

[2018-07-13 06:33] roji commented on #517
It seems reasonable for `Table1Id1` to get created: you're defining an optional relationship from `Table2` to `Table1`, explicitly specifying the foreign key to be `Table1Id`, but defining `Table1Id` to be non-nullable... Have you tried making `Table1Id` an `int?` intead of an int`?

Regardless, this issue doesn't seem like it's specific to Npgsql in any way (the would probably happen in Sqlite, S

[2018-07-13 06:33] #517 closed

[2018-07-13 07:53] sguryev commented on #473
`DateTime.Now.Date` doesn't work, but It works for the MSSQL.

[2018-07-13 08:04] roji commented on #508
This behavior actually comes from EF Core rather than Npgsql. I admit I'm not sure what the reasoning is, I opened https://github.com/aspnet/EntityFrameworkCore/issues/12661 for clarifications.

[2018-07-13 08:10] sguryev commented on #473
Hi guys. It's again me.
What about the case when I have to compare the Date part of the `DateTime` (`DateTimeOffset`).
Something like:
`.Where(x => x.Date.Date <= DateTime.Now.Date)`
I can extract the `DateTime.Now.Date` to the local variable but it doesn't help.
It looks like the issue is in the `Date.Date`.
I have tried the `DbFunctions`:
`.Where(x => EF.Functions.DateDiffDay(x.Date, nowDateTime

[2018-07-13 11:38] sguryev commented on #404
Hi Guys. Sorry for the coming such old item back (_and sorry if it's a wrong one_) to life but it's Friday 13th and zombie should be!

I have fixed the [ issue myself. Actually I have decided to use the same approach as @SperoSophia has suggested.
But I have compared the snapshots (_same model but two diff providers_) and here is what my concern about:
![image](https://user-images.githubuserconten

[2018-07-13 12:03] YohDeadfall commented on #404
`IS NOT NULL` is required only by SQL Server and it's a well known issue. PostgreSQL follows the SQL standard and admits multiple null values because any comparison with `NULL` returns false (i.e. `NULL != NULL`). From the [documentation](https://www.postgresql.org/docs/current/static/ddl-constraints.html#DDL-CONSTRAINTS-UNIQUE-CONSTRAINTS):

[2018-07-13 13:05] roji commented on #510
@MontyGvMC scaffolding a `DateTime` property from a PostgreSQL `timestamp with time zone` is the (current) expected behavior. This is aligned with the behavior when reading a `timestamp with time zone` at the Npgsql ADO.NET - by default is `DateTime` ([see the docs](http://www.npgsql.org/doc/types/datetime.html#detailed-behavior-reading-values-from-the-database)).

Now for a more complete answer..

[2018-07-13 13:05] #510 closed

[2018-07-13 13:06] roji commented on #510
Note that you can always modify the scaffolded model to use `DateTimeOffset` instead of `DateTime` - that's totally fine (assuming you know exactly why you're doing it).

[2018-07-13 13:11] roji commented on #473
@sguryev, `DateTime.Date` is properly translated to SQL, producing the following:

[code]

However, as written above, no members of DateTimeOffset are currently translated - this is what this issue is about.

Finally, `DateDiffDay()` is an SQL Server-specific extension and doesn't work when using Npgsql.

[2018-07-13 14:45] sguryev commented on #473
@roji Oh, thank you! So the problem not with the `.Date` but with the `DateTimeOffset.Date`. So `DateTime.Date` should work. Thank you! I didn't check the `DateTime` usecase yet.

`DateDiffDay()` returns the same error about the client side evaluation (as I remember). So nothing noted me that this will not work with NPG. And yes - I had to add the `SqlServer` Nuget package in order to get this fun

[2018-07-13 16:17] ajcvickers commented on #517
/cc @divega @AndriySvyryd This is not unreasonable behavior, but I expected an exception instead that said the FK wasn't nullable, so just pinging you guys to take a look.

[2018-07-13 16:19] roji commented on #473
It really is discouraged to use `timestamp with time zone| unless you have a very good reason to do so - consider regular `timestamp` with `DateTime` on the. NET side. `timestamp with time zone` is a quirky data type that is better avoided in most scenarios (this is also why translation of members on `DateTimeOffset` haven't been implemented yet).

SQL Server is a different database product with i

[2018-07-13 18:34] AndriySvyryd commented on #517
@ajcvickers This is by design. The explicit 'IsRequired' overrides the FK property set through the attribute.
We could consider logging this, but I don't think it would help, as we already log the creation of the shadow property and that wasn't seen by the user.

[2018-07-13 18:42] divega commented on #517
@AndriySvyryd I think it might help other customers if not everyone.

[2018-07-13 18:44] NinoFloris opened #518 "ForNpgsqlUseXminAsConcurrencyToken and Seed data don't work together"
When adding seed data to an entity which also has ForNpgsqlUseXminAsConcurrencyToken enabled this fails at migration scaffolding time with the error:

This is not a value that's available on the model to be set and I've tried all the HasDefaultValue and other metadata flags to no avail so I'm not entirely sure how to proceed.

[code]

[2018-07-13 18:46] rwasef1830 commented on #515
@CodingGorilla your Where clause is not a boolean condition.

It should look like this:
[code]

This should generate the SQL you expect and utilize the index you created.

[2018-07-13 18:46] AndriySvyryd commented on #517
@divega it will also produce more log spam for customers that are ok with the behavior.

[2018-07-13 18:52] divega commented on #517
I get that there is a compromise, but to me this one seems to be on the border of being invalid configuration. Do you think the chances that anyone would do this on purpose are high? I don't, but maybe I am missing something.

[2018-07-13 19:21] CodingGorilla commented on #515
So I tried this code:

[code]

Which generated this SQL (based on the console output):

[code]

(The additional `AND (p."OwnerId" = ...) is another where clause added a little bit after the fact.)

This query returns 0 results, however the following query (based on my original):

[code]

returns 11 rows, which is what I expect.

I would note that the grouping in the generated query seems a tad odd

[2018-07-13 19:43] rwasef1830 commented on #515
@CodingGorilla You can achieve coalesce effect in LINQ by using C# null coalesce operator, also make sure you use 'english_nostop' config also in your ToTsQuery call.

[code]

[2018-07-13 19:55] CodingGorilla commented on #515
That did the trick!  Thanks for the reminder about the 'english_nostop' in the `ToTsQuery()` as well, I totally forgot about that.

[2018-07-13 19:55] #515 closed

[2018-07-13 20:11] ajcvickers commented on #517
It seems unlikely to me that this would be intentional, so a warning makes sense to me.

[2018-07-14 10:19] roji commented on #518
After some investigation, this seems to be a limitation of how the seeding feature works in EF Core itself.

In https://github.com/aspnet/EntityFrameworkCore/issues/12167 (and also in https://github.com/aspnet/EntityFrameworkCore/issues/12080), people attempt to seed data without specifying ID values, expecting them to be store-generated, but this isn't supported by seeding. This is also mentioned

[2018-07-14 10:49] roji commented on #509
@hjb417 This could be covered by the following line [in the EF Core docs say](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities#limitations):

Although I'm not sure (it may just mean that the owned type itself can't participate in an inheritance hierarchy, which your sample does not do).

Regardless, this isn't something that would be specific to the Npgsql provider, and belongs in

[2018-07-14 11:02] roji commented on #515
FYI I opened https://github.com/aspnet/EntityFrameworkCore/issues/12673 to track the possibility of performing the null coalescing inside EF Core rather than requiring users to do it explicitly - this is a case where the C# behavior differs from the SQL behavior.

[2018-07-14 11:05] roji commented on #513
You may also need to call `NpgsqlConnection.ReloadTypes()` if your migrations are creating your database enum.

Regardless as @austindrenski wrote we need to see some code to help.

[2018-07-14 11:29] MontyGvMC commented on #510
I allready extracted a test scenario for you. I can reproduce the different scaffolding behaviour but not yet the reported exception.

In short: all timestamps become now scaffolded as DateTime but never as DateTimeOffset. Manually editing it to DateTimeOffset (may) raise the exception.

I experience a differrent scaffolding behaviour for booleans with default values too.

I recognized that when I

[2018-07-14 11:33] roji commented on #514
@YohDeadfall I don't think this is related to https://github.com/npgsql/npgsql/issues/1965. EF Core handles nullables at its own level, and doesn't pass nullable values to the ADO.NET layer. In other words, it knows to pass `DBNull.Instance` to ADO.NET when the entity's property value is null. If it depended on ADO.NET support for nullable values, this wouldn't work on any provider except for Npgs

[2018-07-14 11:41] roji commented on #484
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-07-14 11:41] #484 closed

[2018-07-14 11:55] roji commented on #510
When we ask for a minimal repro (as @austindrenski did above), we're asking for runnable code that demonstrates the issue, and not a verbal description as you posted above. A simple, minimal console program (rather than a webapp) is the best way for us to understand exactly what's wrong, and saves us lots of time trying to guess at what you mean. But in any case that's not really relevant for this

[2018-07-14 14:34] sguryev commented on #473
I'm always use the `DateTimeOffset` (after a lot of pain with `DateTime`) because it's UTC time without any doubts. It's absolutely nightmare to work with `DateTime` when all parts (client browser, web server, db server) are in different time zones. Did you faced the case when DB server (which stores datetime in the local TZ) migrate to another data center with another time zone?
The best practice

[2018-07-14 14:41] MontyGvMC commented on #510
Ok, missed the post above. I will need some time to check some things on monday.

[2018-07-14 15:38] roji commented on #473
*sigh*, the amount of confusion around date/time types and the number of times I've had this conversation with users.... Note that it isn't your fault, just frustration at the bad date/time types out there, both on the .NET side (`DateTime`, `DateTimeOffset`) and on the PostgreSQL side (`timestamp with time zone`).

I've written about this at length in https://github.com/npgsql/Npgsql.EntityFramew

[2018-07-14 17:11] roji commented on #436
AFAIK I don't think other providers do this kind of fancy translation at the moment - you're on the cutting edge.

Just a random (and useless thought)... For your specific example above, it would be possible (and possibly more efficient) to simply do a substring on the each array value and comparing would be faster (i.e. `WHERE SUBSTR(@__x_0, 1, 1) IN @__items_0`). However, that assumes that all t

[2018-07-14 19:12] roji commented on #473
Just to be clear, I'm just trying to help people understand some difficult date/time nuances, so that they can avoid some risky practices. Of course you'll do whatever you think is right in your application, and ultimately it's not my concern - I'm only directly concerned when you use Npgsql to read and write values to PostgreSQL. I also don't want to really defend `DateTime` because it's a very b

[2018-07-14 20:39] austindrenski opened #519 "AppVeyor builds fail on dotnet restore"
[Travis](https://travis-ci.org/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/builds/403984415) is OK for the same build, but [AppVeyor](https://ci.appveyor.com/project/roji/npgsql-entityframeworkcore-postgresql/build/2.2.0-582) fails with a `dotnet restore` error pointing at the NTS plugins.

From the build history, it looks like this has been a problem for the last few days.

[code]

/cc @roji @Yo

[2018-07-14 22:49] YohDeadfall commented on #519
It's not an EF Core repo issue (see npgsql/npgsql#2057 and npgsql/npgsql#2058). Fixed it via npgsql/npgsql#2059. Probably it was caused by the last release of NTS.

[2018-07-15 05:50] sguryev commented on #473
We use the Code-First approach which full of `DateTimeOffset`. And we support two providers now. It's a SaaS application with ability to be installed directly to the customer environment as a standalone on promise solution. So we migrate to the Linux+Npg now. Anyway - we have a model and want to share it between both environments. We have chosen `DateTimeOffset` and actual DB type is not our decis

[2018-07-15 11:01] roji commented on #519
As @YohDeadfall says, this is due to NTS prerelease packages disappearing from their myget feed. We'll need to wait for them to release a final version to nuget.org, at which point we'll have to release our own Npgsql.NetTopologySuite and Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite...

[2018-07-15 11:22] ajcvickers commented on #518
This is certainly related to other issues we have seen but I don't remember if we have this particular case tracked. @AndriySvyryd can likely confirm.

[2018-07-15 11:36] roji commented on #473
Fair enough. But the choice of a .NET type (DateTimeOffset) doesn't exactly determine your database type - these are two different things. EF Core has value converters, so you could easily translate `DateTimeOffset` to (UTC) `timestamp without time zone` in PostgreSQL. So it's better to decide what PostgreSQL data type you *really* want to use, and then make your program work with that datatype. O

[2018-07-15 16:33] austindrenski commented on #519
Interesting. Any idea why this affects AppVeyor, but not Travis?

[2018-07-15 18:32] Corstiaan84 opened #521 "Missing single quotes when running migrations"
Not sure if this is the right place for this but here goes.

Running migrations using `dotnet ef database update` works fine in development but fails in production.

Development:
![Development](https://fluxmatix-public-assets.s3.amazonaws.com/misc/Screen%20Shot%202018-07-15%20at%2019.27.04.png)

Production
![Development](https://fluxmatix-public-assets.s3.amazonaws.com/misc/Screen%20Shot%202018-07

[2018-07-15 18:33] BlackCentipede commented on #499
Sorry for delayed response, anyway, I am not able to reproduce the issue anymore when I have updated all of the packages to the latest version: 2.1.1. So I'll close this issue, as @roji said, this could be why it failed for me when I am updating existing project. Thank you for taking the time to look into it.

Have a good evening.

[2018-07-15 18:33] #499 closed

[2018-07-15 18:38] roji commented on #521
You seem to be using prerelease packages (2.1.0-preview2), can you please make sure you're on the latest release packages and try again? Otherwise please post your csproj.

[2018-07-15 19:19] AndriySvyryd commented on #518
The closest issue is probably https://github.com/aspnet/EntityFrameworkCore/issues/12525 where we will ensure that the value doesn't need to be provided for non-key properties that are store generated.

[2018-07-15 20:01] roji commented on #518
OK, closing this as an EF Core-side issue, thanks!

[2018-07-15 20:10] roji commented on #499
Thanks for posting back, glad the issue disappeared.

[2018-07-15 20:29] Corstiaan84 commented on #521
Yes, updating packages fixed it.

In case someone in running into this while using docker with a dockerfile `FROM microsoft/dotnet:2.1.300-sdk`, use version 2.1.0 of Npgsql.EntityFrameworkCore.PostgreSQL.

[2018-07-15 20:32] #521 closed

[2018-07-16 04:07] IvanJosipovic commented on #516
I just tried the latest build, I am now able to insert values into this column. However, when I try to read this column from, an exception is thrown.

Repro, https://github.com/IvanJosipovic/RegConfigColumnIssu

Exception:
[code]

[2018-07-16 06:13] roji commented on #519
Not really, maybe travis some sort of HTTP caching proxy which still has the nupkg, even though it's absent at myget? I just want to get rid of dependencies on prerelease/myget packages in our own stable releases, but that depends on the NTS folk finishing up the work on their side...

[2018-07-16 09:22] Systemdir commented on #513
Thank you for the replies. I just tried to call `NpgsqlConnection.ReloadTypes()` on the connection but the problem persists. I'm going to create a minimal example when I have some time.

[2018-07-16 15:01] sguryev commented on #473
You have mentioned the developers messing up. I just added one more argument. `DateTimeOffset` stores the offset in the value. And allows to find the error. So `DateTimeOffset` forgives the errors. `DateTime` is not.

I didn't say that developers have to

And there is `DateTimeOffset` and `DateTime` are absolutely equal. Both requires to UTC conversion here or there. I don't understand why did you

[2018-07-16 15:41] Systemdir commented on #513
I managed to solve the issue by thowing away the migrations and recreating them with the correct mappings.

In order to migrate, I now call following method on my db context:

    public void Migrate()
    {
         Database.Migrate();

         // reload enumn mappings
         NpgsqlConnection npgsqlConnection = ((NpgsqlConnection) Database.GetDbConnection());
         npgsqlConnection.Open();

[2018-07-16 15:41] #513 closed

[2018-07-16 16:35] maciejjarzynski opened #523 "'Nullable<decimal>' not supported by current database provider"
Hello,
I've encountered a breaking/change bug when trying to update to .NET Core 2.1.1/ EF Core 2.1/ Npgsql 4.0.2.
The similar case was described [here](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/514) -  I tried to reproduce that issue but I cannot.
The issue I have is with a column type being set explicitly to `numeric NULL`.
In that case, while trying to create migrat

[2018-07-16 16:37] maciejjarzynski commented on #514
@roji just for the info, I also could not reproduce it.

[2018-07-16 16:43] maciejjarzynski commented on #523
That was fast! I've just realized that I was not on the latest version of `Npgsql.EntityFrameworkCore.PostgreSQL`, I tested it and it works. Though, that bugfix was not listed on 2.1.1, at least not explicitly ;)

[2018-07-16 16:46] #523 closed

[2018-07-16 21:58] pastore opened #524 "Changing column type from int to long drops serialness"
Hi,
I added migration
[code]
But got exception

[code]
I've looked at database and saw that default value like this nextval('"AppUsers_Id_seq"'::regclass) is missing, but it is strange because ef generated Annotation("Npgsql:ValueGenerationStrategy", NpgsqlValueGenerationStrategy.SerialColumn)

Any help/suggestion in this regard will be of immense help.

Thanks ain advance
Pavel

[2018-07-16 22:38] erwan-joly opened #525 "Foreign Key name need to be origin table name"
Not sure it's an requirement from PostgreSQL or if it's a bug from the provider...
I recently had issue with the select telling that the value doesn't exist when foreign key doesn't have the same name as the original table name. I fixed the issue by changing the name to be the same and doing a new migration :
This database was working fine one Entity Framework with MSSQL but i switched to EF Core

[2018-07-17 05:37] chances commented on #36
@roji I'm experiencing this issue with the latest version of Npgsql.EntityFrameworkCore.PostgreSQL, `v2.1.1.1`

Inserting a new record throws this error: `Npgsql.PostgresException: 42804: column "spotify_user" is of type json but expression is of type text`

I am using models generated with the EF Core scaffold tool:

[code]

Adding `entity.Property(p => p.SpotifyUser).HasColumnType("json");` in `

[2018-07-17 06:08] roji commented on #36
@chances the following code works fine:

[code]

Can you please double-check the versions you're using, and if the issue persists, post a full code sample which triggers the issue?

[2018-07-17 06:34] roji commented on #473
You're missing the point. With DateTimeOffset there's the possibility of having different offsets, as you've already said. This means that if any developer accesses the `Hours` property (or other properties), they get a non-UTC hour and you have a bug. This can happen anywhere in your code, to anyone.

With DateTime, you only have to ensure UTC *once*, at the edge (i.e. when parsing JSON). After t

[2018-07-17 06:39] roji commented on #524
Possible dup of #506.

Can you please make sure you're using 2.1.1.1, released 2 days ago?

[2018-07-17 06:45] sguryev commented on #473
It's not a problem to call the `.ToUniverslTime()` before comparison.
https://blogs.msdn.microsoft.com/davidrickard/2012/04/06/datetime-and-datetimeoffset-in-net-good-practices-and-common-pitfalls/

Anyway, I spent pretty much time before on dealing with `DateTime` issues. I have spent pretty much time on this conversation. I have no problems since use the `DateTimeOffset` (I think 3+ years). But

[2018-07-17 10:21] roji commented on #525
The issue description isn't very clear - can you please post some code and some actual error messages, and explain exactly what the problem is?

[2018-07-17 14:30] orobert91 commented on #271
@roji Is there any plans in the near future to move this bug out of the backlog? This bug will turn 9 months old soon and we can't setup concurrency in our app until this is fixed...

[2018-07-17 19:58] AndriySvyryd commented on #517
Filed https://github.com/aspnet/EntityFrameworkCore/issues/12693

[2018-07-17 22:03] pastore commented on #524
Updated today , but the same problem...
Convert from integer to bigint was well, but
 **Annotation("Npgsql:ValueGenerationStrategy", NpgsqlValueGenerationStrategy.SerialColumn)**
didn't apply after run dotnet ef database update

[2018-07-18 01:03] erwan-joly commented on #525
i tried to reproduce this issue on a small clean project and didn't got it... Maybe a configuration issue i had so i will close the issue. Maybe an old migration had an issue on index or something like this...

[2018-07-18 01:03] #525 closed

[2018-07-18 05:37] chances commented on #36
@roji Ah, you're right. I tried to reproduce the error I was seeing with a simpler case and discovered the problem is with [this upsert library](https://github.com/artiomchi/FlexLabs.Upsert). It's treating the string-backed JSON property as a text column in its PostgreSQL query generator.

Thank you for helping me look at the problem from a different angle. 😀

[2018-07-18 10:16] maciejjarzynski commented on #438
@YohDeadfall using your script could still lead to the numeric value being out of the scope of the `decimal`.
That script does not cover edge cases - 29 significant digits are supported only to the maximum value of mantissa, which is *79,228,162,514,264,337,593,543,950,335*, so for example `7.922816251426433759354395033566` value would be rounded to `7.9228162514264337593543950336`, which is out o

[2018-07-18 10:55] maciejjarzynski commented on #438
@guylando the value you had error with: `-15.272981383792788341206712480` is a valid .NET `decimal` value, so that was the case of a different bug/problem/

[2018-07-18 13:21] etiennemtl opened #526 "Noda Time plugin compatibility with AspNet Core Identity & plugin not being registered in migration"
I'm currently using versions 2.1 of your wonderful driver for EF Core and also using the NodaTime plugin in order to user enhance date/time classes. Basically I have two main issues.

The first one is it's currently not possible for me to seed data in the `Main` of the application as it seems the plugin is not being registered. I've got this error popping. I've able to add migration and update the

[2018-07-18 15:51] YohDeadfall commented on #438
The script could be modified a bit, but it will work much slower because of adaptive rounding. A good idea is to analyze the data before running it. I provided only the basic version of the script to fix most common cases.

If you have such values in the database, then they are inserted not by Npgsql and can't be read by it even using old versions of the library. In that case you should modify the

[2018-07-18 15:57] maciejjarzynski commented on #438
@YohDeadfall, so that was my question:
`One question, in which way decimal values were previously inserted malformed?`
if the integers bigger than .NET `decimal`'s range could have been put in the db with that bug.
But basing on your statement:

I assume that the only malformation from the previous version would be too big fractional part?

[2018-07-18 16:36] austindrenski commented on #526
@etiennemtl Are you explicitly registering the plugin when you configure services for DI?

Could you post some code showing how you're configuring EF Core?

[2018-07-18 17:12] maciejjarzynski commented on #438
@YohDeadfall I'm sorry, but I got a little bit lost, in the reply to https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/438#issuecomment-394293436
you've confirmed that

What is more, the release notes under http://www.npgsql.org/doc/release-notes/4.0.html
also state

In that case, I would like to have a clear statement how would the incorrectly inserted data look like.
My goal

[2018-07-18 17:15] vietplayfuri opened #527 "NpgsqlEFTypeMapper is disappeared in Npgsql.EntityFrameworkCore.PostgreSQL Version=2.1.1.1"
Hi all,
I'm upgrading my system from
Npgsql.EntityFrameworkCore.PostgreSQL Version=2.0.1
to
Npgsql.EntityFrameworkCore.PostgreSQL Version=2.1.1.1

In my previous code, I using below code:
var typeMapper = new NpgsqlEFTypeMapper(new RelationalTypeMapperDependencies());

NpgsqlEFTypeMapper: comes from
[code]

But after I upgrade into new version (2.1), I got the problem with missing library
The type

[2018-07-18 17:34] roji commented on #526
Both issues likely have the same source. I'm assuming that you're seeding and attempting to create migrations from the command line tool (`dotnet ef database update`, `dotnet ef migrations add XXX`). If so, you probably need [to read these docs](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation), and make sure that your design-time DbContext correctly sets up the NodaTi

[2018-07-18 17:36] roji commented on #526
Ah, just saw @austindrenski's response. Yes, if the above doc link doesn't help, try posting your context code etc.

[2018-07-18 17:40] roji commented on #527
Yes, the EF Core type mapping API changed considerably between 2.0 and 2.1. The new class is called NpgsqlTypeMappingSource and its API is a bit different.

In general you're not really supposed to need to touch this kind of class, it's internal plumbing for the provider - can you share more info on what exactly you're trying to do?

[2018-07-18 17:42] etiennemtl commented on #526
Hey my DbContext lives in a seperate classlib project that is than added to my aspnetcore web project. The ApplicationDbContext is defined as follow:
[code]

Besides it lives my DesignTimeFactory defined as follow:
[code]

In my web project, in `Startup` the configure method is defined as follow:
[code]

[2018-07-18 17:46] vietplayfuri commented on #527
Yes, sure, this is my old code

`
var typeMapper = new NpgsqlTypeMapper(new RelationalTypeMapperDependencies());

            var modelBuilder = new ModelBuilder(
                new CoreConventionSetBuilder(
                    new CoreConventionSetBuilderDependencies(typeMapper)
                    )
                    .CreateConventionSet()
                );

            EFContext.FixSnakeCas

[2018-07-18 18:48] andersonsalgado commented on #15
Hello everyone. I'm trying to map a byte field [] to store an image, however I'm getting the error:

Microsoft.EntityFrameworkCore.Infrastructure [10403]
       Entity Framework Core 2.1.1-rtm-30846 initialized 'TeAjudoContext' using provider 'Npgsql.EntityFrameworkCore.PostgreSQL' with options: None
System.InvalidOperationException: No mapping to a relational type can be found for property 'prjTe

[2018-07-18 19:23] maciejjarzynski commented on #438
@YohDeadfall thanks for the ultimate answer!
I've already started upgrading that script, but now that's more clear ;)

[2018-07-18 19:49] trustme opened #528 "Adding a second call to ForNpgsqlHasEnum causes the first to be regenerated which leads to a type already exists error."
In migration one, which works as expected:

- modelBuilder.ForNpgsqlHasEnum("typeone", new [] { "one", "two", "three" })
- dotnet ef migrations add One
- dotnet ef database update

Then get ready for migration two, which will not work:

- The existing line for "typeone" still exists.
- Add: modelBuilder.ForNpgsqlHasEnum("typetwo", new [] { "apple", "cider" })
- dotnet ef migrations add Two

This c

[2018-07-18 21:57] MeikelLP commented on #524
Hey,
today I got a similar error when trying to `dbSet.Add()` an entity with multiple many to many relationships like this:
[code]

Causes my `Entries[0].EntryId` to **ALWAYS** be `-2147482648`. I hunted down the error comming to `TemporaryIntValueGenerator` and `NpgsqlValueGeneratorSelector.Select(IProperty property, IEntityType entityType)`.

Thankfully this bug seems to disappear once `builder.

[2018-07-18 22:08] maciejjarzynski commented on #438
I've come with a let's say upgraded script, with an assumption that values exceeding the maximum decimal values should be left as they are (as this is impossible to fix it in anyway as said before):

[code]

@YohDeadfall the step back from the 4. is not necessary, as it only needs one additional round when there are 29 significant digits but mantissa exceeding the `decimal` max value, so it become

[2018-07-19 01:20] IvanJosipovic commented on #516
@roji see above, I tired the fix but it doesn't appear to fully work. Do I have to add a type mapping for this to work?

[2018-07-19 05:41] roji commented on #516
Sorry, I did the above a bit too quickly... Properly fixing this requires adding `regconfig` at the Npgsql ADO.NET level as well... We can do this for the next patch release (2.1.2).

In the meantime you may be able to get away with changing your column type to text and casting to regconfig in the right places...

[2018-07-19 07:10] roji commented on #527
I have no idea what `EFContext.FixSnakeCaseNames()` and `EFMappings.DefineMappings()` are, or why they would need a totally new model builder... I suggest you contact whoever wrote these.

If what you want is simply to change your table and column names to snake_case, it's must better to do that by going over your entities and properties in your `OnModelCreating` and applying the name change there

[2018-07-19 07:10] #527 closed

[2018-07-19 07:10] roji commented on #527
And as I said, the class that replaces `NpgsqlEFTypeMapper` is `NpgsqlTypeMappingSource`.

[2018-07-19 21:32] etiennemtl commented on #526
@austindrenski For your information I'm also using StructureMap.

[2018-07-20 05:42] roji commented on #516
In https://github.com/npgsql/npgsql/issues/2069, I've added support for the regconfig type at the ADO.NET level.

However, this is more complicated than it seems. In the database, regconfig is actually stored as an OID (a simple uint number). PostgreSQL does convert to and from the user-friendly names (e.g. `english`) when using text mode, but in binary mode (which is what Npgsql uses) it only com

[2018-07-20 05:45] roji commented on #516
Note to self: this needs the new `NpgsqlDbType.Regconfig` to be available from Npgsql 4.0.3, so wait until we take a dependency on that.

[2018-07-20 09:10] jukkahyv commented on #366
Hi, I found this via Google. I tried implementing value conversion for JSON fields as well (see my comment in that linked post), but couldn't get the change tracking working properly. Would you mind sharing your complete solution?

[2018-07-20 09:51] ThomasWeiss commented on #366
@jukkahyv Sure! First I've created an interface that each complex type that I intend to put in a `jsonb` column shall implement:
[code]
Then I've written this helper function that registers a custom type as `jsonb`:
[code]
So if you have an entity of type `MyEntity` that contains a property `MyProperty` of type `MyCustomType`, you can register it like that:
[code]
Hope it helps!

[2018-07-20 11:39] anicoll commented on #527
Hi @roji
Regarding this issue, we are specifically using it for in memoryDB for some of our tests to go around mocking where this is relevant,
If you have any ideas as to how we can go around this issue it would be greatly appreciated.

[2018-07-20 12:43] roji commented on #527
It seems like this issue's title and previous post were erased @vietplayfuri, can you please undo that?

As I wrote above, these internal API changed, and you should not need to rely on them just for changing table and column names to snake case, there are more portable ways to do that...

[2018-07-21 23:14] austindrenski commented on #526
@etiennemtl Thanks for posting your context code. But looking at it, I'm still not sure what's happening.

Could you put together a minimal reproduction that recreates the exception, preferably in the form of a repo that we can clone?

[2018-07-22 15:01] austindrenski opened #532 "Support for statistical aggregate functions"
PostgreSQL supports a number of [statistical aggregate functions](https://www.postgresql.org/docs/current/static/functions-aggregate.html#FUNCTIONS-AGGREGATE-STATISTICS-TABLE) that could be mapped to provider-specific extensions as in #323 and #407.

[2018-07-22 15:48] roji commented on #532
That sounds great - any translations to SQL we can add improve the provider.

However, I'm not sure Math.NET is the right way to go here. The functions are both are pure calculations, providing as a result simple numbers. It would be easy to simply add them to `EF.Functions`, without forcing a plugin (and also Math.NET itself) on users, and be done with it.

The real value of plugins in the case o

[2018-07-22 15:52] roji commented on #416
For anyone interested (e.g. @austindrenski), I have a branch where I'm working on synchronizing our dev branch with the latest EF Core 2.2 codebase (https://github.com/roji/Npgsql.EntityFrameworkCore.PostgreSQL/tree/2.2). This "resynchronization" has to be done from time to time as the EF Core team at Microsoft moves ahead, especially to flag early anything they do that may be problematic for Post

[2018-07-22 18:32] austindrenski commented on #478
@neyromant We've merged #483 which addresses your original issue. Keep an eye out for it in `v2.2.0`.

[2018-07-22 19:49] #500 closed

[2018-07-22 20:05] roji opened #534 "Translate {IPAddress,NetworkAddress}.Parse()"
@austindrenski, in addition to all the great translations you've recently added, I think we're missing one: `IPAddress.Parse()`, which is basically the way to specify an IP address literal...

This should be pretty easy, feel like doing it?

[2018-07-22 20:10] austindrenski commented on #534
Sure! Should I include `PhysicalAddress.Parse()` at the same time?

[2018-07-22 20:21] roji commented on #534
Absolutely!

[2018-07-22 23:37] austindrenski commented on #534
See #535 for implementations + tests.

I ran into some trouble along the way with EF Core preempting the translators by transforming the `.Parse(string)` calls and replacing `IPAddress.Parse('127.0.0.1')` with `@__Parse_0` (value: `'127.0.0.1'`).

I got around this by modifying `NpgsqlEvaluatableExpressionFilter`, but I'm not sure that I fully understand what this class is meant to do. Obviously i

[2018-07-23 05:03] JomaCorpFX opened #536 "Seeding Data not increment value of Sequence. EF Core. 2.1.1."
**1.**
I have this POCO class in my model.

[code]

My context.
[code]
**2.** Create the migration.
**3.** Run my program with this code.
**PostgreSql Code.**
[code]
**Sql Server Code.**
[code]
### On SqlServer.
Seed data is inserted (ID = 2 and ID = 75)  and program data is inserted no problem, the sequence has the higher value was autoincremented (ID = 76).

### On PostgreSQL.
Seed data is inser

[2018-07-23 05:49] roji commented on #534
`NpgsqlEvaluatableExpressionFilter` is only meant to specify methods that should not be evaluated on the client, ever. This is a way to avoid evaluating things like `DateTime.Now` client-side (because time zones may be different), or creating a new GUID client-side (which EF Core would reuse across different database rows, rather than generating a GUID per-row). If you're interested in reading mor

[2018-07-23 07:49] roji commented on #536
Dup of #367. tl;dr seed with negative IDs that won't collide with the positive IDs from your sequence.

I should probably add a documentation note about this.

[2018-07-23 07:49] #536 closed

[2018-07-23 14:02] neyromant commented on #478
@austindrenski Thank you very match!

[2018-07-23 17:51] austindrenski commented on #534
Ahhh. That all makes sense. I saw some unexpected parameterization and assumed the worst!

What's interesting (and caught me off-guard) is that both of the following are parameterized:

[code]

Much appreciated!

[2018-07-23 21:56] #534 closed

[2018-07-23 22:23] WarrenFerrell opened #538 "Scaffold does not detect existing primary key name"
Trying to switch a database from database first using flyway to code first using EF. Whenever I scaffold the database (with -d or not), the fluent api (or data annotations) do not register the fact that the existing primary keys on the database are structured like '{entity}\_pkey' and assume they are the default 'PK\_{entity}'. Looks like I'm going to have to manually specify each as a workaround

[2018-07-24 09:25] FireAndIce68 opened #539 "Cannot scaffold when index or constraint includes an enum"
When trying to Scaffhold the following table

[code]

I get the following Exception

[code]

[2018-07-24 13:56] newbiecse commented on #441
Hi @roji , I got the following error. If you have free time please let me know what is cause of problem. Thank you so much!
`The property 'Scheme.Polygon' is of type 'Point' which is not supported by current database provider. Either change the property CLR type or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.`
-----------There a

[2018-07-24 14:07] newbiecse opened #540 "Type 'Point' which is not supported by current database provider"
I got the following error **when I generated the code first migration**.
[code]
-----------There are what I did------------

1. Startup.cs
[code]
2. Entity model:
[code]

3. DbContext:
[code]

4. I am using .net core 2.1, entity framework core & postgresql 10.
Thanks!

[2018-07-24 14:15] WarrenFerrell commented on #538
@roji Updated original comment. I ended up working around the problem by manually adding `entity.HasKey(e => e.Id).HasName("{entity}\_pkey");` to each fluent api definition.

[2018-07-25 06:03] roji opened #546 "Correctly scaffold GENERATED AS IDENTITY"

[2018-07-25 06:05] roji commented on #546
False alarm, this is actually fully implemented.

[2018-07-25 06:05] #546 closed

[2018-07-25 06:41] #539 closed

[2018-07-25 20:18] hjb417 commented on #509
Hi,
This is actually a bug in npgsql. I don't get the same behavior when targeting MSSQL and MySql.

[2018-07-26 05:01] hjb417 opened #547 "Please update NpgsqlPropertyAnnotations to fix issue #509"
The following code change will fix #509 . Is this something you can implement? I compared the code against MySql's MySqlPropertyAnnotations class.

The bug is that when using owned types, the primary key returns ValueGenerated.Never for the ValueGenerated property so they use FindSharedTableRootPrimaryKeyProperty to get the primary key.

BEFORE:

` var relationalProperty = Property.Relational();

[2018-07-26 05:21] roji commented on #547
Thanks for drawing my attention to this, it indeed seems to be an issue with Npgsql after all. Let me investigate exactly what's going, SQL Server has a slightly different code fragment from the one you quote above (from MySQL).

Regardless, closing this issue in favor of #509 (which I've reopened), I'll fix this for the next patch release.

[2018-07-26 05:21] #547 closed

[2018-07-26 05:21] roji commented on #547
Thanks for drawing my attention to this, it indeed seems to be an issue with Npgsql after all. Let me investigate exactly what's going, SQL Server has a slightly different code fragment from the one you quote above (from MySQL).

Regardless, closing this issue in favor of #509 (which I've reopened), I'll fix this for the next patch release.

[2018-07-26 23:48] eloraiby opened #548 "The annotation 'Npgsql:IndexMethod' cannot be added because an annotation with the same name already exists."
### Steps to reproduce
`dotnet ef dbcontext scaffold "Host=localhost;Database=db;Username=user;Password=pass" Npgsql.EntityFrameworkCore.PostgreSQL`

### The issue

[code]

### Further technical details

Npgsql version: 4.0.2
PostgreSQL version: 9.5
Operating system: Linux

[2018-07-27 05:03] roji commented on #548
Which version of the EF Core provider are you using? If it's pre-2.0.3 then this is a dup of #228.

If you're using a recent version, I'll need to see the database schema which triggers this. Please narrow it down to the table which causes it.

[2018-07-27 05:19] #509 closed

[2018-07-27 05:49] roji commented on #538
@WarrenFerrell thanks for the extra information, it's clear now.

This actually seems to be an EF Core issue - I've just filed https://github.com/aspnet/EntityFrameworkCore/issues/12821. I'm going to close this for now, but will reopen if attention on the Npgsql side is required.

[2018-07-27 05:49] #538 closed

[2018-07-27 13:14] eloraiby commented on #548
I m using 2.0.0-preview1 for Npgsql.EntityFrameworkCore.PostgreSQL, Microsoft.EntityFrameworkCore 2.1.1 and Microsoft.EntityFrameworkCore.Tools.DotNet version 2.1.0-preview1-final .
Will try to get you the schema on monday.

[2018-07-27 16:04] austindrenski commented on #548
@eloraiby Is there anything blocking you from synchronizing the versions?

[code]

Also, per the [2.1.0 release announcement](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-entity-framework-core-2-1/):

[2018-07-27 19:45] roji commented on #548
As I wrote above, this is a dup of #228. Upgrade to 2.1.1.1, or at the very least to the latest 2.0.

[2018-07-27 19:45] #548 closed

[2018-07-29 15:08] oguzhantopcu opened #550 "aggregate function calls cannot be nested"
Following code generates a SQL like following which is invalid for PostgreSQL.

[code]
[code]
I got the error.
`Npgsql.PostgresException (0x80004005): 42803: aggregate function calls cannot be nested
`

IMHO it should produce something like in the following link.

https://stackoverflow.com/questions/8141452/nesting-aggregate-functions-sql

my package versions are:
[code]

[2018-07-29 16:16] roji commented on #550
@ajcvickers have you run into this with another database, or are constructs such as `MAX(SUM(xxx))` supported in SQL Server/Sqlite? Note that proposed workaround in the link above which executes the inner aggregate function as a subquery.

[2018-07-30 18:49] eloraiby commented on #548
didn't work after the upgrade, same issue persist. Please reopen the bug

[2018-07-30 19:38] austindrenski commented on #548
@eloraiby Can you provide a minimal reproduction of this issue in the form of a repo that we can clone?

[2018-07-31 14:51] quicoli commented on #489
I'm using NHibernate  in a .net core webapi and I get the same error. Before changing to postgresql I was using SQL Server and I hadn't this issue.

I have a table with a int column, and in my model this column is a Enum value. I can retrieve values now because of this error...

thanks guys....

[2018-07-31 14:51] faryu opened #553 "Provided sample for using Npgsql with NTS doesn't work"
Hello,

this is my moved issue from the EntityFrameworkCore repository about using spatial data with Postgresql.
https://github.com/aspnet/EntityFrameworkCore/issues/12762

In order to locate the issue I created a single file which contains all the relevant code.

[code]

[code]

I receive the following error:

[code]

[2018-07-31 15:14] austindrenski commented on #489
@quicoli Could you open a new issue with that description and some version info?

[2018-07-31 15:31] austindrenski commented on #553
@faryu Could you also post the output of the following?

[code]

If you're using `psql`, `\dx` will work too.

[2018-07-31 18:00] austindrenski opened #554 "Mapping issues with schema-scoped enums"
Enum mapping works as advertised given a CLR enum (`SomeEnum`) and an equivalent PostgreSQL enum (`some_enum`):

[code]

However, if `some_enum` is created in `some_schema` rather than the `public` schema, the normal mapping behavior does not work:

[code]

Instead, an explicit schema-qualified name needs to be provided:

[code]

This behavior makes sense to a certain extent, but it would be nice

[2018-07-31 18:53] sdanyliv opened #555 "Mistakes in Ranges documentation"
Hi,
Just analysed how do you implement ranges support in EF Core and found several slight mistakes in documentation.
http://www.npgsql.org/efcore/mapping/range.html
Union, Intersect and Except are not predicates they return another range, so probably your samples will not compile.
But maybe i have missed some implicit conversion.

Also maybe you have to implement`IsEmpty()` translation also: `@ran

[2018-07-31 19:37] austindrenski commented on #555
@sdanyliv Thanks for pointing this out. Indeed, those are copy/paste errors.

Are you interested in fixing those up in a pull request?

[2018-07-31 20:05] sdanyliv commented on #555
Not so much as i’m not a EF fan ;)
I’m planning to add ranges support in our library and just analysing your sources. Pity that these methods are introduced only in EF Core provider without implementation and we have no way to reuse them, only in our [integration](https://github.com/linq2db/linq2db.EntityFrameworkCore).
Also i’m looking for overloading operators +, *, -, etc. But if they are not i

[2018-07-31 20:31] austindrenski commented on #555
@sdanyliv We've discussed client-implementations at length, but they are tricky to get right.

[Per the PostgreSQL docs](https://www.postgresql.org/docs/current/static/functions-range.html):

One of the roadblocks is that its hard to test a subrange on an arbitrary generic type (e.g. bound increment functions become necessary).

Though, it becomes more feasible [if we move forward](https://github.

[2018-07-31 22:19] smitpatel opened #556 "Nested (through navigation property) Value Conversion (enum to string) causes exception."
_From @JakenVeina on July 28, 2018 5:52_

When selecting an enum value from a related record, conversions defined for that property are not evaluated, and cause an `InvalidCastException` (wrapped by an `InvalidOperationException`).

1. Problem Query: https://hastebin.com/ugufozituy.cs
2. ModerationActionSummary.FromEntityProjection: https://hastebin.com/ukudanudoc.cs
3. ModerationActionEntity: htt

[2018-07-31 22:45] austindrenski commented on #556
@smipatel Thanks for forwarding, I'll take a look.

[2018-08-01 03:35] austindrenski commented on #556
Still investigating, but I've narrowed the repro here: https://github.com/austindrenski/efcore-12834

[2018-08-01 05:32] roji commented on #555
Yeah, as @austindrenski wrote we don't have any implementation for these at all, only stubs which the EF Core provider translates to the appropriately PistgreSQL function call or operator.

As a general rule Npgsql is a driver, and as such doesn't provide .NET implementation for any PostgreSQL functionality (like ranges) - it's simply not or job.

If you're just talking about the stubs (and not an

[2018-08-01 05:39] roji commented on #556
I don't have time to look at this in depth, but now that the default enum behavior for any provider should be to map it to database int, so I don't think it should matter if SQL Server treats enums as strings. Take a look at this, I'll poke my nose in as well this weekend.

[2018-08-01 06:27] faryu commented on #553
The result of the query is the following:

![query-result](https://user-images.githubusercontent.com/6194766/43504595-57c56aee-9564-11e8-9a6f-65271d13c798.png)

[query-result.csv.txt](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/files/2248258/query-result.csv.txt)

[2018-08-01 09:02] syberside opened #557 "ConcurrencyCheck (IsConcurrencyToken) doesn't work correctly with DateTime field"
I use concurrency token on DateTimeOffset field in one project.
Once I decided to change type of the field to DateTime, I have found that any update to table causes DbUpdateConcurrencyException to be thrown.
Switching back to DateTimeOffset resolves problem.
It seems like generated SQL is incorrect for DateTime ConcurrencyCheck, old token value becomes incorrect or some thing like that...

Npgsql.

[2018-08-01 10:18] saviour123 commented on #183
Stop the server, and restart it. It solved mine.

[2018-08-01 11:59] iamkinetic commented on #540
I'm running into the exact problem.  Didn't find any working solution as of yet.

[2018-08-01 12:25] sdanyliv commented on #555
@roji, i see your point and looks like you are right.
I have made remapping to other range type which support client side operations, so it is not an issue for me.
Thanks.

[2018-08-01 12:32] austindrenski commented on #540
Possibly the same issue being investigated in #553. Could you take a look and let us know if you believe this is a separate issue?

If you believe it is distinct, could you please post a complete repro for us to clone and investigate?

[2018-08-01 13:07] austindrenski commented on #553
@YohDeadfall Does anything jump out at you here? Would this have anything to do with the Cartesian/geodetic defaults mentioned in the [docs](http://www.npgsql.org/doc/types/nts.html#geography-geodetic-support)?

[2018-08-01 13:14] austindrenski commented on #556
@roji That's a typo on my part. When I wrote:

I meant to wite:

[2018-08-01 13:31] roji commented on #556
Right, so in fact enums are supposed be just intra in PostgreSQL too, unless they are mapped via the Npgsql-specific api

[2018-08-01 14:23] quicoli opened #558 "Where queries with casted enum value throw Can't write CLR type"
I'm using NHibernate in a .net core webapi and I get the error:

[code]
Before changing to PostgreSQL I was using SQL Server and I hadn't this issue.

I have a table with a int column, and in my model this column is a Enum value. I can't retrieve values now because of this error...

NHibernate 5.1.3
Npgsql 4.0.2

## Related
#489

[2018-08-01 14:25] quicoli commented on #489
@austindrenski  done  :)

[2018-08-01 15:03] roji commented on #555
Leaving open for the doc fixed, @austindrenski do you want to take care of that?

[2018-08-01 15:10] austindrenski commented on #555
@roji Yeah, I'll give it a look soon.

[2018-08-01 15:14] roji commented on #553
This is most likely an issue with reloading the types after installing the extension... The test above deletes and recreates the database on every single run. Now, when the extension is first installed into a database (`CREATE EXTENSION postgis`), it creates new types but Npgsql has already loaded and cached the types (without the PostGIS types). `NpgsqlConnection.ReloadTypes()` needs to be called

[2018-08-01 15:36] austindrenski commented on #558
@quicoli Does your project use EF Core? If not, could you reopen this in https://github.com/npgsql/npgsql?

[2018-08-01 16:30] austindrenski commented on #556
Interesting... For the given model:

Here is When using `HasConversion<string>()`, the generat
I'm not sure this is the case... Looking at the database created in https://github.com/austindrenski/efcore-12834, the unmapped `SomeEnum` property generates a `text` column:

testing=# \d+ "SomeEntities"
                                                      Table "public.SomeEntities"
      Column

[2018-08-01 16:41] roji commented on #556
@austindrenski right, so migrations are working well, and when you specify the value conversion you appropriately get a `text` column for your enum instead of an `integer`. The question now is why you're getting exceptions when reading/writing...

[2018-08-01 16:55] austindrenski commented on #556
Here's the underlying throw:

[code]

[2018-08-01 17:54] austindrenski commented on #556
`DefaultQuerySqlGenerator` defines [this](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore.Relational/Query/Sql/DefaultQuerySqlGenerator.cs#L179-L183), but we don't override it:
[code]

[2018-08-02 01:57] luizs81 opened #559 "Accept URI format as valid connection string"
Would be possible to accept the URI as a valid connection string?

`postgresql://[user[:password]@][netloc][:port][,...][/dbname][?param1=value1&...]`

This is how Heroku provides access to its databases, and due the fact the values can (will?) change without announcement, it becomes quite cumbersome to manage it to the current "key value" format.

Thanks!

[2018-08-02 02:59] austindrenski commented on #559
@luizs81 I really like this idea, but it's much better suited for the ADO.NET driver repository: https://github.com/npgsql/npgsql

Would you mind reposting this over there?

[2018-08-02 04:30] austindrenski commented on #556
[`SelectExpression.GetMappedProjectionTypes()`](https://github.com/aspnet/EntityFrameworkCore/blob/c65fd72588814aea1883919ec12cec9279e9aada/src/EFCore.Relational/Query/Expressions/SelectExpression.cs#L719-L776) uses [`RelationalExpressionExtensions.FindProperty(...)`](https://github.com/aspnet/EntityFrameworkCore/blob/c65fd72588814aea1883919ec12cec9279e9aada/src/EFCore.Relational/Extensions/Relati

[2018-08-02 04:41] #555 closed

[2018-08-02 06:56] faryu commented on #553
The idea from @roji works.
If the delete/create line is removed for the second run, then it succeeds.
The first run, where it does create the database, still fails. It has to be run twice.

I also tried it without the EnsureCreated method and used migrations instead.
It had the same effect. The first run creates the database, but fails to pass the test.
The second run passes.

[2018-08-02 08:06] dpsenner commented on #63
@roji It appears to me that the mapping of `DateTimeOffset` was forgotten in the implementation, am I right?

I ask because we chose to explicitly map any timestamp to `DateTimeOffset` in an attempt to avoid timestamp skews caused by typos of `DateTime.Now` where it should read as `DateTime.UtcNow` because `DateTimeOffset.Now` behaves like `DateTimeOffset.UtcNow`. `DateTimeOffset` also provides be

[2018-08-02 15:11] dpsenner opened #561 "Range function resolution fails for column (tstzrange) and parameter (tsrange)"
With the following database table:

[code]

The following model:

[code]

causes the following exception on insert:

[code]

[2018-08-02 15:38] austindrenski commented on #561
@dpsenner This is by design. `NpgsqlRange<DateTime>` is [default mapped](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L256) to `tsrange`, though [other mappings](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L140-L142) also exist

[2018-08-02 15:50] austindrenski commented on #561
@dpsenner We are also strongly encouraging users to take a look at our plugin for NodaTime which provides a significant improvement in date and time handling.

[2018-08-02 15:54] dpsenner commented on #561
Thanks for having a look. We attempted to change our database models to use nodatetime `Instant`'s but that works for tsrange while it shows the same symptoms for tstzrange. The query parameter is passed in as follows:

[code]

and causes the same exception:

[code]

I'm going to give your suggestion a shot tomorrow.

[2018-08-02 16:00] dpsenner commented on #561
I just gave the column type a shot nonetheless and it improved the situation somewhat:

[code]

The original was:

[code]

Now values can be inserted and fetched from the database, but querying with a where clause does not work:

[code]

and produces the following stacktrace:

[code]

[2018-08-02 16:31] austindrenski commented on #561
@dpsenner Yes... we've seen this issue elsewhere when passing parameters that need non-default mappings.

I'll see what we can do to detect/add type casts to the SQL generation phase.

In the meantime, if this is a showstopper, my preferred workaround is to define [a custom overloaded operator](https://www.postgresql.org/docs/10/static/sql-createoperator.html) to patch the type resolution:

[code]

[2018-08-02 19:14] etiennemtl commented on #526
@austindrenski I'm sorry for the late response, here is the repo https://github.com/etiennemtl/identity-npsql-nodatime. I've figured that the issue is when trying to configure multiple DbContext. It seems like even though each one is properly configured. When querying the Database, the configuration of each contexts seems to merge or something. I didn't find a way to isolate each of the context. T

[2018-08-02 20:46] roji commented on #561
@austindrenski corrected analyzed this, EF Core is indeed missing a way to explicitly specify the store type for cases of non-default mappings.

However, with NodaTime you may be able to work around this... Instead of `Instants` you may try using `OffsetDateTime` (or `ZonedDateTime`), which we map to `timestamptz` by default. This is a pretty hacky workaround until https://github.com/aspnet/Entity

[2018-08-02 20:49] roji commented on #561
Finally, as @austindrenski wrote above, make sure you know exactly why you want to use `timestamp with time zone` - it's a really problematic database type, and most usages I've seen don't really make sense (`timestamp without time zone` should be used instead).

[2018-08-02 20:49] roji commented on #561
Am going to close this as there's nothing more to do in Npgsql (although the discussion can definitely continue).

[2018-08-02 20:49] #561 closed

[2018-08-02 20:56] roji commented on #63
@dpsenner first, regarding your decision to use `DateTimeOffset` in order to avoid timezone issues, I'm not a big fan :) See the following long rants if you're interested: https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/303, https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/473.

Regarding support of ranges over `timestamptz`, the discussion took place i

[2018-08-02 20:59] roji commented on #553
This really shouldn't be happening, and I'm pretty sure we even have tests making sure that after creating new extensions the types are reloaded. Will need to be investigated...

[2018-08-02 21:01] roji commented on #508
Keeping open in backlog to track possible modifications which need to be done on our side after aspnet/EntityFrameworkCore#12661 is done.

[2018-08-02 21:02] roji commented on #514
Closing as no additional info was provided within 7 days. But please feel free to post back here with the relevant information and I'll reopen if necessary.

[2018-08-02 21:02] #514 closed

[2018-08-02 21:19] etiennemtl opened #562 "Fulltext search error when providing a parameterized string"
I'm trying to use the full text search capabilities. I've followed your example on this page: http://www.npgsql.org/efcore/mapping/full-text-search.html

My model looks as follow:
[code]

I've created the migration with the following snippet added:
[code]

When I try to query with the following code:
[code]

I've got the following error:
[code]

The operation is translated as followed in the logs:

[2018-08-03 00:12] austindrenski opened #563 "Mapping ValueTuple with row constructors"
Could we map otherwise unrecogized instances of `ValueTuple` to [row constructors](https://www.postgresql.org/docs/10/static/sql-expressions.html#SQL-SYNTAX-ROW-CONSTRUCTORS)?

[code]

[code]

/cc @roji

## Related
https://www.postgresql.org/docs/10/static/functions-comparisons.html#ROW-WISE-COMPARISON

[2018-08-03 00:56] Sally-Xu opened #564 "int[] type in Data Model used to work in v2.1.0 rc, no longer works in versions after v2.1rc"
Hi, I have a data Model which uses an int array type for one of it's property,  mapped to the `_int8` type in PostgreSQL.

The code is like this:
[code]

It used to work fine in v2.1.0rc. But no longer works after that version. The error message is following:
[code]

What is the correct type should be used in C# that map to `_int4`/`_int8` type in database?

[2018-08-03 04:42] roji commented on #564
First, you're mapping .NET `int[]` (which is 4-byte) to PostgreSQL `_int8`, is that intended or is it a typo?

As @austindrenski said, as long as you're using the default mappings (e.g. `int[]` to `_int4`) you can omit the annotation and everything should work.

Finally, 2.1 switched to using the standard, user-exposed type names instead of the internal PostgreSQL ones, so it's now `integer[]` ins

[2018-08-03 04:42] #564 closed

[2018-08-03 07:01] dpsenner commented on #561
Thanks to both of you again for looking into this. Unfortunately, @roji, neither `OffsetDateTime`, `ZonedDateTime` or `LocalDateTime` can be used in the model because `Instant` is the only class that implements `IComparable<T>` and therefore works in combination with `NpgsqlRange<T>` when writing a simple query like:

[code]

@austindrenski @roji Would you please share with us your insights on the

[2018-08-03 10:26] rwasef1830 commented on #562
@etiennemtl It looks like that postgresql doesn't have an overload for the `@@` operator that takes tsvector on one side and string on the other, however postgresql is supposed to do type coercion so this is supposed to work. Not sure why this isn't working.

I can reproduce the failure in unit tests if I change
[code]

to

[code]

I'll investigate.

[2018-08-03 15:50] YohDeadfall commented on #561
@dpsenner You can find the answer and examples in npgsql/npgsql#1803. The long story short, `DateTime` couldn't be unambiguously mapped to PostgreSQL date time types because of the `Kind` property.

[2018-08-03 16:04] Babalev opened #566 "EF Core failing when executing migration, containing datetime. Works great with EnsureCreated"
I couldn't find a similar issue, sorry if there is already an answer of that.

So I'm having the following problem:

I'm trying to create a database from scratch using the code first approach and EF Core migrations.

When I'm using:
`context.Database.EnsureCreated();`
it works flawlessly and my database gets created.

The problem is when I try with
`context.Database.Migrate();`
Then I hit an error

[2018-08-03 16:14] roji commented on #561
@dpsenner as I wrote in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/63, if you want to know what I think about using timezone-aware types (and PostgreSQL `timestamp with time zone`), take a look at #303 and #473, but prepare yourself for a long and exhausting rant :) Below is an attempt at a compacted version.

PostgreSQL `timestamp with time zone` is quirky in that time

[2018-08-03 16:29] austindrenski commented on #561
@roji For clarity to future readers:

_If we were in the business of dictating schema redesigns_, would it be your recommendation that @dpsenner change `during` from `tstzrange` to `tsrange`, and refactor away from __both__ `DateTime` and `DateTimeOffset`?

[2018-08-03 16:42] austindrenski commented on #566
@Babalev It sounds like `datetime` (the literal string) was generated as part of the migration.

But without a minimal, complete reproduction of the issue, this is all just conjecture... Would you be able to put something together for us to test on our end?

[2018-08-03 16:46] Babalev commented on #566
Sure. I'll wrap up some very minimalist console

[2018-08-03 17:56] Babalev commented on #566
So after digging in, I found out that the reason for this to happen, is that my Migrations were created against a SQL Server DB, but then I'm trying to execute them against the PostgreSQL one. But why `EnsureCreated()` works. Isn't it using the same snapshot?

[2018-08-03 18:12] austindrenski commented on #566
There's an important distinction between those two, actually.

Per the EF Core docs for [`RelationalDatabaseFacadeExtensions.Migrate(DatabaseFacade)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.relationaldatabasefacadeextensions.migrate?view=efcore-2.1):

[2018-08-03 18:23] roji commented on #561
@austindrenski it's hard to make sweeping recommendations without taking account any specific needs etc.

But yes, my personal opinion is that in the general case, unless your application has special needs and cannot be UTC-everywhere:
* Avoid using `DateTimeOffset`.
* If at all possible, use NodaTime, which makes most of these issues disappear.
* If NodaTime isn't an option, use `DateTime` with K

[2018-08-03 18:38] Babalev commented on #566
I figured out my problem. It was nothing to do with your library, but what you said

Really helped me to find out the problem. As the Initial migration was scaffold-ed from an existing DB, so that it can continue execute Migrations on top of it, there was a `datetime` literal there, created by it. Had to remove it, and some more SQL server related strings and now it works like charm against both o

[2018-08-03 18:40] austindrenski commented on #566
@Babalev Great to hear! I'll go ahead and close this issue.

[2018-08-03 18:40] #566 closed

[2018-08-03 21:54] tom-mulligan opened #567 "Unable to update when primary key is character(x)"
A `DbUpdateConcurrencyException` occurs when an `UPDATE` to a record with a fixed length character primary key is Saved to the DB and that key has trailing spaces.  The Concurrency check appears to trim the value on the primary key which causes it to fail validation of the change even though the SQL log shows a valid `UPDATE` command (with space padding) was received and processed.  I have attache

[2018-08-03 22:03] tom-mulligan commented on #567
This program will execute if you change the package references to:
    <PackageReference Include="Microsoft.EntityFrameworkCore" Version="2.0.2" />
    <PackageReference Include="Npgsql.EntityFrameworkCore.PostgreSQL" Version="2.0.1" />
And update the model builder definition of CharIdent to be:
    .HasColumnType("varchar").HasMaxLength(8)

But I really need to update to .NET 2.1!

[2018-08-04 00:02] austindrenski commented on #567
This behavior is actually defined in the [SQL specification (1992)](http://www.contrib.andrew.cmu.edu/~shadow/sql/sql1992.txt):

[code]

_Source credit to [SQL: Where spaces may not matter](https://dev.to/antogarand/sql-where-spaces-may-not-matter-5dn6)._

[2018-08-04 01:40] austindrenski commented on #567
@tom-mulligan I misread your description initially. Sorry about that.

This could be related to the string comparisons I referenced above....but it's much more likely to be another instance of what we could call _the explicit cast and broken inference problem_.

As a short term solution, you could create the column as `varchar(8)` (or `text` + your own `check` constraint). Alternatively, you can t

[2018-08-04 06:15] roji commented on #567
@austindrenski your analysis here seems correct, we keep running into this issue again and again.

One new thought I've just had on this, is that there's the theoretical possibility of relaxing the strong typing approach when it comes to string. Npgsql currently sends specific type OIDs for all parameters, but there's also the option to send 0 ("unknown"), to allow PostgreSQL to infer the type fro

[2018-08-04 06:37] roji commented on #567
Split off the general type OID discussion to https://github.com/npgsql/npgsql/issues/2095

[2018-08-04 08:27] #562 closed

[2018-08-04 13:11] austindrenski commented on #299
This feature was completed in #407 and #535.

[2018-08-04 13:11] #299 closed

[2018-08-04 14:39] roji commented on #22
Note: the implementation should be very similar to what we've done for enums. However, keep in mind the idea of accessing unmapped composites as value tuples (or possible mapping composites to value tuples) at the ADO.NET level.

[2018-08-04 17:50] austindrenski commented on #567
The more I dig into the comparison semantics for `text`/`varchar`/`char(n)`, the more ~~bewildered~~ fascinated I am.

While the `OID` discussion is good to have, I'm not entirely sure it would help here. It almost looks like this is just a case of ___extreme differences___ between how the CLR and PostgreSQL think about `string` comparisons and type resolution.

See below for a worked out example,

[2018-08-04 21:36] dpsenner commented on #561
Incidentally I came to the same conclusions. If team lead agrees we are going to set sails with nodatime instants, tsrange and timestamp without timezones. Where required we will introduce additional columns for client local times and/or the timezone id of the client that created or updated that specific entity.

[2018-08-05 17:10] roji commented on #561
@dpsenner good to hear it, not everyone agrees with my views on date/time handling :)

Note that if you want to represent the client's timezone inside your database, you need a separate column in the database no matter what, since `timestamp with time zone` doesn't actually store a timezone. This is true whether you go with NodaTime or not.

Another important point is that `DateTimeOffset` does *n

[2018-08-06 04:48] netfed commented on #206
But it is a problem in net core 2.1.302

[2018-08-06 06:15] roji commented on #206
@netfed please open a new issue with a full code sample.

[2018-08-06 06:16] roji commented on #206
@netfed please open a new issue with a full code sample.

[2018-08-06 13:50] maciejjarzynski opened #568 "[Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime] saving CLR DateTime field throws exception"
Hello,
it seems that using of `Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime` somehow blocks/corrupts working with CLR DateTime/DateTimeOffset types of properties. When trying to save `DateTime` field, an exception is being thrown:
` System.InvalidCastException : Can't write CLR type System.DateTime with handler type TimestampHandler`

## Steps to reproduce
### `.csproj` references:
[code]
### Co

[2018-08-06 14:08] dpsenner commented on #561
@roji, that's what we went through when we discussed the proposal. :-) It took a significant amount of arguments until the underlying problems finally were understood by everyone and only then we were able to come to an agreement. Unfortunately we do also have the functional requirement to track the original time in the timezone when something was made or done. Currently we have three possible sol

[2018-08-06 15:26] roji commented on #561
Thanks for the interesting discussion. I agree with what @Brar wrote above, here's some more detail from my side.

Your first two options (if I understand them correctly) seem very similar - in both cases you have one column of type `timestamp without time zone` and one column of type `text`, for the timezone (e.g. `Europe/Rome`). The only difference is whether what you put in the timestamp column

[2018-08-06 15:59] dpsenner commented on #63
Future readers, please ignore my comment above. If you are reading this you should consider to use `timestamp` over `timestamptz` along with `NodaTime` `Instant`s in your model. This makes your application layer responsible for dealing with timezoned information and that's the best place to have that logic. Note that reporting tools deliberately choose to discard any interpretations of `timestampt

[2018-08-06 16:04] dpsenner commented on #561
The reasoning behind two timestamp columns was, that when a user reads that timestamp today it says "4 am" but it will tomorrow read "3 am" when daylight savings return to normal. Having a local time stored explicitly will make that record "4 am" forever, which is also what the user would expect. Please correct me if I'm wrong.

[2018-08-06 17:28] roji commented on #561
@dpsenner unless I'm totally mistaken about daylight savings (DST), every time zone has a DST definition: DST starts at a certain date, and stops at another date. When you read a UTC timestamp from the database (let's call it `Instant`) and convert it to a `ZonedDateTime`, NodaTime (or whoever) will consult their timezone database to see if DST is on *for the date of the timestamp*.

Long story sh

[2018-08-06 17:30] roji commented on #561
I suggest you do a quick test to confirm the above... Write a trivial console program that uses NodaTime, and see what happens as you play around with your machine's date (in and out of DST). You shouldn't see any change in behavior in the program.

[2018-08-06 17:31] Brar commented on #561
@dpsenner converting an UTC timestamp to a local timestamp is more than just adding an offset in hours.
There are changes in the assignment of a country to a specific time zone, introduction or dismissal of daylight saving time in a country and other weird things that might happen and be set in effect at a specific timestamp due to government decisions.

It's best to rely on tools that are backed

[2018-08-06 17:38] austindrenski commented on #561
Not to distract from the wider discussion, but while every time zone _has a definition_ of DST, not every locale in the time zone necessarily observes it:

https://www.timeanddate.com/time/us/arizona-no-dst.html

[2018-08-06 17:42] roji commented on #561
To supplement what @Brar said above, NodaTime also uses the IANA timezone database, which is pretty much the standard outside of the Windows world. The advantage of NodaTime is a sane date/time type hierarchy along with the timezone database - basically everything is taken care of for you.

Bah, date/time insanity... That's why it should all be delegated to a library which actually knows about all

[2018-08-06 20:49] danieldiazastudillo commented on #338
Just by adding a default (empty) constructor for some entities the error stops showing. Very weird. Any explanation for this?

[2018-08-07 00:18] austindrenski opened #569 "Translate GREATEST and LEAST"
1. Consider translating `Math.Max(...)` and `Math.Min(...)` as  basic forms of `GREATEST` and `LEAST`.
2. Consider provider-specific extension methods for the n-valued overloads.

https://www.postgresql.org/docs/current/static/functions-conditional.html#FUNCTIONS-GREATEST-LEAST

[2018-08-07 08:41] thefringeninja commented on #284
A bit off topic but this was the #1 search result when googling "A command is already in progress." This can also happen if you don't dispose the reader before executing another command against the same connection.

[2018-08-07 09:44] ljani commented on #367
I wonder if `ForNpgsqlUseIdentityAlwaysColumns` (instead of `ForNpgsqlUseIdentityByDefaultColumns`) can be combined with `HasData` with negative indices. It should be doable with `OVERRIDING SYSTEM VALUE`, but how to instruct Npgsql to use it with `HasData`? It seems `HasData` should be considered as an exception in EF Core.

[2018-08-07 12:10] roji commented on #367
@ljani that's a very correct observation, I'd say that for the moment IdentityAlways is incompatible with EF Core data seeding. AFAIK data seeding just uses the regular update pipeline, so it's probably not possible (or a at least easy) to inject an `OVERRIDING SYSTEM VALUE` in there.

[2018-08-07 12:31] roji commented on #561
At least if I'm understanding you're scenario properly, you're not supposed to care about PostgreSQL at all, since you'll never be asking or to do any sort of conversions for you. This is precisely why you should avoid `timestamp with time zone` just sure UTC timestamps in the database, and if your really need to, a string coffee representing a timezone. Then, in your application you do any conver

[2018-08-07 12:37] austindrenski commented on #561
Not sure if there's anything more authoritative, but it's discussed here:

https://github.com/postgres/postgres/blob/master/src/timezone/README

[2018-08-07 13:05] #284 closed

[2018-08-07 13:29] dpsenner commented on #561
You've got a point. There are however several database functions that return timestamptz datatypes and there are therefore scenarios where the query generator causes bad timestamps to be read from the database. `NOW()` is one of them. As a minimal bad example, a linq query containing `DateTime.Now` translates to a database query that contains `NOW()`. That causes a `timestamptz` column to be gener

[2018-08-07 14:56] Brar commented on #561
Are you aware of `DateTime.UtcNow` in .Net and the other PostgreSQL date/time functions (https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-CURRENT)?
It should be possible to generate an UTC timestamp at every layer and combine it with the users' time zone id if you want to store or display it.

[2018-08-07 15:58] Jefffrey opened #570 "NpgsqlRange with NodaTime's Instant infinite bounds"
How can I express a range that starts at instant X but is then not bounded "on the right"? I've tried with:

[code]

But that because `null` is not of type `Instant`. I have then tried with:

[code]

but whenever I try to use it, for example with `Overlaps` I get:

So how can I express an unbounded range?

<hr>

I've just realised that there's an `NpgsqlRange<T>` constructor that takes 6 parameter

[2018-08-07 16:29] ljani commented on #367
[Here is](https://github.com/aspnet/EntityFrameworkCore/blob/e1116c310113eab8b64357fb4a656958f0d580be/src/EFCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L1129-L1181) the SQL Server driver implementation for `InsertDataOperation`.

[`NpgsqlMigrationsSqlGenerator`](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/b45f86801e8d783e6aef04baa7cacbf0995bc7c5/src/EFCore

[2018-08-07 19:45] austindrenski commented on #570
The overloaded constructors are conceptually mapped to the underlying PostgreSQL range types:
- http://www.npgsql.org/efcore/mapping/range.html
- https://www.postgresql.org/docs/10/static/rangetypes.html

To help with the constructor complexity, `v2.1.0` (Npgsql `v4.0.0`) introduced parsing support:

[code]

As for the exception related to `IComparable<T>`, I'll have to take a look. It may well be

[2018-08-07 22:42] Jefffrey commented on #570
Why not provide an additional constructor that takes nullable types? The semantic seems fairly clear.
Consider that in my case I have two `Instant?` coming as input and I'd like to construct a range out of those that can be open from both sides.

What I find myself doing now is this:

[code]

[2018-08-07 23:14] austindrenski commented on #570
@Jefffrey Nullable types should work as things are right now. Are you saying that you can't construct `NpgsqlRange<Instant?>`?

The `Overlaps` extension method appears to fail with due to the added `IComparable<T>` constraint (which may need to be removed anyways). But that is a different problem.

Adding a constructor that takes `Nullable<T>` for `NpgsqlRange<T>` would be challenging. For one thi

[2018-08-08 03:47] austindrenski commented on #570
## `IComparable<T>` exception

I opened #571 which removes the `IComparable<T>` constraint from the extension methods. Since the underlying type doesn't implement the constraint, the extension methods probably shouldn't either.

The method constraints were introduced as part of some earlier work exploring client-implementations of those methods. This work was shelved due to some discrepancies betw

[2018-08-08 05:10] roji commented on #502
@austindrenski this seems like a pretty important missing feature, any chance you want to take a stab at it? I'm hoping it wouldn't be too hard.

[2018-08-08 05:15] hajderr opened #572 "Table created with quotation marks"
Hello

It seems the table names are created with a quotation mark when running the
`dotnet-ef` tools migrations. This is the script ran with the `-v` flag

[code]

## PGSQL Console
Selecting from newly created table without quotes doesn't work
[code]

...while quotes works

[code]

<img width="314" alt="screen shot 2018-08-08 at 07 15 59" src="https://user-images.githubusercontent.com/886369/43817

[2018-08-08 05:16] austindrenski commented on #502
@roji Sure, I can take a look at it this weekend.

[2018-08-08 05:38] YohDeadfall commented on #572
Closing as by design, but feel free to continue discussion.

[2018-08-08 05:38] #572 closed

[2018-08-08 06:18] ljani opened #573 "Support ForNpgsqlUseIdentityAlwaysColumns with HasData"
Currently Entity Framework Core's [data seeding feature `HasData`](https://docs.microsoft.com/en-us/ef/core/modeling/data-seeding) does not support [`ForNpgsqlUseIdentityAlwaysColumns`](https://www.npgsql.org/efcore/value-generation.html), because `GENERATED ALWAYS AS IDENTITY` does not allow inserting values in the identity column if `OVERRIDING SYSTEM VALUE` is not specified in the `INSERT` clau

[2018-08-08 06:24] roji commented on #573
No problem, I'll try to get this in soon.

[2018-08-08 06:31] ljani commented on #573
Btw, how do you see, should this also fix the next value for sequences [similar to other implementations](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/367#issuecomment-398802639), so we would not have to rely on negative indexes?

[2018-08-08 06:32] roji commented on #561
To supplement @Brar's comment (which is very correct), PostgreSQL `NOW()` indeed returns a `timestamp with time zone`, and the EF Core provider does translate `DateTime.Now` to `NOW()`.

However, as @Brar suggests, if you use `DateTime.UtcNow`, the EF Core provider will translate that to `NOW() AT TIME ZONE 'UTC'`, which returns a `TIMESTAMP WITHOUT TIME ZONE`. This is what you really want to use.

[2018-08-08 06:38] roji commented on #573
@ljani I'll have a look, but I don't think this will help the sequence conflict issue. In PostgreSQL, a serial column is simply a column with a default value coming from a sequence. If the application provides a value (like seeding does), there's no way AFAIK of making the sequence "aware" of that. The comment you linked to for SQL Server is about identity columns, which are a specific feature of

[2018-08-08 06:40] hajderr commented on #572
Coming from Java background I compared with Liquibase, which by default doesn't do this, thanks for the quick response!

[2018-08-08 07:48] githubfanster commented on #502
I wonder if this is the problem I'm encountering.

i had prepared this text to report my problem, but my problem looks related to this.

-------------------------------------------------------------------------------------------
NodaTime.Instant as shadow property HasData problem vs no problem in DbSet.Add

In the attached minimal code example (it's a zip of a minimal VS2017 solution), my model My

[2018-08-08 09:21] steveglen opened #574 "Spatial method translations work on concrete types but not IGeometry"
This query works as expected, and is translated to use ST_Intersects:

`Point point = (Point)WktReader.Read("POINT (491257 289278)");`
`context.MyTable.Count(x => x.Location.Intersects(point));`

However this query is not successfully translated, so causes all rows from MyTable to be fetched from the database and the Intersects operation to be performed client-side:

`IGeometry point = WktReader.R

[2018-08-08 10:33] roji commented on #502
@githubfanster no, this is not related to your problem . This issue is about translating a NodaTime function call to SQL when sending *queries*, no when inserting data (the update/insert pipeline is very different from the query pipeline).

It appears that you simply forgot to include `UseNodaTime()` in your model as indicated [in the docs](http://www.npgsql.org/efcore/mapping/nodatime.html).

If

[2018-08-08 10:34] roji commented on #574
Yes, this is the way NTS support is currently programmed, so it's expected - but I think it makes sense to add mappings for the GeoAPI interfaces as well.

[2018-08-08 10:44] Jefffrey commented on #570
I'm confused. What's the semantic of `NpgsqlRange<T?>` exactly? I thought `NpgsqlRange` (and the corresponding Postgres range type) wasn't defined for nullable values. Like, how is `[3, NULL)` different from `[3, infinity)`?

From §8.17.4 of the PostgreSQL documentation:

It's also defined that:

which is why I think it's helpful to have both a nullable constructor and an explicit infinity constru

[2018-08-08 14:40] austindrenski commented on #570
@roji wrote:

Right, but we can't (currently) compile that:

[code]

Unless we add the `where T : struct`:

[code]

But that would preclude things like `NpgsqlRange<string>` and _might_ complicate future work on user-defined range types.

___
@roji wrote:

Yes. I mistakenly thought that `Nullable<T>` was a reference type. But that is not correct, it is a `struct`.

Please disregard my previous com

[2018-08-08 14:44] githubfanster opened #575 "Can't scaffold migrations seeding data for non-standard types (e.g. NodaTime)"
`NodaTime.Instant` as shadow property `HasData` problem vs no problem seeding data via `DbSet.Add`

In the attached minimal code example (it's a zip of a minimal VS2017 solution), my model `MyEntity` has a "Created" shadow property of type `NodaTime.Instant`.

When I try to seed data for `MyEntity` using `HasData`, I encounter a problem (stack trace is further down below).

This code produces an e

[2018-08-08 18:30] austindrenski opened #576 "Discrepancy in GetDatePartExpression definitions"
Should these definitions be the same?

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/d2f867144b2609c1c56fc418566ee5ad59f93fb5/src/EFCore.PG/Query/ExpressionTranslators/Internal/NpgsqlDateTimeMemberTranslator.cs#L100-L114

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/d2f867144b2609c1c56fc418566ee5ad59f93fb5/src/EFCore.PG.NodaTime/NodaTimeMemberTranslat

[2018-08-08 22:02] #573 closed

[2018-08-08 22:03] roji commented on #573
Done, seeding now works with IDENTITY ALWAYS. However, you still need to use negative values to avoid conflicts.

[2018-08-09 01:29] austindrenski opened #578 "Unsupported timezone "localtime" when using the NodaTime plugin"
@roji I'm seeing the below exception from the NodaTime plugin test suite when run locally, but not on the CI servers.

Any idea what's going on?

[code]
[code]
[code]

[2018-08-09 01:43] austindrenski commented on #578
Actually, it also looks like the `.appveyor` and `.travis` scripts don't run the functional tests for the plugins.

Any reason for this?

[2018-08-09 05:35] austindrenski commented on #578
I looked and it was actually in my `postgresql.conf`:

[code]

Admittedly, my dev setup is a bit unconventional. I'm running Windows 10 and hosting PostgreSQL 10.4 in the [Windows Subsystem for Linux (WSL)](https://docs.microsoft.com/en-us/windows/wsl/about).

I did attempt to set `PGTZ`, but since PostgreSQL responded with _something_ (i.e. `localtime`), Npgsql didn't need to load the environment

[2018-08-09 05:40] roji commented on #578
I don't know, it doesn't seem right for Npgsql to sometimes respect the PostgreSQL session timezone, and sometimes to look at `PGTZ` instead. PostgreSQL *does* have a configured timezone, it's just that we cannot support it (because not enough info is provided). I'd rather we threw something like "The special PostgreSQL timezone `localtime` isn't supported when reading values of type `timestamp wi

[2018-08-09 06:16] austindrenski commented on #578
_emphasis added_

Is that something the PostgreSQL devs could shed some light on for us? Perhaps this is undocumented, but still deterministic and inferrable?

My only reservation with throwing and pointing to config changes is the situation wherein a user might not have direct access (e.g. PostgreSQL as a service type setups) or legacy databases for which DBAs are nervous to change _any_ configur

[2018-08-09 06:47] austindrenski commented on #502
Merged in #577.

[2018-08-09 06:47] #502 closed

[2018-08-09 14:17] dpsenner commented on #561
As a last comment I wanted to share with you an insight that I gained while attempting to find a valid way to convert a utc timestamp into a zoned timestamp that works fine without any magic conversions of the resulting timestamp happening. This is what I came up with, something that works regardless of the session timezone:

[code]

while the following is broken even though it appears to be the r

[2018-08-09 21:23] roji opened #583 "DateTime.Add does not support fractionals"
`DateTime.AddDays()` and some other overloads accept a double, but we currently translate them to PostgreSQL `make_interval()`, which accepts only ints (except for the seconds field).

Improve translation to support fractionals.

[2018-08-10 01:40] greenboxal commented on #334
What's the current status on this? Can we contribute somehow?

[2018-08-10 14:02] dpsenner opened #584 "Support of mapping custom database types to custom application types"
Hi,

we are currently evaluating ways to store measurements into a postgres database with entity framework core as the ORM that drives the backend. There is a postgres extension that implements a type that can handle various units (https://github.com/ChristophBerg/postgresql-unit).

Is it currently possible to implement npgsql type mappers and an entity framework plugin to map custom store types t

[2018-08-10 15:13] austindrenski commented on #584
That's an interesting extension. It reminds me of the F# [units of measure](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/units-of-measure) language feature.

Right now, I think the approach would be to write two plugins, one for the ADO.NET driver and one for the EF Core provider. Current examples of plugins include NodaTime, Json.NET, NetTopologySuite, and a few others.

Are

[2018-08-10 15:17] iamkinetic commented on #540
Ok, I was missing the mapping part:
`b.Property(m => m.Coordinates).HasColumnType("geography");`

[2018-08-10 15:40] iamkinetic opened #585 "This method does not support GeometryCollection arguments?"
So we're using Asp.Net Core 2.1.1 + EF Core +npgsql.efcore.pgsql.nettopologysuite for our web api.

One of my model contains a Point property.  It's getting serialized correctly, but if I post what I'm getting back to our web api, i'm always getting the exception saying "This method does not support GeometryCollection arguments".  It seems like there is a problem in the deserialization, but I have

[2018-08-10 15:46] austindrenski commented on #585
@iamkinetic Can you post some code showing your configuration, such as your `DbContext` and the code that makes this query?

[2018-08-10 15:56] iamkinetic commented on #585
Sure.

(Very simplified) Model:
[code]

Mapping:
[code]
My query is as simple as it get:
[code]

[2018-08-10 15:58] iamkinetic commented on #585
I'm correctly getting the building with its coordinates from the database and serialization to json also seems to be ok.  It's when I post that json back to the controller that I'm getting the exception.

[2018-08-10 16:01] austindrenski commented on #585
Hmm... Can you post a sample of the post code then (along with some real JSON that triggers the exception)?

[2018-08-10 16:06] iamkinetic commented on #585
Well, I'm getting a 500 from the previously mentionned exception before I even hit the code from the controller.

Here is the json I'm posting:

[code]

[2018-08-10 19:18] austindrenski commented on #585
Ah—this is happening in your binding/validation layer.

I'm not very familiar with NetTopologySuite, but @YohDeadfall may be able to weigh in on what we're generating vs. what your model needs.

We'll probably need to see some controller code and the model your binding against too.

[2018-08-10 19:50] roji commented on #584
Npgsql 4.0 introduced a new plugin model that allows you to do exactly this - add support for additional types. We can still add support for extensions inside Npgsql itself (rather than a plugin).

However, your error seems to indicate that the extension does not implement binary transfer for the type(s) it introduces - ouch. PostgreSQL supports two encodings when transferring values - text and bi

[2018-08-10 19:59] tom-mulligan commented on #567
Thank-you for this information.  It identified what the problem is and a means to overcome it.  The true cause is the logic change in Npgsql to now specify parameter data types instead of letting the database infer the type.  Prior to 2.1 this was not happening for literal strings.

I understand that the project that identified this problem is working with a poor database design, but we are now fo

[2018-08-10 21:02] austindrenski commented on #567
@tom-mulligan wrote:

I am very sympathetic to your situation. I've just recently reworked a legacy schema and dealt with all of the headaches that come with updating an old system.

At the end of the day, an ORM is just an abstraction intended to help you add value to your organization. It shouldn't dictate business decisions, nor do we intend it to.

We can provide guidance on how this project w

[2018-08-11 02:41] tom-mulligan commented on #567
This seems fringe enough to "let it go", though continue to consider this issue in future planning.  Thanks again for the prompt and intelligent discourse.  Consider this closed?

[2018-08-11 06:06] roji commented on #585
Looking at the exception stack trace, it seems like the `Boundary` property is being accessed on a collection field - this isn't allowed. This seems to be happening as part of ASP.NET's validation, which appears to be calling all property getters or something similar? I'm not familiar with ASP.NET on this point, you may want to check how to make it ignore certain properties etc.

As a workaround y

[2018-08-11 06:06] #585 closed

[2018-08-11 06:10] roji commented on #585
See also https://github.com/npgsql/npgsql/issues/1981 for other issues regarding direct JSON serialization of NTS spatial types.

[2018-08-11 06:16] roji commented on #334
@greenboxal this is definitely still planned for 2.2.0, but the issues above still need to be addressed. In addition, it seems wise to hold off on this as PG 11 will probably be adding SQL/JSON standard support, which might change the way we want to do this.

Finally, this may be a bit complicated for an outside contributor to tackle as a first foray into an EF Core provider, since it potentially

[2018-08-11 07:39] roji commented on #584
Note: opened https://github.com/ChristophBerg/postgresql-unit/issues/21 to ask for binary transfer support, which would be the first step for 1st-class Npgsql support.

[2018-08-11 07:48] roji commented on #567
FWIW, I do think there's room to revisit the decision that literal representations be strongly-typed. This is somewhat related to the discussion in https://github.com/npgsql/npgsql/issues/2095, although that discussion is for parameters and not literal representations.

My primary objection, apart from a general preference of strong typing, is that if we remove strong typing we introduce a behavio

[2018-08-11 09:08] Jefffrey opened #587 "Index on NpgsqlRange"
Would it be possible to make it so that you can easily define indexes on `NpgsqlRange` values (or does it already exist?)?

In §8.17.9 of the Postgres documentation regarding indexes for range types we can see this example:

[code]

which says:

[2018-08-11 09:10] Jefffrey commented on #570
As soon as I'm done refactoring I'll give it a try, yes.

[2018-08-11 20:32] austindrenski commented on #587
@Jefffrey That should be possible. Take a look at [the docs](https://www.npgsql.org/efcore/misc.html#postgresql-index-methods) for more information:

I'm going to close this issue, but feel free to post back if you have additional questions.

[2018-08-11 20:32] #587 closed

[2018-08-12 03:07] austindrenski commented on #567
@roji I've taken another pass at this with #588 and I think I've got a working patch in place. But, the fix feels fragile, so I'd appreciate another set of eyes on it before calling this closed...

[2018-08-12 07:46] Jefffrey commented on #329
In the context of time and specifically of NodaTime it appears that there's support for `Instant` and `LocalDate` but not `LocalTime`. Equivalently in Postgres there's support for date ranges, datetime (timestamp with or without timezone) ranges but not time ranges.

This seems asymmetric on the Postgres side. Is there any particular reason for this? If not, could we allow `NpgsqlRange<LocalTime>`

[2018-08-12 07:56] Jefffrey commented on #587
Yes, thanks. Missed [this](http://www.npgsql.org/efcore/misc.html) page of the documentation. Sorry.

[2018-08-12 08:35] roji commented on #584
Note that even if full support for this extensions isn't there, EF Core has a proposed feature which would allow server-side conversions (https://github.com/aspnet/EntityFrameworkCore/issues/10861). This would allow you to simply cast the values to text server side before bringing them across, which would be an elegant way to map `unit` to .NET `string`.

Closing this issue as there's nothing imme

[2018-08-12 08:35] #584 closed

[2018-08-12 09:05] roji commented on #575
Thanks, this is indeed an issue, and the limitation is on the EF Core side rather than in Npgsql - I've opened https://github.com/aspnet/EntityFrameworkCore/issues/12979. Let's see what they say.

[2018-08-12 10:56] roji commented on #557
Any update on this?

[2018-08-12 14:44] austindrenski commented on #329
@Jefffrey It does look a little odd that there is no `timerange`. But the docs actually show how to define a `timerange` type here: https://www.postgresql.org/docs/10/static/rangetypes.html#RANGETYPES-DEFINING

Once we've added support for user-defined ranges, you would be able to define `timerange` and map it to `NpgsqlRange<LocalTime>`.

[2018-08-12 16:02] KrzysztofBranicki commented on #568
@roji The scenario for using both is something like this:
Let's assume we have a fairly big system. In this system most of the new code is using NodaTime but there is some amount of older code that is using built-in .NET types. Let's assume different areas of this older code are owned by different people. We would like to use `Npgsql.EntityFrameworkCore.PostgreSQL.NodaTime` to make adoption of Nod

[2018-08-12 16:17] austindrenski commented on #568
@KrzysztofBranicki Appreciate you sharing the additional info. It does make sense that you want to avoid the "big bang" refactor.

Have you tried rigging up a value converter (`DateTime <=> NodaTime`) as a shim during your transition?

[2018-08-12 17:19] #583 closed, assigned to roji

[2018-08-12 17:23] #574 closed, assigned to roji

[2018-08-12 17:29] roji commented on #329
I suspect there's no built-in time range simply because date ranges are just much more useful than time ranges.

Please note that currently this feature is definitely not on the top of our priority list, and is a lot of work for the relatively little value it provides... Anyone else who's interested in this should definitely upvote and describe their scenarios so we know what people want.

[2018-08-12 17:31] roji commented on #568
This is a great suggestion, but unless I'm mistaken operations won't be translated to SQL with this method.

[2018-08-12 17:39] austindrenski commented on #568
Hmm... I wasn't thinking about this, but it might be worth investigating.

It doesn't actually seem out of the question though, since the plugin model just prepends the list of translators. So the default translators for `DateTime` should still be available, and as long as the value converter is the last thing to run before writing...maybe this would work?

I'll take a look and report back.

[2018-08-12 20:09] Jefffrey commented on #329
Just for reference, my specific use case is to store weekly recurring time slots (for example 12:00 to 13:00 on Monday). The timezone they refer to (being it a *local* time) is determined somewhere else (just like a *local* date would).

[2018-08-12 20:16] teddest commented on #540
I was having the same issue trying to do code-first migrations. What I did was create the table manually and it added a table named 'spatial_ref_sys'. Then I ran my migrations again without any issues. I'm new to Postgres/PostGIS so perhaps someone else can explain what needs to be enabled on the DB side in addition to having the postgis extension installed.

[2018-08-12 20:55] #528 closed

[2018-08-13 01:12] slavanap commented on #457
Please don't forget about ST_GeographyFromWKT. I really need that one. Now I'm trying to use `NetTopologySuite.Geometries.Geometry.DefaultFactory.CreateMultiPolygon()` as a workaround.

[2018-08-14 09:11] KrzysztofBranicki commented on #568
@austindrenski thanks for the suggestions we will definitely explore this as one of the options. Although we will be probably rescheduling our Noda refactor since it isn't just one extra configuration method and we have several other topics prioritized higher.

[2018-08-14 12:32] myshon commented on #292
Verified in 2.1.1.1 and bug still exists. ```Npgsql.NpgsqlException: The NpgsqlDbType 'Citext' isn't present in your database. You may need to install an extension or upgrade to a newer version.```

[2018-08-14 14:26] dpsenner opened #593 "Underlying enum values are not mapped to the database enumeration for types registered into the npgsql type mapping"
Still investigating into ways to interact with composite types in the postgresql database, we defined a composite that uses a database defined enum. While following [this outline](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/doc/mapping/enum.md) we added `ModelBuilder.ForNpgsqlHasEnum` invocations and further added a plugin that translates composite type members such th

[2018-08-14 14:57] dpsenner commented on #593
I just noticed that changing this:

[code]

to a const variable as the roslynator code analyzer warns about [RCS1118](https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1118.md):

[code]

causes the query to fail again because the underlying int value of the enumeration is passed into the query as the parameter.

[2018-08-14 15:39] syberside commented on #557
Sorry for late response, I'll post min repo today.

[2018-08-14 17:04] syberside commented on #557
I create minimal project to reproduce issue and cant'r repeat exception.
I have tried v2.1.1, 2.0.2, 2.0.0 and get same positive results on all of them.
Then I have found my commit in private repository and have checked that project have same setup.
So, probably the reason was changing type of field from DateTimeOffset to DateTime and db migration on existing entities.
Anyway, thanks for response

[2018-08-14 17:04] #557 closed

[2018-08-14 18:44] Esteves4 commented on #329
I do the same thing as Jefffrey using time range

[2018-08-14 18:53] roji commented on #329
OK, keep upvoting this issue then :)

[2018-08-14 18:54] roji commented on #329
To be clear, the reason we're not implementing this more readily is because it would impact the design of the Npgsql EF Core provider in a significant way... All type mapping support is currently database-independent: the provider doesn't actually look at the database it's connected to in order to know which types are there or not (this is true even for the enum support). User-defined ranges would

[2018-08-14 20:14] lentyai2 opened #594 "Time part dropped for DateTime transfer"
Unless I just miss something or do something wrong, time part of the <timestamp> is getting lost when transferring data from SQLServer <DateTime> to postgreSQL <timestamptz> data type. I.e. - '2018-08-08 11:22:33-06' becomes '2018-08-08 00:00:00-06'. Direct insert statement saves time fine. So it doesn't look like field type issue, but rather Npgsql.EntityFrameworkCore.PostgreSQL bug.

[2018-08-14 22:15] austindrenski commented on #594
@lentyai2 Could you post some code showing what you're doing? Schema definitions, queries, migration commands...?

Without more information, there's not much that we can do to help.

[2018-08-15 03:08] austindrenski commented on #593
@dpsenner You're running into a few open issues here...

The constant `enum` issue is similar to the `char` literal issue. Basically the expression tree stores the underlying value directly (making this issue fairly intractable). There's been some discussion of how to tackle this, such as adding some heuristics to determine when a literal `char` or `enum` comparison is happening, but that work is

[2018-08-15 04:41] austindrenski commented on #558
Closing as no additional info was provided within 7 days.

Please feel free to post back here with the relevant information and we can reopen if necessary.

[2018-08-15 04:41] #558 closed

[2018-08-15 04:49] austindrenski commented on #516
@roji Is this actionable now that we're using `4.0.3-ci.1170`?

[2018-08-15 04:52] austindrenski commented on #540
Closing as no additional info was provided within 7 days.

Please feel free to post back here with the relevant information and we can reopen if necessary.

[2018-08-15 04:52] #540 closed

[2018-08-15 05:56] roji commented on #516
I think so, although I think this should be backported to 2.1.2, so it may be worth waiting until 4.0.3 is actually released and take a dependency on that. But if you want to go ahead that's fine too, 2.1.2 can depend on 4.0.3-ci for now.

[2018-08-15 17:45] rbrugnollo opened #595 "Translate RegexOptions.IgnoreCase to ~*"
On [RegexMatchExpression](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/master/src/EFCore.PG/Query/Expressions/Internal/RegexMatchExpression.cs/#L73), check Options and use "\~*" instead of just "\~" if it contains IgnoreCase.

Following [PostgreSQL documentation](https://www.postgresql.org/docs/9.3/static/functions-matching.html).

[2018-08-15 18:09] lentyai2 commented on #594
@austindrenski - Thank you for looking into it.

As I use EF Core, there's not much code I can put here. I have SQLServer source context and target Postgres  context. I have 2 classes for source Transactions and tyarget transactions and I have a mapping utility. That's about it:
//===================================================//
class SourceTransaction{
...
public DateTime DateTime { get; set

[2018-08-15 18:16] austindrenski opened #596 "Translate NULLIF"
[Per the docs](https://www.postgresql.org/docs/10/static/functions-conditional.html#FUNCTIONS-NULLIF):

1. Translate as extensions on `DbFunctions`:

[code]

2. Consider translating simple ternary expressions:

[code]
## Compatibility

Available for PostgreSQL 7.4 or later.

[2018-08-15 18:42] austindrenski commented on #595
`NpgsqlQuerySqlGenerator` handles `RegexOptions.IgnoreCase`, but does so with trailing options:

https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/47803b5d03e22921a6e549348f0cfcaeda5f7c0d/src/EFCore.PG/Query/Sql/Internal/NpgsqlQuerySqlGenerator.cs#L269-L301

@rbrugnollo Are you interested in this for the terser SQL, or are you facing a perf implication (e.g. functional indexes t

[2018-08-15 18:46] rbrugnollo commented on #595
@austindrenski that does solve my problem. I thought IgnoreCase wasn't working whatsoever.

I thank you for the answer and apologize for opening an issue that wasn't actually an issue.

[2018-08-15 18:56] austindrenski commented on #595
@rbrugnollo No worries. We may still move forward with translating the operator, since it could have perf implications for functional indexing.

I'll keep this issue open until @roji weighs in.

[2018-08-15 19:01] iamkinetic commented on #585
Ok, I got it working.  In my Startup.ConfigureServices, I added a bit of code to suppress the Point type validation:

`
var validator = new SuppressChildValidationMetadataProvider(typeof(Point));
services.AddMvc(options => options.ModelMetadataDetailsProviders.Add(validator));
`

[2018-08-15 20:36] Jefffrey commented on #329
I admire your attempt to keep the whole thing database-independent, but the reason people use Npgsql is because they have already chose Postgres as a database provider so they don't expect Npgsql to be compatible with other database engines (at least I don't).

The support for Postgres range types, arrays and NodaTime is to be honest quite astounding. I'm honestly impressed by the work other peopl

[2018-08-15 21:34] roji commented on #329
I think you misunderstood, the point wasn't about being portable across database types. It was that the type mapping architecture currently doesn't access the the database in any way. User-defined range support would require for the type mappings to be set up based on what ranges happen to be defined in your specific database.

In other words, the component responsible for type mapping (`NpgsqlTyp

[2018-08-16 04:44] #576 closed

[2018-08-16 09:30] dpsenner commented on #593
This issue reads as a duplicate of #489. Are those changes up for the next release?

The following is a little bit off topic to this issue, I do however feel that parts of what we are doing could become a part of the postgresql integration with EF core.

We're not considering to replace EF core services or are not seeing that we should do so. Currently the above snippets are part of an `NpgsqlEnti

[2018-08-16 11:32] dpsenner commented on #593
I just added an enumeration member to one of the models that maps to a database enum and it appears like the query generator does indeed map the enum to the enum member:

[code]

This is what is run against the database:

[code]

By refactoring the query to this:

[code]

the following happens:

[code]

The query is semantically correct but fails on the syntax because it added quoted around `sandb

[2018-08-16 13:27] austindrenski commented on #593
@dpsenner I'll take another look at this tonight, but in the meantime take a look at #554 and let me know if you believe part of your issue overlaps.

Part of this is needing to differentiate between known enum issues, and issues related to composites + your plugin. Any help delineating the two would help immensely.

[2018-08-16 14:50] Jefffrey commented on #329
Oh, I've misread, sorry. I had to admit it sounded weird that Npgsql cared about being database engine independent.

I can see how ranges for user defined types might be a lot of work for little value, but I was advocating more for a one time case for `NpgsqlRange<LocalTime>` and consider it like a "bult-in" range type, given that `NpgsqlRange<LocalDate>` exists and it's considered "built-in".

[2018-08-16 15:27] austindrenski commented on #329
I like the idea...but what would it be mapped to? Since there is no `timerange`, would you expect the provider to create the type? It seems common for type creation on the public schema to be restricted as it could lead to schema-qualified types being shadowed.

Just to brainstorm:

We could make it a user requirement that such a type (`timerange`) already be defined, as we do with the NTS plugin

[2018-08-16 16:00] austindrenski opened #603 "Change a run-time configuration parameter for a DbContext"
Does EF Core provide any hooks to [set](https://www.postgresql.org/docs/10/static/sql-set.html) a run-time configuration parameter for each query on a `DbContext`?

For example, if I want to increase the `work_mem` for a given `DbContext`, I can do this, but the session is reset by the next query:
[code]

What I'm imagining is something along the lines of a [global query filter](https://docs.micro

[2018-08-16 16:01] dpsenner commented on #593
For one, enumerations that are not added before any dbcontext is created do not work as expected. It is mandatory to add enumerations to the underlying type mapper by invocation of `NpgsqlConnection.GlobalTypeMapper.MapEnum<TEnum>(pgName)` right here:

[code]

If one does not do this, queries fail with the following symptom:

[code]

What does not work is adding enumeration types during the model

[2018-08-16 16:04] dpsenner commented on #593
Next I just tried to create the enumeration in the public schema:

[code]

Doing so and mapping the enumeration along with the schema appears to fail with the same symptom.

[code]

[2018-08-16 16:08] dpsenner commented on #593
When I instead register the enum without a schema all my queries and tests pass. I.e. the following works:

[code]

while the following fails:

[code]

[2018-08-16 16:13] austindrenski commented on #593
Good to hear. This is part of what #554 is looking to fix.

[2018-08-16 16:31] roji commented on #603
There's nothing like this in EF Core as far as I'm aware...

We could look at it at the ADO level, via the connection string - that would have the advantage of sending the value in the PostgreSQL startup packet, which would naturally make it persist across connection resets etc... This would have to be checked though.

[2018-08-16 16:32] austindrenski commented on #329
I was thinking about this being in some way configurable from the NodaTime plugin. But I also haven't looked into what would be feasible (just hypotheticals).

[2018-08-16 16:38] austindrenski commented on #603
@roji That makes sense. I'll close this in favor of https://github.com/npgsql/npgsql/issues/2117.

[2018-08-16 16:38] #603 closed

[2018-08-16 18:09] roji commented on #329
I understand... At the end of the day, since PostgreSQL simply doesn't come with this type, we'd have to make some sort of hardcoding assumption (e.g. "if you happen to have a range of `time` called `timerange`, we'll silently pick it up"), which isn't a good way forward. As I wrote above, there are two ways to solve this:

1. Provide some new, global API that registers the user-defined range with

[2018-08-16 18:28] austindrenski commented on #329
TBH I think we're at the point of need to move forward on this.

I'm not sure exactly how much work we're talking about here, but I can take a first pass at it this weekend if you're crunched for time.

[2018-08-16 18:46] smitpatel commented on #556
Can close this as duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/13025
I am adding code to unwrap nullableExpression

[2018-08-16 18:52] austindrenski commented on #556
@smitpatel Much appreciated!

[2018-08-16 18:52] #556 closed

[2018-08-17 06:34] roji commented on #329
OK, let me see if I manage to do this in the weekend - I'm interested in playing around with this a little bit. If I can't get around to it I'll let you know.

[2018-08-17 07:14] austindrenski commented on #595
I spent a few minutes looking at this earlier and couldn't produce a meaningful difference. Closing until there's a specific request for `~*` in addition/instead of the current operators.

[2018-08-17 07:14] #595 closed

[2018-08-17 08:46] dpsenner commented on #593
After further investigation I can confirm that we observe exactly two symtoms:

1. when an enumeration is a member of a relational model and the enumeration is defined in another schema, queries fail because the type is quoted; this is what #554 is about
2. when an enumeration is a member of a composite type that is added to the global type mapper and not a relational model, the fix implemented wi

[2018-08-17 18:50] roji commented on #329
Forgot about this issue which was very related: #138

[2018-08-17 19:27] lentyai2 commented on #594
So, 2 days and nothing? It's definitely a Npgsql.EntityFrameworkCore.PostgreSQL bug. After rewriting using NpgsqlConnection and NpgsqlCommand with parameters, records were inserted fine.

[2018-08-17 19:31] ajcvickers commented on #329
@roji I haven't read the whole thread here (I will if you think it would be useful) but I want to say that making the type mapper scoped was a bad idea. I should never have suggested it. :-) I'm pretty sure that after the work we did on MySQL 2.1 support that they are no longer doing this.

[2018-08-17 22:45] austindrenski commented on #329
@roji Thanks for taking a look at this.

Yikes...

Agreed.

Agreed.

But do you mean modifying `ITypeMappingSource` or something like `GlobalTypeMapper.MapEnum<T>(...)`?

Right now my big pet peeve is needing to register enums with `GlobalTypeMapper.MapEnum<T>(...)` in the static constructor of my `DbContext`. I would prefer to see this (enums, ranges, etc) handled with something like `builder.For

[2018-08-17 23:41] austindrenski commented on #594
@lentyai2 It is unlikely that this is a provider bug.

Could you please put together a minimal reproduction of your issue in the form of a repo that we can clone locally?

[2018-08-18 05:07] austindrenski commented on #569
Opting not to add provider-specific extension methods in #606, since nearly the same functionality is possible by nesting calls to `Math.Max(...)` and `Math.Min(...)`.

Open to revisiting based on user feedback.

[2018-08-18 05:34] roji commented on #329
So the first thing to understand, is that there's a difference between the following two things:
1. The model, which is built via `ModelBuilder` in the context's `OnModelConfiguring()`. You can have multiple models in the same application.
2. The type mapper, or TypeMappingSource, which is a singleton for a given provider (multiple *providers* are supported, but each has a singleton type mapper).

[2018-08-18 05:49] roji commented on #329
Thinking about this some more, rather than a static call to NpgsqlTypeMappingSource we could introduce a nicer syntax similar to what our plugins use, via a context option. Unless I'm mistaken, this could also enable different contexts to have different user-defined range mappings, giving us the best of all worlds... Will investigate.

[2018-08-18 06:00] austindrenski commented on #329
I appreciate the background, this indeed helps to clear up how I think about the type mapping system.

Maybe I'm thinking about this the wrong way, but is there anything blocking us from expanding the role of `ForNpgsqlHasEnum()`?

Could me make it generic (using those new enum type constraints) and have it do an "add if not present" operation on the type mappers?

I understand the responsibility

[2018-08-18 07:55] roji commented on #329
There are reasons for avoiding this. For one thing, `INpgsqlOption` (on which the new range mappings would live) implements `ISingletonOptions`, which signals EF Core that the option is a singleton. If I understand everything correctly, this allows two DbContext using Npgsql to have different sets of options.

Another less important reason, is that `ForNpgsqlHasEnum()` is an extension method on `M

[2018-08-18 07:56] roji commented on #329
I'll probably be submitting a PR later today implementing the user-defined range support.

[2018-08-18 09:00] roji commented on #569
Sounds good to me. Is there already some sort of support for `Math.Max()`, or is it only the aggregate version?

[2018-08-18 13:31] roji commented on #329
One more note on why the model definition (`ForNpgsqlHasRange()`) needs to be separate from the mapping definition (`UseNpgsql("", o => o.MapRange())`)...

The concern of `ForNpgsqlHasRange()` is mainly to get the range type created in the DB. This means it has to handle the various range type parameters (canonical function, collation...) necessary to generate the `CREATE TYPE ... AS RANGE` statem

[2018-08-18 14:35] austindrenski commented on #569
Not from what I can see. It looks like SQL Server and SQLite support translation to their own `MAX`/`MIN` function, similar to `GREATEST`/`LEAST`. (These aren't part of the SQL standard, so it would make sense for them not to be included in the base project.)

[2018-08-18 17:31] roji opened #609 "Translate basic range accessors"
We translate sophisticated range set operations... but not the simple accessors such as `LowerBound`/`UpperBound` and friends.

@austindrenski I know you're gonna want to do this one :)

[2018-08-19 13:05] #569 closed

[2018-08-20 16:13] lentyai2 commented on #594
@austindrenski, Thanks for reply. According to Npgsql Type Mapping docs .NET DateTime maps to both - timestamp and timestamp w/tz. Except for the timezone I need to provide DT Offset. So, in MHO it still should produce the desired mapping WITH time. I have worked around the problem using generic ODBC connection. Although verbose, it works fine and actually faster than EF solution. It may very well

[2018-08-20 17:17] austindrenski commented on #594
/cc @roji `timestamp`/`timestamptz` related

[2018-08-21 05:42] ljani opened #613 "HasDbFunction does not support functions with upper-case letters"
If I build a `DbFunction`, which name is in PascalCase (`MyFunction`), Npgsql is looking for the method in lowercase instead of PascalCase:

[code]

Here's the class I'm using for registering my `DbFunction`s

[code]

As a workaround I can manually quote the function name:

[code]

I'd say that only calling `HasName` explicitly should quote the identifier if needed, and only passing in a `MethodIn

[2018-08-21 10:05] #329 closed

[2018-08-21 10:20] roji commented on #613
This isn't related to #327: see https://github.com/aspnet/EntityFrameworkCore/issues/12757 for a long discussion on this.

In a nutshell, the problem is that for "system functions" we want the ability to use mixed case without quoting. For example, we want to be able call functions such as `ST_AsGeometry()` (from PostGIS). If you quote this the call will fail, because the actual function is `st_as

[2018-08-23 10:11] MeghanaJai commented on #284
Hello,

I have a similar problem.

private void worker_Netted_DoWork(object sender, DoWorkEventArgs e)
        {
            // Set status
            toolStripStatus.Text = "Retrieving netted...";
            DisplayRetrievingMessage(dataGridView_Netted);

            String formattedDates = Convert.ToString(e.Argument);
             formattedDates = dateTimePicker_StartDate.Value.ToString(format

[2018-08-23 12:38] MeghanaJai commented on #284
Its regarding NPGSQL. I am giving the stacktrace of the error.

   at Npgsql.NpgsqlConnector.StartUserAction(ConnectorState newState, NpgsqlCommand command)
   at Npgsql.NpgsqlCommand.<ExecuteDbDataReader>d__92.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerSer

[2018-08-23 17:33] trustme commented on #528
Sorry for the delay.  I did test this and the type already exists error is gone.  Thanks!

It would of course be very useful to have the ability to update an existing db enum type (by adding, removing values) during the migration.

[2018-08-23 18:28] YohDeadfall commented on #284
As @austindrenski said, there are a few repositories in our project. This one is for Entity Framework Core provider issues only. Your problem doesn't fit here, since you use the driver only. Therefore, move the issue to the appropriate repository if you think it's a bug, but I would recommend you to take a look on https://github.com/npgsql/npgsql/issues/2080 which is highly related if not the same

[2018-08-24 04:02] roji commented on #528
I agree - but unfortunately PostgreSQL support for altering enum types [is quite limited](https://www.postgresql.org/docs/current/static/sql-altertype.html) - we can add new values but not remove them. Note that we haven't implemented support for adding values in the provider, please open an issue on that if you're interested in seeing it happen.

[2018-08-24 08:49] NazmiAltun commented on #547
Hi @roji
When will  the next patch be released?

[2018-08-25 05:28] roji commented on #547
@NazmiAltun EF Core just released 2.1.2, I'll try hard to release on our side this weekend.

[2018-08-25 08:01] NazmiAltun commented on #547
@roji Thanks man, looking forward to it.

[2018-08-25 18:29] austindrenski commented on #568
I'm going to close this for now, since this is currently the expected behavior. As @roji suspected, the value converter shim works, but operations are not translated.

Feel free to post back if you have any other questions, or to share how your NodaTime transition goes, as I imagine others may face similar challenges in the future.

[2018-08-25 18:29] #568 closed

[2018-08-26 21:35] austindrenski commented on #398
@EDM-APP Take a look at the docs for [.NET Standard](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) for a compatibility chart.

_Regarde aux docs pour un tableau de comparaison de [.NET Standard](https://docs.microsoft.com/fr-fr/dotnet/standard/net-standard)._

`netstandard2.0 == net461+`